[2016-07-01 20:26] pwolfram opened #2 "All "scripts" must work without user modification"
All scripts work without user input (e.g., on example data) or for specific user configurations, reporting errors if they occur.  This issue requires at least the following
- [ ] some small output, e.g., from a GMPAS-240 run, in order to have appropriate data sets for this to work "out of the box" (to resolve #3)
- [x] a configuration scheme that allows scripts to be run in batch mode (#6) followi

[2016-07-01 20:26] pwolfram opened #3 "Analysis documentation required (with examples)"
~~Each analysis notebook should be configured to work with a dataset (in "example-datasets") to produce a desired analysis with output produced in terms of a saved figure(s).  The running of the notebooks operating on example datasets should be specified in a python file in “example-scripts”.  Resultant saved figures are be included in a CORE-level README.md (or perhaps grouped by analysis type fo

[2016-07-01 20:28] pwolfram opened #4 "Analysis framework should be installable via pip with analysis callable as functions"
Framework functionality should be easily installed via pip so that analysis can be conducted within an ipython or python level with minimal additional effort, e.g.,

[code]

This assumes that ipython notebooks have been sufficiently abstracted into modular python functions.

Additionally, the framework needs to eventually be installed via conda.

[2016-07-01 20:29] pwolfram opened #5 "Analysis linked to publicly available observational datasets"
Observational data should be observational datasets, potentially stored in a separate repository (to keep analysis script repositories light-weight).  For example, we could keep them in a centralized location where data that is need is downloaded and cached locally.
- [ ] Keep track of hash sum verification that files are the same.
- [ ] Want this resource to be publicly available (could be https:

[2016-07-01 20:30] pwolfram opened #6 "Single batch processing script to automate analysis across cores"
Key analysis should be run under a batch-submittable job with output, potentially published to html using existing workflow capabilities.

[2016-08-10 02:36] pwolfram commented on #4
Package should be installable via a `conda install -c pwolfram mpasanalysis` type command.

[2016-09-15 17:28] pwolfram opened #8 "Modular Design"
The analysis framework should be designed and implemented in as modular a way as possible to improve the ability for other analyses to re-use portions of previous analyses.

[2016-09-15 17:30] pwolfram opened #9 "Provide user-friendly templates for design documents"
Each new analysis is expected to have a well formulated design document that can be reviewed when the project is complete. As such, a template for the design document should be provided.

[2016-09-15 17:30] pwolfram opened #10 "Standardized Language (Python)"
The python written within the analysis infrastructure should follow agreed upon, but yet to be defined, standards (pylint? https://www.pylint.org/, PEP8 https://www.python.org/dev/peps/pep-0008/ )

[2016-09-15 17:30] pwolfram opened #11 "Provide user-friendly examples of analysis tools"
To facilitate contributions from developers with less python experience to the analysis framework, well documented examples of analyses tools including required inputs and outputs and adhering to the language standards should be provided.

[2016-09-15 17:31] pwolfram opened #12 "Standardized file formats"
The file formats used within the analysis framework should adhere to some well defined standards. For example, they should be in formats easily accessible by users of the analysis framework (e.g. netCDF, ascii, or similar).
An additional consideration is that any example datasets intended to allow one to play with the analysis framework need to be small in file size (e.g. < 1GB of total example da

[2016-09-15 17:31] pwolfram opened #13 "Can be run on the command line without windows"
The primary use case in the for the analysis framework is to plug in well with ACME's diagnostics package, which is run as a batch script without any interactive interface.

[2016-09-15 17:31] pwolfram opened #14 "Fully run-time configurable analysis capabilities"
A user of the analysis framework should not be required to edit python code to perform the analysis they are looking for. Additionally, to the extent possible, analysis should be configurable via some external capability (i.e. editing plot labels, or color bars?).  There should only one user-editable configuration file.

A simple mechanism should exist (e.g. modification of a small number of confi

[2016-09-15 17:31] pwolfram opened #15 "Open source"
All workflows and analysis scripts are required to be version controlled in an open repository.

[2016-09-15 17:32] pwolfram opened #16 "Support platforms typically used for ACME"
Analysis framework must work on all platforms where conda works.

[2016-09-15 17:32] pwolfram opened #17 "Mechanism to access data sets for comparison"
Many analysis tools will use datasets (e.g. observations or model results) for comparison with MPAS results.  A mechanism should exist for downloading these datasets automatically from data archives (public or private).  When possible (i.e. when these datasets are publicly available in the required format), the analysis should acquire these datasets from public sources to ensure the analysis can b

[2016-09-15 17:32] pwolfram opened #18 "Robust exception handling"
The analysis framework should be fault-tolerant to a variety of error situations. For example, when a data set or input file is missing, or an analysis is misconfigured. Individual processes should be allowed to "error out" without halting the system.

[2016-09-15 17:32] pwolfram opened #19 "Installable via a single command"
To facilitate developers easily using / contributing to the analysis framework, the framework functionality should be able to be installed via a single command.

[2016-09-15 17:33] pwolfram opened #20 "Supports ingesting arbitrary MPAS output files (in general, input info from namelist and streams files)"
The MPAS analysis framework is expected to support stand-alone MPAS workflows, as well as ACME workflows. As such, the analysis framework should be capable of ingesting MPAS output, regardless of how it was generated.

NOTE: This could imply that an input to the analysis framework should be the namelist and streams file used to generate the output, which can then be parsed to easily understand wha

[2016-09-15 17:33] pwolfram opened #21 "Output from analysis tools should be a user friendly format"
The products of the analysis framework should be packaged in an easily usable (e.g. NetCDF / ASCII) / viewable format. (e.g. HTML file).

[2016-09-15 17:33] pwolfram opened #22 "Ability to purge old analysis results"
All products of the analysis framework must be easily removed to ensure there is no mix of new and old analysis products, or products representing multiple model runs.

[2016-09-15 17:33] pwolfram opened #23 "Provenance stored in user-viewable output files"
The analysis framework is required to be reproducible, and fully descriptive. To this end, a mechanism is required for documenting as much as possible about a given run through the analysis framework. This could include information such as the git version of the analysis framework, information about all of the input files, commands run, etc.  The analysis framework should provenance all the data s

[2016-09-16 01:45] pwolfram commented on #10
Similar standards, e.g., PEP8, followed by CIME (https://github.com/ESMCI/cime/issues/47)

[2016-09-30 17:17] milenaveneziani commented on #15
@pwolfram: going through each of these issues to see what can be prioritized (or resolved) at the moment.
This seems one that can be resolved, since our repository is now semi-finalized and public.

[2016-09-30 17:18] milenaveneziani commented on #13
This also seems like it can be resolved, since our repo is now built on python scripts that can be run using one single python driver at the command line.

[2016-09-30 17:25] milenaveneziani commented on #20
@pwolfram: this definitely needs to be prioritized, and made more general. For example, right now, our scripts will fail on ACME alpha8 output because we have changed the filename_templates in our default streams there, and the python scripts are not taking this change into account.
Other things that will be affected, as we talked about on Wed, are: variable filenames, existence of certain output

[2016-09-30 19:04] pwolfram commented on #13
Agreed

[2016-09-30 19:04] #13 closed

[2016-09-30 19:05] pwolfram commented on #15
Agreed.

[2016-09-30 19:05] #15 closed

[2016-09-30 20:33] xylar commented on #20
@milenaveneziani and @pwolfram, this is another thing that I could help with once I'm back in 2 weeks.  I'll check with you then to see where things stand.

[2016-10-01 00:01] pwolfram commented on #20
@milenaveneziani, as far as I can tell, the main problems and potential solutions are:

Need | Possible Solution
 --- | ---
1. Automate selection of input files opened and used by the analysis function  | Obtain path to file from streams / namelist parsing
2. Ensure that a particular variable can be renamed and this is accounted for in the analysis without error  | Register new variable to analysi

[2016-10-04 22:53] milenaveneziani commented on #20
@pwolfram, @xylar: here are the specific things I can think of right now:
1) whether a certain AM is run or not (from namelist)
2) filenames (from streams)
3) variable names (from streams)
4) for mpas_xarray: does xtime_start and xtime_end exist? and how are they call exactly? (not sure if this is something we would get from the streams or the registry..). Tagging @jonwoodring here also.
If xtime_

[2016-10-05 03:59] milenaveneziani commented on #20
Of the list above, we need to prioritize 1-3, because at the moment the scripts will break if running on ACME alpha8 output, for example (because we introduced different namelist/stream names defaults in alpha8).

[2016-10-06 12:50] pwolfram commented on #16
Note, we have no plans to support Windows, only Unix-based OSes.

[2016-10-06 12:52] pwolfram commented on #4
This is one of many design decisions following off #19 and I'm closing it for simplicity.

[2016-10-06 12:52] #4 closed

[2016-10-06 12:55] pwolfram commented on #3
Notebooks have been depreciated, so "notebook" above can be translated to "script".

[2016-10-06 15:13] pwolfram commented on #20
@milenaveneziani and @xylar, #26 and #27 are partial parts of the code we need to handle this issue, specifically 1 and 2.  I think variable names is much trickier and am envisioning that we use an approach that is something like the following:

We store a list of different possible variable names for each given quantity we plot.  All variables with the mappings could be stored as a dictionary in

[2016-10-07 11:37] pwolfram opened #28 "Update submodule in PreAndPostProcessingScripts following support for reading namelist and streams files"
Following completion of recent improvements to generalize usage of MPAS-Analysis we will need to update the submodule for inclusion in ACME (https://github.com/ACME-Climate/PreAndPostProcessingScripts).  The goal of this issue is to document PRs that we want to make sure are included as part of this update process.

A partial list of improvements (issues / PRs) to be included:
- [x] #26 (generaliz

[2016-10-21 10:59] xylar commented on #20
@pwolfram wrote:

Let me make sure I understand the purpose here.  Are we wanting to support backward compatibility with various ACME versions where variables have been renamed?  If so, I think @pwolfram's dictionary idea might work okay.  It seems to me that there is always a unique, correct variable name for each ACME version corresponding to a given variable name in the current ACME version.  S

[2016-10-21 14:17] pwolfram commented on #20
@xylar:

My understanding is 'yes' to this query, would you agree @milenaveneziani?

I'm also guessing that once we settle out of alpha / beta versions the need to support multiple versions of ACME will not be as great for the long term.  I think it is ok to "break" as ACME is incremented from major version numbers, e.g., 1.0 to 2.0 etc.  However, I'm not sure if everyone agrees with this assessme

[2016-10-21 20:15] milenaveneziani commented on #20
@xylar, @pwolfram: yes, we do want some level of backward compatibility, especially now that we are still a moving target. Right now for example, I can already see 3 namelist/stream names versions: pre-alpha8, alpha8, and alpha9. We need to be able to support all these versions for now.
I figure when things will be more stable (especially as far as basic MPAS analysis members go), we will be less

[2016-10-23 14:58] pwolfram commented on #28
@milenaveneziani, do you think we are missing anything on the above list?

[2016-10-24 13:46] milenaveneziani opened #30 "Make sure analysis scripts do not rely on mesh info present in input files"
Pretty soon we will default to having no mesh information in output MPAS files. Therefore, we need to make sure that none of our analysis scripts rely on having mesh variables in model files.

A related issue is to make sure that the meshfile (initial condition or restart file) has all the info we need for running MPAS analysis scripts (see for example depth-related fields that are necessary for t

[2016-10-24 13:54] xylar commented on #30
I think this info can still be stored in the analysis members' output files as needed.  It does not need to be in the file used to read the mesh.  It is just that the mesh info (that is, everything in the `mesh` stream, which includes things like `xCell`, `yCell`, `latCell`, `cellsOnCell`, etc.) doesn't need to be stored redundantly in each analysis member's output.

[2016-10-24 13:58] milenaveneziani commented on #30
But wouldn't be nice if we had all the mesh information in one single file? This seems even more important to me if we are moving away from storing mesh variables in output files.

[2016-10-24 14:09] xylar commented on #30
@milenaveneziani, it seems to me the philosophy of AM output, at least in MPAS-O test cases, is that we want separate streams (therefore separate NetCDF files) for separate AMs.  I would think that only fields that are needed across several AMs should go into the main `output` stream to prevent redundancy.  Anything specific to an AM should have its own stream (and its own NetCDF file(s)).

[2016-10-24 17:24] milenaveneziani commented on #30
@xylar: I am a bit lost. What I was thinking about is not AM-specific streams, but mesh-related fields such as refBottomDepth that are not always found in both the initial condition and restart files (at least this is how it used to be a few months. Not sure if things have changed in this respect lately).

[2016-10-24 17:53] xylar commented on #30
@milenaveneziani, ah, I see.  `refBottomDepth` and such (`maxLevelCell`, `refLayerThickness` etc.) are not part of the mesh (because it's ocean-specific) so it would need to be included specifically.  I agree that such fields should be in the `output` stream.

[2016-10-24 20:29] pwolfram opened #31 "Unification of ocean / seaice scripts"
Following #29, we will eventually want to simplify functionality used in ocean and sea-ice so that it is shared and more general.

[2016-10-25 09:55] xylar commented on #20
@pwolfram and @milenaveneziani, now that #27 has been merged, what are the next steps for addressing this issue?  Can we create a checklist?  I'd be happy to do some of the work if we can break this into smaller tasks that are easier to wrap my head around.

[2016-10-25 12:03] pwolfram commented on #20
@xylar, I've started a checklist at the bottom of the description for the issue above.  @milenaveneziani, can you please review these and edit them if necessary?

[2016-10-25 12:05] pwolfram opened #32 "Summary of key analysis tasks"
**Key tasks to be completed include:**
- [X] Add namelist and streams file interfaces (#27)
- [x] Ingest namelist and streams file data, e.g., don't hard code paths to model output but instead get path from streams file (#20 and #38)
- [x] Support time-series analysis over a subset of the output data (#45)
- [x] Generalize use of variable names to support multiple versions of ACME (e.g., account f

[2016-10-25 12:06] pwolfram commented on #20
@xylar and @milenaveneziani, it is actually cleaner to have this in a separate checklist: https://github.com/MPAS-Dev/MPAS-Analysis/issues/32

[2016-10-25 12:11] pwolfram opened #33 "Calculation of datetime to be unified in the future"
Eventually, the timeSeriesStats AM for both ocean and ice will have xtime_start and xtime_end in their output files. For now, this is only true for MPAS-O, which is the reason why there is logical branching via https://github.com/pwolfram/mpas_xarray/blob/master/mpas_xarray/mpas_xarray.py#L105 to modify daysSinceStartOfSim.

cc @milenaveneziani

[2016-10-25 12:12] pwolfram commented on #32
@xylar and @milenaveneziani, we need to depreciate https://github.com/pwolfram/mpas_xarray because we really should have that in this analysis repo.  Before this is done, I think we need to have the capability to install MPAS-Analysis as a package, e.g., via pip.  Do you all concur?  If so, it can be added to the list above.

[2016-10-25 12:16] pwolfram opened #34 "Selection based on regions"
It would be good for mpas_xarray efficiency to provide a mechanism to preselect a given region at the preprocessor step prior to xarray concatenation.

Moved from https://github.com/pwolfram/mpas_xarray/issues/16

[2016-10-25 12:16] pwolfram opened #35 "Provenancing of xarray output files"
Files produced by an xarray save via method to_netcdf should retain information related to how they are generated. This includes at a minimum the machine, script and arguments called, user, and date generated, although there are probably other important criteria too (git hash). This issue should be used to discuss relevant criteria that are useful prior to an implementation of a wrapped to_netcdf

[2016-10-25 13:24] xylar commented on #32
@pwolfram, I don't have a strong opinion either way about whether MPAS-Analysis needs to be a package.  Our ACME workflow doesn't need this capability but maybe you have workflows that expect `mpas_xarray` to be available via pip.

For my own development, I have found it to be a bit of a pain to have POPSICLES set up as a package.  Each time I modify the code, I have to re-install the package (and

[2016-10-25 14:03] pwolfram commented on #32
@xylar, we previously decided on *requiring* MPAS-Analysis to be installed as a package so at this point we are committed to doing this eventually.  There are downsides as you detail.  If you have any additional ideas on how to best mitigate the downsides that you list that would be really helpful.  However, the upside is that we will be better able to interface with a broader community by support

[2016-10-25 15:57] milenaveneziani commented on #32
@pwolfram: is this a list of high-priority tasks for MPAS-Analysis, in order to make the package compatible with ACME alpha8 and 9?

[2016-10-25 16:04] milenaveneziani commented on #30
@xylar: I disagree about having this information in the output stream. Because we may need the same piece of info in different AM's, and, similarly to having mesh variables in output files, we would be adding superfluous output in different files.
Couldn't we instead have all the information we need for our tools to work (mesh, vertical discretization, component-specific general fields, ..) in one

[2016-10-25 16:14] milenaveneziani opened #36 "Selection of specific input files in xarray"
At the moment, when loading multi-files with xarray, the input string cannot be a list or include wild-card characters of the kind, say [0-3].
This is not useful when wanting to load a reduced dataset when the goal is to compute climatologies over a certain number of years.

Say for example that we want to compute the following seasonal averages: DJF, MAM, JJA, SON, over year 31-40. We would want

[2016-10-25 16:30] xylar commented on #30
@milenaveneziani, I believe all the information you're after has to be in the initial condition file and/or the mesh file.  There is a very specific definition of what it in the mesh file (it's hard coded in MPAS).  Anything not there, e.g. the fields that define the vertical grid, has to be in the initial condition file.  Nearly always, the mesh is also in the initial condition file, but this is

[2016-10-25 16:41] xylar commented on #36
@milenaveneziani, good call.  xarray also allows you to supply a simple list of files, so we could probably use [glob.glob](https://docs.python.org/2/library/glob.html), which supports regular expressions of the type you want, to get a list of file paths to pass on to xarray.  @pwolfram, what do you think?  Could this be added to mpas_xarray so we don't have to alter every call to `xarray.open_mfd

[2016-10-25 16:58] milenaveneziani commented on #30
Perfectly clear. And indeed my solution in the past has been to cp the meshfile to something that I called gridfile, and then ncks the info I needed from an initial condition file (refBottom, etc) and add them to my 'gridfile'.
I don't think this is the workflow we want.. And now that we are thinking to remove the mesh info from output files, perhaps it's a good time to address this issue, one way

[2016-10-25 17:23] xylar commented on #30
@milenaveneziani, okay, great.  I think we're on the same page now.  I agree that the various tools need to be able to read the the necessary pieces from various sources without causing trouble.  I will try to make sure this is true for the paraview extractor.  Currently, the only field it could potentially make use of that is not in the mesh is `maxLevelCell`, which would need to be in either the

[2016-10-26 02:18] pwolfram commented on #32
@milenaveneziani, I believe so.  We may be able to put off #33 depending upon alpha9.  Does this sound reasonable to you?  Please edit the list if I missed something or there is an extraneous item

[2016-10-26 02:58] pwolfram commented on #36
@xylar, yes this can be solved but we would have to use glob outside mpas_xarray / xarray because xarray expects a string on input, e.g., from their code:

[code]

Therefore, we could make a function like
[code]

and call xarray via
[code]

I would say the syntax here is simple and fairly clean and will give you a list of paths that xarray should open.

I've submitted a PR: #37

[2016-10-27 07:20] xylar opened #39 "develop branch"
I went ahead and created a `develop` branch and made it the default for this repo.  However, this deserves discussion and buy-in from everyone involved in this repo.  This issue page is meant to allow us to discuss any cons and to make sure everyone knows what changes were made and why.

[2016-10-27 07:24] xylar commented on #39
The `develop` branch has been created to allow us to merge development without affecting the [PreAndPostProcessingScripts](https://github.com/ACME-Climate/PreAndPostProcessingScripts) repo.  The idea is that changes are only merged to master after they have been confirmed to do no harm in ACME.

[2016-10-27 07:27] xylar commented on #39
@pwolfram raised concerns in https://github.com/MPAS-Dev/MPAS-Analysis/pull/29#issuecomment-256524567 that this decision was made unilaterally without time for group discussion.  I definitely understand the concerns.  As I have said in #29, I felt that 1) the changes could easily be undone if desired and 2) a merge to master that broke ACME could *not* be undone quite as easily.  So I decided to g

[2016-10-27 12:14] xylar commented on #36
While #37 and #38 partly address this issue, there is not currently a way to specify (e.g. in the config file) the start and end times of the analysis.  How would we want to specify start and end times?  Presumably with date strings?

A related question is how we want to apply that range.  It would seem most useful to do this via `StreamsFile.readpath`, since one still knows a reasonable amount ab

[2016-10-28 03:17] pwolfram commented on #36
@xylar, if we have the general wild-carded paths we can use xarray to do the time slicing.  I think this is the simplest approach because xarray does lazy evaluation and doesn't have to load all the data. However, we should keep this in mind in case we find that opening a ton of files creates either a crash or performance issues (which it can at certain scales, e.g., 1000+ files).  If so, this is

[2016-10-28 03:18] pwolfram commented on #36
I think we have addressed this issue with #37 and should close this issue unless there is something else we are missing-- would you agree @xylar and @milenaveneziani?  If so, please feel free to close this issue.

[2016-10-28 03:25] pwolfram commented on #39
@xylar, I agree with you that this is the right decision.  Thanks for the forward thinking that will probably save us a fair amount of the time in the future.  My comment was mainly regarding the culture we are building and I really appreciate you opening this issue because I just want to make sure that we haven't missed a key viewpoint that another person may raise.

Full disclaimer: I just reali

[2016-10-28 03:48] vanroekel commented on #39
I think a develop branch is the right idea.  If I understand correctly with develop we wouldn't inadvertently break the acme portion of the analysis.  And develop could be used for testing integration of new testing into acme.  Seems like a really great idea to continue with develop.

[2016-10-28 09:57] xylar commented on #36
@pwolfram, no, I don't think this has been addressed.  See my comment above: https://github.com/MPAS-Dev/MPAS-Analysis/issues/36#issuecomment-256624256

[2016-10-28 20:39] xylar commented on #36
@pwolfram, I now think this issue will be fully addressed by #37.  Even so, I don't think the issue should be closed until #37 gets merged, since the issue would remain unaddressed if we decided to close #37 for some reason.  Does that make sense to you?  Or is it standard GitHub practice to close issues as soon as there is a PR that addresses them?

[2016-11-01 17:24] pwolfram commented on #39
Since no one has raised objections the plan is to use the develop branch and close this issue.  Please reopen if you disagree.

[2016-11-01 17:24] #39 closed

[2016-11-01 17:39] pwolfram commented on #36
@xylar, my understanding is that the practice is to close the issue once the PR is merged.  However, it looks like #38 is derivative from this issue so I'm guessing it shouldn't be closed just yet.

[2016-11-01 17:43] pwolfram opened #40 "Addition of automatic continuous integration (CI)"
Now that there are several pytests use of automatic continuous integration will be helpful to automate testing, reduce human testing time, and help ensure that specific design decisions are maintained within the repository.

This issue's purpose is to socialize this idea to determine if it is still too premature to implement automatic CI.

[2016-11-01 17:44] pwolfram commented on #40
cc @xylar, @milenaveneziani, @vanroekel

[2016-11-01 18:15] xylar commented on #40
@pwolfram, I still don't think the rest of us have a good idea of what CI even looks like.  So I would think the answer is, yes, we should try this out and we'll learn what it is and how it works in the process.  Better sooner than later so we learn to incorporate it into our workflows.

[2016-11-02 13:42] mark-petersen commented on #40
@pwolfram I'm interested to learn more about it.  Perhaps use one of the special meeting 10am times for some background on how this works.  This may also fit into the hands-on tutorials that we are planning, but this one would be more advanced than the others.

[2016-11-02 14:08] pwolfram commented on #40
@mark-petersen, I think you'll be surprised at how simple this is once set up.  All it does is automate the pytest process we are going through for testing on a case-by-case basis.  Basically, if you take a look at https://github.com/pydata/xarray/pull/1060 it provides the check marks at the bottom of the PR.  I'll try to carve out some time today or tomorrow to get a PR in to set this up to use o

[2016-11-02 14:30] xylar commented on #40
That's pretty cool, @pwolfram!

[2016-11-03 16:32] pwolfram commented on #40
See #42 for an implementation

[2016-11-03 16:35] pwolfram opened #43 "python 3 not supported"
At present, MPAS-Analysis is not working on python 3.5.  This issue is meant to be a dialog about which versions of python and which packages we wish to support.  See also #40, #42

Partial list of needed changes:

 - [ ] change from `%` formatting of string to `.format(...)`

[2016-11-03 16:35] pwolfram commented on #43
cc @xylar, @milenaveneziani, and @mark-petersen

[2016-11-03 18:16] xylar commented on #43
@pwolfram, I think this it is a good idea to support python 3.5 and I think this is the repo (along with geometric_features) to use to start doing that.  That being said, I've never written a piece of python 3.5 code in my life so it'll be a learning experience for me.  But I think it's foolish to write code for python 2.7 just because it's familiar and because (currently) more libraries seem to s

[2016-11-03 19:05] pwolfram commented on #43
@xylar, python 3.5 is very similar with some new and depreciated features.  In principle, it shouldn't be too difficult to support both for now and eventually depreciate use of python 2.7 in the future.

[2016-11-04 04:38] milenaveneziani commented on #32
@pwolfram: I have added all the things I can think of for now. This list does not include all the possible other scripts we can think of writing (hovmoeller diagrams, transects, other time series, etc), but just the important elements that we need to have in place to satisfy most of our requirements.
One comment about the 'Update submodule for ACME' item: this will be an on-going task, so perhaps

[2016-11-04 04:46] milenaveneziani commented on #36
not closing this until we sort out the start/end time issue encountered in #38.

[2016-11-04 08:27] xylar commented on #32
@milenaveneziani and @pwolfram, I think #28 (and check-list item "Update submodule in PreAndPostProcessingScripts") should be made renamed to be specific to the list of tasks that needs to be achieved before that update.  I'm going to go ahead and rename them so they are more meaningful.

[2016-11-04 08:48] xylar opened #45 "Support time-series analysis over a subset of the output data"
Currently, the the code will only work as expected if config option `timeseries_yr1 = 1` and `timeseries_yr2` is set to something beyond the end of the current run (e.g. `9999`), which are the default settings.  If `timeseries_yr1 > 1`, the code crashes, likely because `mpas_xarray` is expecting the time series to start from year 1 (it isn't currently making use of `timeseries_yr1`).  If `timeseri

[2016-11-04 15:41] milenaveneziani commented on #36
Since we now have #45, I think we can perhaps close this one?

[2016-11-04 15:43] xylar commented on #36
Agreed.

[2016-11-04 15:43] #36 closed

[2016-11-05 01:01] pwolfram commented on #45
@milenaveneziani and @xylar, we will have some other potential `mpas_xarray` changes too.  Is this something we need to fix now or can we wait until it is time to make the other `mpas_xarray` changes?

[2016-11-05 01:02] pwolfram commented on #28
Thanks for the updates @milenaveneziani  and @xylar in the above list.

[2016-11-05 01:05] pwolfram commented on #45
To be clear, this would be for the item:

- [ ] mpas_xarray needs to support different approaches to specification of time output for AMs (#33, #38, others?)

[2016-11-05 15:50] xylar commented on #45
@pwolfram, it's not clear to me whether the problem here is that mpas_xarray needs to be updated or just that the *calls* to mpas_xarray need to be updated.  I suspect the latter, in which case this fix is independent of other changes to mpas_xarray.

[2016-11-05 15:55] xylar commented on #45
So I think most (perhaps all?) of what is needed to address this issue is to change lines like the following:
https://github.com/MPAS-Dev/MPAS-Analysis/blob/develop/mpas_analysis/ocean/ohc_timeseries.py#L90
[code]
to look more like the corresponding lines in the climatology computations, e.g.:
https://github.com/MPAS-Dev/MPAS-Analysis/blob/develop/mpas_analysis/ocean/ocean_modelvsobs.py#L129
[code

[2016-11-09 20:37] pwolfram commented on #34
[salem](http://salem.readthedocs.io/) may be the solution we have been seeking.

[2016-11-10 17:49] pwolfram commented on #40
I'm closing this because we now have CI in this repo from #42.  Please feel free to reopen if you disagree.

[2016-11-10 17:49] #40 closed

[2016-11-25 21:13] xylar commented on #33
I have a solution to this issue in the following branch:
https://github.com/xylar/MPAS-Analysis/tree/fix_time_series_subset

I would like to also address #45 (allowing time-series analysis over a subset of the data) in this branch before making a PR unless there are objections.  As @pwolfram pointed out, the two issues are related, which is why I ended up needing to solve this issue before I could

[2016-11-25 21:17] xylar commented on #33
By the way, I think the default start date used to compute dates using some variant on `daysSinceStartOfSim` is incorrect:
https://github.com/MPAS-Dev/MPAS-Analysis/blob/develop/mpas_analysis/shared/mpas_xarray/mpas_xarray.py#L123
If you start from 12/31/1849 and add `daysSinceStartOfSim`, you only end up at 01/01/1850 (which *should* be the start date) after one day of simulation (`daysSinceStart

[2016-11-25 22:50] xylar commented on #33
I changed my mind and did a PR (#46) specifically for the bug mentioned above since it's a non-bit-for-bit change.  I'll probably also submit a separate fix for this issue and for #45 because that, too, will be cleaner.

[2016-11-29 16:32] milenaveneziani commented on #32
@pwolfram, @xylar: I have updated the list and added more items to it, also following our email exchange. I realize this has become more of a laundry list at this point, but I think it is nice to put things down in one single place.
For the next month or so, I think we should prioritize the first 5 unchecked boxes: do you agree?

[2016-11-29 17:00] xylar commented on #20
@milenaveneziani and @pwolfram, this issue is one I'm willing to work on as I have time in the next week or two.  The logistics of mapping variable names, while tedious, seems relatively straightforward to me.  What isn't so clear is how to identify which versions of each component are being used with a given analysis and, equally important, what the possible options are.

For this reason, I'm com

[2016-11-29 17:23] milenaveneziani commented on #20
Thanks @xylar.
At this point, I am still not sure what the best approach will be. But let me write down exactly where the problem arises going from alpha6 to beta0 and eventually beta, so perhaps we will have a better perspective:
1) our priority metrics (Tier 1) are based on monthly averaged data (or climatologies computed from monthly averages);
2) therefore, the main issue right now is to suppo

[2016-11-29 17:42] xylar commented on #20
@milenaveneziani, that's very helpful, especially the bit about `timeSeriesStats` vs. `timeSeriesStatsMonthly`.

I don't know that I want to support the "head" and "tail" concept you suggested.  If I make a complete list of vrariables that would fit this combination, could you let me know which actually occur in one version or another?  I suspect not all 6 combinations actually occur.
[code]

[2016-11-29 17:43] xylar commented on #20
Also, I didn't realize the problem as it currently exists is limited to just these 2 names.  I'll try not to make this more complicated than it needs to be.

[2016-11-29 17:53] xylar commented on #20
Ah, I see.  Things *are* a bit more complicated than what I wrote above.  There are various specific variables that go between the prefix and suffix you listed above.  So we would either need to use the prefix and suffix approach you suggested or do something more tedious like the following:
[code]
While this approach seems tedious, I think it will be more robust in the long run.  Not all changes

[2016-11-29 17:53] milenaveneziani commented on #20
About heads and tails: 1) MPAS-SI never used the '_1'; 2) I am not 100% sure, but I think that MPAS-O still uses it in beta, but only if you specified more than 1 kind of monthly (or annual) average (this option makes more sense for the CUSTOM instance in my mind, so that's why I am not sure whether it is still valid for the current timeSeriesStats AM). So mostly, in beta, we will have ' ' as tail

[2016-11-29 17:56] xylar commented on #20
@milenaveneziani, alternatively, could you point me to run output for each version from alpha6 to beta1 (or whatever the current name is) so I have example data for each version we want to be supporting?

[2016-11-29 18:01] milenaveneziani commented on #20
We crossed messages..
Here is an example for  MPAS-O:
avgSurfaceTemperature = [time_avg_avgValueWithinOceanRegion_avgSurfaceTemperature, time_avg_avgValueWithinOceanRegion_avgSurfaceTemperature_1, timeMonthly_avg_avgValueWithinOceanRegion_avgSurfaceTemperature]

for MPAS-SI:
['timeSeriesStatsMonthly_avg_iceAreaCell_1','timeMonthly_avg_iceAreaCell']
(@akturner: could you please confirm that this wi

[2016-11-29 18:16] xylar commented on #20
I don't think @akturner will get messages related to this repo because he's not a participant.

[2016-11-29 18:23] akturner commented on #20
@xylar @milenaveneziani: Hi, I think I still get them if I'm explicitly named. The latest version on cice/develop uses the latest ocean/develop version of the time series stats so will have the exact same naming convention as the ocean. This current beta I think has the original sea ice version of time series stats since the upgrade didnt work in Jon's testing so we deleted the commit that brought

[2016-11-29 18:26] milenaveneziani commented on #20
Yes, so, for example, 'timeSeriesStatsMonthly_avg_iceAreaCell_1' is used up to beta0, and 'timeMonthly_avg_iceAreaCell' will be used in the future. Thanks Adrian.

[2016-11-29 18:27] akturner commented on #20
Yes, up to and including beta0 is my understanding.

[2016-11-29 19:39] pwolfram commented on #20
@xylar, my vote is to keep this as simple as possible.  As far as I know, we don't have a robust way to handle specific version numbers.  If we did, we could just keep track of specific lists of variables corresponding to each version number.  In absence of that I think the cleanest approach is to have an ordered list of variables corresponding to each quantity as its name has evolved from version

[2016-11-29 19:46] milenaveneziani commented on #20
If, instead of providing the full list of variables, we only list the affix and suffix parts (maybe one list for MPAS-O and one for MPAS-SI), couldn't we have a double loop that checks whether
affix+mainVarname+suffix exists?
I admit this is not too pretty, but perhaps more robust against the likelihood of missing some variables?
just my naive perspective here :)

[2016-11-29 19:46] xylar opened #49 "Xarray crashes when opening too many files are opened"
While testing the ACME script on rhea, @milenaveneziani hit the xarray mfdatasets error: 'too many open files'. This was while trying to open 100 years of monthly files. Not being able to display time series longer than 100 years is a big limitation on ACME analysis.

[2016-11-29 19:47] xylar commented on #49
This issue is related to pydata/xarray#463 and is discussed in #48.

[2016-11-29 19:47] xylar commented on #49
@milenaveneziani and @pwolfram, I wanted to move discussion of this issue out of #48, since it is not directly related to that PR.

[2016-11-29 19:50] xylar commented on #49
Following up on https://github.com/MPAS-Dev/MPAS-Analysis/pull/48#issuecomment-263673456

@pwolfram wrote:

@kmpaul wrote:

@pwolfram and @milenaveneziani, this is a fair point.  Is there a reason we don't generate a large number of streams, each with a small number of variables but with the complete time series of those variables?  This is what we often want for analysis.  Some of our tools (e.g.

[2016-11-29 19:59] pwolfram commented on #20
@milenaveneziani, I agree we must check to see if the variable name exists.  Is there such a clean delineation for the variable name in terms of pre/suf-fixes?  In general this may not necessarily be true and I'm think it is just clearer and simpler to keep track of the whole name in essentially a header file but this is obviously only a minor point.   However, if we do have pre/suff-fix then this

[2016-11-29 20:09] xylar commented on #20
I agree with @pwolfram (this is the point I was making earlier) that we don't want to restrict ourselves to name changes that are prefixes or suffixes.  Doing so would make the code simpler but at a potentially high cost.  As long as we have config files with appropriate lists of potential names, the only tedious step is creating and maintaining these lists as variable names change.  If mistakes a

[2016-11-29 20:10] xylar commented on #20
I think this should just be a section in the config file, rather than in a separate header file.

[2016-11-29 20:14] pwolfram commented on #20
@xylar this will make it easier for users to modify if necessary but won't require updates to be submitted as PRs for inclusion.  Hence, this is potential a double-edge sword.  One way around this is to use a separate config file for "advanced" use that could easily be made into a PR if necessary but not overburden an average user with the option of trying to figure out which name should be used.

[2016-11-29 20:21] xylar commented on #20
@pwolfram, there is a default config file in the repo.  It is not the expectation that the average user would edit parts of that config file they do not understand or need to know about, but they *do* need to include all the required fields.  The new section with a list of valid variable names would be no different.

However, I get your point.  If a user wanted to do analysis on a new ACME or MPAS

[2016-11-29 20:55] pwolfram commented on #20
@xylar, I would think we could have a special one for this use case.  The requirement of a single file was made to ensure that the average user would have an easy time using the analysis package.  This is completely within that same spirit.  In this case, the config file is basically used to replace a python-style header file with hard-coded dictionaries and it really isn't intended to be modified

[2016-11-29 21:06] milenaveneziani commented on #20
@pwolfram, @xylar: would we have to add it to the command line to make things work?
In other words, would we run 'pyton run_analysis.py configfile1 configfile2'?

[2016-11-29 21:08] xylar commented on #20
@milenaveneziani, no, we wouldn't need to do that.  Instead, it would just be applended to the list of config files within `run_analysis.py`

[2016-11-29 21:08] milenaveneziani commented on #20
@pwolfram: I re-read your last comment more carefully and I think I answered my own questions (no).
sounds good to me then.

[2016-11-29 21:09] xylar commented on #20
@pwolfram, I'm not familiar with python header files.  I am open to that solution if you want to explain a bit more what that might look like.

[2016-11-29 21:10] milenaveneziani commented on #20
I like this idea:

[2016-11-29 22:53] pwolfram commented on #20
@xylar,

Sorry about the confusion here.  I used this very loosely, but meant that we would basically have a module that was a list of ordered dictionaries storing the variable definitions that we could essentially import as desired.  Conceptual stuff like that would logically be stored in a C or C++ header file, hence why I called it a "header" file.

[2016-12-01 16:18] pwolfram commented on #10
Note, @xylar has been making good progress on PEP8-standardizing code as changes are made via PRs.  It appears PEP8 will be a minimal standard.

[2016-12-04 22:02] xylar commented on #20
@pwolfram and @milenaveneziani, so I have got a solution for this whole issue that I'm working on debugging.  But I just rediscovered that config files don't preserve the case of the options.  (I knew this already from my POPSICLES work but it somehow never occurred to me that this would be a major problem for storing the dictionaries we need in a config file.)  So I'm going with @pwolfram's solut

[2016-12-05 15:30] pwolfram commented on #20
@xylar, if I recall correctly, the decision to use config files was for general consistency using the general design heuristic of keeping things as consistent and as simple as possible.  It is unfortunate, however, that config files don't preserve case.  There could be a solution via a subclass of https://docs.python.org/2/library/configparser.html.  However, I agree the best solution is probably

[2016-12-05 20:04] xylar commented on #20
@pwolfram, at this point I don't think a version of ConfigParser is the right tool to handle this problem.  While I don't love having dictionaries that live outside of any functions or scripts, I don't see any issues with that approach that aren't purely aesthetic.  The current approach has the advantage of simplicity over the ConfigParser solution I originally had in mind.  It makes more sense fo

[2016-12-06 17:46] xylar commented on #16
@pwolfram, is there any reason to think we don't already satisfy this requirement?

[2016-12-06 17:53] milenaveneziani commented on #16
We have tested things on the LLNL machine Aims, so we are good there.
We haven't tested at ALCF, but the python conda package was installed.
I'd say we can close this.

[2016-12-06 18:22] pwolfram commented on #16
Agreed

[2016-12-06 18:22] #16 closed

[2016-12-07 21:50] xylar commented on #43
As I go through an make files PEP8 compliant, I've also been changing from `%` formatting of string to `.format(...)`, which seems to be a requirement for supporting python 3.x.  Others should try to move to this approach as well.

If there are other habits we need to change, it wouldn't hurt to identify them earlier rather than later.

[2016-12-07 21:51] xylar commented on #49
@milenaveneziani and @pwolfram, has there been any further discussion of this at LANL?  Is there a possibility of storing yearly output files instead of monthly, for example?  This would be one of the easiest ways around the problem.

[2016-12-07 22:00] pwolfram commented on #43
I agree @xylar and appreciate you bringing this to our attention.  I'll copy this to the python3 issue.

[2016-12-07 22:27] milenaveneziani commented on #49
@xylar: that is a possibility, although we have to be careful that we don't create too large output files. Should be OK with sea-ice output, but with mpas-o 3d variables it may be less desirable depending on the model resolution.
Another short-term fix I thought of for sea-ice is to plot subsets of data at a time: we will want to do this anyway because too many seasonal cycles will clutter the plo

[2016-12-07 22:44] xylar commented on #49
@milenaveneziani,

A solution there might be to break streams into smaller sub-streams.  I think this is rather easy to do -- I've created new streams for land-ice variables, for example.  For analysis, it is *far* better to have many time indices and few variables in a given file than our current layout.  (For writing files from the model, presumably the opposite is true.)  As I understand it, th

[2016-12-08 21:02] vanroekel opened #56 "Incorrect value of nVertLevels used in for temperature in ocean_modelvsobs"
When reading time series data for ocean_modelvsobs, nVertLevels=1 is used when it should be zero.  This only occurs in this file/subroutine and for temperature.

[2016-12-08 21:04] vanroekel commented on #56
addressed in #57

[2016-12-08 21:04] pwolfram commented on #56
See also #52 for discussion related to discovery of bug

[2016-12-09 18:50] pwolfram commented on #56
Resolved via #57 merge...

[2016-12-09 18:50] #56 closed

[2016-12-09 18:53] pwolfram commented on #33
@xylar, is there anything outstanding on this issue?  Otherwise, I think we can close it.

[2016-12-09 20:27] xylar commented on #33
Addressed by #47.

[2016-12-09 20:27] #33 closed

[2016-12-12 06:19] milenaveneziani commented on #45
This was addressed by #48, right?

[2016-12-12 07:35] milenaveneziani commented on #20
My thinking is that this issue could be closed, since #52 is fulfilled. We do have the list of tasks in #32, which include one or two of the features that I mentioned when this issue was created (and which are still to-do items), so we should be covered.

[2016-12-12 15:09] pwolfram commented on #45
Please reopen if this is a premature closing @xylar.

[2016-12-12 15:09] #45 closed

[2016-12-12 15:10] pwolfram commented on #20
I concur @milenaveneziani that we have the functionality to meet the needs to fulfill this issue.  There may be some tweaking required but I'm going to close this for now.  @xylar, please reopen if you disagree.

[2016-12-12 15:10] #20 closed

[2016-12-12 15:15] pwolfram commented on #32
@milenaveneziani, just to be clear, can we please clarify the high-priority needs right now?  Can you please copy/paste them in a reply just so that this is crystal clear?  The reason I ask is because we've recently checked some of the boxes above and I just want to make sure we are all on the same page and are completing the work we need for the analysis.

[2016-12-12 15:15] pwolfram commented on #35
Potentially related to #23

[2016-12-12 15:16] pwolfram commented on #10
This is related to #43

[2016-12-12 15:17] pwolfram commented on #6
@milenaveneziani and @xylar, I would say that at present we are fully meeting this requirement and I'm closing for now.  Please reopen if you disagree.

[2016-12-12 15:17] #6 closed

[2016-12-12 15:19] pwolfram commented on #8
This is obviously a moving target as we develop the analysis framework and #31 will help meet this requirement.

[2016-12-12 15:20] pwolfram commented on #21
@xylar and @milenaveneziani, I would say that we are currently meeting this requirement, would you agree?  I'm wondering if we can close this issue for now.  Obviously, we need to ensure that this requirement is met moving forward too.

[2016-12-12 15:22] pwolfram commented on #28
@milenaveneziani and @xylar, following merging of #55, my understanding is that we can update `PreAndPostProcessingScripts` and close this issue, correct?

[2016-12-12 15:24] pwolfram commented on #17
@milenaveneziani, at present we are simply using a cached location for the observational datasets.  What are your ideas on how we should handle this issue?  In the past we have discussed keeping the observational datasets on a cloud-based data server and then accessing them from the analysis framework.  Do we need to move forward on this goal?  If so we may want it on our roadmap.

cc @xylar, @van

[2016-12-12 15:32] xylar commented on #21
@pwolfram, we are currently outputting images without any further documentation, formatting or metadata so, no, I don't think we're complying with the intent of this requirement yet.

[2016-12-12 15:33] xylar commented on #28
That's my understanding as well.

[2016-12-12 15:37] pwolfram commented on #21
@xylar, I definitely agree we could be doing better.  However, in terms of ACME we have the output webpage that provides some minimal user-interfaces and explanation.  It could be viewed as a minimalist meeting of this requirement although it is probably a stretch.

I suppose the question then is how should we refine this requirement so that we can make this actionable?  This is obviously not a we

[2016-12-12 15:39] pwolfram commented on #32
Note, I checked off the box `mpas_xarray needs to support different approaches to specification of time output for AMs` above because I would say that we have this needed support now and the cited issues / PRs are closed / merged.

[2016-12-12 15:40] pwolfram commented on #30
@milenaveneziani, this could be a tricky issue and we should prepare for this challenge ASAP because it could break the analysis.  Do we have a timeline on when the mesh will be removed from analysis output files?

[2016-12-12 15:42] xylar commented on #21
@pwolfram

I don't think that's relevant to this repository and its requirements, since this is not simply meant to be a helper for ACME analysis.  If that functionality were moved (or copied) here, we might be able to say that we were meeting the requirement, though.

I guess this is my issue in general with putting requirements for the design document as "issues" in the repo.  Typically they are

[2016-12-12 15:43] pwolfram opened #58 "Clean return for specific analysis if a specific AM turned off in model"
Should we add a check on whether the needed AM for the analysis was turned on?

For example, we will always need `timeSeriesStats`, but of course we'll want specific AM's for metrics such as the OHC, MOC, etc.

cc @milenaveneziani and @xylar

[2016-12-12 15:44] pwolfram commented on #21
Thanks for clarifying @xylar, you are right that in terms of this repository we are not meeting this requirement.  I agree we need a punch-list of steps that are designed to fully address this requirement.

[2016-12-12 15:45] xylar commented on #30
@pwolfram, I believe the mesh info is already not part of the analysis output.  We rely on a data file that Milena put together that includes the mesh and some of the vertical grid info (e.g. `refBottomDepth`).  My understanding is that the best way to handle this would be to look at the streams file to find the mesh and init files that were used, and read the appropriate mesh/vertical grid data f

[2016-12-12 15:57] milenaveneziani opened #59 "Timeseries plots start from year 1 even if timeseries_yr1 is not 1"
I think I only noticed this in the sea-ice time series, not OHC or SST.

[2016-12-12 16:01] milenaveneziani opened #60 "Timeseries data go from Jan of yr1 to Jan of yr2+1, instead of Dec of yr2"
1. When specifying a yr1 and a yr2 for the timeseries plots, the data loaded go through Jan of yr2+1, instead of Dec of yr2.

2. As an aside, a similar thing happens for climo_yr1 and climo_y2 (data goes from Dec of climo_yr1-1 through Jan of climo_yr2+2), but perhaps this was done on purpose to compute proper seasonal climatologies for DJM? we should look into this too.

[2016-12-12 16:32] xylar commented on #58
@pwolfram, yes, I think this is important.  It's a subset of #18, and I think it makes sense to have more specific issues that can be addressed with a single PR like this one and as opposed to #18.

[2016-12-12 16:37] xylar commented on #60
@milenaveneziani, could you clarify both issues, but particularly the second one?  The files for one month before and one month after the given range are loaded on purpose, just in case.  This means that you will see on stdout that the files were loaded.  But that doesn't necessarily mean they are used by xarray in computing the climatology.  Do you know from something other than the list of files

[2016-12-12 17:53] xylar commented on #59
@milenaveneziani, I can reproduce this issue.  It does, indeed, seem to be only for sea-ice time series and only for some of them.  Should be easy to track down and fix.

![iceareacellnh_20161117 beta0 a_wcycl1850 ne30_oec edison_b1850c5_ne30_v0 4](https://cloud.githubusercontent.com/assets/4179064/21110105/d58d2b00-c050-11e6-8fd5-af6d70961eeb.png)
![iceareacellsh_20161117 beta0 a_wcycl1850 ne30_o

[2016-12-12 23:39] milenaveneziani commented on #59
how weird that SH ice volume doesn't have it..

[2016-12-12 23:49] milenaveneziani commented on #60
I now remember what we decided for climo_yr1 and climo_yr2, @xylar, sorry for forgetting. I am pretty sure the climos are computed correctly. The reason I noticed is that I wanted to compute a climatology for years 71-100 from beta0 results, and Jan of year 101 has permission problems, so I had to use 71-99. But this is a different problem.

And I re-checked what I was getting for timeseries_yr1 a

[2016-12-13 00:02] milenaveneziani commented on #8
yeah, I am not even sure we should keep it as an open issue. We should instead make issues/tasks that we already have on the list of things to do and that ensure modularity as we move along (e.g., compute_climo module, interpolation module, etc).

[2016-12-13 00:05] xylar commented on #59
It seems to also be missing any reference to the black curve.  I wonder if the two are related.  I haven't had time to investigate further.  Hopefully later in the week...

[2016-12-13 00:07] xylar commented on #60
Yes, I think it's just confusion with file names.

Regarding your permission problem, that might be something to put in as an issue.  It might be best if the code gives a warning (but moves on) if it doesn't have permission to read a given file.

[2016-12-13 00:07] #60 closed

[2016-12-13 00:08] xylar commented on #8
@milenaveneziani I agree.  It isn't useful to have this as an issue, since it is unlikely to ever be "solved" completely.

[2016-12-13 00:13] pwolfram commented on #8
Agreed.  I think we've already been making more specific issues as we go along anyway (e.g., #29)

[2016-12-13 00:13] #8 closed

[2016-12-14 07:53] milenaveneziani commented on #59
Solved by #61.

[2016-12-14 07:53] #59 closed

[2016-12-14 08:10] milenaveneziani commented on #21
I would say let us start with breaking down this issue in the two points that @xylar made above.
I would prioritize the html interface, since that will make our life much easier in terms of debugging MPAS-Analysis scripts (prior to moving things to the ACME repo). We have discussed this at the ACME meeting with the workflow team: @pwolfram, do you have a sense of where that discussion left us and

[2016-12-14 08:12] milenaveneziani commented on #18
This issue is similar to the modularity thing: it is going to be on-going as the analysis evolves. I would suggest to close it, and we will have specific issues about this in the (very) near future.

[2016-12-14 08:14] milenaveneziani commented on #17
Yes, I agree we should have it on our roadmap. We should be better organized on both the MPAS standalone side and the ACME side (moving observations to the ACME repo, to start with..).

[2016-12-14 08:15] milenaveneziani commented on #14
Aren't we already fulfilling this requirement?

[2016-12-14 13:28] xylar commented on #14
@milenaveneziani, I don't think so.  I find it frustrating that I have to set `generate = 0` for a bunch of analysis if I only want to run sea ice time-series analysis.  Until it's possible to say something like:
[code]
or
[code]
or something similar, I don't think we're quite there yet.

[2016-12-14 14:59] pwolfram commented on #18
Sounds good @milenaveneziani, we have an issue #58 to help address this and are on the lookout to do better exception handling so I'm going to close this for now.  Please reopen if needed.

[2016-12-14 14:59] #18 closed

[2016-12-14 15:01] pwolfram commented on #21
If I recall correctly @milenaveneziani, we needed more info from the workflow team to know how to use their existing self-documenting workflow.  Essentially, this boils down to the correct format to use for meta-data that can be parsed and turned into some type of workflow viewer, if I understand correctly.  This is something we should pursue for the long term.  The question is of course priority

[2016-12-14 20:31] milenaveneziani commented on #14
ok, sounds good.

[2016-12-14 22:09] milenaveneziani commented on #21
ok, let us talk about this next week.
Personally, I think it would be nice to bump up the priority of this, if it does not translate into a substantial time sink.

[2016-12-22 17:29] milenaveneziani commented on #30
@xylar, @pwolfram: sorry, I missed your last 2 comments on this one!
indeed we are running into trouble now, because sometimes the model output files are transferred from one machine to another for doing the analysis. This can actually happen often, because not everybody has access to the machine where the simulations are performed.
Because of that, the original init file that is in streams.ocean

[2016-12-22 18:22] milenaveneziani commented on #30
I just talked with @mark-petersen and he suggested to use one of the restart files. so, we would have to look into the streams file again, but looking for the rst filename.
And then, when transferring the data we still need to make sure that the restart files are transferred as well (or at least one of them).

This in my view is still a bit cumbersome than just having all mesh and vertical coordin

[2016-12-22 18:23] milenaveneziani commented on #30
Also, should we solve this issue before the current PR to merge the new submodule into ACME analysis is fulfilled?

[2016-12-22 18:24] mark-petersen commented on #30
I just spoke with @milenaveneziani about this.  My recommendation is to use the mesh variables in a restart file, rather than the init file.  The restart files are available in the local run directory, and you can use the same python formatting to get the first mpaso.rst.* file.  You don't need access to the remote file space where the init file is kept.  If someone copies analysis files, they onl

[2016-12-22 19:14] xylar commented on #30
@milenaveneziani wrote:

I think everything we need *would* be available in the restart file.  I agree with @mark-petersen that this would be straightforward to implement.

[2016-12-22 19:16] xylar commented on #30
Yes, I do think this should be fixed before we merge this PR.  Similarly, we should figure out the pandas issue you discovered before merging.  I'm really hesitant to merge branches when there are known issues that aren't all that hard to address.

[2016-12-22 20:38] milenaveneziani commented on #30
ok, let's do that. We probably won't need the meshfile at all then.

[2017-01-05 15:09] pwolfram commented on #30
@xylar and @milenaveneziani, this is somewhat of a moving target because essentially what we are saying is that for vertical grid variables we need to get that information from the

 1. restart file
 2. input file

in that order.  This being said, as far as I can tell that only happens in one place as covered by #67.  Hence, should we close this issue for now, recognizing that new code must follow

[2017-01-05 15:13] #30 closed

[2017-01-05 15:17] xylar commented on #30
@pwolfram, I agree that #67 and preceding commits (I wasn't able to figure out quickly which ones exactly) have dealt with this issue.  The point was not to assume that things like refBottomDepth would be available in analysis member output and I think we're avoiding this everywhere now.

[2017-01-05 15:20] pwolfram commented on #5
@milenaveneziani, my understanding is that we are currently self-managing this process by pointing to a folder where these datasets have been copied on the local machine.  If we could get them on a server somewhere we could have them automatically downloaded if a particular file is missing.  This would make the analysis capability more robust.  Ultimately, I think this is what we want but moving f

[2017-01-05 15:27] xylar commented on #5
I think this may end up being a somewhat bigger project than just putting the existing observations on a server.   Maybe your appreciate that already.

The current analysis capabilities are heavily weighted toward what ACME v1 needs right now (which is fine as far as it goes) but we really want a more general capability that applies to MPAS simulations generally and not just to the needs of ACME v

[2017-01-05 16:56] milenaveneziani commented on #5
I agree, this is a big project, and was thinking to dedicate a full Epic to it on Jira (2017 roadmap).

[2017-01-06 15:47] milenaveneziani opened #69 "Iteration of sea-ice observational time series appears incorrect"
When plotting sea-ice aggregate area and volume time series, we also plot the climatological cycle of observational values. This cycle is repeated to cover the full extent of the model time series.
Something must be slightly off when setting the repeated cycle for the observational data, as the model and obs time series appear shifted by quite a bit after many cycles. For example, here is a plot o

[2017-01-06 16:36] xylar commented on #69
@milenaveneziani, this bug was probably introduced by https://github.com/MPAS-Dev/MPAS-Analysis/commit/fe893b64e92b39ec8365af71a4f288ca010c2914.  I'll put it on my list to look into in a couple of weeks when I have time.  If it's urgent, take a look at what that commit did and see if you can figure out how I might have got the length of the repeated cycle wrong.

[2017-01-09 18:00] matthewhoffman opened #70 "Sea ice concentration colorbar label should be 'fraction'"
Currently, the plots for sea ice concentration have values that range from 0.0-1.0 but the label on the colorbar is "%". The label should be changed to "fraction" (or the values changed from 0-100).

Attached screenshot shows example:
<img width="269" alt="screen shot 2017-01-09 at 10 44 24 am" src="https://cloud.githubusercontent.com/assets/4182034/21777118/cbae0418-d65a-11e6-82aa-32ebd5695f5f.pn

[2017-01-09 18:12] pwolfram commented on #70
@matthewhoffman, I'm happy to do the one-line PR for this but obviously you have first rights to this if you want.

[2017-01-09 18:15] xylar commented on #70
Thanks @matthewhoffman!

[2017-01-09 20:08] #70 closed

[2017-01-11 16:05] akturner opened #73 "Analysis system creates directories in my home directory"
When running the analysis system in the tutorial I noticed that the system creates three directories in my home directory at /turquoise/usr/projects/climate/akt
It created these directories:
20161117.beta0.A_WCYCL1850S.ne30_oEC_ICG.edison.test.pp
coupled_diagnostics_20161117.beta0.A_WCYCL1850S.ne30_oEC_ICG.edison-obs
coupled_diagnostics_20161117.beta0.A_WCYCL1850S.ne30_oEC_ICG.edison-obs.logs

Thi

[2017-01-11 17:53] milenaveneziani commented on #73
Thanks @akturner, this is something that @xylar noticed too, and I agree that we should give the user the ability to save the output files in whatever directory they want (right now the $projdir directory is used for this, but that is also used for pointing to the observations and other things, so we should just add an output dir or something).

[2017-01-18 15:08] xylar commented on #73
@milenaveneziani (cc @akturner), I don't think this is an issue that can be addressed in this repo.  It stems from the default behavior of the csh script created for LANL IC in the ACME PreAndPostProcessingScripts repo.  Therefore, I'm moving the issue to that repo.

[2017-01-18 15:10] #73 closed

[2017-01-18 21:03] milenaveneziani opened #77 "Remove dependency on meshfile in ocean_modelvsobs.py"
We no longer use the meshfile in ohc_timeseries to read in mesh-related information, but we rather look into the restart file. Therefore, we need to add a similar change in ocean_modelvsobs.

[2017-01-19 08:23] xylar commented on #77
@milenaveneziani, I have a branch where I'm working on this.  I'll make a PR as soon as I've tested my changes.

[2017-01-19 20:59] milenaveneziani commented on #77
Solved by #78.

[2017-01-19 20:59] #77 closed

[2017-01-20 14:48] xylar commented on #2
I'm running an ACME G-case with the QU240km grid right now to hopefully help address the first checkbox above.  I will try to figure out what the minimum sized data set is that we can use as output for testing and also where we can store it if it's too big to live in this repo.

[2017-01-20 17:14] xylar commented on #2
@pwolfram and @milenaveneziani, so the problem with coming up with a "small" test problem to use for validation and CI is that the observational data sets that we currently use as part of the analysis computation is 77 GB in size.  It would almost certainly be possible to pull out only a minimum subset of the observations to compare with 2 years of ACME data (the minimum where we can still get a m

[2017-01-20 17:38] pwolfram commented on #2
@xylar and @milenaveneziani, can we provide some type of mechanism where we pre-cache the results from the observations, e.g., just the data in the line that we want to plot?  This may be the way to go in terms of storage requirements.  Alternatively, could we store a subsampled time-series or pcolor plot that would be "good enough" and use that dataset?  The point is that by the time we get to pl

[2017-01-20 17:52] milenaveneziani commented on #2
@xylar, @pwolfram: yes, I think we need to strip down the actual observational data that we use right now. Most of the data files we have now in the obs directories are the original data (monthly or even higher frequency) that we downloaded from the online source. The processed/climatological data is much smaller. I can take a look at the size of what we actually use.
As far as model data goes, we

[2017-01-20 18:01] milenaveneziani commented on #2
OK, the actual data we use right now is ~500Mb, of which:
1) the majority is taken by the SST, which is a monthly product over years 1870-2012. We could save the climatologies that are now computed by ocean_modelvsobs and reduce that size even further.
2) the sea-ice data only takes <20Mb, but that is because it's the interpolated product onto the 0.5deg regular lon,lat grid. The size would go up

[2017-01-20 18:40] milenaveneziani commented on #69
@xylar: as an FYI, I am working on trying to understand this issue. I would like to include it into a more general enhancement of sea_ice/timeseries.py, where I want to split long time series in two separate panels.
What do you think? (pinging @pwolfram as well)

[2017-01-20 19:15] pwolfram commented on #69
@milenaveneziani, I would prefer we have a bug-fix PR and then an enhancement PR.  This helps keep things clean and easier to review.  Is there an advantage to having a single PR that I'm missing?

[2017-01-20 19:19] milenaveneziani commented on #69
no, no worries, I am fine with 2 PR's. I was just being lazy :)

[2017-01-20 19:26] xylar commented on #2
@pwolfram wrote:

I don't understand how that would be useful for testing that the scripts work as expected.  It would be skipping the vast majority of their functionality, thus proving nothing.

[2017-01-20 19:28] xylar commented on #2
@milenaveneziani wrote:

That's still several GB of data unless we strip out only those fields that we *currently* use for analysis.  I do think that's something we want to try to do -- pare down to a minimum data set that we can use for relatively quick testing -- but even the pared down data is far, far too large for the kind of unit testing @pwolfram has in mind.

[2017-01-20 19:35] milenaveneziani commented on #2
what would be a reasonable size for the testing we are thinking about?

[2017-01-20 19:40] xylar commented on #69
Sorry, this has been on my list for the last week but I haven't got to it yet.  I can try to fix it tonight.

I suspect the problem might be that shiftT designed to actually be slightly longer than the period of the cycle:
https://github.com/MPAS-Dev/MPAS-Analysis/commit/fe893b64e92b39ec8365af71a4f288ca010c2914#diff-8b7c98f5c257dcda60ae69424ef73bf2L308
This may have been right for the old way of s

[2017-01-20 19:44] xylar commented on #2
Anything over 100 MB would be pushing our luck, I think.

[2017-01-20 19:45] milenaveneziani commented on #69
ok, I will try that.

One other solution that I was thinking to try is to not shift the dsshift Time at all, but simply equal it to ds.Time. I tried it and the two Times are obviously the same, but I am getting a different error at plotting time, which I was about to investigate.

[2017-01-20 19:45] pwolfram commented on #2
I would agree with @xylar.  Ideally we are talking ~< 10 mb.

[2017-01-20 19:48] xylar commented on #69
If you're working on it, I'll leave it to you.  If you don't come up with a fix, let me know and I'll give it another go.

[2017-01-20 19:51] milenaveneziani commented on #2
that means we'd need to put much more effort in downsizing the data.. Ocean obs on the 1deg grid would have to be interpolated onto a 2deg grid, at least; sea-ice data would also have to be re-interpolated onto a 1deg or 2deg grid.
And we'd have to estimate the size of the stripped out model data as well.

[2017-01-20 20:00] xylar commented on #2
For that amount of work, it would actually be better to just create fake data sets to test with, it seems to me.  More importantly, I'm not sure it makes sense to think of the scripts as "units" for unit testing.  Instead, we should focus on modularizing the scripts and unit testing the modules.

A parallel goal would be to have a regression test that's light enough weight that it could be run man

[2017-01-20 20:02] xylar commented on #2
So basically I'm saying I don't think a data set will exist that can test *all* of the analysis in a light-weight way, out of the box.  So I don't think the first checkbox above is realistic.

[2017-01-20 21:35] milenaveneziani commented on #2
back to another basic question: what sets the limit of the dataset? the fact that we'd have to use git for sharing it?

[2017-01-20 21:46] pwolfram commented on #2
The limit of the dataset is set by convenience.  We don't want a user to have to download an enormous dataset, especially on a slow connection.  Use of git ensures the file can be easily downloaded on HPC.

[2017-01-20 23:37] milenaveneziani commented on #69
OK, I have not been very successful, but at least now I see where the problem arises.
We define startIndex from this quantity: ds.Time.min()-ds_toreplicate.Time.min(). When printing the two terms I get:
ds.Time.min= 2050-01-16T13:19:41.133264000-0800
ds_toreplicate.Time.min= 1851-01-15T00:00:00.000000000Z
From this, I would expect that their difference is 199 years and 1 day, but when you print th

[2017-01-21 03:37] milenaveneziani commented on #69
Also, the branch I am using to work on this is fixReplicateCycle, in case it helps.

[2017-01-21 09:44] xylar commented on #69
@milenaveneziani, I'm using a beta0 run (20161117.beta0.A_WCYCL1850.ne30_oEC.edison) with:
[code]
and I'm not seeing this problem.  When i print the dates, I see:
[code]
First, it's weird that I see ds_toreplicte starting a year earlier than you do, but maybe your `yr_offset` is 1850?
Second, I'm seeing times with a common formatting (ending in Z) whereas you see two different time formats, where

[2017-01-21 22:39] milenaveneziani commented on #69
@xylar, first of all, here is my config file:
https://gist.github.com/milenaveneziani/7504699434c352a99b63bfacd4d1b3cb
As you can see, it now uses year_offset=1849, but indeed I was using 1850 before, so that is explained.
I have also tried the same years as yours (41 and 50) and I too get both times ending in Z:
ds.Time.min =  1890-01-14T04:58:13.242529000Z
ds_toreplicate.Time.min =  1850-01-15T0

[2017-01-21 22:48] xylar commented on #69
You're right about 9 extra days, that's odd. Maybe leap years? I thought
the default was to ignore them but maybe not.

To print days, just cast to float and divide by 24.*3600.*1e9.

On Jan 21, 2017 11:39 PM, "Milena Veneziani" <notifications@github.com>
wrote:

[2017-01-21 22:53] milenaveneziani commented on #69
ah, that's a good point about leap years! Model years do not have leap years. Maybe python/xarray default calendar is gregorian? There should be a way to define the calendar, right?

and thanks about the tip to print days (I actually meant 'years'): I was missing the part to convert to float so I was just getting the integer year value.

[2017-01-22 10:35] xylar commented on #69
@milenaveneziani, looking into this further, it does appear that xarray currently only supports the standard Gregorian calendar (with leap years):
https://github.com/pydata/xarray/issues/1084
I didn't read this issue in detail yet, but it may be possible (and even desirable) to force xarray to use `netcdftime` objects rather than `numpy.datetime64`.  This might have some unintended consequences, t

[2017-01-22 18:24] xylar commented on #69
Reading a bit more, I don't think forcing xarray to read times as `netcdftime` objects will fix our problems.  Instead, I think the solution here is likely to be to convert locally in `replicate_cycle` using `netCDF4.date2num` (http://unidata.github.io/netcdf4-python/#netCDF4.date2num) and then to use those numbers to do our math.

I'll give this a try tomorrow.

[2017-01-23 20:15] pwolfram commented on #69
@xylar, can you please clarify your understanding that xarray only supports Gregorian (leap) calendars?  I took a quick look at pydata/xarray#1084, but based on my quick read of http://xarray.pydata.org/en/stable/io.html?highlight=gregorian#time-units it appears that other calendars should be supported.

@shoyer, is it true xarray only supports Gregorian (leap) calendars currently?  If this is the

[2017-01-23 20:19] shoyer commented on #69
I have not used non-Gregorian calendars personally, but I'm pretty sure they should work at least in a minimal fashion (e.g., for loading data, but not for dedicated datetime routines). Certainly @jhamman put in a lot of work to ensure that we fall back to loading dates at netcdftime for non-standard calendars. The result should be an array with dtype=object filled with netcdftime.datetime instanc

[2017-01-23 21:48] xylar commented on #69
@pwolfram, I could be wrong but I think a lot of things we do with xarray won't work correctly with `netcdftime.datetime` times instead of `numpy.datetime64` times.  We do a lot of math in various places with times.

In any case, our times are being read presently as if they are Gregorian even though they are, in fact, on a 365-day calendar, presumably because MPAS output is not CF compliant and n

[2017-01-23 21:53] shoyer commented on #69
Someone recently added arithmetic support to `netcdftime.datetime`, so that may work better now.

[2017-01-23 21:57] xylar commented on #69
@shoyer, great to know.  I just started looking into `netcdftime.datetime` over the weekend so I'm not fully up to date on what it can do.

@milenaveneziani and @pwolfram, it seems like we should make a new issue for looking into switching to `netcdftime.datetime` instead of `numpy.datetime64`.  Presumably this will involve some changes in `mpas_xarray` and perhaps elsewhere.  This issue would the

[2017-01-23 22:38] milenaveneziani commented on #69
@xylar, @pwolfram: I am looking through all of our routines where we use/process times, and I don't see a place when we actually make use of numpy.datetime. We use datetime on its own a lot, and panda.to_timedelta, and I think that's it.
Now, having said that, if I look through the datetime doc pages (https://docs.python.org/2/library/datetime.html) I do seem to understand that the only supported

[2017-01-23 22:56] akturner opened #80 "Default config.analysis has un-useful default values"
The default values in the config.analysis are not especially useful for someone trying to start to use the system. The values are specific to one particular system and its unclear what things should be set to for a target machine. Does it make sense to make a new directory, say config_templates, and then a set of default config files for machine we use:
config.lanl_ice
config.lanl_ice_seaice_stand

[2017-01-23 23:00] akturner opened #81 "Analysis system chokes in sea ice timeseries for 2000 date data"
The analysis system cannot handle the following setting:
[time]
climo_yr1 = 1960
climo_yr2 = 1961
yr_offset = 0
timeseries_yr1 = 1960
timeseries_yr2 = 1961

I get the following error:
[akt@wf-fe1 MPAS-Analysis]$ python run_analysis.py -f config.analysis

Plotting sea-ice area and volume time series...
Reading files /net/scratch2/akt/MPAS/rundirs/rundir_QU60km_polar/analysis_members/timeSeriesStats

[2017-01-23 23:12] milenaveneziani commented on #80
yeah, this is a good idea. Maybe we can have some config_templates in the configuration directory?

[2017-01-24 00:13] pwolfram commented on #80
I chatted with @akturner about this idea earlier and I think that is a great idea.

[2017-01-24 07:11] xylar commented on #69
@milenaveneziani, here is one place we handle Times from xarray datasets assuming they might be `numpy.datetime64` objects:
https://github.com/MPAS-Dev/MPAS-Analysis/blob/develop/mpas_analysis/shared/mpas_xarray/mpas_xarray.py#L183

You are right that we often convert to `datetime` to do our math, and that is almost certainly not what we want to be doing.

In the present case (`replicate_cycle`) w

[2017-01-24 07:30] xylar commented on #81
Hi @akturner, could you tell us a little more about the data set you're trying to analyze? Typical ACME runs start at year 0001, but this year is thought of as being 1850 or 2000, so we set yr_offset to either 1849 or 1999.

If your run is similar (i.e. it didn't start in something like 1960 but rather at 0001), I think you would want something similar where you have yr_offset = 1959 and your anal

[2017-01-24 14:02] xylar commented on #81
Thanks @akturner, this is, indeed a bug.

@milenaveneziani, I'm going to hand this off to you because I'm not sure how we want to handle this.  The problem is that we use the same `yr_offset` for the MPAS input data and for the observations or v0 data with which we want to compare.  There's no reason they should be required to be the same.
https://github.com/MPAS-Dev/MPAS-Analysis/blob/develop/mpa

[2017-01-24 15:17] pwolfram commented on #81
@xylar and @milenaveneziani, I'm thinking we need a new approach to this `yr_offset` issue.  What about automatically determining an appropriate year using `yr_offset` as a target, probably renaming to `starting_year`?  If we did that then there should be no problem here because both analysis would start at `yr_offset=> starting_year ~ 1850` or such and there would be no bug.

However, at this poi

[2017-01-24 15:23] pwolfram commented on #69
@xylar, since we are basically just extending a yearly climatology could we try a different approach for `replicate_cycle` that would "inject" monthly results for the climatology into new years?  I think this would help avoid the issue with leap-years and `datetime` library choices and it would be conceptually cleaner anyway because the monthly climatologies should be more or less insensitive to t

[2017-01-24 17:56] milenaveneziani commented on #81
As a big picture, let us remember that this year_offset thing is only needed for time series.

The only reason that we are using the same year_offset for obs and ACME v0 is that we want to overlap the model time series with the obs and v0 time series.

The solution I had in mind was simple, and similar to what @pwolfram said: check for the first model year, if it's >1678 then set year_offset=0 no

[2017-01-24 21:29] xylar commented on #81
Yes, these approach sound essentially the same and they make sense to me.  I don't have any time to work on this right now but I could review if one of you submits a PR.

[2017-01-24 23:23] milenaveneziani commented on #69
@pwolfram: I worry that, if we do not clearly specify the calendar we use in the model, we may run into other similar issues in the future.
Still, it is not clear to me how much of a change we'd have to introduce if we went with netcdf.datetime. I could give it a try..

[2017-01-25 07:40] xylar commented on #69
@pwolfram, I agree that we could probably come up with an alternative way of handling `replicate_cycle`, though it would not be as general.  That being said, I agree with @milenaveneziani that this would be a workaround to fix *only* this problem and we would do better to address the overarching problem of having the wrong calendar.

Part of the reason for the problem is that `xarray` defaults to

[2017-01-25 21:04] xylar commented on #69
My latest findings from this evening's research:

* `netcdftime` currently has no documentation I could find, so I'm left reading the docstrings directly from the file.
* It seems like the version `netcdftime` in newer versions of `netcdf4` or in the standalone repository does, indeed, support various math operations and might be what we need.
* These versions are not yet supported by conda (or ha

[2017-01-25 21:21] milenaveneziani commented on #69
@xylar: I guess I was looking at something different, ie the num2date and date2num functions within netCDF4 (http://unidata.github.io/netcdf4-python/#section7).
I wondered whether we could use datetime to get the correct format for date2num, and then date2num with the correct calendar to get the correct time in days.
Is this too simplistic?

[2017-01-25 21:43] xylar commented on #69
@milenaveneziani, for purposes of solving this *specific* issue, I agree that `netcdf4.date2num` could be a reasonable solution.  But it's a really cumbersome thing to have to do in every case where we want to work with dates.  What is more, things like time averages within xarray may not act as desired because of leap years.  I'm somewhat more worried about the problems we don't yet realize we ha

[2017-01-25 23:43] pwolfram commented on #69
Based on taking another look at this thread @milenaveneziani and @xylar, I think the best solution is to use `netcdftime.datetime` and adapt xarray if needed, potentially working with @jhamman if goals are coincident.  I've monkey-patched the date issue in the past and agree this is not a long term solution.  However, we need to be absolutely sure that this change doesn't break existing or future

[2017-01-25 23:46] pwolfram commented on #31
@xylar and @milenaveneziani, this is along the lines of #8, which we closed because we recognized that this was a moving target.  Here, we may be facing something similar and my inclination would be to close this issue if there are no objections because one could argue that this issue (#31) is essentially a subset of #8.

[2017-01-25 23:47] pwolfram commented on #28
Note, I believe that we should be able to close this issue following resolution of https://github.com/ACME-Climate/PreAndPostProcessingScripts/pull/24.

[2017-01-25 23:49] pwolfram commented on #5
Note, this is related to #17 and the design solution here should optimally be general enough to cover the broader issue #17.

[2017-01-25 23:53] pwolfram commented on #2
@xylar, perhaps we should just employ simple synthetic datasets instead of using real datasets as previously specified, i.e.,

 to demonstrate capability of the analysis package. The risk we run is that these datasets may not be comprehensive enough for reasonable testing.  However, this being said, runs vary in scope and usage, e.g., not all AMs are necessarily turned on.  Hence, no single datase

[2017-01-25 23:55] pwolfram commented on #3
I've added some simple checkmark goals for this to hopefully clarify:

[2017-01-26 00:00] pwolfram commented on #9
@milenaveneziani and @xylar, we don't seem to be following this original requirement.  So far I don't think this is a huge problem because the analysis added haven't been too terribly complex.  However, it may be worth it to corporately
 1. recognize that we aren't meeting this requirement
 2. decide to either be ok with that are enforce the requirement, on a case by case basis

If we are not ok w

[2017-01-26 00:09] pwolfram commented on #81
Are we in agreement @xylar and @milenaveneziani that we should just employ a simple fix for this in the time-being?  I'm happy to submit a PR if we have consensus.

Also, @akturner, do you mind sharing your path location and a copy of the `config.analysis` file so that we can reproduce this error to ensure that it is fixed?

[2017-01-26 00:37] shoyer commented on #69
I don't know if this helps much, but it's pretty straightforward to inject attributes (like `calendar`) into xarray variables between decoding into datetime objects. This could ensure you end up with netcdftime objects, e.g.,
[code]

[2017-01-26 07:01] milenaveneziani commented on #81
That sounds good @pwolfram, thanks.

[2017-01-26 07:36] xylar commented on #81
@pwolfram, yes I think we already had consensus so please go ahead.  Things are moving slowly enough in this repo that I think you can feel free to try solutions without reaching consensus anyway.

@akturner has already given us his config file above:
/turquoise/usr/projects/climate/akt/MPAS/analysis/sea_ice_config/config.ocnice_tutorial
You can figure out all paths from that.  I was able to use i

[2017-01-26 07:45] #31 closed

[2017-01-26 07:47] xylar commented on #28
Until that PR is actually merged, I think this should stay open.

[2017-01-26 07:49] xylar commented on #5
@pwolfram, if you're suggesting we close this issue and stick with #17, that's fine with me.

[2017-01-26 07:58] xylar commented on #2
@pwolfram, I think a more useful alternative to a synthetic data set would be creating coarser resolution (as well as shorter) versions of the observations and culling out only the files and variables we need for testing.  This should be done in an automated way from the existing observations and from the results of a standard G240km (and the script for doing it should be included in the repo) so

[2017-01-26 08:04] xylar commented on #9
I think we should require this from now on.  I think the default should be to use the existing confluence template, but we can provide a template specific to Analysis if we think there are useful differences from existing template.  Off the top of my head, I don't see any.

[2017-01-26 08:08] xylar commented on #9
As far as I'm aware, the only major additions to the Analysis since we moved to this repo have been:
* nearest-neighbor interpolation
* SSS
* MLD
In retrospect, I would have liked to have design documents in each of those cases but it hasn't been a big deal so far.

I think we do want to have design documents for MOC (probably separately for global and regional), NINO3.4, etc. and also for any new

[2017-01-26 08:14] xylar commented on #69
@shoyer, that's very helpful, indeed!

@pwolfram, I think this means that all our existing calls to `xr.open_mfdataset` would need to pass on `decode_times=False`.  Then, we would add the calendar attribute to whichever `Time` variable we detect in `mpas_xarray` and make the call to `xr.decode_cf` after we have constructed the `Time` variable in the appropriate way.  Where we currently make `datet

[2017-01-26 15:28] pwolfram commented on #69
Agreed @xylar, we would just need to set this up for xarray to decode.  I still think it may be useful to add some testing code into xarray to make sure that the functionality we are leveraging remains unbroken for future versions.

@xylar and @milenaveneziani, if you can point me to an example I can use to reproduce the error in this issue I can probably make the needed changes for the fix.

[2017-01-26 15:36] pwolfram commented on #2
@xylar, I'm not fully convinced we can adequately test from a single run.  We may need a series of runs or approaches to provide full testing capability.  This being said, output from a 240km case will be more useful than synthetic datasets and I agree this is better.  I'm just wondering if we might need several lightweight runs in order to produce the appropriate datasets we need.  But, usage ove

[2017-01-26 15:38] pwolfram commented on #5
Thanks @xylar, I'm closing this issue and migrating the checkboxes to #17 for simplicity.

[2017-01-26 15:38] #5 closed

[2017-01-26 15:39] pwolfram commented on #28
Agreed, issues should only be closed after rectifying PRs are merged.

[2017-01-26 15:58] xylar commented on #9
@pwolfram, you're right.  I wasn't suggesting that we retroactively create design docs for things we've already done.

I agree that it's a good idea to create a subdirectory in the repo where we put completed design docs.

I agree with your principle on design docs.  I don't think you answered the question though, which was whether you think the existing template on confluence needs to be modified

[2017-01-26 16:05] milenaveneziani commented on #69
@pwolfram, you can use any run that is long enough to show the shift clearly. The beta0 simulation is more than 250 years long, so you could choose that and timeseries_y1=200, timeseries_yr2=205.

[2017-01-26 16:08] xylar commented on #69
@pwolfram, are you interested in fixing `replicate_cycle` or the broader problem?  If just `replicate_cycle`, go for it.  If the broader problem, maybe let me tinker a bit so we don't replicate efforts.

[2017-01-26 16:15] milenaveneziani commented on #28
yes, we should be close to fulfill ACME-Climate/PreAndPostProcessingScripts#24.

[2017-01-26 16:30] xylar commented on #69
Looking at the `netcdftime` code, it seems like math operations *should* work as we want them to, at least with the latest version.  I'll see if I can get them to work as I expect outside the context of xarray.  Then, maybe we can figure out whether they will work for us *in* xarray.

[2017-01-26 16:30] milenaveneziani commented on #31
I may also add that the real issue here is to 'Develop an Interpolation module', which @xylar is planning to work on. Once that is in place, we can have a specific task to unify ocean_modelvsobs and seaice_modelvsobs, and we could call the new function something like MPASregriddeHorSlice.

[2017-01-26 21:21] pwolfram commented on #81
@xylar, I've submitted a PR to address this issue (#83) with associated config file of /lustre/scratch3/turquoise/pwolfram/MPAS-Analysis/config.analysis_seaice_bug.  We should be able to close this issue following completion of #83.

[2017-01-27 15:50] pwolfram commented on #80
We should provide good examples for different platforms following resolution of #86 in particular.

[2017-01-27 15:57] pwolfram commented on #69
@xylar, I'm assuming were you able to get `netcdftime` math operations to work as expected, correct?

[2017-01-27 15:58] pwolfram commented on #69
Note, this obviously implies we should be testing some dataset math following our custom mpas_xarray preprocessor in the testing framework so that as we make changes in the future simple arithmetic operations are as we would expect.

[2017-01-27 16:37] pwolfram commented on #9
@xylar, I recommend we use strictly markdown following https://acme-climate.atlassian.net/wiki/display/OCNICE/Design+Document+Template as specified in #87  with a form of

<h1> Title: Some descriptive title <br>
ACME Ocean and Ice Team <br>
date: x - xx - xxxx <br>
</h1>
<h2> Summary </h2>
The purpose of this section is to summarize what capability is to be added to the ACME Ocean and Ice system t

[2017-01-27 16:40] pwolfram commented on #9
I think we should be able to close this issue following merge of #87.

[2017-01-27 16:47] pwolfram commented on #31
@milenaveneziani, do you want specific issues for each of these tasks?

[2017-01-27 17:09] milenaveneziani commented on #31
sure, if @xylar is also OK with it.

[2017-01-27 17:18] milenaveneziani commented on #9
I am afraid that requiring design documents for any analysis code will greatly reduce the already low level of participation.
At least, I'd say let us make it simpler: for example, the algorithm will probably be easy in most cases. Could we just have Design and Implementation, in which one could include a brief description of the algorithm at the top?

[2017-01-27 17:29] pwolfram commented on #9
@xylar I'm happy deleting "Algorithms" as @milenaveneziani proposes but think it may be useful in some cases and we could also make it "Algorithms (optional)" just in case.  Do you have a preference?  If we delete it, someone could always add it back if need and that person is probably going to be one of us.  Hence, I'm leaning towards its removal.

[2017-01-27 17:30] pwolfram commented on #9
Bumping this discussion to #87....

[2017-01-28 15:31] xylar commented on #80
Agreed.  I figured that would be the logical progression.  First the reorganization in #86, then use the resulting template to create useful examples for different machines.

[2017-01-28 20:10] xylar commented on #69
@pwolfram asked:

I will comment more in #82.  The basic answer is that I was not able to get the expected types from `xarray`.  When I supply a calendar manually as an attribute, I still get either a `numpy.datetime64` or a `netceftime.datetime` object, neither of which correspond with the `365_day` calendar I'm asking for. So it seems like there's a problem with how `xarray.decode_cf` is handlin

[2017-01-28 20:11] xylar commented on #69
Yes, I agree.  I will make this a priority for inclusion in #82.

[2017-01-28 21:29] xylar commented on #31
I don't understand what the specific tasks are that @pwolfram wants to make issue for.  In general, I think having too many issues is demoralizing more than it is constructive.  I would rather not treat issues as a "to do" list but rather as a list of things we need to fix (perhaps with some urgency).

[2017-01-28 21:46] jhamman commented on #69
Let me jump in here and point out a few things...

1. Back in 2014, [we made a decision](https://github.com/pydata/xarray/pull/126) to return numpy datetime objects for the `noleap` calendar so that we could get the groupby/resample functionality to work on the time indexes. Basically, every date in the `noleap` calendar is valid in the `standard` calendar so we can _safely_ cast `netcdftime.datet

[2017-01-28 22:10] xylar opened #88 "Design Document: Generalized Horizontal Interpolation"
<h1> Title: Generalized Nearest-neighbor and First-order Interpolation in MPAS-Analysis <br>
Xylar Asay-Davis <br>
date: 01-19-2017 <br>
</h1>
<h2> Summary </h2>
Many types of analysis in MPAS will require fields that are interpolated from MPAS grids to arbitrary points.  Currently, nearest-neighbor interpolation is supported in MPAS-Analysis, but only for points on a uniformly spaced lat-lon grid

[2017-01-28 22:11] xylar commented on #88
This is a test to see if creating an issue is a good way of posting a design document for discussion in this repo.

[2017-01-28 22:12] xylar commented on #88
If we decide to do this, I will add a new label "design doc".

[2017-01-28 22:35] xylar commented on #69
Thanks @jhamman!  This is very helpful.  I now understand why what I tried didn't work as I expected.

Your suggested solution is essentially what I have implemented.  We have the additional complication that we sometimes (typically, actually) have a date as a string, not as a float64. It is easy for us to parse out years, months, days, hours, minutes, seconds.  But it doesn't seem like `netcdftim

[2017-01-29 10:49] xylar opened #89 "Design Document: Config File Reorganization"
<h1> Config File Reorganization <br>
Xylar Asay-Davis<br>
date: 01-29-2017<br>
</h1>
<h2> Summary </h2>
This document describes various efforts to clean up the structure of the MPAS-Analysis config file.  The idea is to create a template config file that will replace `config.analysis` as well as a number of example config files designed to make use of various MPAS and ACME runs on various machines

[2017-01-29 10:50] xylar commented on #89
This is a design document for #86 and aimed at addressing #80 as well as many other issues.

[2017-01-29 14:27] xylar commented on #89
@milenaveneziani and @pwolfram, please take a look at this design document and let me know what you think.  I am particularly keen on getting feedback on the 4th requirement (about the reference dates) where it's unclear whether and how we might get rid of `yr_offset` and whether we still need reference dates.

[2017-01-30 17:08] pwolfram commented on #88
I added the label, which we would need for a PR-based approach anyway.  However, I think we really need a PR so that I can easily highlight changes on a line-by-line basic for discussion.  The issue format doesn't appear to provide this functionality unless I'm missing something.

[2017-01-30 17:10] pwolfram commented on #89
@xylar, I think it would be much easier to have a PR so that you could highlight the particular line you'd like feedback and we could discuss in term below.  Please let me know if this is possible.

[2017-01-30 17:38] pwolfram commented on #31
@xylar, I think issues are often used as some type of "to do" list.  Things that need fixed with urgency are labeled with "bug".  I guess it depends on where you want to draw the line, but things that need done for existing code to work well should be listed as issues in my mind.  Addition of new features, however, probably appear once code is written for a PR and an issue isn't necessarily needed

[2017-01-30 22:12] xylar commented on #31
@pwolfram, yep, that makes sense.  This repo has more issues by about a factor of 3 than I am comfortable with or than I think is useful.  I think more time should be spent on fixing issues already listed and less should go into posting new issues to the extent possible.  I am frustrated because I feel like too much time is being spent on "process" in this repo and not enough on actually doing wor

[2017-01-30 22:21] xylar commented on #88
Closing this issue and moving to #90 (a PR insead).

[2017-01-30 22:21] #88 closed

[2017-01-30 22:38] xylar commented on #89
#91 is intended to replace this issue.

[2017-01-30 22:38] #89 closed

[2017-01-31 20:01] pwolfram commented on #49
@xylar and @milenaveneziani https://github.com/pydata/xarray/issues/1198 should fix this issue provided that use of `open_mfdataset` uses the argument `autoclose=True`.  I would like to test this with our data prior to it being merged in xarray.  Do either of you recall a good case that I can use that exposed the OS error related to too many open files?

[2017-01-31 23:40] milenaveneziani commented on #49
Thanks @pwolfram: this is great!
Yes, a great case is the ACME beta0 simulation. This is the full path on edison:
/scratch2/scratchdirs/golaz/ACME_simulations/20161117.beta0.A_WCYCL1850S.ne30_oEC_ICG.edison/run/
This was run for 255 years, so you have plenty of files to open there. I was getting the error at ~100 files or more.

[2017-01-31 23:41] pwolfram opened #94 "Document configuration options used for analysis runtime"
A config file that fully can reproduce an analysis should be output with MPAS-Analysis results to provide a reproducible-capability, e.g., MPAS-Analysis can be run with this config file to regenerate results.

This is needed because there are already a few config options that are generated in the code that may not be present in the config file.  For instance, default values may change between MPAS

[2017-01-31 23:51] xylar commented on #94
Thanks for creating this issue @pwolfram.  While I think it's related to #23 and #35 in that all 3 involve provenance, I don't think it would be a good idea to try to store the provenance from a run (other than things that are clearly intended as config options) in the output config file so #23 probably still requires additional files or metadata elsewhere that stores the required provenance and #

[2017-02-01 20:23] xylar opened #95 "CI fails with latest version of xarray"
CI has started to fail despite no changes to MPAS-Analysis itself.  The error would appear to be because of an update to `xarray`.  Here is the result of pytest:

[code]

[2017-02-01 20:24] xylar commented on #95
I did a test on my laptop with xarray 0.8.2.  Then, I did a `conda update --all` and got the following updates:
[code]
Then, I get the same error as the CI.

[2017-02-01 20:32] xylar commented on #95
It appears that `xarray` has changed the behavior when a key value is given that doesn't exist.  The new behavior is to raise a `KeyError`, which would seem to be the correct behavior to me.  Apparently the old behavior was to create an empty list, which seems like the wrong behavior.  This seems like an easy fix -- the test simply needs to be updated to follow the new (correct) behavior -- it sho

[2017-02-01 20:37] xylar commented on #95
Ah, the error is a little more complicated than I realized.  It seems you used to be able to do `ds[dim]` to get a dimension but it seems like that syntax is no longer supported.  I'm looking into it...

[2017-02-01 21:05] xylar commented on #95
It seems like:
1) `ds[dimName]` no longer works, only `ds[varArrayName]`.
2) it seems that selecting a single element in a dimension (e.g. passing `selvals = {'nVertLevels': 0}` to `mpas_xarray.preprocess_mpas`) causes that dimension to go away completely, which was clearly not the behavior in previous versions.

This would seem to mean that information is lost. @pwolfram, do you think this is a b

[2017-02-01 21:28] xylar commented on #95
Reading more, this behavior seems to be intentional.
http://xarray.pydata.org/en/stable/whats-new.html
It seems like what they call "Dimensions without coordinates" are not handled the same way they used to be.  `nVertLevels` would be an example of this in our test.

@pwolfram, I'm not quite sure how we want to update the test.  The following lines in `test_mpas_xarray.test_selvals` are no longer

[2017-02-02 17:04] milenaveneziani commented on #95
I am afraid this will break the code in a few places, not just the testing.
For sure we have it in various places in replicate_cycle, when we do calculations on dsnew['Time'], for example. Now, perhaps replicate_cycle will soon be completely different, but we need to check the other scripts. I can do it, but an extra set of eyes would be better.

[2017-02-02 17:26] xylar commented on #95
Should be fixed by #96.

[2017-02-02 17:42] #95 closed

[2017-02-02 17:58] xylar commented on #95
@milenaveneziani, see my comments in #97.

[2017-02-03 13:34] xylar opened #99 "Date class only supports 365 day calendar"
Currently the `Date` class used to parse MPAS date strings assumes that the calendar is the 365-day calendar with no leap years.  This needs to be generalized (perhaps using `netcdftime`).

[2017-02-03 15:11] xylar opened #100 "Docstrings aren't using standard formatting"
We should learn to write docstrings that adhere more to standard python documentation and produce useful html documentation.
Here's an example from xarray:
https://github.com/pydata/xarray/blob/master/xarray/core/dataarray.py#L163

Probably we should adopt the PEP 257 standard:
https://www.python.org/dev/peps/pep-0257/

[2017-02-03 22:18] xylar commented on #100
Okay, it looks a little more complicated than I thought initially.  We want to write good docstrings to help us with documentation later, but there's not really a "standard" procedure.  Instead, we'd want to adopt a set of conventions.  Even that doesn't seem super easy to come by.

My guess is we'd want to use sphinx to generate our documentation.  Even then, there's a lot of flexibility.  But I

[2017-02-06 13:33] xylar opened #101 "divide by zero in SSS climatology analysis"
Each time running `ocean/modelvsobs.py` on `'SSS'`, I see:
[code]

I am not sure of this but I suspect there's a divide by zero happening.

I'm testing on a small (G240km) run from the config_reorg branch, but I don't think this issue is specific to a given analysis or a given branch.

It is also not a top priority to fix, just something that makes it look like something might be wrong.

[2017-02-06 14:55] vanroekel commented on #101
@xylar could you point me to your reproducer branch?  I've seen this, but pulling things from dask space to numpy space fixed the issue, in this line here from ocean/modelvsobs.py

https://github.com/MPAS-Dev/MPAS-Analysis/blob/develop/mpas_analysis/ocean/ocean_modelvsobs.py#L155-L157

[code]

So if you have a case I can use, I'll dig into this.

[2017-02-06 14:57] vanroekel commented on #101
@xylar I should also clarify that I haven't seen this error with the bit of code above included in all of my tests and plots, but my branch may have diverged enough from develop to miss this.

[2017-02-06 15:16] xylar commented on #101
Thanks for getting back to me @vanroekel.  I can't reproduce the warning on LANL IC so it may be something related to the newer versions of xarray, dask, etc. that I have on my laptop.

If I ever see it somewhere other than my laptop, I'll reopen this issue but I'll close it for now.

[2017-02-06 15:16] #101 closed

[2017-02-10 16:48] xylar commented on #2
I believe this was addressed in #86.

[2017-02-10 16:48] #2 closed

[2017-02-10 16:51] xylar commented on #9
I think we're now meeting this requirement (depending on your definition of "user friendly").

[2017-02-10 16:51] #9 closed

[2017-02-10 16:55] xylar commented on #99
This has been addressed by #102

[2017-02-10 16:57] xylar commented on #80
This has been addressed by #86

[2017-02-10 16:57] #80 closed

[2017-02-10 17:35] #99 closed

[2017-02-10 17:38] milenaveneziani commented on #12
Do we need this as an issue at this point? We *are* using standardized file format, so it doesn't seem like there is anything to fix to justify this issue open.

[2017-02-10 17:41] pwolfram commented on #12
I think we are ok here.  Note that we really haven't resolved the example datasets issue but do have that tagged in other issues.  I'm closing for now...

[2017-02-10 17:41] #12 closed

[2017-02-10 17:41] pwolfram commented on #10
I would say that we are meeting this objective, at least in some sort of minimal way.  I'll close for now...

[2017-02-10 17:41] #10 closed

[2017-02-10 17:41] pwolfram commented on #14
I'm closing because @xylar's recent PRs have resolved this issue unless I'm mistaken.

[2017-02-10 17:41] #14 closed

[2017-02-10 17:42] milenaveneziani opened #106 "Define obs files for iceConcentration and iceThickness in the config file"
At the moment, the sea-ice concentration and thickness observational files are hard-wired in seaice_modelvsobs. We should transfer them to the config file.

[2017-02-10 18:52] vanroekel commented on #101
@xylar I've been using the analysis repo on anvil (ACME nodes on blues machine at argonne) and have seen the error emerge again.  Comparing the conda environment between anvil and LANL IC, there are new versions of dask and xarray.  So I suspect your hunch is correct, and perhaps we should reopen this.  Although I will say that this doesn't seem to be a serious issue as the plots are still look as

[2017-02-10 20:12] xylar commented on #101
Eh, I'm fine either way.  If you want to track down what's causing this sometime, go ahead and reopen the issue.  If you're fine with getting a seemingly harmless warning, I'm okay with it, too.  Given how much garbage gets dumped to stdout by ncremap, no one is likely to notice...

[2017-02-10 20:27] vanroekel commented on #101
I really don't want to spend time on this if you are fine with it.  I'd say we leave it alone unless someone on the coupled team sees it and is concerned by it.

[2017-02-14 08:05] xylar commented on #106
Addressed by #107

[2017-02-14 08:05] #106 closed

[2017-02-22 15:55] pwolfram opened #113 "Cleanup hard-coded constants"
There are several places where constants are hard-coded in scripts, e.g.,

 * https://github.com/MPAS-Dev/MPAS-Analysis/blob/develop/mpas_analysis/sea_ice/modelvsobs.py#L104
* https://github.com/MPAS-Dev/MPAS-Analysis/blob/develop/mpas_analysis/sea_ice/modelvsobs.py#L179
 * https://github.com/MPAS-Dev/MPAS-Analysis/blob/develop/mpas_analysis/sea_ice/timeseries.py#L180
 * https://github.com/MPAS-De

[2017-02-22 16:01] pwolfram opened #114 "Computation of climatologies via functions"
Climatology calculations, e.g.,

[code]

should be converted into functions for production of monthly climatologies, e.g., at https://github.com/MPAS-Dev/MPAS-Analysis/blob/develop/mpas_analysis/sea_ice/modelvsobs.py#L192

[2017-02-22 16:39] milenaveneziani commented on #28
ACME-Climate/PreAndPostProcessingScripts#24 was fulfilled, so closing this now.

[2017-02-22 16:39] #28 closed

[2017-02-22 23:08] milenaveneziani commented on #69
Issue addressed by #111. Problem will completely go away when we adopt the newer MPAS-Seaice timeSeriesStats am.

[2017-02-22 23:08] #69 closed

[2017-02-22 23:09] milenaveneziani commented on #81
@akturner: this issue was addressed by #111. You may want to retry the analysis with the newer code that does **not** have a year_offset at all.

[2017-02-22 23:09] #81 closed

[2017-02-23 22:03] akturner opened #116 "Config error when running for sea ice standalone."
While attempting to run the sea ice diagnostics for a standalone sea ice script I seem to get a config error that seems to be a missing config entry:

[akt@wf-fe1 MPAS-Analysis]$ run_analysis.py ./configs/lanl/config.20170207.MPAS-SeaIce.QU60km_polar.wolf

Plotting sea-ice area and volume time series...
Reading files /net/scratch2/akt/MPAS/rundirs/rundir_QU60km_polar/analysis_members/timeSeriesSta

[2017-02-23 22:12] akturner commented on #116
I know what the problem is so I'll assign myself to fix it. I can't add labels or assign people I guess because I'm not an maintainer??

[2017-02-23 22:15] milenaveneziani commented on #116
I just added you, @akturner.

[2017-02-23 22:21] xylar commented on #116
Fixed with #115.

[2017-02-23 22:21] xylar commented on #116
@akturner, I've added you as a collaborator.

[2017-02-23 22:22] akturner commented on #116
@thanks!

[2017-02-23 22:22] #116 closed

[2017-02-24 09:51] xylar commented on #58
My solution for task parallelism, see the design document in #112, should also handle this issue.

[2017-02-24 14:01] xylar commented on #94
@pwolfram, I believe it should be sufficient to write out the config object to the log directory. Does that sound like an adequate solution?

[2017-02-24 14:04] pwolfram commented on #94
@xylar, I think that is good for now.  We may want something more complete later but this should do at least in the short term.

[2017-02-24 14:10] xylar commented on #94
@pwolfram, what would be missing with my suggested solution?  The config file stored in the log directory should contain exactly the configuration needed to re-run the analysis.  Would you want to add additional fake config options where provenance is stored or something like that?

[2017-02-24 15:09] pwolfram commented on #94
Do we have the config file output the hash of the version of MPAS-Analysis used?  This is probably something we are missing to meet the full requirement.

More broadly, the config file is intimately tied to source and is a key part of the configuration.  Optimally we could run the "config file" as its own script that uses a particular version of MPAS-Analysis but this is out of scope.

[2017-02-24 15:33] xylar commented on #94
Yes, I think that's right, that the hash tag should be added as a config option for provenance.  But I also don't think config files should become the primary place for storing the full provenance information.  I would think the HTML files (once we are producing them) would be the clearer place to include this information.

I do not think this will be possible without going far beyond the specs of

[2017-02-24 20:28] xylar commented on #22
This is presumably going to require each analysis to have a `purge` function that is aware of which files it generates.  When we implement this, we might as well also add a `check` function that can be used to make sure the required input files are available (observations, current model data and reference model data).

[2017-02-26 12:57] xylar commented on #114
Should be addressed by #117

[2017-02-26 12:57] xylar commented on #113
Should be addressed by #117

[2017-02-26 16:13] xylar opened #118 "Consider separating default and run-specific parts of config files"
There has been a requirement that each run be controlled by a single config file.  I think this is a mistake.  At this point, if we want to change aspects of how individual plots are performed (e.g. changing colormaps, contour values or font sizes), we would have to edit not only `config.template` but also each config file in `configs`.  This is very clumsy.

[2017-02-26 16:13] xylar commented on #118
I think it would be more intuitive if there were a `config.default` in place of `config.template`.  The user would still supply a config file to `./run_analysis.py` but it would first read `config.default` before replacing any entries from the default with those from the supplied config file.  This would greatly simplify both the contents of the machine- and run-specific config files, because they

[2017-02-26 16:13] xylar commented on #118
@milenaveneziani and @pwolfram, what do you think?

[2017-02-27 05:15] vanroekel opened #119 "Cannot use analysis package until first successful restart write"
In conducting short sensitivity experiments with ACME, it was not possible to use the analysis software as is, since it depends on a valid restart file.  In ACME the file is not written until the end of the first queue submission.  The dependence on a restart file is too strict.  My hack-fix of this issue is to change the restart to and output file, but this is not sufficient.  It seems like the b

[2017-02-27 07:10] milenaveneziani commented on #119
@vanroekel: since we are moving away from writing mesh information from output files, I am not sure it makes sense to add that option. It would work for now, but not for the hist.am.timeSeriesStats files for example: only for the instantaneous history files.

[2017-02-27 07:14] xylar commented on #119
@vanroekel, I think an output file will not always (or even by default) contain the information we will need for analysis.  As @milenaveneziani says, these files may not even contain the mesh by default in the future.  For now, they don't contain `refBottomDepth`, which is needed by OHC.

I think what we would need to do is check for a restart file and then, if none is found, check both the mesh a

[2017-02-27 07:26] xylar opened #120 "OHC computation should use zMid or similar rather than refBottomDepth"
Looking at the OHC code to try to figure out how `refBottomDepth` is being used, I was reminded that there is an assumption of a z-level grid in that code.  As soon as we include ice shelf cavities (or other more exhotic vertical coordinates), `refBottomDepth` is no longer a good predictor of the depth of a given layer.

We should consider using the time-averaged zMid instead.  This would require

[2017-02-27 20:55] vanroekel commented on #119
@xylar and @milenaveneziani Thanks for the explanation.  I certainly see my solution is not a good fix.  In fact using the output file only worked for the horizontal climatology plots.  If there is a standard mesh assigned for each case in the input-data directory, could this be utilized in place of the restart file?  The one thing I think missing there is the simulationStartTime (also missing fro

[2017-02-27 21:48] milenaveneziani commented on #119
@vanroekel: yes, using the mesh file was our original solution to this, but since we often run the analysis on simulation data that is transferred from the machine where the simulation was originally run, we started running into the problem that the mesh file was not readily available at all in those cases.
But I think we can put it back, have it as a first option, and then fall onto the restart f

[2017-02-27 21:48] milenaveneziani commented on #120
good catch, @xylar!

[2017-02-27 21:57] xylar commented on #119
Yes, I agree that's a potential problem.  In certain circumstances, `simulationStartTime` is available in the namelist file.  But that's fragile enough to be a backup option at best.

What it comes back to is that there is no one reliable place to get the information we need besides a restart file.

@vanroekel, is there something preventing you from writing out a restart file at the same time as y

[2017-02-27 22:09] vanroekel commented on #119
@milenaveneziani , my recollection on the IC not having simulationStartTime was not correct.  I looked through the v3 files in the input data directory for the ocean and the variable is there.

@xylar I could certainly do that, but if I did I would have to write restarts for all output files correct?  I'm not sure how else I could write one restart with the first output, but continue for more mont

[2017-02-27 22:12] milenaveneziani commented on #119
If I remember correctly, simulationStartTime is present if the IC is from a spinup case, but it is not there if we are starting from climatology.

[2017-02-27 22:17] vanroekel commented on #119
are there any cases where we start from pure climatology?  I think every IC I'm aware of has a stand-alone MPAS-spinup and the variable should be there.

[2017-02-27 22:23] xylar commented on #119
Yes, and there's no guarantee that the `simulationStartTime` in the spinup is the same as the one in the main simulation.

Eventually, we want to be able to use this for test cases that aren't ACME, global runs.  These will definitely not have `simulationStartTime` in their initial conditions.

[2017-02-27 22:27] xylar commented on #119
I don't think I quite understand your use case.  It sounds like you're wanting to use the analysis to check your first set of results while the simulation is running, but well before you've written out your first restart file, is that right?

[2017-02-27 22:36] vanroekel commented on #119
You are right.  For the G-case test, I submit a 5 year (from the initial condition, no restarts available) and want to check the simulation during that 5 year period prior to the first restart.  As you suggest, I could write restarts more frequently, but don't want to go to writing one per month.

[2017-02-28 07:12] xylar commented on #119
@vanroekel, okay, good to know.  I think that's definitely a use case we want to support.  We will undoubtedly also run into these kinds of cases, particularly when we start using idealized test cases.

[2017-02-28 20:55] xylar commented on #114
Closed via #117

[2017-02-28 20:55] #114 closed

[2017-02-28 20:55] xylar commented on #113
Closed via #117

[2017-02-28 20:55] #113 closed

[2017-02-28 21:13] xylar opened #122 "seaice_timeseries.replicate_cycles is producing a plot that is too long"
My recent changes to `replicate_cycles` in #111 is producing some strange results.  The time variable of `dsShift` should be clipped to be as close as possible to the same as that of `ds`.

[2017-02-28 21:17] xylar commented on #122
GitHub won't let me upload a picture right now.  I'll try again later...

[2017-02-28 21:18] milenaveneziani commented on #122
do you understand why we didn't see this in our tests?

[2017-02-28 22:45] xylar commented on #122
![iceareacell](https://cloud.githubusercontent.com/assets/4179064/23437836/ea0dfc4c-fe0f-11e6-9142-4a00adecffa4.png)

[2017-02-28 22:45] xylar commented on #122
There's the picture.

Hmm, I guess I must have just been careless because this plot is right out of my output from #111.  Sorry about that.  But it should be quite easy to fix.

[2017-02-28 23:22] milenaveneziani commented on #122
well, I did not get that in my test. I wonder if it has to do with the adjustment you made when I said that I was seeing one less cycle. Mine looked good after you made the change, but for some reason  this one does not.

[2017-02-28 23:25] xylar commented on #122
Right, I think that's exactly what happened.  But it makes sense to have as much as 1 cycle too many like here and then just crop off the last bit to best match the end time of the `ds`.  I think that will be an easy fix when I get around to it.

[2017-02-28 23:31] milenaveneziani commented on #122
agreed.

[2017-03-03 19:03] mark-petersen opened #125 "anvil error in open_multifile_dataset"
On anvil, ./run_analysis.py always ends with:
[code]
We are not able to run MPAS-Analysis on anvil at this time.

[2017-03-03 19:05] mark-petersen commented on #125
@vanroekel was getting this same error message.  Here it is in full:
[code]

[2017-03-03 19:07] mark-petersen commented on #125
@milenaveneziani worked on this with me.  We thought it might be a recent commit, so we tried these three versions, from Mar 1, Feb 16 and Feb 9.  All produce exactly the same error:
[code]

[2017-03-03 19:11] mark-petersen commented on #125
We also tried updating and changing some packages in python on anvil.  I installed my own python and compared with the packages on wolf.

I installed the packages recommended here:
https://acme-climate.atlassian.net/wiki/display/OCNICE/Anaconda+Python+2.7+on+LANL+HPC%2C+ALCF%2C+OLCF%2C+LLNL+AIMS%2C+and+NERSC
i.e., these:
[code]
We tried adding these two:
[code]
but always get the same error.

[2017-03-03 20:53] milenaveneziani commented on #125
@mark-petersen, @pwolfram and I found what caused this problem (pinging @vanroekel as well): since write_at_restart for `timeSeriesStats` was `on` for the particular run that we were trying to analyze on anvil, some of the January files had two time steps instead of 1. The analysis expects 1 monthly record for each monthly file, so it broke. The solution is to change back `write_at_restart=.false.

[2017-03-06 11:18] xylar commented on #119
@milenaveneziani and @vanroekel, I think it should be possible to fall back on reading mesh fields from the mesh file if no restart file exists, and reading the simulation start time from `config_start_time`, which should contain the same thing as `simulationStartTime` in this case.  (`config_start_time = 'file'` if we're doing a restart, but then we would have a restart file.)  We will still like

[2017-03-06 11:19] xylar commented on #125
My understanding is that this turns out not to be an issue with MPAS-Analysis.  If that is correct, can we close the issue?

[2017-03-06 14:03] mark-petersen opened #126 "Monthly files with more than one time entry die with unhelpful error"
If the Monthly time-averaged files have more than one time entry, MPAS-Analysis dies with:
[code]
because it tries to parse the string '' into integer date and time values.  Right now, MPAS-Analysis is expecting one time field per file, so it would be helpful to check that and write a helpful error message.  This issue is a clarification of #125

[2017-03-06 14:07] mark-petersen commented on #125
This error is unrelated to Anvil.  We had set
[code]
The result is that, on every restart, the first `mpaso.hist.am.timeSeriesStatsMonthly.*.nc` file has one entry of 45 minute duration, and a second for the rest of the month.  I think this is because of the coupling lag.

I am closing this issue and writing a more specific issue #126 to ask for better error handling here.

[2017-03-06 14:07] #125 closed

[2017-03-06 14:10] mark-petersen commented on #126
In the forward model, if you set MPAS-O flag to
[code]
The result is that, on every restart, the first `mpaso.hist.am.timeSeriesStatsMonthly.*.nc` file has one entry of 45 minute duration, and a second for the rest of the month.  I think this is because of the coupling lag.  That first entry should not be used, so this is a configuration error.

One solution is for MPAS-Analysis to check if there

[2017-03-06 14:24] xylar commented on #126
Thanks @mark-petersen.  I think this is a bug, since there should be no requirement in MPAS-Analysis (specifically `mpas_xarray`) that there be one time entry per file.

I don't believe I have access to anvil.  Would it be possible to put one of the `mpaso.hist.am.timeSeriesStatsMonthly.*.nc` files that caused the crash somewhere on LANL IC so I can use it do debug a solution?

[2017-03-06 14:29] mark-petersen commented on #126
I copied it over to edison here.  Note that there are two sizes, indicating where the restarts took place.  I also copied over a restart, input and streams files.  If you run MPAS-Analysis from `develop` on years 1-3 you will get the error.
[code]

[2017-03-06 14:31] xylar commented on #126
@mark-petersen, thanks, that's great.  I'll give it a look as soon as I can.

[2017-03-06 16:04] milenaveneziani commented on #126
@mark-petersen: I have talked about this briefly with @pwolfram and @xylar, and I was of the idea that this is really a bug in the way that ACME files were generated. After all, we expect to have one single time step in single monthly files: it seems to me that adding too many error checks will soon make the scripts too cumbersome.
My 2 c.

[2017-03-06 16:16] vanroekel commented on #126
I agree with @milenaveneziani.  My preference is that  ``` config_am_timeseriesstatsmonthly_write_on_startup = .true. ``` be set to false by default as a PR to the main MPAS repo.  I find myself switching all the write_on_startup flags to false in practice anyway.

[2017-03-06 16:31] mark-petersen commented on #126
I agree with that, and I am planning to make a PR today to change that configuration flag.  Still, I hate to have an unsuspecting MPAS-Analysis user get a meaningless error that causes frustration.  Perhaps we should check that a date string contains more than one character before we try to parse it into integer pieces.  If the date string is '' then we could error out on a message like
[code]

[2017-03-06 16:41] xylar commented on #126
@milenaveneziani and @vanroekel, regardless of that fix, there's a problem with `mpas_xarray` assuming that there is one time entry per file.  This may be appropriate for the very specific case of monthly output in monthly files from ACME but is not appropriate for other runs, where someone could very well wish to store monthly output in yearly files (or any other conceivable combination of output

[2017-03-09 16:16] milenaveneziani commented on #122
Addressed by #132.

[2017-03-09 16:16] #122 closed

[2017-03-09 21:18] xylar commented on #118
Addressed by #130

[2017-03-09 21:18] #118 closed

[2017-03-10 10:08] xylar opened #133 "Break analysis tasks into smaller subtasks"
Once parallel tasks have been merged #129, it will make sense to divide various analysis tasks into smaller subtasks that can (optionally) be run in parallel.  These would include:
  1. separating concentration and thickness analysis in `seaice_modelvsobs`, similarly to how `ocean_modelvsobs` handles SST, SSS and MLD.
  2. optionally, running `modelvsobs` tasks separately for different seasonal cl

[2017-03-10 16:30] xylar commented on #133
On further thought, Option 2 above might not actually save much time if most of the time goes into computing the monthly climatologies rather than computing seasonal climatologies from monthly climatologies and plotting them.  This should be tested before too much work goes into supporting more generalized subtasks.

[2017-03-13 04:29] vanroekel opened #134 "MPAS-Analysis does not run on OLCF"
Following the switch to ncremap, MPAS-Analysis does not work on OLCF.  @pwolfram's conda install does not have esmf installed preventing any regrinding from working.

Also, the MPAS-Analysis config file for OLCF is broken.  It is missing ```mappingSubdirectory```.  I will fix and make a small PR.

[2017-03-13 05:51] milenaveneziani commented on #134
Thanks for reporting this, @vanroekel. Indeed we need to update the conda packages on OLCF, NERSC and aims. I can do aims. @pwolfram, @xylar: could you please take care of the other two? Our LANL package is set. thanks.

[2017-03-13 07:09] xylar commented on #134
@milenaveneziani and @pwolfram, I am taking care of edison right now and will check on cori shortly after.

Here are the commands:
[code]
Note the `fasteners` package is not needed now but will be required for parallel tasks.

[2017-03-13 08:16] xylar commented on #134
One more note, after the upgrade of `xarray`, it is possible that the current version of `MPAS-Analysis` in `ACMEPreAndPostProcessingScripts` will no longer work.  @milenaveneziani, can you test this?  If not, we will need to put together a patch quickly!

[2017-03-13 13:44] xylar commented on #134
@milenaveneziani, I don't have an OLCF account, so either @pwolfram or @vanroekel will need to do this (depending on who set up the original anaconda installation and who has permission to update it).

[2017-03-13 13:47] vanroekel commented on #134
@xylar, @milenaveneziani, I tried, but don't have write permission, so @pwolfram will have to update.

[2017-03-13 15:40] milenaveneziani commented on #134
@xylar: that is a good point. I just tested `ACMEPreAndPostProcessing` now and indeed I got this error:
[code]
which resembles the restart problem we were seeing before, but I made sure to exclude year 1 from the time series because I knew that the very first file was corrupted (0001-01-01). So, do you think this is due to the newer xarray?

Besides this, people will still have problems running th

[2017-03-13 15:58] vanroekel commented on #134
@xylar and @milenaveneziani I was able to get OLCF working again with my own conda install.  I've also fixed the titan config file (see #135).  @milenaveneziani, do you expect a need for remapping files for the EC6030v3?  I've run the mpas-analysis on v3 with no apparent issues.  Is this because develop hasn't been pulled to the ACME side?

Example output for 18to6v3 below (this output is year 4 o

[2017-03-13 16:05] milenaveneziani commented on #134
@vanroekel: yes, it's because develop hasn't been pulled in ACME analysis yet (it's not that immediate, especially now that we have advanced MPAS-Analysis quite a bit with respect to master).
But I am thinking/seeing two things:
1) if I run MPAS-Analysis on beta1, I can create a mapping file for v3, so that will solve this problem;
2) I just tried to do just that, but I am getting the same error a

[2017-03-13 16:14] xylar commented on #134
@milenaveneziani, could you post a separate issue with the problems you're having with `ACMEPreAndPostProcessingScripts` on Edison?  I think the issue should be here, rather than in that repo.  Then, we can discuss that issue in that issue.

[2017-03-13 16:15] milenaveneziani commented on #134
I know what is the cause of 2.: the OHC relies on the first year of data. So I will have to skip that for the time being (or have it compute the anomaly wrt the second year of beta1, just for today..).

[2017-03-13 16:30] xylar commented on #134
@milenaveneziani, glad you figured out the error.  I'm almost completely sure it's caused by the same issue we saw before (#126) where there is more than one xtime in at least one file.

[2017-03-13 16:40] milenaveneziani commented on #134
@xylar: indeed. I turned off the OHC trend calculation in ACMEPreAndPostProcessing, and things worked: so at least we are sure that the new conda environment does not break it. Phew.
Just for today's coupled telecon, I computed OHC starting from year 2, and things seemed to have worked.
We'll still have the problem of the sea-ice climos in ACME-Analysis, before I pull in MPAS-Analysis into ACMEPre

[2017-03-13 16:57] pwolfram commented on #134
@xylar, I've updated the OLCF conda installation as requested.

[2017-03-13 17:40] milenaveneziani opened #136 "Missing xticks in timeseries plots"
All xticks are missing in the newer timeseries plots. It does not seem like something we changed recently, so I am not sure why we are seeing this now.
Here is an example from the latest ACME coupled beta1 run:

![iceareacellnh_20170302 beta1 a_wcycl1850s ne30_oec_icg edison_b1850c5_ne30_v0 4](https://cloud.githubusercontent.com/assets/8237579/23867549/d9455e24-07e1-11e7-8c27-7e4b3426d994.png)

[2017-03-13 17:47] xylar commented on #134
@pwolfram, great, thanks!

[2017-03-13 17:50] milenaveneziani commented on #134
And I have updated on aims, so I think we can close this issue?

[2017-03-13 17:51] xylar commented on #136
@milenaveneziani, when I changed the time variable used in xarray data sets, it was no longer possible to use `pandas` directly to plot time series.  I updated the way the time axis was computed.  I assume this is behaving strangely in specific circumstances that my tests didn't expose.

The relevant line is likely somewhere near this one:
https://github.com/MPAS-Dev/MPAS-Analysis/blob/develop/mpa

[2017-03-13 17:51] xylar commented on #136
@milenaveneziani, this issue would be easier to address if you could point me to the config file that produced this output.

[2017-03-13 17:56] xylar commented on #136
Was this produced with MPAS-Analysis on its own or as part of ACME diagnostics?  I guess what I'm really asking is, is this from develop or from master?

[2017-03-13 17:57] vanroekel commented on #134
I think so., one request.  The Readme for mpas-analysis is out of date.  Can we add a reference that  baseman is needed and include @xylar 's instructions for installing esmf? i.e.,
[code]
This would be useful for those (like myself) who prefer to setup their own environment.

[2017-03-13 18:00] milenaveneziani commented on #136
This is from develop.
The config file I used is this, on edison:
`~milena/MPAS-git-repositories/MPAS-Analysis-fortesting/config.20170302.beta1.A_WCYCL1850S.ne30_oEC_ICG.edison`

[2017-03-13 18:05] xylar commented on #136
Thanks @milenaveneziani.  Could you update the permissions so I can read that file?

[2017-03-13 18:08] milenaveneziani commented on #136
I did a test commeting out the line with `fig.autofmt_xdate()` and the ticks came back (yearly major ticks and monthly minor ticks, as it should be).
And permissions should be fixed now.

[2017-03-13 18:10] xylar commented on #134
I have just such a change to the readme as part of one of my 2 pending PRs (I can't remember which, but probably #129).  I think the `conda update --all` is not necessary to include.  That's like telling people to keep their software up to date.  Your digital hygiene is, at some level, your own business...

[2017-03-13 18:14] vanroekel commented on #134
Fair enough about update --all, got carried away on the copy paste!  I just want to make sure ESMF was included.  The error that results when this is not installed is not clear that it is a missing package.  It looks like your PR will definitely address this issue.

[2017-03-13 18:15] xylar commented on #136
Okay, I would say removing `fig.autofmt_xdate()` isn't a great fix to the problem but it's a helpful step forward.  My guess is that it decided to get rid of ticks entirely when dates started overlapping, rather than getting rid of *some* dates, which is what it should do.  Anyway, maybe we can do some more thorough testing with time series of different lengths and figure out what works best.

[2017-03-13 18:28] xylar commented on #134
@vanroekel, that's kind of a tough one.  Could you submit an issue about missing ESMF specifically?  Future anaconda installations shouldn't run into that issue but current ones with older versions of NCO won't include ESMF.  What we should be doing is making sure ESMF_RegridWeightGen exists in the path and warn the user if it's not present.  That's not super easy but would be helpful to a user.

[2017-03-13 19:41] milenaveneziani commented on #136
@xylar: I did some testing while doing other things, and it seems that setting an angle for the ticklabels solves the issue. So, with `fig.autofmt_xdate(rotation=30)`, I get the following:

![iceareacellnh_20170302 beta1 a_wcycl1850s ne30_oec_icg edison_b1850c5_ne30_v0 4](https://cloud.githubusercontent.com/assets/8237579/23872109/a2204038-07f2-11e7-9ed6-9b24a3b1bf9f.png)

[2017-03-13 19:49] xylar commented on #136
@milenaveneziani, I don't think that's why this works.  I think it works fine with a shorter time series but as soon as you have a long time series and the dates start to overlap, it doesn't get rid of *some* of them as you would expect, it gets rid of the entire tick axis.

I'm playing around with some other solutions.  I'll keep you posted.

[2017-03-13 19:59] xylar commented on #136
@milenaveneziani, reading more on `plot_date`, I realize something I should have already realized: it assumes a Gregorian calendar, not the MPAS calendar.  We may have to do the tick marks ourselves rather than using plot_date.

This suggests that a proper solution to the date ticks may require me to invest a little time in this issue when I can.

[2017-03-13 20:06] milenaveneziani commented on #136
oh great..
Glad that you found this. Since this will likely, and understandably, be a very low priority for you, should we look into a temporary solution? I could try a longer time series with the rotation on, for example.

[2017-03-13 20:42] xylar commented on #136
Eh, it *should* be a low priority for me but the reality is that I'm working on it right now and I'll try to make it a higher priority ;-)

[2017-03-13 22:44] xylar commented on #136
@milenaveneziani, okay, I have a solution.  It needs some cleaning up, which I will do tomorrow.

For now, how do you want the dates to be formatted at the bottom.  See this example:

![sst](https://cloud.githubusercontent.com/assets/4179064/23878289/d14a7924-0846-11e7-872f-7d02a0dcbc12.png)

I could do basically anything you want.  I think it used to be something like Jan-0001 but I don't recall

[2017-03-13 22:55] xylar commented on #136
An updated figure with the format from before:
![sst](https://cloud.githubusercontent.com/assets/4179064/23878582/7bf3a4d0-0848-11e7-9e1d-f06bc8c5a98a.png)

[2017-03-13 23:25] milenaveneziani commented on #136
that's great @xylar. Thanks.
The first option seems cleaner, don't you think?

[2017-03-14 07:25] xylar commented on #136
@milenaveneziani, given that I have to handle them differently anyway, I'm thinking of including the month in the ticks only if they don't occur only at year bounds.  So when the time axis is short, several months from the same year might be included in which case the month would be included. But for longer time axes where only year boundaries are shown, there is no need to include the month.

[2017-03-14 07:34] xylar commented on #136
Here are 2 examples showing the behavior:

![sst](https://cloud.githubusercontent.com/assets/4179064/23890201/fd49cdf0-0890-11e7-941c-bca9ebb65414.png)
![sst](https://cloud.githubusercontent.com/assets/4179064/23890218/0b36b00e-0891-11e7-92f4-de03715ceef7.png)

[2017-03-14 08:39] xylar commented on #134
@vanroekel, this shouldn't be too hard to add, using the utility `distutils.spawn.find_executable` (or something similar):
http://epydoc.sourceforge.net/stdlib/distutils.spawn-module.html#find_executable

It would be good to check for both `ESMF_RegridWeightGen` and `ncremap` at the beginning of their respective calls in interpolate, and bail if it's not there.  I'll add that now.

[2017-03-14 12:53] xylar commented on #134
@milenaveneziani and @vanroekel, so I ran the latest `ACME/PreAndPostProcessingScripts` on edison and I am, indeed, seeing the same errors in the MLD analysis that we saw in `MPAS-Analysis` when we upgraded to `xarray/0.9.1`:
[code]
This means that diagnostics are currently broken on Edison (and presumably elsewhere where xarray has been updated) and should be fixed sooner rather than later.

[2017-03-14 12:55] xylar commented on #134
I think we shouldn't do any further merges, but should instead focus on merging what we currently have to `master` and updating ACME to work with it.

[2017-03-14 15:06] milenaveneziani commented on #134
Interesting that I didn't get this error yesterday.
Can we downgrade xarray in the main conda packages, so that we can run MPAS-Analysis with our own environments?
I am wary of doing a merge to ACME master now. I am focused on the MOC and would really like to get it done this week. Updating the MPAS submodule would be a major distraction right now, and it may take a while anyway, so we may have to

[2017-03-14 15:07] milenaveneziani commented on #134
Also, quick question: do we *need* the upgraded xarray, or is it that we just need nco/esmf?

[2017-03-14 15:21] xylar commented on #134
I don't know how to downgrade xarray.  Once there's a new version, older versions are generally not kept in the conda channels.  Maybe @pwolfram has some advice here.  I don't even really know how to find out what previous versions are available.

Yes, we needed to update nco to get esmf.  I wanted to update the repo generally in that process.

I have a branch where I tested updating MPAS-Analysis

[2017-03-14 15:24] xylar commented on #134
@milenaveneziani, I figured out the downgrading of xarray.  I'll try various versions.

[2017-03-14 15:24] xylar commented on #134
We may have to do the same on aims and at oak ridge.

[2017-03-14 15:31] milenaveneziani commented on #134
I can certainly take care of aims.
thanks for looking into this.

That's great that you already have a branch for updating ACME analysis.

[2017-03-14 15:31] xylar commented on #134
Okay, I downgraded to xarray 0.8.2:
[code]
and it seems to work again.  I'll do the same on cori.  @milenaveneziani, can you do this on aims and @pwolfram on OLCF?

[2017-03-14 15:32] vanroekel commented on #134
@xylar and @milenaveneziani I have run two separate cases on Anvil and Titan through MPAS analysis (develop) and have no issues with MLD analysis.  My conda environment on both machines has xarray 0.9.1  Is this error an edison specific issue?

[2017-03-14 15:34] xylar commented on #134
@vanroekel, the issue is with the version of `MPAS-Analysis` used by `PreAndPostProcessingScripts`, not with `develop`.  I assume you're running from `develop`?

[2017-03-14 15:35] vanroekel commented on #134
I see.  yes I am running with develop.

[2017-03-14 15:36] xylar commented on #134
@milenaveneziani, I think my branch will still be very useful for next week or whenever we're actually ready to update `PreAndPostProcessingScripts`.

[2017-03-14 15:51] milenaveneziani commented on #134
downgraded xarray on aims.
Once we are done, let's leave this issue open, so we'll be sure to remember to re-upgrade..

[2017-03-14 17:24] vanroekel commented on #134
@xylar and @milenaveneziani, given #135 and #138, I think this issue is fully addressed.  Any objections to closing?

[2017-03-14 17:29] milenaveneziani commented on #134
@xylar: I was thinking to keep it open so that we can remember to re-upgrade xarray after develop has been pulled in into ACME. But if you have a better memory than mine, we can close it :)

[2017-03-14 17:45] xylar commented on #134
@milenaveneziani, I think we can close it.  I won't forget.  In general, we should try to keep our conda repos updated because then they will tend to stay more similar to one another.

[2017-03-14 18:15] #134 closed

[2017-03-15 19:49] pwolfram opened #140 "Config file in wrong place?"
Shouldn't this file be in the edison folder?

https://github.com/MPAS-Dev/MPAS-Analysis/blob/develop/configs/lanl/config.20161117.beta0.A_WCYCL1850S.ne30_oEC_ICG.edison

I can fix this if this is the case...

[2017-03-15 19:49] pwolfram commented on #140
cc @milenaveneziani, am I missing something in particular here?  I think I should move this file to the configs/edison folder, right?

[2017-03-15 19:52] xylar commented on #140
Nope, it's the config file for analyzing an Edison run that has been copied over the LANL.  The folders are those on LANL IC.  The file name is the official name of the run, including the machine it was run on (not the one where it is being analyzed).

[2017-03-15 19:54] pwolfram commented on #140
Awesome, thanks for clarifying!

[2017-03-15 19:54] #140 closed

[2017-03-15 19:54] pwolfram commented on #136
Can we close this issue now?

[2017-03-15 19:56] xylar commented on #136
Fixed in #137

[2017-03-15 19:56] #136 closed

[2017-03-15 19:57] milenaveneziani commented on #136
yep

[2017-03-15 19:57] pwolfram commented on #136
Thanks!

[2017-03-16 20:25] pwolfram commented on #22
This should be addressable via an approach like in #127, e.g., we should consider defining a `purge` method for the class that will facilitate this functionality.

[2017-03-16 20:26] pwolfram commented on #58
This should be addressable via improvements proposed in #127, correct @xylar?

[2017-03-16 20:27] pwolfram commented on #58
On second thought we may need something else but it may be worthwhile building this functionality into the task base while we are thinking about what constitutes a particular "analysis".

[2017-03-16 20:40] pwolfram opened #142 "Simplify ncremap output?"
Currently, ncremap produces a ton of output each operation, e.g.,

[code]

Would it be best to simplify this output and only return the complete set of output if an error occurs?  I would argue that we don't need all this output for standard analysis runs.

[2017-03-16 20:44] xylar commented on #142
@pwolfram, we've already had a lengthy discussion about this while you were away in proposal land ;-) :
https://github.com/MPAS-Dev/MPAS-Analysis/pull/124#issuecomment-283455450

[2017-03-16 20:46] pwolfram commented on #142
Ok, sounds good.  Thanks @xylar.  I think this is something we will want to deal with long-term but following that thread it doesn't appear to be a short-term issue.  I recommend we leave this issue open for now.

[2017-03-16 20:47] xylar commented on #142
I think we want to wait for a future version of nco that allows us to suppress some of this verbose output and live with it in the meantime.  I'm concerned that relevant warnings that aren't full-blown errors would be missed if I bury the output entirely for error-free runs.

[2017-03-16 20:48] xylar commented on #142
By all means leave this issue here until we get around to updating nco to an appropriate version and setting the needed flags.

[2017-03-16 21:45] xylar commented on #58
#127 / #128 don't address this directly but the `setup_and_check` function is intended precisely to address this issue.  Together with some checks that @milenaveneziani has put into #139, I think this should be able to be addressed.

[2017-03-20 15:12] milenaveneziani opened #143 "Support ACME short-term archiving"
When ACME short-term archiving will be turned on, the history files will be stored in component-specific archive directories. In particular, if `$rundir` is the root run directory, the files we will need for MPAS-Analysis to work will be archived in the following subdirectories:
1) `$rundir/ocn/hist` will contain *all* mpaso.hist files
2) `$rundir/ice/hist` will contain *all* mpascice.hist files (

[2017-03-20 15:42] xylar commented on #143
@milenaveneziani, I think the solution is fairly simple here.  Under `[input]`, we need change `baseDirectory` to be one directory down from where it is in all the example config files and we need to add something like`runSubdirectory`, `oceanHistorySubdirectory` and `seaIceHistoryDirectory`.  I'm not attached to these names.  Then, we probably want to have them all default to `run` but in `ACME/P

[2017-03-20 15:52] milenaveneziani commented on #143
yes, I agree something simple should work. I will try to implement this option within the next submodule update.

[2017-03-20 16:22] xylar commented on #143
I should note that #128 would make this quite a bit simpler because it puts quite a bit of common code in the base class that all analysis tasks derive from.  The `setup_and_check` method would be the place where these changes would go:
https://github.com/MPAS-Dev/MPAS-Analysis/pull/128/files#diff-f4c01dd9c50e825c99d4d138d9001e07R62

If we make this change before merging #128, there will be quite

[2017-03-20 16:29] vanroekel opened #144 "MOC computation reads same climatology for separate test cases"
On anvil I was comparing the MOC from two different G-cases.  After the first test case computed and wrote the files similar to mocTimeSeries_year0002.nc, I changed the name and run directory to the second case and the second case read the same mocTimeSeries files.  I don't think this is the correct behavior and these files should have some sort of unique label or folder corresponding to the run n

[2017-03-20 16:32] vanroekel opened #145 "MOC analysis corrupts mask file on anvil"
After each time I run the MOC analysis on anvil for an EC6030v3 test the mask file becomes corrupted.  For example, I can successfully run the analysis and then if I run again (changing nothing), I get the following error
[code]

If I copy a fresh file into the location of the corrupted file, the analysis works fine again.

Has this been seen elsewhere?  My directory is
[code]
and I am using confi

[2017-03-20 16:41] milenaveneziani commented on #144
@vanroekel: did you also change the basedirectory for your analysis output?
The output files are stored in analysis_directory/timeseries, and, similarly to other filenames, they don't have the runname information in their names.

[2017-03-20 16:43] vanroekel commented on #144
No I did not.  I wasn't aware this was required.  It was not previously.

[2017-03-20 16:48] milenaveneziani commented on #144
I guess we need to decide how we want to handle this, now that we are saving analysis information to file. We talked about this with @xylar at one point.
One option could be to include the runname in the output files, of course.

[2017-03-20 16:52] milenaveneziani commented on #145
Interesting, thanks for reporting this. We haven't had this happening on edison and lanl, where we tested the MOC script.
And if you have the script print the corrupted filename, and then you try to ncdump it from your prompt, what kind of error message do you get?

[2017-03-20 16:52] vanroekel commented on #144
What about appending mainRunName to baseDirectory in run_analysis.py such that baseDirectory = baseDirectory + '/' + mainRunName?  Seems like a relatively quick fix to this issue.

[2017-03-20 16:54] xylar commented on #144
@vanroekel, I definitely think the expected usage is to run with a new output directory each time you run the analysis unless you are re-analyzing the same run.

[2017-03-20 16:56] xylar commented on #144
Clearly, we need to document this better in both the readme and config.default. It would be great if someone could make a PR with a suggested change​.

[2017-03-20 17:02] xylar commented on #144
@vanroekel, I really would prefer not to have something appended because I organize my output first by run, then by what branch I'm testing.

I haven't played with it but it should be possible for *you* to include a reference to the config option mainRunName in your definition of the base directory name within your customized config file. I will look into how to do that.

[2017-03-20 17:03] vanroekel commented on #144
Okay, fair enough.  Thanks for looking into the change.

On Mon, Mar 20, 2017 at 11:02 AM, Xylar Asay-Davis <notifications@github.com

[2017-03-20 17:10] vanroekel commented on #145
Odd, when I do an ncdump, it says file does not exist.  The file size is 0 bytes.

[2017-03-20 17:21] vanroekel commented on #144
@xylar it looks like the most straightforward implementation of what you mention above is introduced in python 3.2.  For python 2, I had to do this

[code]

I'm not sure that this is a good change as I'm not sure if it functions with ACME interfaces this way.  If you find something better, let me know.  For now I will use this as a personal config file.

[2017-03-20 17:21] xylar commented on #144
So to follow up, there is a syntax for referencing config options in the same section:
[code]
In python 3.2 and above, there is a much more sophisticated syntax that would allow us to reference options in other sections.  Obviously, for now we are using 2.7.

[2017-03-20 17:22] vanroekel commented on #144
You beat me to the comment by a few seconds.  I found the same issue.

[2017-03-20 17:22] xylar commented on #144
Yeah, I don't think using DEFAULT is a good solution for us.

[2017-03-20 17:23] xylar commented on #144
@vanroekel, I think your best bet might be a mini script that modifies the config file using mainRunName wherever you want it before running...

[2017-03-20 17:26] vanroekel commented on #144
@xylar good idea.  I will do that.  As for making the need to change baseDirectory in [output], should we just modify [output] to say something like

[output]
## options related to writing out plots, intermediate cached data sets, logs,
## etc.

# directory where analysis should be written
# NOTE: This directory path must be specific to each test case.

[2017-03-20 17:30] xylar commented on #145
That's weird! Could you check if the analysis doesn't think the file exists? Even if so, I don't understand why it wouldn't simply be overwritten successful (which we definitely don't want to do!)

[2017-03-20 17:31] milenaveneziani commented on #145
The file is not created within the MOC script, it is simply read in. This would be a file that you had to move to a directory on anvil, right @vanroekel?

[2017-03-20 17:31] xylar commented on #145
Ah, a mask file, not a mapping file.Ignore what I said.

[2017-03-20 17:32] vanroekel commented on #145
Yes correct, it is Mark's EC6030v3 region mask file.  when I do ncdump -h on it, I get "file does not exist"  It is very weird.

[2017-03-20 17:33] milenaveneziani commented on #145
And you can 'ls' it? Is it possible this has to do with netcdf versions?

[2017-03-20 17:35] vanroekel commented on #145
Yes, ls -l yields
[code]

Note that the size is zero.

[2017-03-20 17:36] milenaveneziani commented on #144
Sounds good, @vanroekel. How about also modifying point 2. in README?
thanks.

[2017-03-20 17:38] milenaveneziani commented on #145
could you copy it again and see if you can reproduce this issue?

[2017-03-20 17:39] vanroekel commented on #145
I have reproduced this error multiple times on anvil.

[2017-03-20 17:54] milenaveneziani commented on #145
that's really weird. The analysis only reads from it.. And you don't have the same problem for other files, like mocTimeseries and moc climatologies?

[2017-03-20 17:55] milenaveneziani commented on #145
I guess you never get to that part..

[2017-03-20 18:03] xylar commented on #145
@vanroekel, could you add artificial breaks (e.g. just put in `exit()` in various places) in the code to figure out where the file gets corrupted?  Is it somehow getting mangled by line 228, even though mode is *clearly* read?

[2017-03-20 18:24] vanroekel commented on #145
@xylar and @milenaveneziani problem solved.  The system default netcdf library was being loaded and conflicted with the python dataset/netcdf4 module.  This seems like an environment issue and not MPAS-Analysis, so I will close this issue

[2017-03-20 19:22] milenaveneziani commented on #145
This is something good to know though, so that we can give specific instructions to the user. @vanroekel: could you please summarize briefly what you had to do to set the system right?
We can update the README while taking care of #144

[2017-03-20 19:25] xylar commented on #145
@milenaveneziani, this sounds too specific to Anvil to put in the README.md.  Presumably it's a matter of unloading specific netcdf4 modules.

[2017-03-20 19:41] milenaveneziani commented on #145
Isn't it possible though that we might have the same problem somewhere else; we just didn't run into it because of how our own environments are setup?

[2017-03-20 19:57] xylar commented on #145
Hmm, well I guess we could add something to the readme if it would affect a substantial number of users of MPAS-Analysis.  But for now I think it sounds very specific to one machine.  I have run into problems with conflicting NetCDF libraries on NERSC machines.  But these issues really have very little to do with MPAS-Analysis and more to do with how you use NetCDF on HPC machines.  I guess I just

[2017-03-22 16:34] xylar opened #149 "climatology startYear and endYear"
If someone tries to set startYear or endYear (more likely the latter) out of range of the available data, endYear should be updated to be the last year actually available.  This is most important in the title of the plots and (presumably) the name of the plots.

This should be easy to fix using the actual start and end date of the data set once it's loaded in.

[2017-03-22 16:37] xylar commented on #149
@mark-petersen pointed this out during today's ACME Ice-Ocean telecon.

[2017-03-23 13:41] xylar commented on #149
Addressed by #150

[2017-03-23 13:41] #145 closed

[2017-03-23 14:55] xylar commented on #143
@milenaveneziani, I'm working on this one today.

[2017-03-23 15:45] milenaveneziani commented on #143
Thanks @xylar, and sorry if I didn't reply to this before.
So, I am not sure if the short-term archiving capability will be available in the next couple of weeks or not.. I could ask around.

[2017-03-24 13:39] xylar opened #154 "Checklist for v0.2 tag"
### To do list for MPAS-Analysis v. 0.2 and subsequent ACME analysis update:

- [x] @pwolfram tests if #151 works with the branch of xarray he's working to have in the next version
- [x] @milenaveneziani or @pwolfram merges #151 into `MPAS-Analysis/develop`
- [x] @milenaveneziani merges #153
- [x] @milenaveneziani merges #157
- [x] @pwolfram merges #163 (which will be helpful for testing runs on L

[2017-03-24 14:08] xylar commented on #149
#150 didn't fix this issue for the MOC calculation.

[2017-03-24 15:14] xylar opened #156 "Add support for regions other than Atlantic in streamfunctionMOC"
Currently, we only support the `Atlantic_MOC` region but we need to add support for the 4 other MOC regions defined by `geometric_features`.  This will involve reading the region names directly from the mask file (rather than hard-coding indices).

This is also a chance to do some optimization to try to make the MOC computation a bit faster and maybe also less memory intensive.

Ideally, we also n

[2017-03-24 15:41] milenaveneziani commented on #156
A heads-up that we may want to support the MOC (postprocessed and AM) for the IndoPacificMOC region only (besides the Atlantic) because of the open channels between the Indian and the Pacific MOC basins.

[2017-03-24 16:04] xylar commented on #156
Okay, good to know.  I think the easiest way to handle this would just be to have a list of regions to compute MOC on.  There is also the global 65S to 65N region.  Is that one we will actually use?  Or does global really mean global?

[2017-03-24 16:20] milenaveneziani commented on #156
The global 65S-65N is for a OHC comparison with obs, when we get through processing that data set.. It makes more sense for present-day or transient climate simulations though.
We mostly want AtlanticMOC and IndoPacificMOC for the MOC and MHT calculation. And we need southern transects for these only.
The other, 'regular' ocean basin regions (including the Nino regions) are for these AM's instead:

[2017-03-24 18:56] xylar commented on #149
MOC is going to be tougher because we don't want to open the data set if there's already a climatology saved, but we don't know what the range will be for sure until we do.  In general, we should think about what it means to cache a climatology that is incomplete compared with the range requested, and how to update it, similarly to how we update the time series.

[2017-03-24 19:43] milenaveneziani commented on #149
But if someone tries to set yearStart, yearEnd out of the data range, then there shouldn't exist a previously cached climatology file, therefore it goes on opening the data set as it should and it will realize that the dates should be different. Maybe I am missing something.

[2017-03-24 19:50] milenaveneziani commented on #154
@pwolfram: do I have permission to update conda on rhea?

[2017-03-24 19:52] milenaveneziani commented on #49
Addressed by pydata/xarray#1198 and #151.

[2017-03-24 19:52] #49 closed

[2017-03-24 19:53] milenaveneziani commented on #49
we can always re-open if something else needs to be done after new xarray release.

[2017-03-24 19:53] pwolfram commented on #154
@milenaveneziani, I don't think so.  I'll update conda once xarray is pushed to the minor version number by @shoyer.

[2017-03-24 19:56] xylar commented on #149
But it prints the wrong bounds in in the figure title and uses the wrong bounds in the figure name.

[2017-03-24 20:09] xylar commented on #149
So there are 2 scenarios.  First, you run for the first time with endYear=50 but the simulation only got to year 2 so far (or you only copied results up to year 2, or whatever).  It would be good if the figure said the end year was 2, not 50.  It might also be good if the climatology file name had end year of 2, not 50 and the same for the plot files.

The second scenario is that you re-run the an

[2017-03-24 20:52] xylar commented on #149
Okay, so a simpler approach would be to cache the real start and end dates and also the start and end file dates (which might be different) along with the climatology.  The name of the cache file would use the intended climatology bounds, not the actual ones.  If the start and/or end file dates are not right for the first and last file in the data set, we just recompute the climatology and re-cach

[2017-03-24 20:55] milenaveneziani commented on #149
sorry, I didn't have time to think about this in the last hour. I will get back to you later today.

[2017-03-24 21:43] xylar commented on #133
Having separate MOC regions as separate tasks *might* also make sense.

[2017-03-25 06:55] milenaveneziani commented on #149
Hi @xylar. I guess I am confused because, looking at how, say, ocean_modelvsobs works now, this is what I think it would happen in the scenarios you envisioned:
1) say we have 2 years of data but we request climos for years 1-50. This is the first time around, no climo file has been cached, so we load the data using startDate=0001-01-01 and endDate=0050-12-31.
2) in ocean_modelvsobs (and the sea-i

[2017-03-25 10:23] xylar commented on #149
@milenaveneziani, you are absolutely right.  I'll implement it like that.

[2017-03-25 18:53] xylar opened #159 "Add a license"
We should check with the MPAS and ACME teams about adding a license to the repository.

[2017-03-26 10:39] xylar commented on #143
Addressed by #153

[2017-03-26 10:39] #143 closed

[2017-03-27 07:24] xylar commented on #149
Addressed (again and hopefully more thoroughly) by #157.

[2017-03-27 07:24] #149 closed

[2017-03-27 08:04] xylar commented on #154
@milenaveneziani, if you can point me to a run with the EC60to30v3 grid, I can make mapping files and region masks for that.  Then, I should be able to replace the old region mask for the v1 grid (with the less accurate southern transect) with an updated version at the same time I put in a region mask file and a mapping file for the v3 grid.

[2017-03-27 14:19] xylar commented on #154
@milenaveneziani, there's an issue with the `index.html` not pointing to the right file names if the climatology (or, in many cases, time series) did not include all of the requested years.  I don't know how the code for creating the html file can know what the actual range of available output was to correct for this problem.  Perhaps we say for now that the html doesn't work unless you make sure

[2017-03-27 15:59] xylar opened #161 "Memory error with MOC analysis on edison compute node"
I'm running ACME PreAndPostProcessingsScripts/xylar/update_mpas_analysis_v0.2 on Edison by submitting a batch scripts.  I get this error:
[code]
It seems like MOC computations are too big for a compute node!!!  We need to figure out what's going on...

[2017-03-27 16:40] pwolfram commented on #161
@xylar, this is just for the serial MOC, right?  Can you please advise me on how to reproduce this so that I can help take a closer look?

[2017-03-27 16:41] pwolfram commented on #161
It is possible that we may need to be explicit about chunking as we move to higher and higher resolutions, where chunk sizes are specified on tasks being run on a compute node as well as the available memory on the compute node.

[2017-03-27 16:54] xylar commented on #161
@pwolfram, I hadn't had a chance to describe the setup in detail.  Here is what you should be able to do to get this error:
 * check out `PreAndPostProcessingScripts/xylar/update_MPAS_Analysis_v0.2`
 * copy `run_EDISON.csh` and `run_EDISON.sl` to whatever name you would typically use.
 * In your custom version of  `run_EDISON.csh`, set `output_base_dir` to your favorite scratch directory and turn

[2017-03-27 17:00] xylar commented on #161
@pwolfram, we also need to be careful on the login nodes. As I said previously, I got in trouble at NERSC for overloading one of the login nodes by running 3 analysis jobs at once.  That's why I've switched to the compute nodes.

I'm a little unclear how we are going to know how to chunk a given data set.  If an analysis task supplies `open_multifile_dataset` with a list of variables to read in (o

[2017-03-27 17:19] xylar commented on #159
This came up in #160 for 2 reasons:
1. part of writing the setup script is saying which license you're using
2. the example script I was going to copy from xarray refers to the license from pandas, which requires having a copy of both the xarray and pandas licenses for reference in our repo.  This made me realize that we need our own license.

[2017-03-27 19:39] pwolfram commented on #161
Thank you @xylar, I'll take a look at this issue.

[2017-03-28 01:48] milenaveneziani commented on #154
that's a good point @xylar.. There is another csh script that makes a case.tmp file, storing env variables in it, including the begin_yr and end_yr values that are set in run_*.csh. So, yes, those will be the intended years, so the real ones.
One option could be to test, in run_*.csh, that the choices of begin_yr,end_yr are appropriate for the particular data set in question, and then issue an err

[2017-03-28 06:59] xylar commented on #154
@milenaveneziani, feel free to add such a test and push it to my ACME analysis branch.

[2017-03-28 07:42] xylar commented on #161
@pwolfram, you requested an update version of xarray.  I can't do that in the shared anaconda repository because it would break the current ACME analysis.  But I made a new package you can try instead:
[code]
Just modify the appropriate line of your custom `run_EDISON.csh`.

[2017-03-28 07:44] xylar commented on #154
To test on NERSC with the updated anaconda configuration, please modify the appropriate line of your custom `run_EDISON.csh` to be:
[code]
Essentially simultaneously with the merge of https://github.com/ACME-Climate/PreAndPostProcessingScripts/pull/29, I will update the shared anaconda environment to match this one.

[2017-03-28 13:54] xylar opened #162 "namelist mapper"
Just as we need to map the names of streams and variable names, we need to be able to map namelist options that differ across MPAS versions.  This is currently a problem in the `streamfuncitonMOC` task, which tries to get the `config_am_timeseriesstatsmonthly_enable` option, seemingly not available before beta0.

[2017-03-28 14:11] xylar commented on #161
@pwolfram, 0.9.1 has already been released (at least on conda-forge) and I've been using it most places already.  I was assuming there would be another sub-release (0.9.2?) with your recent fix.

Yes, you should be able to use features from 0.9.0.

[2017-03-28 14:12] pwolfram commented on #161
Thanks @xylar, I decremented the version number.  You are 100% correct.  The next release that is needed is 0.9.2.

[2017-03-28 14:13] xylar commented on #161
By the way, I tried running a different (but similar) setup on wolf using a 5-year climatology and 10-year time series and I had to kill MOC when it got to using 40% of the memory on the login node.  We definitely need a fix!

[2017-03-28 14:15] pwolfram commented on #161
Agreed.  I'm working on it right now and should have a PR today.

The problem is right here: https://github.com/MPAS-Dev/MPAS-Analysis/blob/develop/mpas_analysis/ocean/meridional_overturning_circulation.py#L294 and this is independent of xarray because

[code]

essentially says, "Load all the data into memory and return a `numpy` array", which obviously doesn't work for really large datasets but i

[2017-03-28 14:18] xylar commented on #161
Great, that all sounds very good!

[2017-03-28 17:16] pwolfram commented on #161
Another benefit here is that we should be able to take advantage of multithreading for the computation using this approach to move python loops into hidden, fast library loops.

[2017-03-28 17:18] pwolfram commented on #161
@xylar, is there a quick way to test the MOC that you and @milenaveneziani used while fullfilling the PR?  I'm finding the edison case above, even truncated to 5 or so years, to be pretty slow.

[2017-03-28 18:23] xylar commented on #161
@pwolfram, you can run for 1 year.  If you want to run on wolf instead, there's a QU240 case you could use.  Best if you use the updated config file from #163.

[2017-03-30 22:37] milenaveneziani commented on #154
@xylar: I am thinking about adding a simple test for this, considering that the cshell scripts will be changing/disappearing in the near future anyway. I would parse in the year value that is in a rpointer file: that would be part of the restart date for the next restart cycle, thus indicating that data is currently available for years<rpointer_date. That of course will not mean that *all* files w

[2017-03-30 22:58] xylar commented on #154
@milenaveneziani, So if I understand right, you would take the values read in but change the end year if it's beyond the date in the restart pointer?  That sounds reasonable to me.  Eventually, we'll probably want to just parse it out of the file names or the output config files themselves but that's much easier to do in python.

[2017-03-30 23:05] milenaveneziani commented on #154
If end_yr_climo or end_yr_ts are greater than the year in the rpointer file, I was actually just thinking to issue a warning and exit the cshell script all together.
This is because I am not sure the atm diagnostics can even handle the case when end_yr is greater than the max available year.
We can improve when everything is in python, of course.

[2017-03-31 08:26] xylar commented on #159
@pwolfram, we should cite the xarray license for the testing infrastructure code you borrowed, meaning we need a licenses directory with a copy of their license.

[2017-03-31 09:33] xylar commented on #154
Ah, right.  You said that was the plan and I just forgot.

[2017-03-31 11:36] xylar commented on #161
While research into handling very large data sets is still ongoing (e.g. #164), this error has been addressed for runs on the EC60to30 grid and coarser in #166.  Therefore, I am closing this issue.

[2017-03-31 11:36] #161 closed

[2017-04-01 16:49] xylar commented on #154
@pwolfram, do you have an estimate on how soon xarray 0.9.2 will be released?  Based on my experience last week, there seems to be urgent need of us updating the ACME diagnostics and I think everything is in place for v0.2.  Assuming xarray 0.9.2 won't be released by early this coming week, it might be best to go ahead with v0.2 and updating to xarray 0.9.1.  Then, we can update again when 0.9.2 i

[2017-04-02 13:34] pwolfram commented on #154
@xylar I will follow up with @shoyer and get back to you.

[2017-04-03 04:21] pwolfram commented on #154
@xylar, it sounds like a release within the next day is reasonable so "early this coming week" should be met.  Will that work?

[2017-04-03 06:53] xylar commented on #154
Yes, I think that's fine.  It will be easier for us if we don't have to update xarray twice.

[2017-04-03 13:43] pwolfram commented on #154
@xylar, @shoyer graciously released xarray to 0.9.2 last night so we should be good.

[2017-04-03 15:18] pwolfram commented on #154
We can update xarray on each platform now for testing of 0.2

[2017-04-03 15:35] xylar commented on #154
That's great!  I just updated on my laptop and will update Edison now.  Wolf soon.

[2017-04-03 15:41] xylar commented on #154
@pwolfram, did you update the xarray version used by everyone on Titan/Rhea? Or just a test install that we will use to update the conda everyone else uses later on?  I ask because the current ACME analysis won't work with xarray > 0.8.2 because of a bug in SSS climatology calculations.

[2017-04-03 15:44] pwolfram commented on #154
I just updated it for everyone.  I'll downgrade it now-- thank you very much for catching this for me.

[2017-04-03 15:47] xylar commented on #154
So my plan was to create a second anaconda install (or an environment if you prefer, but I find it cleaner with a completely separate install) for testing.  This is what I have done on Edison.  Here is the list of packages there.  You can use `conda install --file <file>` to install from this list if you save it to a file.

[code]

[2017-04-03 15:50] xylar commented on #154
Once testing is done and ACME analysis has been updated, we can do the same for the shared install on each machine (`conda install --file <file>`) using the list above.  Then, maybe `conda update --all` for good measure.

[2017-04-03 16:46] kevans32 commented on #154
Thanks Xylar!

From: Xylar Asay-Davis <notifications@github.com<mailto:notifications@github.com>>
Reply-To: MPAS-Dev/MPAS-Analysis <reply@reply.github.com<mailto:reply@reply.github.com>>
Date: Monday, April 3, 2017 at 11:50 AM
To: MPAS-Dev/MPAS-Analysis <MPAS-Analysis@noreply.github.com<mailto:MPAS-Analysis@noreply.github.com>>
Cc: "Evans, Katherine J." <evanskj@ornl.gov<mailto:evanskj@ornl.gov>>,

[2017-04-04 04:17] vanroekel opened #172 "18to6 performance"
At the request of @milenaveneziani I have been doing timing/testing of MPAS-Analysis.  I want to log some information here

1) The MOC on develop does not work for the 18to6 as expected.  It hangs in the "load data" phase of the computation.  Note this test was for a single year of data.

2) I have run the diagnostics for all_seaIce for the 18to6 on 4 years of data.  It took 7.5 hours to complete

[2017-04-04 06:12] xylar commented on #172
So the first thing we can do to speed things up is task parallelism (#129).  This would be further helped by breaking analysis tasks like `sea_ice.modelvsobs` and `sea_ice.timeseries` into subtasks (#133).

From there, we would need to know what the bottlenecks are.  If it is loading data, we may need to discuss storing data in a more analysis-friendly way with fewer variables and more time slices

[2017-04-04 14:05] pwolfram commented on #172
@vanroekel, #129 as developed by @xylar should help out a ton with speedup.

Note, we need to be cognizant of the cost to load in memory from disk, which is related to on-node bus speed as well as the total amount of data that needs to be read into memory.  This could be the ultimate bottleneck with very large datasets.  At that point, we have no real recourse but to use the dask.distributed backe

[2017-04-04 14:16] vanroekel commented on #172
@xylar I am now moving a year of 18to6 (ocean timeSeriesStatsMonthly) data to NERSC (/global/cscratch1/sd/lvroekel/18to6Titan)  I'll fix up permissions once the transfer is done.  Note, that surface area averages is not on for this data, thus the SST time series analysis will not work.  Once the ocean data transfers, I'll move seaIce.

A bit of an update on timing, computing ice timeseries alone t

[2017-04-04 14:23] xylar commented on #172
Thanks, @vanroekel.

This is almost certainly all about file read time, since the data itself isn't likely to be that big and averaging it should be fast.

@pwolfram, it would be hard to argue against the idea of having fewer variables per file so you didn't have to seek through a file to find what you need (except, of course that you then have a *ton* of different files).  I get what you're sayin

[2017-04-04 14:34] pwolfram commented on #172
I agree in general, although care is needed here because some file system have more trouble when there are more smaller files as opposed to fewer larger files, so this may not necessarily be a clear-cut win.

@xylar, can you please specify what expertise we don't have that you think we need?  If we use dask.distributed and can effectively load files in parallel this would largely solve the problem

[2017-04-04 14:38] xylar commented on #172
This is the area where we don't have the necessary expertise ourselves and may need to develop it.  I'm not as optimistic as you seem to be that using `dask.distributed` will a) be easy or b) have the performance we need (reasonable total execution time).  Maybe once Luke has some files at NERSC for us to play with, we can see what the options are.

[2017-04-04 14:41] vanroekel commented on #172
one other possibility is to utilize the timeSeriesStatsClimatology capability in MPAS (suggested in discussion with @milenaveneziani).  This would require far fewer files to be read.

[2017-04-04 14:45] pwolfram commented on #172
@xylar, how about this:

I think the simplest thing we do is a mean, e.g., "climatology", so I would propose a **compute off "contest"** to compute the mean where we have a set of netcdf files and essentially the fastest and cleanest code implementation for a mean, including and excluding writing results to disk, wins.  The metrics:

1. loading time of data and compute time (together because this

[2017-04-04 14:48] pwolfram commented on #172
@vanroekel, you are proposing to compute more analytics online, is that correct?  That would most certainly alleviate many of the challenges we are facing.

[2017-04-04 14:48] xylar commented on #172
So part of the problem in terms of plotting time series is that we're storing the regionally averaged (therefore tiny) data sets in the same files as the 3D time-averaged data sets.  If we put regionally averaged data in their own files, these would be small, manageable files and time series could be produced in about the same amount of time regardless of the size of the MPAS mesh.  I think this s

[2017-04-04 14:52] xylar commented on #172
@pwolfram, your compute-off sounds reasonable if there is time to develop several competing solutions.  I really need to be developing land-ice related metrics instead of improving what we have.  So I won't be able to put time into this particular area of optimization.  My main concern is that performance is going to drain a *lot* of our already very limited resources.  I don't know what to do abo

[2017-04-04 14:53] vanroekel commented on #172
@xylar I think a special meeting regarding the analysis is on @milenaveneziani's to-do list.  And @pwolfram yes, online climatology is indeed what is proposed.

[2017-04-04 14:55] pwolfram commented on #172
@xylar, I think having more work done on the MPAS analysis side is going to always be the way to go because the data is in memory and easy to compute in the AM.  Writing a small, reduced dataset out to disk is cheap.

My initial vision of MPAS-Analysis was just that, essentially a 2D and timeseries plotting routine that takes output from MPAS AMs to produce plots.  It has obviously evolved into mo

[2017-04-04 14:56] pwolfram commented on #172
@vanroekel, @xylar and @milenaveneziani I agree that we should meet.

[2017-04-04 15:07] xylar commented on #172
So @vanroekel's tests basically prove that this only really works if the resulting data files are also of a reasonable size.  If you want to pick out a reasonable amount of data from an unreasonably large file, you  apparently spend 1 hour per simulation year doing so.  This is where I think we need to work with the ocean team to rethink how `timeSeriesStatsMonthly` is being written out.  Thus, I

[2017-04-04 15:17] milenaveneziani commented on #172
I see a very interesting discussion here, give me a minute to catch up. Also, I would like to set a meeting for Th to discuss these high-res issues: would that work for you?

[2017-04-04 15:46] xylar commented on #172
There is a Land Ice team meeting from 10 to 11 on Thursday. I'm free before or after.

[2017-04-04 15:56] milenaveneziani commented on #172
ah! I don't see a meeting notes page for that. I guess we should do Mon at 10 then..

[2017-04-04 16:00] xylar commented on #172
It's not an open meeting, so not using the special topic page. Just happens
to be at the same time.

On Apr 4, 2017 5:56 PM, "Milena Veneziani" <notifications@github.com> wrote:

ah! I don't see a meeting notes page for that. I guess we should do Mon at
10 then..

—
You are receiving this because you were mentioned.

Reply to this email directly, view it on GitHub
<https://github.com/MPAS-Dev/MPAS

[2017-04-04 16:20] vanroekel commented on #172
18to6 data from year 10 is now on edison
[code]
Permissions should be set, but if you have issues, let me know.

[2017-04-04 21:03] vanroekel opened #173 "MOC calculation on 60to30"
I've been trying to process simulation output from a G-case (60to30) on anvil.  If I do 1 year, the MOC calculates fine, but if I do ten years, I see the following

[code]

I have checked my conda environment to verify it is up to date.  Is there some config option I need to set?  I saw some file percent option and a file chunk size.  Do I need to set those differently?  I'm using the default valu

[2017-04-04 21:08] pwolfram commented on #173
@vanroekel, this means we need to set a smaller chunk size, e.g., make https://github.com/MPAS-Dev/MPAS-Analysis/blob/develop/config.default#L77 a smaller number.

Some background on this -- I previously raised some issues (https://github.com/pydata/xarray/issues/1338 and https://github.com/dask/dask/issues/2138) with the xarray and dask developers and if I understand correctly, in the future the

[2017-04-04 21:32] vanroekel commented on #173
@pwolfram is there any guidance on where this value should be set?

[2017-04-04 21:34] pwolfram commented on #173
@vanroekel, please see http://xarray.pydata.org/en/stable/dask.html#chunking-and-performance, specifically:

[2017-04-05 03:49] milenaveneziani commented on #172
Special meeting set for this coming Th at 10.
So, in my mind, I thought that loading in some light 2d variables (AM output) out of a large file would be OK, but now I understand this is not the case. Solving this problem will definitely help with the timeseries, for which we don't have much choice but to load in the full length of the requested time series data. Instead, for climatologies, we may

[2017-04-05 03:56] vanroekel commented on #173
@pwolfram I was able to compute 10 years of MOC by experimenting with the chunk size.  It was a bit frustrating to have to play with this value multiple times to get this to work.  Is there a way to improve documentation on how to set this (your explanation above suggests to me that the maxChunkSize should be increased not decreased)?  Or better yet set this automatically?  I can imagine someone o

[2017-04-05 04:52] vanroekel commented on #173
I just checked the output from the 10 year run I discussed above and I don't see any plots.  Looking back at the output, it did not finish (I see "Killed") after 90 minutes of computation.  Do you think I should play with chunkSize more?

[2017-04-05 04:58] vanroekel commented on #173
A separate question, has the MOC calculation been run on edison for Chris 60to30 coupled case for multiple years?  I'm wondering if this is an anvil specific issue.

[2017-04-05 04:59] milenaveneziani commented on #173
Let's discuss this tomorrow and make it a priority, since the MOC is in the v0.2 version that @xylar and I are working on pulling into `ACMEPreAndProcessing`.
Thanks for all your work, @vanroekel!

[2017-04-05 05:00] milenaveneziani commented on #173
Yes, I did run the MOC on the beta1 runs, even 30 years. This was before we had the maxchunk fix (but I basically was lucky to never run into a memory problem on the login node..).

[2017-04-05 06:10] xylar commented on #172
It's not clear to me why nco would perform substantially better than we do.  If it does, presumably it's by using threading and we should try to do the same.  @pwolfram, you have thought on this, right?

[2017-04-05 13:47] vanroekel commented on #173
Confirming that this appears to be an anvil issue.  I can run this on edison (10 years of beta1_2) with no issues.  Still no luck on anvil.  I have done many tests across a wide range of chunksizes, with no success.

[2017-04-05 13:51] xylar commented on #154
@milenaveneziani, I did beta0 and beta1 tests on Edison, which produced the expected HTML and all links seem to work.  (I didn't try every single plot but a random sampling from each task were there.)

I will test again on LANL later tonight.  I think the rest of the testing is now in your hands.  Let me know how it goes, in particular if you run into memory problems.

[2017-04-05 14:08] pwolfram commented on #173
After talking with @vanroekel it sounds like an anvil-specific issue.  We are trying this with all `conda-forge` packages and will try again.

[2017-04-05 14:27] pwolfram commented on #172
@xylar, I think we are asking *way* too much from an interpreted language without resorting to complicated tricks (e.g., https://www.ibm.com/developerworks/community/blogs/jfp/entry/Python_Meets_Julia_Micro_Performance?lang=en).  A fortran-based approach, particularly one as sophisticated and established as nco, *should* out perform a python-based approach, even with advanced capabilities such as

[2017-04-05 14:32] vanroekel commented on #173
@pwolfram I've updated all packages to the latest and greatest and all use conda-forge, but still no dice.

[2017-04-05 15:33] vanroekel commented on #172
@pwolfram @xylar @milenaveneziani Update here.  After talking with @pwolfram about updating all packages to conda-forge and the newest versions, the sea-ice time series diagnostic greatly improved performance.  From 4 hours previously to 10 minutes with fully updated packages in conda-forge.  I don't have any idea why this is the case.  The only version truly updated was netcdf4 (1.2.4 to 1.2.7),

[2017-04-05 15:36] pwolfram commented on #172
This provides support for the need to have a unified python environment *.yml file across the project that @xylar is helping coordinate.

[2017-04-05 15:48] xylar commented on #172
@pwolfram, thanks for clarifying your thinking about performance generally.  Clearly we have a lot to discuss tomorrow.

Right, but these small fields are part of giant files and I think that's hurting performance a lot.  It would be better to store 3D fields in separate files from 2D fields and regionally averaged values separate from either of those 2 so the time to load small data sets was not

[2017-04-05 15:51] pwolfram commented on #172
@xylar I'm fine with this approach (assumed it actually as I wrote that text!) and it seems like the sensible way to handle this challenge.  I'm glad to see we are on the same page!

[2017-04-05 17:54] pwolfram commented on #154
Following discussions with @milenaveneziani I'm going to update conda on rhea because there are no production runs currently being performed on rhea or titan.

[2017-04-05 18:44] milenaveneziani commented on #154
I am testing on rhea and aims, and moving discussions to ACME PreAndPostProcessingScripts new PR.

[2017-04-08 08:40] xylar opened #176 "Consider getting rid of Author and Last Modified in docstrings"
I would like to get rid of the `Author` and `Last Modified` sections of docstrings:
  1. I find it tedious to keep them updated, and they often get forgotten.
  2. This information can be obtained relatively easily by bringing up the file on GitHub and looking at "blame" (which gives this information not just for each function but each line).
  3. Sphinx (more specifically numpydoc) doesn't recogn

[2017-04-08 08:41] xylar commented on #176
@pwolfram, @milenaveneziani and @vanroekel, I'd be keen to hear any reasons you have for keeping these.

[2017-04-10 17:12] vanroekel commented on #176
@xylar no objections from me.  I certainly agree with your point 1 above.

[2017-04-10 18:37] pwolfram commented on #176
We have the problem though that if code is removed from a function that won't show up in git blame.

Is there a way we can comment them out with respect to Sphinx?  I think we need them for development but it would be good if we could eliminate them from the Sphinx parsing.

[2017-04-10 19:31] xylar commented on #176
@pwolfram, you find these useful?

[2017-04-10 19:33] xylar commented on #176
I don't find them useful (ever) for development and I think there's a good reason they aren't used in other development workflows that I've seen.  They're a big pain to remember to update.

I'm sure there could be a workaround for Sphinx or we could just live with them being part of the documentation and/or warnings from sphinx.

[2017-04-10 19:40] xylar commented on #176
I agree that `blame` won't show if a file/function has been changed by pure deletes.  But the commit history of the file certainly would show the date of the last commit that affected the file.  It seems hard for me to imagine a case where you would like to quickly know who had deleted lines from a given function most recently and you couldn't find it quickly from the commit history.  Would such a

[2017-04-10 19:57] xylar commented on #154
@milenaveneziani (and @pwolfram if you have an opinion), could you update the checklist above to include whichever PRs you think are necessary before we finalize v0.2?  I'm assuming some (or all) of #175, #177 and #178 will be included.  #178 is not yet merge-ready.  What about #175?

[2017-04-10 21:13] philipwjones commented on #176
I like having the author documented in code preambles - as the equivalent of a publication. The author gets credit for the contribution in a prominent way. Having said that, it doesn't need to be part of any self-generating documentation. Just good to have in the code somewhere at the top.

[2017-04-10 21:18] xylar commented on #176
@philipwjones, I could see that being useful.  We could have the authors in the docstring of each python file without including it in each function.  That would both be substantially less work (therefore easier to keep up with) and wouldn't show up in the documentation, since the module docstrings aren't used in sphinx to my knowledge.

Do you have any opinion about the usefulness (or lack thereof

[2017-04-10 21:31] milenaveneziani commented on #154
I talked some of this with Phillip as well. We definitely want #177, and @pwolfram was going to check whether we could include #175 since the 2 should be independent. I have #178 on my roadmap with a deadline of Apr 30, so there is no rush for that one.

[2017-04-10 21:32] philipwjones commented on #176
For modifications,  we might want to document for major re-writes, but otherwise...It's occasionally useful, but as mentioned can be retrieved using other methods. Subversion had a way to automate it by adding a keyword that got replaced on commit with the date. As others have mentioned, unless it's automated, it won't be accurate anyway and is more likely to be misleading.

[2017-04-10 22:07] pwolfram commented on #176
This all makes sense-- maybe we should keep authorship and drop the date then?  I'd like to keep authorship at a function level, I would say that we could drop the module-level authorship if anything because it is really too coarse to be useful.

Regarding deleted lines-- I had an issue with MPAS I essentially had to do find out where the deleted lines were to figure out why the code wasn't workin

[2017-04-10 22:09] pwolfram commented on #154
I need to do some cleanup on #175.  I'm inclined to include it because it fixes preexisting deficiencies in chunking but am open to alternative suggestions.

[2017-04-10 23:01] xylar commented on #176
Anyone else have an opinion either way about authorship at the function vs. module level?  I really feel like `blame` is a much better tool for what you're talking about @pwolfram.  You can always use blame referring to commits in reverse order (a trick I turned up earlier with a quick google search) to check for deleted lines -- they show up as inserted lines in reversed `git blame` calls.

But I

[2017-04-11 01:53] pwolfram commented on #176
Do you mind sharing the link @xylar?  If there is an easy way to get this information I would change my mind and support removal of authorship at function level.

[2017-04-11 07:17] xylar commented on #176
@pwolfram, I was looking at: http://stackoverflow.com/questions/4404444/how-do-i-git-blame-a-deleted-line

Looking it over again, there seem to be cases where it wouldn't work (e.g. lines deleted before a merge commit).

[2017-04-11 14:47] xylar commented on #154
My understanding is that @pwolfram will be testing and merging each of #179, #169 and #180, at which point we will cut off anymore additions to v0.2 unless further urgent bugs are uncovered in our subsequent testing.

[2017-04-11 14:54] pwolfram commented on #154
@xylar and @milenaveneziani, how comprehensive of testing do we need?  Some of these are fairly minor or bug fixes so I'm operating under the philosophy what is important here is a spot-check and them merge for more comprehensive testing in preparation for v0.2-- is this reasonable?  I just want to be on the same page.

[2017-04-11 14:58] pwolfram opened #182 "Corrupted climatology cache"
If the calculation is interupted prematurely, for whatever reason, an error can result if the cache is not purged:

[code]

[2017-04-11 14:59] pwolfram commented on #182
This was observed in #169

[2017-04-11 15:01] pwolfram commented on #182
@xylar, this sounds reasonable to me-- are you ok with that strategy?

[2017-04-11 15:39] milenaveneziani commented on #154
@xylar, @pwolfram: I was trying to catch up with emails and github notifications, and then I noticed this. I was under the impression that we already missed yesterday as the day to draw a line and call it v0.2, so let's make Today the day. I don't think we need #169 and #180 right now, but we really need to do more thorough testing within A-Prime, starting on edison asap. Could we agree on this? t

[2017-04-11 15:40] milenaveneziani commented on #154
great that you found the bug in #179 btw! interesting that it didn't show up in testing..

[2017-04-11 15:53] xylar commented on #154
@milenaveneziani, I think we both tested on cases where the cache files already existed and thus the code for computing them was bypassed.  That was unfortunate but not that big a deal in the end.

[2017-04-11 15:54] xylar commented on #154
@milenaveneziani, At this point, #180 contains bug fixes that we will, indeed, want in v0.2.  But I agree that @pwolfram and I are getting a bit side tracked with fancy extras like deleting corrupted cache files.

[2017-04-11 17:35] pwolfram commented on #154
Agreed.  I've merged #180 now.

[2017-04-11 17:37] pwolfram commented on #182
This should be covered by #180.  Please reopen if there are additional problems.

[2017-04-11 17:37] #182 closed

[2017-04-11 18:05] xylar commented on #154
Moving to https://github.com/ACME-Climate/PreAndPostProcessingScripts/pull/29 and closing this issue.

[2017-04-11 18:05] #154 closed

[2017-04-13 22:37] akturner opened #185 "Problems installing on laptop - need specific conda version?"
Hi, I'm trying to install the tools on my laptop but when I run it I get the following issue:

pn1512828:MPAS-Analysis akt$ ./run_analysis.py config.setup
/Users/akt/anaconda/lib/python2.7/site-packages/matplotlib/font_manager.py:273: UserWarning: Matplotlib is building the font cache using fc-list. This may take a moment.
warnings.warn('Matplotlib is building the font cache using fc-list. This ma

[2017-04-13 22:38] akturner commented on #185
@pwolfram: suggests this might be a issue with panda version. I like the version with the sneezing panda - he so cute!

[2017-04-13 22:44] akturner commented on #185
Updating pandas seemed to fix this

[2017-04-13 22:44] #185 closed

[2017-04-14 16:45] xylar opened #186 "Nino34 time series not being cached"
All other time series are cached from run to run.  I somehow missed Nino34.

[2017-04-14 16:52] milenaveneziani commented on #186
Maybe we can add this in v0.3?

[2017-04-14 16:53] milenaveneziani commented on #173
@vanroekel: things work for you now, with the caching in place, right? if so, I think we can close this.

[2017-04-15 03:45] vanroekel commented on #173
This issue has been addressed by #177

[2017-04-15 03:45] #173 closed

[2017-04-15 09:23] xylar commented on #186
Yes, absolutely.  I just wanted to make a note of it so I don't forget.