[2019-10-09 06:52] xylar commented on #634
The fix is slightly more complicated than I thought.  We are currently remapping observations once per season and per field (T and S), whereas we really only want to be remapping once per field and once each for annual and monthly.  I'm testing a fix right now.

[2019-10-09 17:53] #634 closed

[2019-10-14 16:45] milenaveneziani opened #636 "Likely bug in computing time series for 2-d variables"
I have been running an 'extracted' (outside the MPAS-Analysis framework) version of the `time_series_ocean_regions.py` task, making regional time series plots for a variety of variables, including 2-d freshwater flux variables, and 3 main depth ranges (0-50m, 400-1000m, and 1000-4000m).
When choosing 2-d variables I ran into a couple of problems, listed below (1. is the main problem).

As referenc

[2019-10-18 16:20] xylar commented on #636
@milenaveneziani, sorry for not getting to this sooner.

Regarding 1), it never occurred to me to support 2D variables, to be honest, but I see that there's no reason it couldn't be supported as you have done.

Regarding 2), I think you could just add 'is3d' to the dictionary based on whether the variable has `nVertLevels` as a dimension (when you're computing the regional mean at each time index)

[2019-10-18 16:30] milenaveneziani commented on #636
well, you did add this if statement here though:
https://github.com/MPAS-Dev/MPAS-Analysis/blob/4dff0fcfa06f2e276f3c3ad1e4b5fd227338de7f/mpas_analysis/ocean/time_series_ocean_regions.py#L436

so I assumed you meant to include this case as well.

In any case, yes, this would be easy to implement, and useful 'cause we could use it for looking at the surface fluxes (which is what I am doing now).

[2019-10-18 16:42] xylar commented on #636
Ah, I guess I did and I just forgot.

[2019-10-18 16:43] xylar commented on #636
This should be quite fast to fix.  I'll work on it now, actually.

[2019-10-23 07:48] #636 closed

[2019-10-24 10:22] xylar opened #642 "Consider separate range for surface and depth in depth-slice climatology maps"
Color map ranges that are appropriate for the surface are often bad at depth and visa versa, see #640.  It would be useful to define a "surface" range and a "deep" range, together with a depth at which they switch.  "top" would always use the "surface" range (though it can have any depth below ice shelves) and "bot" would always the "deep" range (though it can become very shallow).

[2019-10-24 10:23] xylar commented on #642
I'll probably try to implement this in the next couple of days to facilitate #640

[2019-10-24 20:15] #642 closed

[2019-11-03 15:55] xylar commented on #621
I was able to run `climatologyMapEKE` without any issues on the example run on compy.  I think this issue has either been fixed by updating the diagnostics or was specific to the run that @chengzhuzhang was testing.  I'm closing for now but please reopen if the issue recurs.

[2019-11-03 15:55] #621 closed

[2019-11-05 07:35] xylar opened #647 "Switch to using tempest from moab package instead of ESMF for remapping"
This may allow us to remap on the fly rather than needing mapping files.  It may at least help us generate mapping files more efficiently.

[2019-11-07 17:54] vanroekel opened #648 "make verbose true by default?"
I would like to suggest making verbose the default behavior.  I nearly always run with that flag and it is frustrating when I forgot to have waited in the queue for multiple hours only to see no reasons for failure.

It is also likely I'm missing reasons for why this is off by default.  Please let me know if this is the case.

[2019-11-07 18:20] xylar commented on #648
@vanroekel, when things fail during the "setup-and-check" phase in MPAS-Analysis, it's often desirable that the task simply doesn't run.  It gives users the impression that something has gone wrong when the desired behavior might just be to disable the task and move on.

There's currently not a way to distinguish tasks that fail for an "acceptable" reason and ones that fail for a "catastrophic" re

[2019-11-07 18:23] vanroekel commented on #648
@xylar thank you for the detailed explanation!  This makes a lot more sense.  I did not know verbose will fail a task if a trace is generated.  Given what you say, I'm happy leaving as is, especially if others prefer this way.

[2019-11-07 18:36] darincomeau commented on #648
I prefer things the way they are now, but it's not a strong preference.

[2019-11-07 18:39] xylar commented on #648
@vanroekel, just to be clear, `--verbose` doesn't cause tasks to fail any differently than without it.  It's just that tasks may fail during setup for benign reasons but they still generate a stack trace that looks like something catastrophic happened.  This has confused users more than suppressing potentially undesirable failures seems to do, especially when `--verbose` is available in case debug

[2019-11-07 18:42] vanroekel commented on #648
I see now.  It seems like you are more likely to be contacted over benign failure confusion than forgetting to put in the flag for debugging.  I think I will close this issue.  Thanks for explaining this to me.

[2019-11-07 18:42] #648 closed

[2019-11-07 18:42] milenaveneziani commented on #648
I personally use `--verbose` when I am running diags on a completely new setup/run, and then I am almost 100% positive that I am screwing something up the first time around :D

[2019-11-15 13:41] xylar commented on #647
Redundant with #513

[2019-11-15 13:41] #647 closed

[2019-11-15 20:22] xylar commented on #490
We are unlikely to be able to update to python 3.8 until we remove basemap.  basemap relies on proj4 (a rather outdated version of the proj library) but many packages are now being built with proj (replacement for proj4) versions greater than 6 and are unlikely to be build with proj4.

See #651

[2019-11-15 20:24] milenaveneziani commented on #490
maybe another reason to inquire about any upcoming new release of cartopy? I mean, it has been a year since their last release..

[2019-11-15 20:46] xylar commented on #490
I don't think bugging the developers will do anything but annoy them.  A month ago, they said it would be out by the end of the year...
https://github.com/SciTools/cartopy/issues/1377#issuecomment-543814853

[2019-11-15 20:54] milenaveneziani commented on #490
oh, I  hadn't seen that comment, which seems encouraging. Great.

[2019-11-15 21:49] xylar opened #652 "Read The Docs won't build"
Currently, we can't build the documentation on Read The Docs because our environment uses too much memory (they're pretty stingy but then again it's a free service).  In the past, I really tried everything I could to slim things down.  It might be worth letting go of the autogenerated API documentation (the only part that requires installing the code itself), which is less helpful in any case.

[2019-11-15 21:50] xylar commented on #652
@mark-petersen, do you ever use the API docs?

@milenaveneziani, do you have thoughts?

[2019-11-15 22:07] mark-petersen commented on #652
Do you mean you have trouble compiling this whole thing?
https://mpas-analysis.readthedocs.io/en/master/

It seems like a shame to lose the "autogenerated API documentation". You mean this part, right?
https://mpas-analysis.readthedocs.io/en/master/api.html#

The whole documentation site is such a nice interface. I was thinking we should switch over to this for MPAS-Model as well.

There must be a

[2019-11-16 00:37] xylar commented on #652
It's not about the size of the code repo.  It's about how memory intensive it is to do the `conda install <packages>`.  MPAS-Analysis has some pretty big dependencies in that regard and there's nothing we can really do about that.

This wouldn't affect MPAS-Model and we should *definitely* switch to Read the Docs or something similar.  What we do now is horrid...

[2019-11-16 16:20] #570 closed

[2019-11-17 17:32] bradyrx commented on #652
I had similar issues at `climpred` (https://climpred.readthedocs.io/en/stable/) when using `nbsphinx` to auto-run notebooks that utilized `matplotlib`/`cartopy`. I had to just pre-run the notebooks that used these packages before building the docs, so that it's just uploading the jupyter notebook and not actually trying to run it.

It's a shame, because we were using `nbsphinx` auto-run as a test

[2019-11-17 18:46] xylar commented on #652
I think I'm going to just switch to building the docs in Travis CI (actually I already did!) and uploading them to GitHub Pages instead of ReadTheDocs.  You have to take care of a few things related to versioning yourself but mostly the benefits seem to out-weight the problems I keep running into on Read The Docs.

The lack of building in PRs has been one of the biggest headaches for me, so I'm gl

[2019-11-17 22:18] #652 closed

[2019-11-20 12:01] xylar opened #661 "Not compatible with xarray 0.14.1"
xarray 0.14.1 just came out today and we don't seem to be compatible.  I've put in a pull request to constrain mpas-analysis 1.2.6 to xarray <0.14.1: https://github.com/conda-forge/mpas-analysis-feedstock/pull/11

I will work on fixing the incompatibilities later today.

[2019-11-20 16:16] dcherian commented on #661
Can MPAS-Analysis test against xarray master to avoid these situations in the future?

[2019-11-20 17:30] xylar commented on #661
@dcherian, I will think about that.  It's quite a bit more complicated to test against `master` than to just install a conda package.  Or do you have a conda package with the current master somewhere?

[2019-11-20 18:25] dcherian commented on #661
xgcm does this with travis:

https://github.com/xgcm/xgcm/blob/3151dd361b37e6e81ed0fe00b866bd138be30776/ci/environment-py37-upstream-master.yml#L1-L13

[2019-11-20 19:14] xylar commented on #661
@dcherian, thanks!  That looks easy enough.  I'll give it a try.

[2019-11-20 19:53] xylar commented on #661
@dcherian, that doesn't look like it will work in our case, see https://travis-ci.org/MPAS-Dev/MPAS-Analysis/jobs/614698429#L139

xarray is getting installed from conda because some of our dependencies also depend on xarray.  Then, presumably xarray gets clobbered via pip with the version from master but I doubt that's a clean process.  Any suggestions there?

[2019-11-20 19:56] xylar commented on #661
Actually, maybe it's fine.  It looks like it does uninstall xarray 0.14.1 before installing master:
https://travis-ci.org/MPAS-Dev/MPAS-Analysis/jobs/614698429#L495-L499
[code]
Thanks again fro the suggestion.

[2019-11-20 19:57] #661 closed

[2019-11-20 20:01] dcherian commented on #661
yay! :+1:

[2019-11-26 18:20] matthewhoffman commented on #586
@milenaveneziani , @xylar , after talking about this with Milena, I propose a workflow something like this:

So I see a workflow like this:
1. Define line segments between pairs of points in lat/lon space that define the transect
2. Convert each pair of points to x,y,z on the sphere.
3. For each line segment, create an array of points at high resolution between the two end points along a great cir

[2019-11-26 20:29] milenaveneziani commented on #586
Thanks @matthewhoffman, that all seems reasonable to me.

@xylar, to give you a bit of contest: I was thinking of trying out a 'simple' script, outside of MPAS-Analysis, just to get a feel of how this would work. My vision is to use this mostly for model visualization purposes, not for model-data comparisons (we have already a task for that). We could plot the obs (or climatology or other reanalys

[2019-11-26 20:31] milenaveneziani commented on #586
The most important sticking point is how efficient is kd-tree (I must admit I don't really understand how this k-dimensional tree is constructed).

[2019-11-26 21:51] cbegeman commented on #586
@xylar I don't have a clear sense of what advantage kd-tree offers in this context over the field "cellsOnCell"

@milenaveneziani, I'd propose a modified version of @matthewhoffman's workflow:
(1)-(3) as above
4. Choose starting cell (index `k`) by minimizing distance to one end of the transect line.
5. Loop over `cellsOnCell[k]`, choose the cell index that minimizes the distance to the "ideal" tr

[2019-11-27 07:40] xylar commented on #586
Thanks for these thoughts everyone!

I've been working on this for awhile (off and on) and my approach is mostly similar to @matthewhoffman's suggestion.  It is important to use edges rather than cell centers because there needs to be a way to not only find the nearest cell but also to determine if you are outside of the nearest cell.  I believe that's where I ran into some difficulty but I'll hav

[2019-11-27 15:29] cbegeman commented on #586
@xylar, I see w.r.t. land difficulties.

A potential issue I see is selecting too many cells near the transect (i.e., selected edges snake too much). It seems like we would need an additional cleaning step besides @matthewhoffman's (6) to make sure each cell shares at most 2 edges with other cells or some similar criterion.

[2019-11-27 15:44] xylar commented on #586
Yes, exactly!  I vaguely recall that ended up really having to determine if a given edge intersects the transect, not just if its center is closest to the transect.  That's obviously a bit trickier.

I'll try to get back to the work I was doing later this week and see where I left things.  Assuming the path forward isn't obvious, I'll ask for advice.

[2019-12-02 17:22] milenaveneziani commented on #586
Thanks @cbegeman and @xylar for the discussion. Xylar: I should have known you are thousand of miles ahead of me :) Let me know when you get to a point when it would make sense for me to try/test something or help with anything else.

[2019-12-06 16:40] xylar opened #664 "Move disable Arctic/Antarctic analysis by default"
Enable it in `configs/polarRegions.conf`

Analysis to change:
- [ ]  Ocean vertical profiles
- [ ] SOSE climatology maps
- [ ] SOSE transects
- [ ] WOCE transects (?)
- [ ] Antarctic/Arctic comparison grids in various tasks
- [ ] ...

[2019-12-06 19:19] milenaveneziani opened #665 "analysis_task checks for ocean data availability even if only sea-ice tasks are requested"
I guess my title says it all :)
I ran a recent case where I only had sea-ice output files available for say, years1-years2, not ocean output files. I then requested to compute sea-ice only climatologies and time series over those years, and I received an out-of-index error.
After some debugging, I realized that that happened because it was checking ocean data availability, not just sea-ice's.

[2019-12-06 19:26] milenaveneziani commented on #665
From @xylar's email:

https://github.com/MPAS-Dev/MPAS-Analysis/blob/e73db924f8d19480bfcbdc0502dccb939ecb8aa3/mpas_analysis/__main__.py#L75-L77
is that it updates the bounds based on which files are available for each component, so it makes sure files are there for both ocean and sea ice.  If you only had ocean or sea-ice files, it would be fine but if you have both, they have to cover the same ti

[2019-12-06 19:28] xylar commented on #665
The problem is we need to set these bounds before we know whether a given task will run or not, so there's not a way to know which tasks are requested at the point where we set the time bounds.

[2019-12-06 19:28] xylar commented on #665
The reason for this was that it's dangerous for individual tasks to set the time bounds and then have others try to do the same, possibly not in a consistent way.

[2019-12-06 19:30] milenaveneziani commented on #665
I see. Thanks for clarifying. I am going to close this.

[2019-12-06 19:31] #665 closed

[2019-12-06 19:31] xylar commented on #665
You could leave this open if it's useful to have a separate set of climatology and time-series bounds for different components.  I would say the easiest in these unusual cases might be to point the ocean history to an empty directory, so it finds sea-ice files but not ocean files.

[2019-12-06 19:32] milenaveneziani commented on #665
yeah, never mind, I think there is a good explanation to leave it as is. I just wanted to make sure it wasn't a recently introduced bug, since I have never run in this situation before.

[2019-12-08 16:43] xylar commented on #586
@cbegeman, @matthewhoffman and @milenaveneziani, here is my progress so far.

Steps:
* Find edges that might intersect the transect:
  * compute Cartesian bounding boxes for each edge in the mesh
  * break transects into 10 km segments (so curvature is more or less negligible)
  * find all edge bounding boxes that intersect the bounding box of each transect segment (expanded with a buffer by the m

[2019-12-08 19:34] cbegeman commented on #586
@xylar If you use the adjacency matrix for the selected cells to identify and eliminate each cell that has 3 neighbors AND is a neighbor of a cell that also has 3 neighbors (updating the matrix after each removal) then you'll get rid of some of the zig-zagging. This still won't give you the straightest path possible though.

[2019-12-08 19:46] xylar commented on #586
I don't think we want to eliminate the zig zag. I think that's a realistic representation of a slice through an MPAS  mesh with cellwise constant scalars.

[2019-12-09 16:11] milenaveneziani commented on #586
This looks pretty decent to me, @xylar. My only question is about the last bullet point: wouldn't it be better to leave T,S onto the cell centers (basically plot what you have on the small green dots)?

[2019-12-09 16:13] milenaveneziani commented on #586
And the white spaces in the upper water column in the first two figures are due to the transect going below a ice shelf, right? that's a pretty cool visual.

[2019-12-09 16:43] xylar commented on #586
Sorry for the confusion. I reworded the last bullet point to make clear that I'm interpolating interface locations, not tracers at cell centers.

Yes, that's correct. I'll probably add brown for land below and maybe slightly blue white for ice above.

[2019-12-09 17:23] cbegeman commented on #586
Just to clarify, I wasn't referring to all zig-zag, just cases where the "band" of cells identified is wide. I think this could help make the profiles look less discontinuous.

That said, I think these profiles look good and this is a great plotting option to have. It could also be nice to have a couple coordinate labels along the x-axis especially if we're using this for very long transects.

[2019-12-09 17:57] xylar commented on #586
Ah, yeah, sorry.  I was reading/responding on my phone before and didn't get the full picture.  I've been careful to include all cells that a given transect intersects.  The representation of the transect depicted shouldn't be thought of as going from cell center to cell center.  Instead, it should be thought of as slicing through cells in a great-circle arc, but with constant scalar values in eac

[2019-12-11 16:55] xylar opened #667 "Add WOA18 obs to oceanRegionalProfiles"
The process should be similar to what was done for T-S diagrams, and the same masking files are likely useful.

[2019-12-11 16:59] xylar opened #668 "Add WOA18 to ocean region time series?"
I'm not sure whether the climatology is helpful, particularly on the Antarctic continental shelf, but maybe better than nothing?

Another option would be to average the WOA18 and/or MEOP individual obs as opposed to the climatology.

[2019-12-11 17:06] milenaveneziani commented on #668
When  I was checking for our model stratification results against obs in the SO, I looked at publications with in-situ obs. So, one option is to do a more thorough job and pull out some values for different depth ranges, but unfortunately I don't see how this could be made general in terms of depth values.

[2019-12-12 08:51] xylar commented on #664
closed via #666

[2019-12-12 08:51] #664 closed

[2020-01-01 19:32] xylar opened #670 "Update to Scientific Colour Maps 5.0.4"
http://www.fabiocrameri.ch/colourmaps.php

[2020-01-04 15:19] #670 closed

[2020-01-10 20:23] milenaveneziani opened #673 "Save MOC due to GM bolus velocity (postprocessing script)"
Mat noted that we should save the MOC component due to the bolus velocity. This is especially  important when we use horizontally and vertically varying GM, to make sure that things look OK.

[2020-01-10 22:39] xylar commented on #673
@milenaveneziani, could you clarify if the request is to plot just the MOC component due to the bolus velocity or if it is to write out this data in a NetCDF file (or both)?

[2020-01-13 06:54] milenaveneziani commented on #673
The easiest thing could be to start saving it to file. And then leave the plotting to the more advanced user.

[2020-01-23 05:57] milenaveneziani opened #674 "Update to `config_use_GM` in streamfunctionMOC when Redi changes are in"
With the new changes to GM config name options (Redi PR#280 in MPAS-Model), we will have to change from `config_use_standardgm` to `config_use_GM` in `streamfunctionMOC.py`.
We'll probably want to be backward compatible for a while, otherwise we won't be able to process v1 model output.

[2020-02-04 21:29] xylar opened #676 "Bump copyright to 2020"

[2020-02-05 00:09] #676 closed

[2020-02-05 23:28] #567 closed

[2020-02-12 06:04] xylar commented on #513
Now applies to pyremap, not MPAS-Analysis.

[2020-02-12 06:04] #513 closed

[2020-02-26 23:24] #242 closed

[2020-04-11 15:31] xylar opened #687 "MLD analysis not working with latest xarray"
During "setup-and-check" stage:

[code]

[2020-04-11 15:32] xylar commented on #687
Looks like an easy fix.

[2020-04-12 08:44] #687 closed

[2020-05-05 19:52] #490 closed

[2020-05-07 17:14] milenaveneziani opened #699 "--list option throwing an error"
Using the `liist` option is currently throwing the following error:
[code]

[2020-05-08 09:39] #699 closed

[2020-06-10 20:31] darincomeau opened #704 "simulationStartTime not being read in"
The following error is appearing, causing some (but not all) time series tasks to not run:

[code]

The analysis is run off current ```develop``` (hash 3e700c2).

The simulations on which this occurs were branched off master on May 29, 2020 (E3SM hash ```be8d6eadf```, PR https://github.com/E3SM-Project/E3SM/pull/3526). The mpas-source hash is ```bdf772aa```; the latest ```ocean/develop``` merge in

[2020-06-11 06:04] xylar commented on #704
@darincomeau and @milenaveneziani, this is almost certainly related to the recent switch from PIO1 to PIO2 (scorpio-classic to scorpio).  Strings seem to be getting null characters `\x00` when read in by `netcdf4` (and maybe `xarray`, though maybe not).  I'll look into this but here's a related issue for the paraview extractor:
https://github.com/MPAS-Dev/MPAS-Tools/issues/317

[2020-06-11 06:05] xylar commented on #704
I can probably fix this next week but probably not today.

[2020-06-11 06:19] xylar commented on #704
This code is using `netcdf4`, which confirms my suspicion that `xarray` may be fine with these strings with extra NULL characters but `netcdf4` is not:
https://github.com/MPAS-Dev/MPAS-Analysis/blob/develop/mpas_analysis/shared/timekeeping/utility.py#L61-L65

I think the easiest would be to modify this code to use `xarray` instead.

[2020-06-11 07:54] xylar commented on #704
Could you see if #705 fixes this?

[2020-06-11 14:25] darincomeau commented on #704
Thanks @xylar for looking into this (but no more until next week!). With #705 , I'm getting a different error:
[code]

[2020-06-16 18:16] xylar commented on #704
@darincomeau, I'm getting back to this now.  Hopefully, I'll be able to fix it tonight.

[2020-06-16 20:21] xylar commented on #674
@milenaveneziani, this is the error, right?  We need to fix this soon or the MOC will stop being part of our output.
[code]

[2020-06-16 20:24] milenaveneziani commented on #674
yes, exactly.
The fix is really simple, I have just forgotten. I'll do it later today.

[2020-06-16 20:30] xylar commented on #674
I think I've got it.  I'll push a fix in a few minutes if it works.

[2020-06-17 06:16] #674 closed

[2020-06-17 15:23] #704 closed

[2020-06-17 23:01] milenaveneziani commented on #586
I'd like to revive this discussion, including my recent experience with plotting vertical sections.
So, I started from our `compute_transects.py`, which we normally use as post-processing script to compute volume transport across the transects that are part of our transect mask file (Drake Passage, Florida Strait, Fram Strait, etc: about a dozen in total). This script does everything on edges. So,

[2020-06-18 17:23] milenaveneziani commented on #586
Thanks @xylar, that's helpful.
A few comments/questions:

good idea. Although I have printed `maxLevelCell` and noticed that it is *not* 1 when the corresponding `cellsOnEdge` value was 0, so that is very confusing to me..

but `maxLevelEdge` is something that you calculate, right? I don't see it in the mesh file.

Is this because the z levels of the edges are on the cells interfaces (not at the s

[2020-06-18 17:48] xylar commented on #586
`maxLevelCell` is always a valid number because we cull all cells that are land.  If `cellsOnEdge` is 0, there is no corresponding cell and no `maxLevelCell` to check on.

Correct, it is the minimum of `maxLevelCell[cellsOnEdge]` over the 2 cells, or 0 if only one valid neighbor is present.  But you may want to compute both the min and the max for an edge.  We don't store this because it's easy to

[2020-06-18 17:55] milenaveneziani commented on #586
ok, so, even though `maxLevelCell` exists when the cell number is 0, it is not valid?

I will digest all this and try to come up with a decent mask for both land points and points on topography. For what I understand, since I am choosing all edges that have a positive edgeID, I am already considering only ocean edges: is that correct?
So the point is to identify the land neighboring cells and an a

[2020-06-18 17:58] xylar commented on #586
@milenaveneziani, Are you converting all the Fortran indices to python by subtracting one?  If so, you'd be getting -1 for the cell index for invalid cells, and that will just grab the last cell in the array (python uses negative indices for counting from the end of the array).  So it will be an arbitrary value, and definitely not what you want.

[2020-06-18 18:00] milenaveneziani commented on #586
no no, I am basing the mask on cell number = 0 (I use the -1 only when I am retrieving the fields and need to take into account python indexing).

[2020-06-18 18:02] xylar commented on #586
so to use cellsOnEdge in python, you have to subtract one from it.  Once you do that, cell 0 is a valid cell like any, but cell -1 is not.

[2020-06-18 18:02] xylar commented on #586
There is no special cell (unlike in the model itself) that's a dummy one for land or anything like that.  That doesn't happen in the output.

[2020-06-18 21:33] milenaveneziani commented on #586
Actually, computing `maxLevelEdge` as you suggested works well! I'll get to it and share what I have later today.

[2020-06-19 06:37] milenaveneziani commented on #586
@xylar, here is the code that I put together so far:
https://github.com/milenaveneziani/analysis/blob/master/plot_transectSections.py
I assume you would have plenty of ways to better 'pythonize' it, but at least it gives reasonable plots :). One obvious way that this (or any other vertical_section script) could be improved is to make the transect mask for any transect on the fly, perhaps this is s

[2020-06-19 06:41] milenaveneziani commented on #586
Here is a Fram Strait temperature section, from a 60to30 run:
![Temp_FramStrait_E3SM-LRtunedHR_ANN_years0026-0055](https://user-images.githubusercontent.com/8237579/85104108-2ffced00-b1c5-11ea-9739-91f88bb30486.png)

and from a ARRM60to10 run:
![Temp_FramStrait_E3SM-Arctic-OSI_60to10_ANN_years0166-0177](https://user-images.githubusercontent.com/8237579/85104137-4014cc80-b1c5-11ea-895a-87e84e56228e

[2020-06-19 06:51] xylar commented on #586
Nice, this seems like some good work!

This is because the normal velocity points in different directions at different edges.  That is, it's not normal to the smooth transect, it's normal to the zig-zag of edges.  That's fine for computing total transport but not great for plotting velocity transects.  You would probably want use the reconstructed zonal and meridional velocities at cell centers an

[2020-06-19 06:59] milenaveneziani commented on #586
indeed, I have already done the 'borrowing' in the other scripts that I have to do regional time series and T,S,density profiles :)

[2020-06-19 14:23] cbegeman commented on #586
An alternative to consider: If you want to have a velocity transect that more closely resembles the computed flux normal to the transect, I've been using `normalVelocity` and `angleEdge` as well as the angle the transect makes with `angleEdge`, which removes these stripes.

[2020-06-19 14:33] xylar commented on #586
@cbegeman, how does that work when you don't have the tangential component of the velocity at the edge?

[2020-06-19 14:36] cbegeman commented on #586
It doesn't, it only works for the normal component.

[2020-06-19 14:42] xylar commented on #586
So effectively you're taking the velocity component normal to an edge, multiplying it by the normal vector, and then dotting it into a vector normal to the transect, is that the correct idea?  I don't think that is equivalent to the velocity normal to the transect so I would be careful about using that.

[2020-06-19 14:48] cbegeman commented on #586
@xylar You're right. I do use the approach you originally suggested for plotting and that seems like the right approach for Milena. Sorry for the diversion!

[2020-06-19 14:56] milenaveneziani commented on #586
I think *perhaps*, one way could be if we had, for each edge that makes up the MPAS-grid transect, an associated 'real' transect piece, which is part of a binned spherical distance between the two end points that define the transect, basically this bullet in the methodology outlined by @xylar a few months ago:

Then, we would simply rotate the normalVelocity with respect to that.

Of course the sc

[2020-06-19 15:05] xylar commented on #586
The trouble is that we simply don't have both components of the velocity at edges.  MPAS has a way of constructing the tangential component of velocity at edges, but it is only for the very specific purpose of computing the Coriolis force and I have it on good authority from @toddringler that this velocity should not be treated as appropriate for reconstructing a velocity vector at an edge.  Inste

[2020-06-19 15:09] milenaveneziani commented on #586
I started writing this comment below, but then I saw yours and am not sure it's relevant any longer, but since I'm done writing it, here it goes :D:

We haven't talked about the transect mask part, but I guess it will depend on whether we'll want to adopt this methodology to identify the transect or not.
If that's what we want to do, maybe it would be nice to add some transects to the `StandardTra

[2020-06-19 15:29] cbegeman commented on #586
Do we have general script(s) to accept start and end coordinates (or similar) and return both:
(1) cell indices - I think this is what @xylar's transect script does, and seems most convenient for plotting transect properties for the reasons he mentioned
(2) edge indices suitable for computing transect-normal fluxes - I think this is what @milenaveneziani's script does

[2020-06-19 15:38] xylar commented on #586
@cbegeman, the `MpasMaskCreator.x` (`mpas_tools.conversion.mask` in python) does this but it produces a less-than-straight transect so I was not happy with it.  This is what @milenaveneziani is using as a starting point.

[2020-06-23 13:36] xylar opened #711 "HDF5 errors on cori haswell"
When I try to run analysis on cori haswell, I'm seeing errors like:
[code]
The same problem can be seen with `ncdump`:
[code]

This isn't necessarily an MPAS-Analysis problem but certainly affects our ability to perform analysis on Cori.

[2020-06-23 13:37] xylar commented on #711
There is no problem with `ncdump` on the login nodes, so I don't think it's a problem with the files themselves.

[2020-06-23 15:01] xylar commented on #711
It seems that converting the `SOSE` files to NetCDF classic 64-bit fixes the issue.  On a login node:
[code]
Then, on a Cori Haswell compute node:
[code]
[code]

[2020-06-23 15:02] xylar commented on #711
@sbrus89, this seems like it's the same problem we saw on Cori with your bathymetry file.  Did you ever make any headway on what was causing it?  Or did you just do the conversion above and call it a day?

[2020-06-23 15:57] sbrus89 commented on #711
@xylar, This does seem similar. I believe I just did the conversion and moved on. Do you have any other ideas on what may be causing it?

[2020-06-23 17:18] xylar commented on #711
The fixed for me turns out to be the good old:
[code]
Which I normally do, but forgot when I was running interactively.

[2020-06-23 17:18] #711 closed

[2020-06-25 13:59] xylar opened #712 "Add provenance and date-stamp for Arctic Regions"
Arctic regions have been removed from #710 at @milenaveneziani's request.  It would be good to add a script to `preprocess_masks` that would create these masks (appending a date stamp to the file name).  Then, this file should be uploaded to Anvil and propagated to the E3SM supported machines.

[2020-07-20 15:23] xylar commented on #586
After working on this off and on for several weeks, I'm almost there, see: https://github.com/MPAS-Dev/MPAS-Tools/pull/324.  I believe I should have it all wrapped up in a few more days.

[2020-08-03 18:58] xylar commented on #586
2 weeks later, I have this almost wrapped up...

[2020-08-04 13:42] xylar commented on #344
I don't think we want this.

[2020-08-04 13:42] #344 closed

[2020-08-21 06:15] #559 closed

[2020-09-03 20:55] golaz opened #729 "Avoid use of /tmp"
MPAS-Analysis will occasionally fail on compy when /tmp fills up. When I contacted support, they recommended not using /tmp:

Would it be possible to change MPAS-Analysis so that it doesn't use /tmp?

Here is the log from one of the failure

[code]

[2020-09-03 21:17] chengzhuzhang commented on #729
Based on a recent conversation with @stephenprice, the issue that /tmp is filled also happened on a local LANL luster. The fix Steve had for MPAS-Analysis has been to set “export TEMPDIR=/some_other_place_w_plenty_of_space”, This gets set in the batch script for MPAS-A when submitting the job.
This is may serve as a short-term solution.

[2020-09-03 21:47] rljacob commented on #729
An environment variable set by user is actually the right solution to this.

[2020-09-03 21:59] maltrud commented on #729
this is actually a problem i've had for quite a while.  the default temp space for NCO is /tmp.  maybe we should have Charlie change that?

[2020-09-03 22:21] rljacob commented on #729
TMPDIR is the unix/posix standard for where to find temporary disk space.  If its set to /tmp but should be something else, that is first the responsibility of the sysadmin to change and then the user.  Not the program.

[2020-09-03 22:26] rljacob commented on #729
On the other hand, if NCO and MPAS-analysis are using really large amounts of TMPDIR, 10's to 100's of GB, then its not reasonable to expect TMPDIR to have the space.   In that case, I think the default behavior should be to use a MPAS_ANALYSIS_TMPDIR variable which the user has to set.   If its not set, use $HOME/tmp.

[2020-09-03 22:33] golaz commented on #729
Interesting, there is a lot more to it than I expected.

It might be too much to expect that users of software within E3SM Unified will be aware that they are expected to set TMPDIR in order to reliably run NCO or MPAS-Analysis on E#SM machines. Could a better default be set as part of loading the E3SM Unified environment?

[2020-09-03 22:35] maltrud commented on #729
@rljacob are you saying that TMPDIR should always be set by the system's default login settings since it is the standard?  seems unlikely to get admins to do this.
and i may be wrong, but i think it is NCO within MPAS-Analysis that uses /tmp, not any of the analysis python stuff.

[2020-09-03 22:46] golaz commented on #729
I don't think it's only NCO. The failure above clearly arose within some python code. So I think it's both NCO and MPAS-Analysis, and maybe other utilities as well.

[2020-09-03 22:48] maltrud commented on #729
@golaz yeah i think you're right.  thanks for pointing that out.

[2020-09-03 22:58] rljacob commented on #729
Yes TMPDIR will always be defined to something in any unix system.   But since NCO and MPAS-An aren't your typical unix program, maybe they should have their own variable for that tmp directory.   If you want machine-specific, user-proof defaults, you get in to the same config file situation as CIME.   Better to to just have each user set it once per machine in their .bashrc

[2020-09-03 23:16] milenaveneziani commented on #729
From the log file, I gather it has to do with an MPAS-Tool routine that creates ocean region masks.

Defining an env variable seems like a good idea to me: maybe a best-practice recommendation to add to the MPAS-Analysis documentation.

[2020-09-03 23:40] golaz commented on #729
@rljacob,

`echo $TMPDIR`

returns an empty string on compy

[2020-09-04 00:55] rljacob commented on #729
Doh!  I got that wrong.  Nearly all unix systems will have a /tmp or /var/tmp directory.  IF the system defines a TMPDIR to something, programs are supposed  to honor that setting.

[2020-09-04 07:02] xylar commented on #729
@golaz, thanks for bringing this up.  I will fix this in the next release.  It should be easy to just use the output directory as a temp directory.

Everyone else, thanks for the discussion.  But I do think this issue is probably best resolved by MPAS-Analysis just not using `/tmp` for this purpose.  It's easy enough to use a different directory.

[2020-09-04 14:19] jasonlturner opened #731 "Errors in Running Example from 2020 E3SM Tutorial on Cori"
When following the latest tutorial for visualizing E3SM output ([tutorial page](https://mpas-dev.github.io/MPAS-Analysis/stable/tutorials/getting_started.html#purging-old-analysis), [tutorial video](https://www.youtube.com/watch?v=ljEYCR2ekD8&t=994s)), I encountered a few errors when using the observation data on Cori.  The following is the output from running _mpas_analysis --purge --verbose myru

[2020-09-04 15:06] xylar commented on #731
@jasonlturner, sorry things didn't work for you.  Thank you for reporting these problems.

I will try to look into them over the weekend or early next week.

[2020-09-04 15:40] xylar commented on #731
@jasonlturner, following up a little sooner that I was planning to.

I think I fixed the permission issue with the file that was giving you trouble:
[code]

I don't have permission to see your log files in your scratch directory.  Unfortunately, the grep message on its own isn't very helpful.  All I can tell is that `ncremap` is failing but the log file should have more information about why.  Cou

[2020-09-07 13:41] xylar commented on #731
@jasonlturner, following up some more, could you see if you can run successfully after setting this environment variable?
[code]
We include this in the example job scripts for Cori here:
https://github.com/MPAS-Dev/MPAS-Analysis/blob/master/configs/cori/job_script.cori-haswell.bash#L34
but I forgot to set it and I saw errors during setup that are similar to what you saw.

I will add setting this v

[2020-09-07 15:45] jasonlturner commented on #731
Thank you for the quick follow-up! I attempted to re-run with the steps you most recently posted, using the diagnostic data available from /global/cfs/cdirs/e3sm/diagnostics and unfortunately received similar-looking errors.
![image](https://user-images.githubusercontent.com/46936542/92401605-9bcf6180-f0f3-11ea-893b-8c0eddbb1878.png)
![image](https://user-images.githubusercontent.com/46936542/9240

[2020-09-07 16:44] xylar commented on #731
@jasonlturner, I think the problem has to be that you are not in the `e3sm` group.  If that's the case, you will, indeed, need to download the diagnostics data yourself.  I'll try to find out about the other error messages you're seeing once I get a chance to look at the log files.

Thanks for reporting back.  More soon.

[2020-09-07 17:16] xylar commented on #731
Okay, so I'm trying to re-download all of the data in the `e3sm/diagnostics` directory that was not world readable (I don't have permission to change the permissions, so it's just easier to re-download.

It looks like the problem in the log files is that MPAS-Analysis can't find NCO (specifically `ncks`).  Did you follow all the instructions for downloading minoconda, installing it in your home di

[2020-09-07 18:38] xylar commented on #731
@jasonlturner, I believe I had opened up permissions on all of the data you would need from `/global/cfs/cdirs/e3sm/diagnostics/` even if you are not in the `e3sm` group.  Please let me know if that still doesn't seem to be the case.

I'll await your response to my questions above to try to help figure out some next things to try.

Sorry this is proving pretty difficult.

[2020-09-07 20:20] jasonlturner commented on #731
It's all good, I really appreciate all of the help you've been giving me!

1) When I log in to Cori normally, the following modules are loaded:
![image](https://user-images.githubusercontent.com/46936542/92414346-705f6d80-f119-11ea-9625-8fb7c5cdb522.png)

2) To set up the Miniconda environment for mpas-analysis, I did the following:

1. I created a subdirectory /global/cscratch1/sd/jlturner/mpas_t

[2020-09-08 08:01] xylar commented on #731
@jasonlturner, it sounds like you are doing everything right.  I don't see anything in your list of modules that suggests that the system python might be getting loaded and even if it were, the `conda activate` command should just override it.

What happens when you run `which ncks` once you have activated the `mpas-analysis` conda environment (preferably on a compute node after you have run `sall

[2020-09-08 20:47] jasonlturner commented on #731
@xylar The project I am on just ran out of compute hours, so I am unable to `salloc` to a compute node at this point in time. I am looking into getting access to more compute hours!

Activating `mpas-analysis` without using `salloc`, `which ncks` returns the file path
`/global/homes/j/jlturner/miniconda3/envs/mpas-analysis/bin/ncks`
and my `$PATH` environment variable is (I added line-breaks to tr

[2020-09-08 21:02] xylar commented on #731
Okay, so it seems like something in your `.profile.ext` or `.bashrc.ext` is loading the system anaconda from `/global/common/cori_cle7/software/python/3.7-anaconda-2019.10`.  But not as a module.  Could you share the contents of your `.profile.ext` and `.bashrc.ext`?

Sorry this is taking so long.  I'm pretty baffled.

For reference, here are mine:
[code]

[code]

By the way, be a bit careful abou

[2020-09-08 21:03] xylar commented on #731
Also by the way, tripe back quotes are your friend!  Quoting text is a lot easier for me to read that screen shots and also I can copy and paste from it.

[2020-09-08 21:50] jasonlturner commented on #731
I'd be happy to! I changed them to `.txt` files and attached them here:
[profile.ext.txt](https://github.com/MPAS-Dev/MPAS-Analysis/files/5191213/profile.ext.txt)
[bashrc.ext.txt](https://github.com/MPAS-Dev/MPAS-Analysis/files/5191214/bashrc.ext.txt)
I don't think I've ever opened these files before, so I'd be surprised if they were the cause!

I did make an alias in my `.profile` file awhile ago

[2020-09-09 09:19] xylar commented on #731
Okay, well that didn't reveal anything (as I'm sure you realized).

I am still trying to figure out how `/global/common/cori_cle7/software/python/3.7-anaconda-2019.10` is getting added to your path.  Can you grep for `anaconda` in all the files directly in your home directory and let me know if it turns up anything?

[2020-09-09 15:06] xylar opened #735 "Compute std dev, max and min melt rates over the climatology time period"
This would require moving the melt table calculations from `climatologyMapAntarcticMelt` to `timeSeriesAntarcticMelt` because the former averages over time and then space, whereas the latter retains the temporal variability we would need.

[2020-09-09 19:52] jasonlturner commented on #731
Sure thing!

Using `grep anaconda ./.*` (since the only non-directory files I have in my home directory start with `.`), I got

[code]

I'm guessing that's getting added to my path in the `./.kshrc` file! I have not idea what that file is for or how it got there, but I think the answer to that is only one Google search away.

[2020-09-09 19:59] xylar commented on #731
If you're not intentionally using ksh, I would recommend switching to bash.  I don't think .kshrc will get loaded if you're not in ksh.  Id you prefer to stick with ksh, you should comment out this conda setup bit and see if that helps.  Maybe share your .kshrc in its entirety just to see if there might be other problems.

[2020-09-10 17:48] jasonlturner commented on #731
I think I default to bash when I log in? A brief Google search told me I can check with the commands will
[code]

I commented out the relevant lines of the `.kshrc` file, logged out of NERSC, and logged back into NERSC. When I logged back in, I noticed that the `(base)` environment was not active. I am currently running the analysis, I will report back after!

[2020-09-10 18:03] jasonlturner commented on #731
I believe everything ran properly! There aren't any errors in the output messages
[code]

Are there other ways to verify it has worked?

[2020-09-10 19:09] xylar commented on #731
Oh, great!  We finally figured it out.  That all looks right to me.

How strange with the `.kshrc`.  I'll have to file that one away as something that can interfere with bash.

I'm really relieved!

I'm going to close this but re-open if related troubles emerge.

[2020-09-10 19:09] #731 closed

[2020-09-24 11:59] xylar opened #738 "Update to Scientific colour mpas 6.0"
http://www.fabiocrameri.ch/colourmaps.php

[2020-09-24 13:22] #729 closed

[2020-10-27 21:55] xylar opened #742 "Add SIV from GIOMAS?"
See Shu et al. (2015):  https://tc.copernicus.org/articles/9/399/2015/

[2020-10-27 22:15] proteanplanet commented on #742
Hi @xylar, as an example of one model's realization of sea ice mass, it could be interesting, but this should not be something to 'aim' for.  The coupled sea ice configuration in E3SM is more advanced in almost every way.  The only reliable 'true' way to assess sea ice volume is with satellite emulation or with assimilation. But, as I say, if it's being presented as one model's realization, it won

[2020-10-27 22:21] xylar opened #743 "Reuse time-series and/or climo data from previous run"
@golaz suggested that is could be nice to save time in computing time series by reusing cached time-series data from a previous run of the analysis.

@rljacob thought it would be useful to have the option to reuse climatologies computed elsewhere.  This could include from a previous MPAS-Analysis run if the bound of the climatology and the variables present are the same.

[2020-10-27 22:47] xylar commented on #742
Thanks @proteanplanet.  This came up in the poster session.  I figured it would be worth looking into.  I agree, we have to treat this like SOSE -- perhaps better than nothing to compare with but certainly not obs.

Would be happy to have something more sophisticated, for sure.

[2020-12-10 19:03] xylar opened #763 "Race condition with regional profiles"
From @golaz:

@xylar : I ran a complete post-processing overnight test using the new E3SM Unified test environment on a 110 year coupled simulation. The post-processing included 38 jobs sampling a good fraction of all the tools (nc climatologies, time series, E3SM Diags, MPAS-Analysis). All jobs completed successfully except one.

The failure was in the second iteration of MPAS-Analysis. Here is t

[2020-12-12 02:40] golaz commented on #763
@xylar : I ran into this issue at least twice using the new E3SM unified test environment. I then switched back to the latest environment without any issue so far.

[2020-12-12 08:21] xylar commented on #763
Thanks @golaz.  I'll try to fix this in the next few days so we can re-test before the Jan 1st release

[2020-12-12 08:50] xylar commented on #763
@golaz, the original directory where this happened is gone.  Could you share an example where it happened?  Specifically, it would be very helpful to have the log files and your config file(s).

[2020-12-12 09:47] xylar commented on #763
@golaz, this is not a fix to the race condition but I noticed that you have `oceanRegionalProfiles` disabled by default here:
https://github.com/E3SM-Project/PreAndPostProcessingScripts/blob/master/postprocessing_bundle/v2/templates/default.ini#L96
We separated out a new analysis task, `hovmollerOceanRegions` in the v1.2.9 release that is part of the E3SM-Unified test environment, and it would see

[2020-12-16 13:14] #763 closed

[2020-12-17 02:22] golaz opened #765 "Fixed plot size for easier comparison"
When I compare multiple simulations, I will often open several tabs in my browser and then quickly switch back and forth to visualize differences between the figures. Unfortunately, this often doesn't work very well because figures do not necessarily have the same size (due to varying title length).

For example, try opening the following two pages in separate tabs and then switching back and fort

[2020-12-17 02:41] golaz opened #766 "Improvement to delta OHC plot"
The delta OHC plot from MPAS-Analysis is extremely useful. But some of us tend to think in W/m2 (at TOA) rather than 1.e22 Joules (and I have a hard time converting between the two in my head). I'd like suggest adding slanted lines to the plot showing the conversion in W/m2 (total earth area) for easy comparions with netTOA in atmospheric plots.

Here is a mock-up of what such a plot might look li

[2020-12-17 02:45] golaz opened #767 "Add quantitative metrics to lat-lon plots"
It would be useful to add some quantitative basic metrics to MPAS-Analysis lat-lon plots, such as for example:

- global mean (for model, obs)
- mean biais (for difference)
- RMSE  (for difference)
- correlation (for difference)

[2020-12-17 20:39] xylar commented on #765
@golaz, this is a great suggestion, something that we have also found annoying.

It is hard to know ahead of time what the size of the figure is to fix the size, since the same code generates hundreds of slightly different figures.  As far as I am aware, the cause of the different figure size is always the different lengths of very long run names.

Would truncating the run name to a maximum allowe

[2020-12-17 20:40] xylar commented on #766
@golaz, this is a really clever suggestion, very much appreciated.  Thank you for the mock-up as well.  That's very helpful.

I should be able to take care of this over the weekend and include it in the v1.3.0 release to be included in the E3SM-Unified release on Jan 1st.

[2020-12-17 20:42] xylar commented on #767
@golaz, another really good suggestion.  I think @milenaveneziani had also mentioned wanting to add these but obviously it slipped through the cracks.

As with the others, I should be able to take care of this over the weekend and include it in the v1.3.0 release to be included in the E3SM-Unified release on Jan 1st.

[2020-12-17 21:17] milenaveneziani commented on #767
I have added the mean and rsme values to the bias plots already.
The global means for the model and obs panels can be added as easily.

@golaz: what do you mean by 'correlation'? how do you calculate it?

[2020-12-17 21:22] milenaveneziani commented on #765
yes, my solution to this has been to use a shortened version of the runname.

I think the truncation would work, although maybe it would be nice for the user to know right away whether the chosen name is too long, with a warning or something.

[2020-12-17 21:49] milenaveneziani commented on #766
yes, that would be a nice addition. A couple of details to consider:
1) would we calculate it as total trend over the full time series divided by the total Earth area? Probably the easiest thing to do.
2) I am afraid that 4 curves + 4 trend lines with associated trend values may make the plot too busy. Should we just do the trend for the top-to-bottom OHC curve?

[2020-12-18 08:02] xylar commented on #766
@milenaveneziani, these are good thoughts but I interpret @golaz's idea a little differently. I don't think these are meant to be trend lines.  They're more like a second axis on the right-hand side, but converging to zero on the left.  The lines are just reference slopes and aren't related to any specific curve.  The number of lines would just be the number of tick marks you want to have on the r

[2020-12-18 08:03] xylar commented on #765
@milenaveneziani, I agree, it might be good to warn the user that the name of the run will be shortened in a lot of plots.

[2020-12-18 08:52] xylar commented on #767
Thanks @milenaveneziani, I thought we'd done this.  I think maybe we could improve things by placing the numbers to the side like e3sm_diags does:
![image](https://user-images.githubusercontent.com/4179064/102594500-959b4900-4116-11eb-8e46-41cbe08419b5.png)
rather than in the panel title.

I looked at e3sm_diags and they are using Pearson correlation (via CDAT).  We could get the same by calling t

[2020-12-18 16:52] #403 closed

[2020-12-18 20:39] milenaveneziani commented on #766
@xylar: the reason I thought @golaz meant to add actual trends is that this is what is done in the coupled diagnostics script that is used to generate this kind of plot (used a lot in WC tuning efforts), see last panel in particular:
![image](https://user-images.githubusercontent.com/8237579/102658910-bcb54300-4135-11eb-8146-71d2ebad17ef.png)

But anyways, I'll let Chris comment on this one.

[2020-12-18 22:59] #712 closed

[2020-12-18 23:02] golaz commented on #765
@xylar, thanks so much for working on this. Yes, shortening long titles should take care of it.

[2020-12-18 23:09] golaz commented on #766
Yes, as @xylar mentioned, this is really a second set of axes to interpret the plotted information differently. The best analogy I can think of are atmospheric Skew-T diagrams which have all sorts of skewed and even curved axes (for example, see https://en.wikipedia.org/wiki/Skew-T_log-P_diagram).

[2020-12-18 23:34] golaz commented on #767
Yes, Pearson correlation is what we want:

covariance(model, obs) / (std(model) * std(obs))

However, each term needs to be computed as a weighted term to account for the variable grid area. I don't know if xarray would automatically take care of that:

http://xarray.pydata.org/en/stable/generated/xarray.corr.html

[2020-12-18 23:44] xylar commented on #767
I don't think xarray will account for that automatically but we've already been doing the same weighting when we compute the mean and RMSE, so that shouldn't be difficult.

[2020-12-19 10:03] #766 closed

[2020-12-22 16:52] #765 closed

[2020-12-31 15:54] #767 closed

[2021-01-11 15:50] xylar opened #774 "Fix documentation after aggregation"
Got forgotten in last merge?

[2021-01-12 13:33] xylar commented on #774
Fixed in #776

[2021-01-12 13:33] #774 closed

[2021-02-08 15:23] xylar opened #780 "If not generating a climatology, the climatology bounds should not be checked"
@alicebarthel found this in runs that start at year 50 (but 21 to 30 are the defaults).

[2021-02-08 15:23] xylar commented on #780
@alicebarthel, any other comments on this?

[2021-03-03 12:20] xylar opened #781 "copy config file into logs right away"
This would help a lot with debugging, since there isn't an easy way to find the original config file given the output.

[2021-03-17 14:05] alicebarthel opened #782 "add WOCE A16 transect to woce_transects.py"
WOCE A16 is the longest North-South Atlantic transect. It would be helpful to have in the standard analysis, especially for WC/AMOC studies.

[2021-03-17 14:42] xylar commented on #782
@alicebarthel, this shouldn't be too hard.  It would hopefully just require processing the obs. data by adding another call like this one:
https://github.com/MPAS-Dev/MPAS-Analysis/blob/develop/preprocess_observations/compute_woce_transects.py#L195-L200
then uploading the data to Anvil (LCRC server) and updating setting so that transect also gets plotted.

[2021-03-29 17:44] milenaveneziani opened #787 "Performance issue with oceanRegionalProfiles task"
On anvil, I have encountered the following error, when using 12 parallel tasks:
[code]

[2021-03-29 17:54] darincomeau commented on #787
FWIW, the analysis for this mesh ran without issue for me with `parallelTaskCount = 6`.

[2021-03-29 17:55] milenaveneziani commented on #787
Thanks @darincomeau: I have switched to 6 parallel tasks now.

[2021-03-29 18:18] xylar commented on #787
Thanks @milenaveneziani for posting this.  That line seems ludicrously optimistic to me.  It is doing a giant computation on all regions, all cells and all vertical layers in one go.  I'm not sure what I was thinking...

Hopefully, this will be an easy thing to fix by adding a loop over regions and/or vertical levels.

[2021-03-29 19:42] milenaveneziani commented on #787
Unrelated, but I thought I'd post it here for now: I also had to reduce the number of threads for ncclimo, as the default (12) was causing the Climatology task to fail. I now reduced it to 3, following Darin's choice, and crossing fingers.
I wonder if we shouldn't change the default to a smaller number.

[2021-03-29 19:45] darincomeau commented on #787
@milenaveneziani sorry I should have included my other changes under [execute], which seems like is what you've just done:
`ncclimoParallelMode = bck
ncclimoThreads = 3`

[2021-03-31 14:31] xylar opened #789 "IndoPacific MOC"
It looks as if the IndoPacific MOC is actually just the same plot as the Atlantic.  There must be some sort of indexing problem in the code.

https://web.lcrc.anl.gov/public/e3sm/diagnostic_output/ac.milena/20210326.v2beta3.piControl.ne30pg2_WCAtl12to45E2r4/testImproveTransectPerf/Years11-20/ocean/index.html#moc

![image](https://user-images.githubusercontent.com/4179064/113161315-8e6bf700-923e-11

[2021-03-31 14:32] xylar commented on #789
@milenaveneziani, I'll look into this when I have a chance but I want to fix the transport mask creation first.  If you happen to have time to look into this, that would be great!

[2021-03-31 16:00] milenaveneziani commented on #789
good catch, @xylar!
This was introduced over the last month, as I ran the following analysis in February: https://compy-dtn.pnl.gov/vene705/E3SMv2alpha/mpas-analysis/20201108.alpha5_55_fallback.piControl.ne30pg2_r05_EC30to60E2r2-1900_ICG.compy/Test/ocean/index.html#moc
and the IndoPacific MOC is definitely different from the Atlantic MOC there.

For the record, that analysis was run using this MPA

[2021-03-31 16:14] xylar commented on #789
It could be a problem with the mask file we're generating vs the one you were using then.  Worth making sure the mask NetCDF files look sane.

[2021-03-31 16:31] milenaveneziani commented on #789
That's probably exactly what it is. The old transect files were called `SingleTransect` for a reason. I'll check them, perhaps as part of the work that will go into your changes of `MPAS-Tools` and `geometric_features`.

[2021-04-05 15:36] darincomeau commented on #787
I've run into this with the `WCAtl12to45E2r4` mesh (using my above settings with `ncclimoThreads = 3`), trying to run analysis on 80 years. From one of the `oceanRegionalProfiles_computeAntarcticRegionsProfiles_*` logs (there are a couple):

`MemoryError: Unable to allocate 4.95 GiB for an array with shape (851664, 13, 60) and data type float64`.

I'll just turn off that task for this particular a

[2021-04-05 15:43] xylar commented on #787
Okay, I'll bump this up on my priority list...

[2021-04-05 16:31] milenaveneziani commented on #787
@darincomeau: was the climatology going to be computed over 80 years?

[2021-04-05 16:37] darincomeau commented on #787
@milenaveneziani no, only 10 years.

[2021-04-05 16:44] milenaveneziani commented on #787
hmm, so your previous analysis over a different 10-year period ran fine with `ncclimoThreads = 3`, but the latest did not?

[2021-04-05 16:47] xylar commented on #787
The `ncclimoThreads = 3` isn't relevant to this issue.

[2021-04-05 16:50] xylar commented on #787
Only `parallelTaskCount` will affect this.  Some other tasks have a way to set `subprocessCount = 2` or something like that so they count as more than 1 task, but this isn't one of them.

[2021-04-08 07:05] #789 closed

[2021-04-08 13:17] #787 closed

[2021-04-11 11:01] xylar commented on #780
I've looked into this.  It might be kind of tricky.  It will likely involve creating a task to update the bounds with dependencies on other tasks.  I'll give it a whirl.  But since it's not an easy fix, I'm demoting it to not being a high priority right now.

[2021-04-11 12:18] xylar commented on #780
The task approach doesn't work.  The bounds get updated too late to be useful.  Still thinking about how to solve this.

[2021-04-11 16:07] milenaveneziani commented on #780
@xylar: my only suggestion would be, when one runs with the `--verbose` flag, to add a comment before or after the bounds checking of the like "Warning: climatology bounds are checked even if climatology task is off".

[2021-04-11 16:54] xylar commented on #780
Yeah, that might be an easy interim solution.

[2021-05-18 14:40] xylar opened #800 "Add comparison with Adusumilli melt rates"
https://www.nature.com/articles/s41561-020-0616-z

http://library.ucsd.edu/dc/object/bb0448974g

Data itself (HDF5):
http://library.ucsd.edu/dc/object/bb0448974g/_3_1.h5/download

[2021-05-19 09:31] xylar opened #809 "Look into `xesmf`"
https://xesmf.readthedocs.io/en/latest/index.html

It could likely replace `pyreamp`.

[2021-05-26 22:03] golaz opened #811 "Add SSH time series plot"
I'd like to suggest to add a time series plot for SSH as an easy way to spot obvious non-conservation issues. We ran into undetected SSH drifts during both v1 and v2 model development.

[2021-05-26 22:07] xylar commented on #811
@golaz, you just want the global mean SSH?

[2021-05-26 22:16] maltrud commented on #811
@xylar , i think the most useful metric would be the change in ocean volume relative to t=0, then divided by the surface area of the ocean.

[2021-05-26 22:24] xylar commented on #811
@maltrud, isn't that identical to the change in global mean SSH from the initial condition? Since we don't let the surface area (or the bathymetry) change in time.

[2021-05-27 12:04] xylar commented on #811
@maltrud, your suggestion was a good one, since we already have the total ocean volume and area in `timeSeriesStatsMonthly`.  The ratio is the mean water-column thickness, and the anomaly in mean water-column thickness is the same as the anomaly in SSH for a fixed ocean area.

[2021-05-27 19:48] xylar commented on #809
I looked into `xesmf` and it doesn't support (nor plan to support) unstructured meshes: https://github.com/JiaweiZhuang/xESMF/issues/18

[2021-05-27 19:48] #809 closed

[2021-05-27 23:13] golaz commented on #811
@xylar  and @maltrud : you can decide which variable is best between volume or SSH. It would be useful to have some global, annual mean variable that can tell us about possible water non-conservation.

[2021-05-28 06:03] #811 closed

[2021-07-09 09:40] xylar opened #818 "Detect supported machine and configure appropriately"
There are a lot of machine-specific config options that we provide examples of but which we could set automatically, such as the diagnostics directory.

Importantly, in E3SM-Unified 1.5.0, it would be helpful if the parallel execution prefix for creating mapping files were set automatically, since this will cause runs to fail on compute nodes if not set appropriately.

[2021-07-10 00:29] golaz commented on #818
E3SM Diags faces a similar issue (if I understand you correctly).

I wonder if one possibility would be for E3SM Unified to define environmental variables that would point to relevant directories. This would avoid having to hard code everything in E3SM Diags or MPAS-Analysis. But one drawback (showstopper?) might be that it would be more difficult to run these packages outside of E3SM Unified. Jus

[2021-07-10 05:38] xylar commented on #818
@golaz, that's an interesting idea.  The problem is largely what you point out: we would also want this functionality when running MPAS-Analysis on its own outside of E3SM-Unified.  A major reason for this is because the EC has mandated that E3SM-Unified only be updated every 6 months.  In the past, this has been far too infrequent for the Cryo Campaign, since we were continually adding new analys

[2021-07-12 16:16] chengzhuzhang commented on #818
Nice discussion. Yes, E3SM has a same feature request to be able to detect machine specific paths:
https://github.com/E3SM-Project/e3sm_diags/issues/446
The mpi  execution prefix will need to be specified as soon as MPI is enabled.
Since  this is a common feature cross our packages, i think have a common package to do the detection is a great idea.

[2021-07-16 19:45] xylar commented on #818
@golaz and @chengzhuzhang, I put together a quick prototype this afternoon of what I have in mind as a shared package that could be used across E3SM-Unified, zppy, MPAS-Analayis and e3sm_diags, compass, E3SM-Init and more:
https://github.com/xylar/mache

Please have a quick looks before our next diagnostic tools meeting.  I'm a bit worried that MPAS-Analysis is going to be too hard for a lot of fo

[2021-08-19 00:02] tangq opened #823 "Add support for merging multiple simulations"
During model development, sometimes it needs to change the simulation settings or code in the middle of a long-term run, but we want to analyze the time series of all simulations combined together. These simulations may have different names and noncontinuous years. It is not easy to apply MPAS-Analysis in this case.

An example can be found on the following two pages:
https://acme-climate.atlassia

[2021-08-19 13:57] #742 closed

[2021-09-03 19:53] ytakano3 opened #825 "Updating the namelist for chlorophyll"
I ran into an issue comparing two MPAS-O BGC simulations, seems like there is an update in the name of chlorophyll in the recent model. We need to change the variable name for chlorophyll from "timeMonthly_avg_ecosysTracers_Chl" to new variable names. A bit complicated part is that now we have 4 components,

"timeMonthly_avg_ecosysTracers_diatChl",
"timeMonthly_avg_ecosysTracers_diazChl",
"timeMon

[2021-09-03 20:04] xylar commented on #825
Thanks for posting this, @ytakano3.  @bradyrx wrote the original analysis so I'll have to get myself up to speed on how chlorophyll in particular was handled to see how the problem emerges.  I don't think this will be hard to fix.

[2021-09-03 20:06] ytakano3 commented on #825
@xylar Thank you, please keep us updated.

[2021-09-18 05:04] #825 closed

[2021-10-20 19:44] xylar opened #837 "Fix top/bottom lon labels"
With the latest `cartopy`, we're getting weird top/bottom labels in Antarctic (and presumably Arctic) plots:
![image](https://user-images.githubusercontent.com/4179064/138161178-04cf4863-f513-486f-aeba-4e5968728b0c.png)

We probably don't want to rotate the labels.  (We may not want the labels at all.)

[2021-10-21 02:16] #401 closed

[2021-10-21 02:29] #156 closed

[2021-10-21 02:31] xylar commented on #244
I think it's clear that this is outside the scope of any current plans for MPAS-Analysis.  @mark-petersen, feel free to re-open this if you have a plan for who will add this and when.

[2021-10-21 02:31] #244 closed

[2021-10-21 02:35] #383 closed

[2021-10-21 02:35] #385 closed, assigned to nobody

[2021-10-21 02:37] #422 closed, assigned to xylar

[2021-10-21 02:38] #561 closed

[2021-10-21 02:40] xylar commented on #384
Compass downloads missing data during setup, and a similar approach could be useful in MPAS-Analysis

[2021-10-21 03:12] #562 closed

[2021-10-21 03:14] xylar commented on #818
Closed via #827

[2021-10-21 03:51] #781 closed

[2021-10-26 16:04] xylar opened #841 "Print out the web-portal link once the web page is generated"
If the `htmlSubdirectory` is on a web portal on a supported machine, print out the associated URL when informing the user that the web paged has been generated.

[2021-11-19 15:02] xylar opened #844 "Add (or update) and `anomaly` tag"
This needs to catch all of:
[code]
so that when the tag is set, you can use `no_anomaly` instead of all of these.

[2022-01-14 13:06] #586 closed

[2022-01-21 18:06] xylar opened #849 "Obs look weird on transect on the native MPAS grid"
With #718, I switched to plotting transects in the `polar_regions` analysis on the native MPAS grid.  However, the observations and comparison panels look weird:
![image](https://user-images.githubusercontent.com/4179064/150577715-231058e4-e393-4a22-a07a-3ddfa7a8b2f2.png)
The problems are:
* the bathymetry and ice topography from the MPAS grid is getting plotted on the obs and comparison
* the mas

[2022-01-23 04:17] #849 closed

[2022-01-23 18:59] #844 closed

[2022-01-23 21:20] #841 closed

[2022-02-06 17:51] xylar opened #859 "Contour plots on projection grids"
The code for plotting contours on projection grids is not handling the fact that we are supplying the corners, rather than the centers, of grid cells.  This needs to be fixed to allow for plots on projection grids that include contours (currently `climatologyMapSSH`).

[code]

[2022-02-07 19:12] golaz opened #860 "Incorrect stats on lat-lon SST plots"
On some (?) lat-lon plots, the stats indicating global mean, rmse appear to be wrong, even though the plots themselves look correct. Here is an example:

https://portal.nersc.gov/cfs/e3sm/golaz/E3SMv2/v2.LR.historical_0111/mpas_analysis/ts_1850-1984_climo_1955-1984/ocean/index.html#global_sst&gid=2&pid=3

The bottom panel shows a mean bias of -4.7 degC, which does not look consistent with the cont

[2022-02-07 19:21] xylar commented on #860
Thanks @golaz!

Could you open up permissions on:
[code]
so I can take a look at the masking of the data in the NetCDF files?  I can generate my own but better yet would be to have a careful look at yours.

[2022-02-07 19:32] xylar commented on #860
@golaz, don't worry too much.  I took a look at some simple output I use for tesitng.  I believe the explanation is that land is full of zeros, rather than fill values.  I don't know if this is a change in MPAS-Analysis or ncremap.  I need to figure it out.  But that could certainly account for the bad statistics.

[2022-02-07 19:33] xylar commented on #860
@czender, I may need to ask for your thoughts on this shortly. Just pinging you so you see this issue.

[2022-02-07 20:34] xylar commented on #860
I believe that `ncremap` is behaving differently when it remaps an MPAS variable without any fill values vs. when there are fill values.  Thus, it correctly masks 3D temperature because bathymetry is masked but just put zeros for land when remapping SST (which has no fill values on the MPAS mesh).

I have a vague memory that I had run into this problem before and I *thought* I have fixed it by sup

[2022-02-07 20:37] czender commented on #860
Thanks for reproducing @xylar, I'll be able to look at this in a few hours...

[2022-02-07 20:50] xylar commented on #860
`chmod`ding now so you'll have access...

[2022-02-08 00:56] #859 closed

[2022-02-08 20:47] #860 closed

[2022-02-18 19:24] ytakano3 opened #864 "Climatology computation (with BGC) on Anvil has OOM error"
I am running MPAS-Analysis for ocean bgc simulations (for the mesh EC30to60E2r2) and it keeps giving me an error.
The configuration is somewhat standard, including climatology and global time series plot.

From the log I see, it is causing an ERROR in "mpasClimatologyOceanAvg", more specifically "ncclimo" from my understanding. I am not sure why this keep failing since the same configuration worke

[2022-02-18 20:36] milenaveneziani commented on #864
It's failing in the annual average. Is this the first time that you compute climos over 18 years (years 41-58)? I wonder if it's a memory problem. It doesn't explicitly say so, I think, just that `ncra` failed.

[2022-02-18 20:48] xylar commented on #864
The text `Killed` in the log file indicates that the job ran out of memory.  That is a common reason things work differently on different machines.  Anvil nodes have much less memory than Chrysalis nodes.

Unfortunately, @milenaveneziani's suggestion of running with `parallelTaskCount = 12` won't help here because there is a different config option for that.  Please try adding this section (if mis

[2022-02-18 20:56] xylar commented on #864
@ytakano3, I can see your config file from the incomplete web page.  Here's what you need:
[code]
I would continue to use 12 parallel tasks unless other operations besides `ncclimo` run out of memory.

[2022-02-18 20:58] milenaveneziani commented on #864
ah, this is the newer capability that still hasn't stuck in my brain! thanks for the reminder @xylar.

[2022-02-24 22:57] xylar commented on #864
@ytakano3 was able to confirm that fewer `ncclimo` tasks on Anvil took care of this.  I will reduce the default number of tasks on Anvil before closing this.

[2022-02-25 02:45] ytakano3 commented on #864
@xylar Thank you for following up and my apologies on delay in updates. Yes fewer `ncclimo` tasks on Anvis took care of my issue and thank you for changing the topic title. I am not sure if this still crash without BGC but certainly do with BGC.

[2022-02-28 20:18] #864 closed

[2022-03-08 12:41] xylar opened #866 "Get rid of vim folds"
To my knowledge, there are no current MPAS-Analysis developers that appreciate having "folds" in the code.  Developers can use `pycharm` or similar IDEs if they want this functionality.

[2022-03-08 12:47] xylar opened #867 "Get rid of `__future__` imports"
Have not been needed in a very long time because we don't support python 2.7.

[2022-04-19 17:31] changliao1025 opened #871 "Convert namelist to dict function not working for datm_in"
It seems that the datm namelist file is not formatted friendly for the `convert_namelist_to_dict(fname, readonly=True) `function.

[code]

This function returns a single value for the streams key:
[code]

I think the breakline is preventing the correct parsering.
Note that only the "datm.streams.txt.CLMGSWP3v1.Solar 1950 1950 2010" was retrieved.
@xylar

[2022-04-19 17:46] xylar commented on #871
@changliao1025, I'm a bit confused about what you would like to do.

MPAS-Analysis is provide analysis for MPAS-Ocean and MPAS-Seaice data only, not EAM (or `datm`).  Were you hoping to use a subset of our functionality to parse other namelists?  I'm afraid we do not have any intention of parsing all namelists, just those from MPAS components.

[2022-04-19 18:09] xylar commented on #871
@changliao1025, thanks for the reminder on Slack that I recommended you use this.  I forgot.

Could you point me to the original namelist file you're trying to parse?  The formatting here didn't come through.

Also, if you use triple-back quotes (```), you can get the effect I think you were after above.

[2022-04-19 18:10] xylar commented on #871
I fixed the formatting above.  I should be able to work with this now.

[2022-04-19 18:16] changliao1025 commented on #871
Yes, this is an atm name list from a E3SM case. I only extracted this function and it works in other applications. But I recently got an error when dealing with the atm name list. I wrote another function to preprocess the name list file so it is compatible.

[2022-04-19 18:28] xylar commented on #871
I happen to have been looking at code for parsing config files with multiline config options recently and the problem is nearly identical.  I'll try to fix it in the next few days.

[2022-04-20 17:11] changliao1025 commented on #871
Well, that is interesting! I didn't search that, but I just wrote an updated function to "glue" those lines back so the original function still works. I bet you can add this package as a dependency? @xylar

[2022-04-20 18:26] #871 closed

[2022-04-21 06:31] #866 closed

[2022-04-21 06:31] #867 closed

[2022-05-05 20:55] mark-petersen opened #876 "Add Southern Ocean isopycnal plot to default output"
Zonal averages of isopycnal contours are useful to see the influence of mesoscale eddies (when resolved) and GM eddy parameterization on the meridional tilt of isopycnals.  Please add these to the default plots and webpage.

[2022-05-08 14:36] xylar commented on #876
@mark-petersen, are you sure that zonal averages are going to be useful?  What @milenaveneziani and I had discussed were cross sections, some where we could compare with WOCE and some with SOSE.  If we do a zonal average, we're very likely to wash out a lot of detail and it isn't clear to me that there is a useful data set to compare with (though we could try making a WOA18 or SOSE zonal average).

[2022-05-08 17:55] milenaveneziani commented on #876
I agree with @xylar. We discussed the following sections: Drake Passage (observations should be available there, from Scripps); WOCE @0deg longitude; and perhaps a couple of SOSE sections where we see the bottom warming (Amery, Ross, and one in EA).

[2022-05-08 17:56] milenaveneziani commented on #876
Does anybody remember if the Drake Passage section plots done in the past also included the Scripps observations? Otherwise, we should be able to download them since they are public.

[2022-05-08 17:58] xylar commented on #876
No, those sections were just model vs. model.

[2022-05-08 18:08] milenaveneziani commented on #876
Unfortunately section observations are always a bit of a pain to process, since there are different cruises done in separate campaigns and often by different institutions. A decade old data set is C-Drake (PI was Teresa Chereskin from Scripps): http://www.cdrake.org/index.html. But a google search also points me to 2021 cruises done by BAS.
Either way, we'd have to process the various cruise lines

[2022-05-08 18:21] xylar commented on #876
@milenaveneziani, do you have time to get ahold of the BAS data? If so, that would be really great. I'll start on the rest today

[2022-05-08 18:40] milenaveneziani commented on #876
I can take a look after the AFOS meeting (ends on Wed).

[2022-05-09 02:28] xylar commented on #876
@milenaveneziani, it turns out that one of our WOCE transects (A21) covers the Drake Passage already.  So I think we're set.  It's just that we usually plot only a small fraction of the full transect.  I think we need to modify the WOCE plotting to allow us to see both the full transects and the truncated ones close to Antarctica.

[2022-05-13 17:42] xylar commented on #673
@milenaveneziani, is this something you want to try to do before the next MPAS-Analysis release in a month or so?

[2022-05-13 17:49] xylar commented on #782
@alicebarthel, is this something you would like to do before the next MPAS-Analysis release?  If so, it would be needed before mid June.

[2022-05-13 18:29] milenaveneziani commented on #673
probably not, @xylar. I'd also need to check with @vanroekel about whether this is done already with in-house scripts.

[2022-05-13 20:23] xylar commented on #673
That's fine.  Just checking.

[2022-05-14 03:30] vanroekel commented on #673
@milenaveneziani this is now written by the online MPAS-O analysis member by all runs for quite a while.  I don't recall exactly when, but now for all meshes that have the MOC turned on in MPAS-O you get the total (resolved + GM) and a separate GM only streamfunction.

[2022-05-14 05:14] milenaveneziani commented on #673
OK, so I did remember correctly. Thanks @vanroekel. It would just be a matter of adding panels with the GM bolus streamfunction component in MPAS-Analysis.

[2022-06-17 14:10] xylar commented on #876
This was done in #877

[2022-06-17 14:10] #876 closed

[2022-08-15 21:14] darincomeau opened #883 "OHC anomaly maps are blank"
The OHC anomaly map figures are appearing blank. Looking back through the testing in the PRs, I see populated maps in https://github.com/MPAS-Dev/MPAS-Analysis/pull/872, and the maps blank in https://github.com/MPAS-Dev/MPAS-Analysis/pull/873 and https://github.com/MPAS-Dev/MPAS-Analysis/pull/874 (both merged on the same day, but I think 873 was first?).

[2022-08-16 19:58] #883 closed

[2022-09-07 22:05] xylar opened #887 "`$$` getting written as `$` in output config file"
It is not possible to use the output config file (the one in `logs` or the complete config file in `html`) as an input config file because certain `$$` in strings get written out instead as `$`.  Then, on reading these back in, they get interpreted as references to other config options.

We need to figure out a way to output `$` as `$$`.  This may need to happen in MPAS-Tools, rather than here.

T

[2022-09-12 20:41] xylar opened #888 "`gregorian_noleap` --> `noleap` in MPAS-Ocean breaks analysis"
The change I made in https://github.com/E3SM-Project/E3SM/pull/5162 unexpectedly breaks MPAS-Analysis runs, since the `noleap` calendar is not recognized here.

[2022-09-13 02:40] #888 closed

[2022-09-19 17:40] xylar opened #891 "Error is not intuitive when an incorrect machine is specified"
If someone uses a machine like `cori` instead of `cori-haswell`, the error is very obscure:

[2022-09-19 17:42] cbegeman commented on #891
For example,
[code]

[2022-09-19 20:22] xylar commented on #891
Thanks @cbegeman!

[2022-09-19 22:13] #891 closed

[2022-09-27 20:35] xylar opened #911 "mache config file not being included along with main or control config"
[code]

[2022-09-27 20:40] xylar opened #912 "Mapping files not being linked from main run"
If you run a main vs. control analysis run, it still generates the mapping files over again, rather than linking the maps directory from the main output.

[2022-09-28 23:11] xylar commented on #912
I'm not sure what went wrong with my test earlier but I have verified that the `mapping` directory is, indeed, symlinked when a main config file is provided, and that mapping files are not generated again.

[2022-09-28 23:11] #912 closed

[2022-09-28 23:26] #911 closed

[2022-09-29 20:31] xylar opened #916 "Change colormap and units for EKE"
@anirban89 has suggestions for how to improve EKE:
https://github.com/MPAS-Dev/MPAS-Analysis/pull/898#issuecomment-1262715078

[2022-09-29 20:31] xylar commented on #916
@anirban89, I think the `cmo.ice` colormap is really similar.

[2022-10-10 01:50] #216 closed

[2022-10-13 03:56] xylar opened #922 "Python climatology calculation not retaining attributes"
In the new #917 analysis, we're seeing:
[code]
when we're not using `ncclimo`.

[2022-11-24 13:30] #922 closed