[2017-04-15 10:20] xylar opened #187 "Move Nino34 plotting to Nino34 Task"
I think we probably don't want to put plotting functions that are specific to one analysis task in the shared plotting functions.

[2017-04-17 15:00] akturner opened #189 "Which version of xarray is the correct one?"
Hi, I'm trying to run the sea ice MPAS Tools on my laptop and am encountering the following problem:
pn1512828:MPAS-Analysis akt$ ./run_analysis.py config.setup
/Users/akt/anaconda/lib/python2.7/site-packages/matplotlib/font_manager.py:273: UserWarning: Matplotlib is building the font cache using fc-list. This may take a moment.
warnings.warn('Matplotlib is building the font cache using fc-list. T

[2017-04-17 15:08] pwolfram commented on #189
This is an error from the 0.8 to 0.9 xarray upgrade that was not caught following a refractor of `replicate_cycle`. 0.9.2 is the recommended version although following some bug fixes I'd really say 0.9.3 is the recommended version of xarray.

Note, this is a legitimate bug as far as I can tell-- cc @xylar

[2017-04-17 15:10] akturner commented on #189
conda upgrade xarray leave me still at 0.9.2

[2017-04-17 15:11] pwolfram commented on #189
@akturner, can you please try the conda-forge channel if you want to upgrade?

[2017-04-17 15:12] pwolfram commented on #189
@milenaveneziani and @xylar, did this bug come up during the 0.2 testing process?  If not, is it possible this is a conda environment issue?  It seems unlikely but if so this is the easiest fix.

@akturner, can you please provide more details so that this bug can be reproduced (e.g.: machine, config file, etc)?

[2017-04-17 15:16] akturner commented on #189
OSX MacBook Pro, conda 4.3.16
[config.setup.txt](https://github.com/MPAS-Dev/MPAS-Analysis/files/925885/config.setup.txt)

[2017-04-17 15:34] akturner commented on #189
@pwolfram: Conda forge channel?

[2017-04-17 16:11] xylar commented on #189
@akturner, did you install using the instructions in the readme file?
[code]
I don't think this is a straightforward problem with the xarray version, as we haven't seen this on any other platforms.  But it also sounds like you're using the same version of xarray as we are (0.9.2).  @pwolfram, I don't think 0.9.3 is available yet, or if so only recently.  Either way, I don't think it relates to thi

[2017-04-17 16:12] xylar commented on #189
@akturner, can you send the output of `conda list -e`?

[2017-04-17 16:52] akturner commented on #189
pn1512828:MPAS-Analysis akt$ conda list -e
# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: osx-64
_license=1.1=py27_1
abstract-rendering=0.5.1=np110py27_0
alabaster=0.7.6=py27_0
anaconda=custom=py27_0
anaconda-client=1.2.1=py27_0
appnope=0.1.0=py27_0
appscript=1.0.1=py27_0
argcomplete=1.0.0=py27_1
astropy=1.0.6=np110py27_0
babel=

[2017-04-17 17:03] akturner commented on #189
OK, using the install commands given by xylar it seems to have made progress. Now the error is:

pn1512828:MPAS-Analysis akt$ ./run_analysis.py config.setup

Plotting sea-ice area and volume time series...

  Reading files:
    timeSeriesStatsMonthly.1959-12.nc through
    timeSeriesStatsMonthly.1962-01.nc
  Load sea-ice data...
   Warning: Preprocessed time series ends before the timeSeries start

[2017-04-18 08:54] xylar commented on #189
@akturner, you shouldn't need to create mapping files in advance.  They should be created automatically if you don't point to existing mapping files.  Indeed, it looks like it at least *thinks* it created the file:
[code]
Could you verify that files exists and looks like a valid NetCDF file (e.g. with `ncdump -h`)?

It doesn't look like the mapping file is the problem, though.  It looks like you h

[2017-04-18 08:55] xylar commented on #189
Also, I would argue that this is not a bug in MPAS-Analysis but rather a complication in setting up NCO via conda and also via another installer.  I'm going to remove the bug label that @pwolfram added.

[2017-04-18 08:56] xylar commented on #176
@milenaveneziani, any opinion?

[2017-04-18 08:57] xylar commented on #162
This was addressed by #169

[2017-04-18 08:57] #162 closed

[2017-04-18 08:58] xylar commented on #172
@vanroekel, are there ongoing issues with 18to6 performance that merit leaving this issue open?  If not, could you close it?

[2017-04-18 13:46] vanroekel commented on #172
This issue was addressed via an update of conda packages and moving to conda-forge.  #177 also helped here.

[2017-04-18 13:46] #172 closed

[2017-04-18 15:47] akturner commented on #189
Yeah, the python install I did above has broken nco on my laptop. I have no recollection on how this was originally installed, so will have to figure that out.

[2017-04-18 15:48] akturner commented on #189
And uninstalling nco from conda still leaves my nco broken

[2017-04-18 16:37] xylar commented on #189
@akturner, we require one of the latest versions of nco to support ncremap. We also need esmf, a dependency of at least the conda version of nco. I would advise getting help from someone who has recently successfully installed both nco and esmf on the mac. Unfortunately, I don't have a mac to play with.

[2017-04-18 17:50] milenaveneziani commented on #176
sorry for not chipping in, but no, no particular opinion on this one.

[2017-04-18 18:05] xylar opened #192 "Place for scripts for processing observational data sets needed"
We need a place to store scripts used to process data sets.  This is needed both for provenance and potentially for generating the post-processed data sets from the sources in cases where we are not allowed (e.g. due to licensing) to share the post-processed data sets.

I tried putting such a script in a subfolder and creating a link to `mpas_analysis` in that folder.  This is the approach current

[2017-04-19 14:19] xylar opened #195 "Preparing for regression testing"
We should set up regression tests on each machine that can be run (and checked) with a single script call.  In particular, we need:

- [ ] A way of defining a regression test, presumably via 1 or more config files, some of which are combined for a single analysis run and some of which are run in sequence.  (An example of the latter would be checking that caching works correctly when the start and

[2017-04-19 14:21] xylar commented on #195
@pwolfram, what is your level of interest and ability to commit time to these needs?  You've been pushing hardest to have regression testing available, which is fantastic.  Can you set up some prototype tests on Edison and perhaps some of the other ACME-supported machines so the Workflow Team has something to test their system with?  Let me know how I can help.

[2017-04-19 15:13] pwolfram commented on #195
Thank you @xylar for doing this!  @vanroekel came to me this morning on a tangential issue and it is clear we need a way to ensure we get certain behavior on each machine.  Having a way to do machine-specific testing will be key and I think will help alleviate some frustration and unexpected problems we are having with the analysis.  I would make that our top priority in this work.

The simplest a

[2017-04-19 15:17] pwolfram commented on #195
@xylar, to answer

explicitly, I was just planning on running each machine specific config to test for a crash on each machine as justified in my previous comment.

Personally-- I have two paper revisions, two proposals, plus the LIGHT integration into ACME over the next month and other assorted project tasks so time is extremely tight but I should be able to make time for this level of effort tha

[2017-04-19 15:22] pwolfram commented on #195
@xylar, I should note that since we are just going to be running `py.test` on each machine for

we can use the existing py.tests in the short term because we know they should work on each machine out of the box to keep things simple and easy for the workflow team.  Once we have their script to kick off jobs we can make sure our work in py.test still works as we add machine specific tests.  I can't

[2017-04-19 18:36] xylar commented on #195
@pwolfram, all of that sounds good.  We will first just used `pytest` on each machine as our regression test. Then, we will prsumably have to write a small driver script that reads each machine-specific config file and sets the output baseDirectory to a temp folder, runs that analysis, logs its success or failure somehow, deletes the folder, and moves on to the next test.  Even finding time to wri

[2017-04-19 20:02] pwolfram commented on #195
@xylar, regarding pushing the Workflow Team too hard-- they have set the schedule.  We are committed to contribute to this process but aren't committed to deliver a fully functioning regression test suite by the time they have the system implemented.  However, we likely need that system to start to do this work ourselves, at least to some degree.  Is there something I'm missing here?  Is there som

[2017-04-19 20:19] milenaveneziani commented on #195
From what I understand, the point of having this issue open is to scope out tasks that are needed, on our side, to prepare for anything that the workflow team will do to help us with regression testing. Is that correct?
If so, my approach would be to 1) decide whether we can do all this, when, etc; and 2) share the list of tasks with the workflow team to see if we missed something, or if there is

[2017-04-19 20:38] pwolfram commented on #195
@milenaveneziani, once we have a way to run pytest on each LCF and aggregate results automatically then all this is up to us.  I don't think it has anything to do with the Workflow team.  We need LCF integration with github to automate regression testing in a clean way, then our tasks should be fairly independent of the Workflow team, who are essentially bridging the gap of travis CI being run on

[2017-04-19 20:41] xylar commented on #195
@milenaveneziani, yep, that's exactly what I had in mind.

@pwolfram said on our last conference call that we needed this functionality from them as soon as possible.  I think they're making it a high priority because of that, which is great.  I'm just wanting to make sure we are getting good use of the that effort, especially because they are making it a priority.  I don't feel like running `pyte

[2017-04-21 21:08] akturner commented on #189
Could this have also broke my install on mpi? I can't build MPAS anymore with the following error, and all I've really tried to do in the interim is build this?

mpif90 -D_MPI -DUNDERSCORE -DCORE_CICE -DMPAS_NAMELIST_SUFFIX=cice -DMPAS_EXE_NAME=cice_model -DMPAS_NATIVE_TIMERS -DMPAS_GIT_VERSION=v5.0-440-g1b5db29 -O3 -m64 -ffree-line-length-none -fconvert=big-endian -ffree-form -fdefault-real-8 -fd

[2017-04-21 21:14] akturner commented on #189
Yep, it appears mpif90 now points to the anaconda version

[2017-04-21 21:18] vanroekel commented on #189
I do remember this happening.  If you add the conda path to your PATH variable first (before wherever mpi is installed), it should work.  i believe the conda installer prepends the path after everything you put in .bashrc (or whatever shell you use).  Another possible solution may be to just move the offending executable from ../conda/bin so it finds the correct one.

[2017-04-21 21:20] xylar commented on #189
Yeah, it's best not to install mpi (or anything that depends on it through conda).  I would suggest deleting your conda installation and starting over.  Whatever tried to install mpi, don't install that.  If you absolutely need it, set up a separate conda environment for it (with conda create) that you only use when you need that tool.

conda can be great until it starts installing bad versions of

[2017-04-21 21:20] akturner commented on #189
@xylar: This would only have been the MPAS-Analysis system installation attempt

[2017-04-21 21:21] xylar commented on #189
Nothing there should depends on mpi.  I've been careful about that.

[2017-04-21 21:27] xylar commented on #189
I'm doing a new install and, indeed, something is trying to install mpich.  I'll try to find out what.

[2017-04-21 21:36] akturner commented on #189
It seems to make a symbolic link in /Users/akt/anaconda/bin from mpif90 to mpifort. In this case it links to my macports install of openmpi, i.e. mpifort points to my macports install. Dont know why it did that. Removing anaconda from my PATH recovers use of nco and mpi.

[2017-04-21 21:36] xylar commented on #189
Shoot!  This seems to be the latest `nco`.  We should find out from Charlie Zender if this is something they did on purpose because it seems like exactly the kind of thing that really messes up a conda install.  You can't be messing up people's existing MPI settings by overriding them in the anaconda environment.

[2017-04-21 21:37] akturner commented on #189
Indeed! So Rude! :-)

[2017-04-21 21:40] xylar commented on #189
If you do `conda remove mpich`, that should remove mpi and all packages that depend on it.  Then, you should be able to install `nco=4.6.0` without installing mpich.  Every minor version after that depends on mpich.

[2017-04-21 21:42] xylar commented on #189
Okay, wait.  The plot thickens.  It doesn't seem like nco is the problem, it's esmf, which is a dependency that we need.

[2017-04-21 21:44] akturner commented on #189
Is there a way to do the conda installs in a sand box? Like a conda environment - something like this: http://www.ncl.ucar.edu/Download/conda.shtml

[2017-04-21 21:45] xylar commented on #189
Yeah, sure.  Just install miniconda to a new location, prepend that path to your $PATH variable, and play around.  That's what I'm doing right now.

[2017-04-21 21:46] xylar commented on #189
Yep, or you can also use conda  create off of an existing conda install.  That works, too.  It's a little more complicated to clean up later.

[2017-04-21 21:52] xylar commented on #189
Okay, well I didn't notice this until now, but mpich appears to be part of the list of packages that we're using on edison, too.  So I guess if we want to use esmf through conda we're going to get mpich along for the ride.  That's a big pain...

I guess I would go with @vanroekel's suggestions if either of them are practical: preferably putting the path to the mpi libraries you want before the pat

[2017-04-22 15:32] xylar opened #196 "Skip opening data sets when climatologies (and time series) are already cached"
Presently, we create an xarray data set before caching climatologies in many MPAS-Analysis tasks.  If the climatology is already fully cached, opening the xarray data set is a potentially time consuming, unnecessary step.

Presumably, the only information needed to determine whether the cached data is complete is the start and end time of the cached data and the start and end time of the data set

[2017-04-22 15:33] xylar commented on #196
This came up in discussion of #181.  @milenaveneziani feels that it will likely be a high priority, particularly at higher resolution.

[2017-04-22 18:49] xylar commented on #196
I have given this some thought.  I think it will be a lot easier to address after we have converted analysis tasks to classes in #128.  Once analysis tasks are classes, we can make a base class for climatology tasks.  That base class will have the functionality for creating and caching climatologies that is currently in the climatology module.  "Modelvsobs" and similar tasks can derive from this b

[2017-05-03 23:21] milenaveneziani opened #202 "Unhelpful error message when no data is available"
If one asks to compute climatologies over a 1-year time frame, and no data is available over that year, the resulting error message is very unhelpful:
[code]

[2017-05-04 13:09] xylar commented on #202
Hopefully addressed by #203

[2017-05-07 11:18] xylar commented on #176
I'm closing this with the understanding that we will phase out `Last Modified` because it has the tendency to be inaccurate but that we will keep `Authors` per function/method.

Regarding sphinx/numpydoc, I think we can live with the warnings generated by the unknown `Authors` section when autogenerating documentation from docstrings.

[2017-05-07 11:18] #176 closed

[2017-05-08 20:53] xylar commented on #196
Just a quick update on this.  I'm working on a branch that addresses this issue.  It involves:
* Caching times from multifile data sets once (and adding additional times later if the range of times changes or new data becomes available)
* Each analysis task that creates a cached climatology having a special function for opening (and maybe computing) a portion of the data set from a given subset of

[2017-05-09 21:16] xylar commented on #196
I have a branch that takes care of this issue for climatologies (but not yet for time series):
https://github.com/xylar/MPAS-Analysis/tree/climatology_caching_skip_opening_ds
It also makes some other improvements by making the climatology module into classes instead of functions.  This lets the code for computing climatologies know more about tasks and thus lets it handle more of the process behin

[2017-05-22 03:57] milenaveneziani commented on #202
Closing this for now as it should have been addressed by #203.

[2017-05-22 03:57] #202 closed

[2017-05-22 04:04] milenaveneziani commented on #32
We now have a Confluence page and various Jira tasks that include the items in this list. @pwolfram: I would probably close this issue.

[2017-05-22 04:06] milenaveneziani commented on #11
@xylar, @pwolfram: can we considered this issue solved?

[2017-05-22 06:46] xylar commented on #11
Yes, I hope so.

On May 22, 2017 6:06 AM, "Milena Veneziani" <notifications@github.com>
wrote:

[2017-05-22 14:15] pwolfram commented on #11
To be clear-- how do we gauge success here?  For example, are we 100% confident that the system is "user-friendly"?  It seems to me that as the developers of this framework that this is not something we can necessarily decide ourselves-- our users would have to (agree / disagree) to know for sure if we have met this metric.

[2017-05-22 14:16] #32 closed

[2017-05-22 15:47] xylar commented on #11
But this also suggests that having an open issue for a vague concept like
this is unlikely to be useful.

On May 22, 2017 4:15 PM, "Phillip Wolfram" <notifications@github.com> wrote:

[2017-05-22 15:52] milenaveneziani commented on #11
I agree. We provided what we think are user friendly examples: we can open more specific issues if/when we hear back from users.

[2017-06-12 20:00] akturner opened #207 "MPAS-Analysis seems to assume namelists are lowercase"
I'm trying to use the MPAS_Analysis system on MPAS-Seaice standalone simulations. These fail with the following error:
Traceback (most recent call last):
  File "./run_analysis.py", line 202, in build_analysis_list
    analysisTask.setup_and_check()
  File "/Users/akt/Work/MPAS-Analysis/Feature_branches/init/MPAS-Analysis/mpas_analysis/sea_ice/climatology_map.py", line 76, in setup_and_check
    r

[2017-06-12 20:52] akturner commented on #207
The following PR solves the issue:
https://github.com/MPAS-Dev/MPAS-Analysis/pull/208

[2017-06-13 07:11] #207 closed

[2017-06-16 16:58] stephenprice opened #211 "Allow for sub-annual obs-to-model of ice-ocean coupling analysis"
When running ice-ocean-coupling specific analysis (currently on Xylar's branch "xylar-ocean-transects") -- plotting of ocean bottom temperatures and salinity and sub-shelf melt rate -- one can only compare at annual time resolution (trying to plot the analysis for specific months returns an error). For the bottom temperature and salinity observations, this can be fixed by processing the SOSE data

[2017-06-16 19:50] xylar commented on #211
@stephenprice, could we split these into 2 issues so they can be addressed separately?

[2017-06-18 12:47] xylar opened #212 "Compare different model results"
A requested capability would be to compare these same fields between different model runs in addition to comparing to observations. The current plot structure is show model, show obs, show difference. The added functionality would be show model 1, show model 2, show difference.

[2017-06-19 15:06] stephenprice commented on #212
Thanks @xylar -- sorry I was out of town as of noon-ish on Friday so didn't get a chance to return to this until now.

[2017-06-21 15:26] xylar commented on #211
@stephenprice, I have a [branch](https://github.com/xylar/MPAS-Analysis/tree/add_sose_T_S) now that supports comparing T and S at multiple depths and over any of the seasons listed in [constants.monthDictionary](https://github.com/xylar/MPAS-Analysis/blob/add_sose_T_S/mpas_analysis/shared/constants/constants.py#L25)

If you want to use this branch, you'll want to add something like the following t

[2017-06-21 15:29] xylar commented on #211
A couple of example plots:
Temperature at z=-600 m from winter from the first year of Jeremy's B case with ice shelves on LANL IC:
![antarctic_temp_depth_-600_sose_b_build_double_counting_jas_years0001-0001](https://user-images.githubusercontent.com/4179064/27392389-d8c050bc-56a6-11e7-8432-caf7d50d7bb9.png)

Same but salinity at z=-200 m.
![antarctic_salin_depth_-200_sose_b_build_double_counting_j

[2017-06-22 16:15] xylar commented on #211
I'll upload the files needed to run this branch to Edison this evening (I'm still traveling back from FRISP) and update the Edison config files accordingly.

[2017-06-23 15:50] akturner opened #213 "Expected warnings during execution?"
Hi, while analyzing a D-compset I get the following error during execution of the analysis system:

[code]
Is this to be expected?

[2017-06-25 09:31] xylar commented on #213
@akturner, these warnings are expected.  They are in `ncremap` and are not something we can suppress.  They arise because `xarray` produces files with NaN for fill values (there is no option to change this, unfortunately), whereas `nco` seems to think this is a bad practice.

[2017-06-25 09:33] xylar opened #214 "Consider removing namelist, streams and variable maps"
Hopefully, there will come a point when MPAS AM design has settled down and names aren't changing from version to version (or we can tie MPAS-Analysis versions to MPAS versions).  When this happens, we should remove the various maps between MPAS names and MPAS-Analysis names to avoid unnecessary complications and confusion.

[2017-06-25 12:06] xylar opened #215 "Add analysis task comparing MLD from SOSE"
An analysis task is needed to compare mixed-layer depth in the Southern Ocean with the Southern Ocean State Estimate.  Our existing global observational data set for MLD is too patchy in this area to make a useful comparison.

[2017-06-25 12:08] xylar opened #216 "Add analysis of sea ice formation and melt rates"
Assuming rates of sea ice formation and melting are available in the timeSeriesStats AM, an analysis task that compares these against SOSE and possibly satellite-derived formation rates (e.g. Tamura 2008) would be useful.

[2017-07-09 08:35] xylar opened #217 "Add support for multiple analysis tasks per node when running in parallel"
Currently, only one task per node is supported (or potentially all tasks on the same node if no command like mpirun or aprun is prepended to the command to run individual tasks).  While more complexity is required, it would be convenient to support any number of tasks per node.  This could be accomplished as follows:
* A master task serves out parallel jobs, just like now.
* The master task submit

[2017-07-20 16:11] vanroekel opened #218 "MOC calculation does not work for 18to6"
I'm trying to use MPAS-Analysis v0.2 to analyze the 18to6 output on OLCF.  I've tried this on titan and rhea on login nodes and batch mode.  It does not work on either rhea or titan.  Here is the error I receive on rhea
[code]
Here is the error on titan
[code]

I have tried numerous values of maxChunkSize, but none remedy the problem.

Path to output from a-prime test
[code]
Path to simulation out

[2017-07-20 18:33] xylar commented on #218
@pwolfram, this might be one for you?

[2017-07-21 02:32] pwolfram commented on #218
Thanks @xylar for bringing this to my attention-- I'm looking into this issue with @vanroekel.

[2017-08-06 18:59] xylar opened #221 "MHT is computed from timeSeriesStatsMonthly stream, not meridionalHeatTransport stream"
I believe that the MHT is being computed using `timeSeriesStatsMonthly`, whereas the intention seems to have been to use the `meridionalHeatTransport` stream.

On this line:
https://github.com/MPAS-Dev/MPAS-Analysis/blob/develop/mpas_analysis/ocean/meridional_heat_transport.py#L87
the list of input files is taken from the `timeSteriesStatsMonthly` stream (named just `timeSeriesStats` in MPAS-Analy

[2017-08-06 18:59] xylar commented on #221
@mark-petersen, can you verify that this is a bug?  If so, I'm happy to fix it (it's a one-line change).

[2017-08-06 20:34] milenaveneziani commented on #221
Hi @xylar: no, this is not a bug. We intend to use monthly means of the MHT computed fields, ie output of the meridionalHeatTransport AM that went through the timeSeriesStatsMonthly AM. Similarly to what we do for OHC (layerWeigthedAvg AM) and SST trends (surfaceAvg AM).

[2017-08-06 20:49] xylar commented on #221
@milenaveneziani, then why is there a `meridionalHeatTransportOutput` stream, and why do we have a check in the analysis task to make sure at least one file from the `meridionalHeatTransportOutput` stream exists, even though we never use any files from this stream?  That, at least, seems like a bug to me.

[2017-08-07 05:35] milenaveneziani commented on #221
I think we have an instantaneous (history file) stream for each AM, not only for MHT. But you are right, we do not really need to check for the meridionalHeatTransportOutput stream, just that the config_am_meridionalHeatTransport option is turned on and that we have timeSeriesStats on. Can you confirm this @mark-petersen?

[2017-08-07 08:41] xylar commented on #221
Okay, so looking at this in more detail, it seems that the `meridionalHeatTransportOutput` stream is used to read in `binBoundaryMerHeatTrans`, `refZMid` and `refBottomDepth`.  So we do, indeed, need the first file from this stream.

I'll close this issue.

[2017-08-07 08:41] #221 closed

[2017-08-08 04:19] milenaveneziani commented on #213
seems like we can close this, right?

[2017-08-08 04:22] #11 closed

[2017-08-08 04:22] milenaveneziani commented on #11
seems like we had forgotten to close this..

[2017-08-08 04:23] milenaveneziani commented on #218
Hopefully this will be solved by #220.

[2017-08-08 05:55] #213 closed

[2017-08-12 08:49] xylar opened #223 "remove variable, namelist and streams maps"
For backwards compatibility, we have used maps between variable names in MPAS-Analysis and their counterparts in various MPAS/ACME versions.  This has been useful as variable  names in the `timeSeriesStats` AM (and stream names and namelist options) were changing fast and as different components had different naming conventions within the same ACME version.  The situation seems to have "stabilized

[2017-08-12 16:58] xylar commented on #214
Oops, this is redundant with #223

[2017-08-12 16:58] #214 closed

[2017-08-12 17:35] xylar commented on #211
Wow, I just noticed that I never pushed these needed files to my remote branch.  I've just done this.  This analysis should now be available.  I'll add a description on how to get the branch and how to use it on the ALCC page.

[2017-08-12 17:50] xylar commented on #196
This issue will likely be obsolete if we move to ncclimo in #222.  If so, this issue should be closed after that PR is merged.

[2017-08-12 17:59] xylar commented on #189
@akturner, having not heard anything further on this issue, I'm going to close it.  If you still don't have MPAS-Analysis working on your (new) laptop, please re-open and I'll try to work you through what I did when I recently had to set up MPAS, its dependencies and MPAS-Analysis on my laptop.

[2017-08-12 17:59] #189 closed

[2017-08-12 18:16] xylar opened #225 "explore nco solution to extracting and caching time series fields"
Rather than using the current `xarray` approach for extracting a time series of a single (or a few) variables, we should explore an nco-based approach.  Potentially important would be that the NCO approach could update the time-series cache file as new data becomes available without overwriting data that is already present.

[2017-08-12 20:14] xylar commented on #225
`ncrcat` seems to be the command we want.  A typical command would be something like:
[code]

[2017-08-13 20:28] xylar opened #226 "missing config entry causes config.getExpression() to return None, resulting in non-intuitive errors"
If a config option is missing but config.getExpression() is used to try to parse that option, the result is `None`, whereas the user would probably expect an exception to be raised about the missing section or option.

The result is a very non-intuitive error later in the code when an attempt is made to use the result of the expression, for example:
[code]
It seems like we should remove the if/els

[2017-08-13 20:29] xylar commented on #226
@pwolfram, could you remind me why we decided to have getExpression() return None if the option didn't exist?  I grepped the code and didn't see anywhere (including testing) where this seemed to be needed.

[2017-08-14 14:35] pwolfram commented on #226
@xylar, thanks for asking this question.  It is needed to handle chunking: https://github.com/MPAS-Dev/MPAS-Analysis/blob/b78aa6b6963e94a6c974de2dc096b52448a58230/mpas_analysis/shared/generalized_reader/generalized_reader.py#L193 and https://github.com/MPAS-Dev/MPAS-Analysis/blob/6a9a591e94a18b42e69c08473bfd3e9b92010bcf/mpas_analysis/shared/mpas_xarray/mpas_xarray.py#L579 but this can be refractor

[2017-08-14 15:09] xylar commented on #226
Thanks @pwolfram, that clears up why `getExpression` has the behavior it currently does.

Presently, we use `getExpression` related to chunking in only 2 spots, both in the MOC task:
https://github.com/MPAS-Dev/MPAS-Analysis/blob/b78aa6b6963e94a6c974de2dc096b52448a58230/mpas_analysis/ocean/meridional_overturning_circulation.py#L251
and
https://github.com/MPAS-Dev/MPAS-Analysis/blob/b78aa6b6963e94a

[2017-08-14 15:14] pwolfram commented on #226
It sounds like an overall much cleaner solution cross-repo-- I'd say go for it!  Thanks for following up with me so that we don't have weird side effects with chunking- it is much appreciated!

[2017-08-24 17:04] xylar commented on #226
Closed via #227

[2017-08-24 17:04] #226 closed

[2017-08-24 17:10] xylar commented on #216
I added the "sub-ice-shelf" tag because this analysis would be of interest to the ALCC project related to ice-shelf melting.

[2017-08-24 17:22] akturner commented on #216
Hi, I have a prototype script that can calculate a mass balance for a region, so this would be useful for this.

[2017-08-24 17:26] xylar commented on #216
Excellent!  Please do share and I can see if I can bang it into MPAS-Analysis form.  This worked well for @JeremyFyke's script for ocean transects.

Are you aware of any observations to use?  If not, I'll see what we might be able to use from SOSE.  Or the Tamura et al. [citation needed] production maps might be another option.

[2017-08-24 17:38] xylar commented on #94
Addressed (a long time ago) by #129

[2017-08-24 17:38] #94 closed

[2017-08-24 17:40] xylar commented on #58
Addressed by #129 and some subsequent clean up.

[2017-08-24 17:40] #58 closed

[2017-08-31 09:02] xylar opened #229 "Consider reformatting OHC plot"
In this example, I find the legend much more useful than the description in the plot title used in current OHC plots (see example below).  The axis labels and plot colors are perhaps also preferable.

![image](https://user-images.githubusercontent.com/4179064/29915196-54f6b038-8e3b-11e7-940e-9e3d104e508a.png)

Note: support for comparisons like this between multiple models is also needed, see #212

[2017-08-31 09:05] xylar opened #230 "Add WOCE (particularly Drake Passage) PD plotting"
An analysis task is needed to plot potential density across the Drake Passage:

![image](https://user-images.githubusercontent.com/4179064/29915434-339fbbcc-8e3c-11e7-8d3b-c638194773be.png)

[2017-08-31 15:34] milenaveneziani commented on #187
I think this was addressed in #231?

[2017-08-31 15:39] milenaveneziani opened #232 "Adjust OHC calculation"
This is from a conversation I had with @vanroekel. He thinks we should double check the way we compute the vertical integral.

[2017-08-31 15:46] milenaveneziani opened #233 "Add OHC 2-d map"
It would be interesting to add plots of OHC anomaly maps like these ones:

![middlelayer](https://user-images.githubusercontent.com/8237579/29932345-3fdcfd38-8e31-11e7-957a-ee15a1a30ac6.png)

[2017-08-31 17:50] xylar commented on #187
Correct!

[2017-08-31 17:50] #187 closed

[2017-09-01 11:41] xylar commented on #21
cc @milenaveneziani @mark-petersen @stephenprice, @matthewhoffman @pwolfram @vanroekel @JeremyFyke @darincomeau

Here is a mockup website from MPAS-Analysis.
http://portal.nersc.gov/project/acme/xylar/mpas_analysis_website_mockup/
I would appreciate feedback before I start automating the process of generating sites like this.

[2017-09-01 11:54] xylar commented on #21
In particular:
* Do you prefer having 6 separate webpages like I have here or would you prefer to have everything on one page?
* To what extent is is helpful to have separate "galleries" and to what extent would you just like to page through all the images with the left and right arrow keys?

[2017-09-01 11:56] xylar commented on #21
One option would be to have separate webpages for each component but not for individual types of analysis (so currently 2 pages, one for ocean and one for sea ice).

[2017-09-01 12:19] mark-petersen commented on #21
@xylar, this is fantastic, thanks!  I think the top page is perfect, and having a single top page as a table of contents is the right amount.

On the sub pages, I would prefer to have the full image shown rather than a tight square.  The zoomed in image has the effect, here:
http://portal.nersc.gov/project/acme/xylar/mpas_analysis_website_mockup/seaIce/climatologyMaps/index.html
of showing only th

[2017-09-01 12:26] xylar commented on #21
@mark-petersen, the thumbnail generation was automatic and could easily be made to focus on the top of the image rather than the middle.

My concern about showing the full image is both that the aspect ratio of some images is *quite* awkward for a gallery and that the images have various aspect ratios, leading to serious formatting issues when displaying them as a gallery.  But I'm definitely will

[2017-09-01 12:33] xylar commented on #21
Here's an alternative version where there is one page per component:
http://portal.nersc.gov/project/acme/xylar/mpas_analysis_website_mockup2/

[2017-09-01 13:31] xylar commented on #21
@mark-petersen, I tried doing thumbnails as you suggested (with the whole image).  It works better than I had feared.  Take a look at the second version of the website in the link above at tell me what you think.  You may need to do shift-F5 (or the mac equivalent) to force the webpage to fully refresh if you've already looked at the site before my recent changes.

[2017-09-01 13:34] kevans32 commented on #21
Hey guys- before you spend tons of time on making a user friendly website, we are going to be hooking this up to existing web interfaces we have with LIVV and A-PRIME at some point, and could probably accelerate that task if you like. Would that be useful?

[2017-09-01 13:36] kevans32 commented on #21
That said, the APRIME is fairly minimal itself, so the only benefit to moving this stuff there is to connect it to the atmosphere and a system the coupled team is already running.

[2017-09-01 13:41] xylar commented on #21
@kevans32, we definitely need some HTML that's appropriate for running standalone MPAS-Analysis.
The current A-PRIME html generation doesn't really meet our needs, in that you have to click on a bunch of links to see the output and it doesn't include new analysis capabilities that we're adding (very quickly) on this side.

If the work we do here can dovetail with LIVV and A-PRIME needs, that would

[2017-09-01 13:44] xylar commented on #21
Also, your feedback and also from others on the coupled team on the web design would be most appreciated, especially since that would help later on when we combine efforts.

[2017-09-01 13:47] kevans32 commented on #21
Agreed A-PRIME does not suit, and I do not know if Dave wants us to extend it to to be more useful for all components long term. We are tasked to connect with MPAS-Analysis as part of the new SciDAC to extend the ice sheet validation. I see that you guys are doing tons of work there on and will not get in your way. But I think we have some tools you may like. How about we talk at SIAM about what i

[2017-09-01 13:51] xylar commented on #21
Sounds great!

[2017-09-01 14:54] xylar commented on #21
@akturner, forgot to cc you but would appreciate your feedback.

[2017-09-01 15:45] xylar opened #235 "Change plotting to use a Plotter object"
Right now, we have plotting routines with a *huge* number of arguments.  It might make more logical sense to think about having a plotter object, rather than a bunch of plot functions.  The plotter object could know about things like colorbars, colormaps, time axes, etc. that are common to many of our plots.  It could know how to read parameters from the config file, either reading data for things

[2017-09-01 16:02] milenaveneziani commented on #21
@xylar: this is great!
My preference is for the second mockup, with components separated and the full figure thumbnails. I think that the visualization style is very useful. You can imagine that in the future we'll have a similar html page for analysis that compares two different runs together, instead of one run wrt observations, and this format would work very well for that kind of visualization

[2017-09-01 16:42] xylar commented on #21
@milenaveneziani, these are great suggestions.  I'm working on adding them to mockup2.

[2017-09-01 18:04] xylar commented on #21
I'm trying to do this with images because I prefer visual (rather than text-based) navigating

I think changing the original pngs so the thumbnails have readable titles is an awkward but possible solution.  The titles would need to be simplified so they could be made bigger.  In general, I'm in favor of this.

It won't be easy to add titles to the thumbnails, especially in a way that makes them re

[2017-09-01 18:14] milenaveneziani commented on #21
I saw the thumbnails useful for comparing all plots side by side, without having to click on the single image to see the details (which of corse one does if you do want to see the details). So having big titles in that situation helps a lot.

About the Bootstrap/MHT plots: I would prefer to keep producing Bootstrap images (as also suggested by @akturner a long time ago), but grouping them together

[2017-09-01 20:02] xylar opened #236 "Change squarish subplots to horizontal instead of vertical layout"
Sea ice and Antarctic climatology plots are awkward to view because they are tall and thin instead of wide (the aspect ratio of our screens).  I suggest we lay them out horizontally instead of vertically.  The global climatology maps are too wide to lay out this way, so they should remain vertical.

[2017-09-01 20:17] xylar commented on #21
Another option is to have a caption for each image, perhaps in a rather small font.  This makes the view less compact but not by much if the caption just has a season, a depth or something like that.

[2017-09-01 20:18] xylar commented on #21
I have done this in the latest iteration:
http://portal.nersc.gov/project/acme/xylar/mpas_analysis_website_mockup2/seaIce/index.html

Please let me know what you think.

[2017-09-01 20:44] xylar commented on #21
@milenaveneziani, captions do seem to work rather well.  See what you think of the captions I have so far on the ocean site:
http://portal.nersc.gov/project/acme/xylar/mpas_analysis_website_mockup2/ocean/index.html

I haven't completed this work because it's rather tedious but I think you get the idea of how it would look.

[2017-09-01 20:49] milenaveneziani commented on #21
It all looks very nice to me, @xylar!

[2017-09-01 22:48] toddringler commented on #21
This is beautiful.

[2017-09-02 01:23] stephenprice commented on #21
This is fantastic Xylar. I'm sure there's some format tweaking we can do down the line, but it looks great so far. This will be super handy.

[2017-09-02 06:42] xylar commented on #21
Yep, for sure.  The main things that will be a little harder to tweak later would be things like how many pages are generated (e.g. one per component vs. one per analysis type) so that's where the feedback so far has been especially helpful.

[2017-09-05 14:00] stephenprice commented on #21
Nominally, one page per component would seem to make sense to me. I can see some grey areas that popping up eventually (Does ice shelf melting below to land ice or ocean? Do icebergs belong to land ice, sea ice, or ocean?). But addressing those as they come up makes more sense to me than grouping everything by say, time series vs. spatial maps.

[2017-09-06 06:38] xylar commented on #21
I think this could be handled easily by having a page for land ice/ocean interactions, too. For niw, they seem to belong to the ocean, though.

[2017-09-07 11:10] xylar commented on #21
@stephenprice, thinking some more about this issue at more the task level rather than the html level, MPAS-Analysis currently associates each task with a single MPAS component whose output files it expects to get its data from.  Do we foresee individual analysis tasks that uses history files from multiple components (e.g. comparing melt rates as seen by the ocean to those seen by the land ice, or

[2017-09-07 15:21] stephenprice commented on #21
@xylar - For now I don't think we should make this more complicated than it needs to be, so I'd be fine with just assigning things to a particular component. For now, it certainly makes sense to assign melt fluxes from the ice shelf to the ocean component (overall, this is a freshwater source term for the ocean). There will eventually be plenty of other ice-sheet specific analyses that can be assi

[2017-09-08 12:37] xylar commented on #142
Addressed by #224

[2017-09-08 12:37] #142 closed

[2017-09-08 13:08] xylar commented on #236
Addressed by #238

[2017-09-08 13:08] #236 closed

[2017-09-09 16:42] xylar commented on #229
This would appear to be the starting point:
https://github.com/MPAS-Dev/MPAS-QuickViz/blob/master/ocean/global_ohc_sst/OHC_SST_calculations.ipynb

[2017-09-09 16:45] xylar commented on #230
This script seems to work on the same principle (though not for the Drake Passage, at least in the example plots):
https://github.com/MPAS-Dev/MPAS-QuickViz/blob/master/ocean/section_plots/Zonal_meridional_Section_comparison.ipynb

[2017-09-10 19:33] xylar commented on #43
@jhkennedy, we've got an issue here to remind ourselves to support python 3, but we haven't actually tried very hard.  If you could suggest some habits we need to break to support python 3, that would be helpful.  Otherwise, I suspect it would just be a matter of testing the code and seeing what breaks.

One issue I've seen that *might* cause python 3 issues is iterating through dictionaries (with

[2017-09-11 15:49] jhkennedy commented on #43
Overall, switching to python 3 code from python 2.7 requires very little stylistic changes (supporting python 2.5 and earlier gets more complicated; 2.6 is mostly okay, with some gotchas).

[Python 3](https://docs.python.org/3/howto/pyporting.html) has some good documentation on porting python 2 code, but I actually found going through the [python-future cheat sheet](http://python-future.org/compa

[2017-09-11 21:31] pwolfram opened #242 "Add mass-transport across transects plotting"
We ideally want to have an automated production of transect plots, e.g.,
![transportdrakepassage](https://user-images.githubusercontent.com/4295853/30297793-3c544dc8-9706-11e7-8307-cb160a3876f8.png)

A starting point is https://gist.github.com/pwolfram/33d1d26b64eebd255dd8c56ad18c44ed, but generalization and cleanup for MPAS-Analysis is needed.

[2017-09-11 21:48] xylar commented on #242
@pwolfram, do you think it would make sense to plot the mean observed value as a line value as a line, too (like @stephenprice is doing here: https://github.com/MPAS-Dev/MPAS-Analysis/pull/237#discussion_r137891786 or like we use for MHT observations)?  I ask because this might help us to have a unified approach for making these kinds of plots with observations and error bars.  Something like here

[2017-09-11 22:17] pwolfram commented on #242
@xylar, great idea!  I had just made it a shaded region for simplicity and your idea of specifying the mean value too for the observation, as well as pursuing unified consistency, is much better.

[2017-09-11 22:19] pwolfram commented on #242
I should also note that the general goal here is to produce visual output from the transect data we are already producing in MPAS-O; unification with all MPAS-* cores is optimal.

[2017-09-11 22:23] xylar commented on #43
Thanks @jhkennedy, these are some great tips.  I'm happy to learn that `next(iter(OrderedDict))` is an option in any python version we would want to support.  Quite an easy fix to one problem at least...

As to using `six`, my preference would be to avoid it where possible, since performance in things like looping through dictionaries is definitely not an issue for us.

The integer division one is

[2017-09-11 22:33] xylar commented on #242
@pwolfram, taking a look at your example script, you provide a link to a transects mask file.  Would you foresee storing a pre-generated version of that file on each supported model grid (like we currently do for the MOC regions and we plan to do for ice-shelf regions)?  Or would you want the user to specify a path to the transects mask file in the config file?  Or both might also be possible.  I

[2017-09-11 22:33] xylar commented on #242
Also, were you eager to implement this one or would you like me to give it a go?

[2017-09-11 22:37] pwolfram commented on #242
Time is tight for me until end of fiscal year-- you are more than welcome to have a go before then but please don't feel obligated to do so because I can do this when I have more time too.

[2017-09-11 22:45] xylar commented on #242
Okay, great!  I'll give it a go if I have time.  Otherwise, I'll leave it to you when you have time.

[2017-09-12 03:35] milenaveneziani commented on #242
To add a bit on the transect mask files: we should have a workflow for generating those files that is similar to that for generating regional mask files. Start from a geojson feature and use one of the MPAS-Tools to generate a mask file given a certain grid. We haven't really used this workflow much yet, but it's there and it's probably time to get it finalized, also regarding the region mask file

[2017-09-13 07:04] xylar commented on #23
Partially addressed by #240

[2017-09-13 16:11] xylar commented on #23
@pwolfram, would you be okay with me closing this issue?  We could open issues with more specific issues about provenance needs.  I have some very basic stuff (git hash, user, command line, etc.) in an xml file associated with each image.  This could be expanded but I don't feel like this issue will do much to prod us in that direction.

[2017-09-13 16:28] xylar commented on #242
@pwolfram and @milenaveneziani, I looked in geometric features and didn't see any ocean transects other than the ones for deepening critical channels.

Are there other transects on a branch somewhere that need to be merged?

If not, would be first step for adding this analysis be adding the transects themselves to geometric features and creating a script for extracting them on each of our supporte

[2017-09-13 16:54] pwolfram commented on #23
Thanks for checking into this @xylar-- agreed that #240 is a good minimal approach.

[2017-09-13 16:54] #23 closed

[2017-09-13 16:56] pwolfram commented on #242
@xylar, I'm not sure.  @mark-petersen, do you recall how the transects were produced?  I have some recollection you or others from CCS oversaw their production but don't know for sure.

[2017-09-13 17:27] mark-petersen commented on #242
Here is the original geojson file with the transects.
https://gist.github.com/mark-petersen/ea9ca550258c9a9d6d5009d62aae8deb
I originally created those points in the matlab file, here:
https://github.com/MPAS-Dev/MPAS-Tools/blob/master/visualization/transport_sections/transport_sections.m#L98
which was used for the transport calculation for the 2013 MPAS-Ocean paper.

@xylar I agree that those tra

[2017-09-13 17:40] milenaveneziani commented on #223
@xylar, this was solved by #241, right?

[2017-09-13 17:43] milenaveneziani commented on #100
@xylar: would you consider this solved after #158 is merged?

[2017-09-13 18:58] mark-petersen opened #244 "Snapshots in horizontal and vertical"
Our experience this summer shows how important it is to have a large variety of images in our standard visualization suite.  In particular, instantaneous snapshots are needed to probe overall simulation health, vertical and horizontal mixing parameters, and algorithms.  The difficulty is that a person could never look at all levels, time slices, variables, and regions.  Here I propose a standard s

[2017-09-13 19:00] mark-petersen commented on #244
I'm open to feedback on this.  It will be a compromise between producing numerous plots and time required for MPAS-Analysis.  We have a full mock-up of this from our work this summer.  Results are here:
https://acme-climate.atlassian.net/wiki/spaces/OCNICE/pages/128949324/Simulation+Plan+June+21
and example notebook is here:
https://github.com/mark-petersen/testQuickViz/blob/master/ocean/horizVert

[2017-09-13 19:02] mark-petersen commented on #244
It would be nice to see the seasons.  On the time axis, we could make monthly plots, but only do it every five years.

[2017-09-13 19:23] xylar commented on #242
Great, that seems easy enough to add to `geometric_features`.  Scripting the process for producing the corresponding mask files fore each grid also seems like a straightforward extension of the process we have for the MOC masks.

[2017-09-13 19:29] xylar commented on #223
Yes, indeed!

[2017-09-13 19:29] #223 closed

[2017-09-13 19:30] xylar commented on #100
No, unfortunately not.  This is something I'll fix as soon as I have time.  But there are quite a number of old, bad docstrings lying around.  Let's leave the issue open for now.

[2017-09-15 20:56] xylar opened #245 "Add NCO_PATH_OVERRIDE='No' once NCO 4.6.9 is released"
This flag is needed to prevent @czender's version of NCO from automatically being loaded on DOE LCF machines.  See #222.

[2017-09-18 21:57] #196 closed

[2017-09-18 22:00] xylar commented on #218
@vanroekel, can we close this for now and open another issue if the new method of computing MOC still doesn't work?  Currently, issues I'm aware of are:
* bad transect for the southern boundary; should be fixed by https://github.com/MPAS-Dev/MPAS-Tools/pull/181
* CDF5 issues for big variables; solution in progress
Neither of these are issues with MPAS-Analysis directly.

[2017-09-19 13:09] xylar commented on #3
Addressed (at least for now) by #158

[2017-09-19 13:09] #3 closed

[2017-09-20 21:29] akturner opened #250 "Sea ice concentration map difference doesn't goto -1,1"
The difference maps for the standard climatology for sea ice concentration have a range of +-80% rather than +-100%. This leaves white regions in the middle of regions where the model is most different from observations. Would it be possible to change this to +-100%?

[2017-09-20 22:06] milenaveneziani commented on #250
or, we could add the colors for the values above the maximum and below the minimum (with little triangles), which is something that I've been wanting to do for a while..

[2017-09-20 22:10] akturner commented on #250
Was there a reason 80-100% was left out though?

[2017-09-20 22:13] milenaveneziani commented on #250
no, no particular reason. I was only bounded by the number of color levels. So, if we add two color levels, we can go -100 to 100 and keep the rest the same.
Adding two levels would help the thickness bias plots as well, because also in that case there are white spots for when the bias>3m, or whatever is the max colorbar level.

[2017-09-21 14:50] xylar commented on #250
@milenaveneziani, I'm assuming this is something you can take care of?  It sounds like a pretty simple fix.
 I'm happy to review.

[2017-09-22 03:43] vanroekel commented on #218
Closing sounds fine to me.

[2017-09-22 03:43] #218 closed

[2017-10-05 21:25] xylar opened #254 "Errors in streamfunctionMOC with latest dask (0.15.3)"
When I update my conda environment to the latest dask (0.15.3), I get the following error message when I run streamfunctionMOC:

[code]
The error is not present with the version of dask (015.2) in acme-unified.  This issue needs to be addressed somehow or other before we update the dask version in acme-unified.

[2017-10-05 21:33] xylar commented on #254
This seems to possibly be relate to https://github.com/dask/dask/issues/2745

[2017-10-05 21:35] xylar commented on #254
The solution seems to be to skip dask 0.15.3 and wait for the next release, which should include a fix.

[2017-10-07 23:10] xylar opened #256 "Bias in sea ice thickness and perhaps concentration should be more extensive"
The bias in sea-ice thickness should cover all areas where either the model or the observations have non-zero thickness.  The same is likely true for concentration, though I'm not as sure about that one.

[2017-10-07 23:10] xylar commented on #256
@akturner and @milenaveneziani, what do you think?

[2017-10-08 04:36] milenaveneziani commented on #256
@xylar: is this the same issue raised in #250? And should be solved by #255?

[2017-10-08 06:46] xylar commented on #256
@milenaveneziani, no this is another issue.  I could add a fix to #255 but it might be better to address it separately.

The problem is that the extent in MPAS-SeaIce and in the observations is different.  Right now, if a given cell on the comparison lat-lon grid is outside the sea-ice extent for *either* grid, we mask it out.  I think this is not the correct behavior.  Instead, we should mask out

[2017-10-08 06:55] xylar commented on #256
Hmm, I realize now that my suggestion is a little tricky to handle, since we still do want things to be masked out where MPAS-SeaIce thinks there's land but the observations don't.  I think there should be a way to handle this, though.  I have done something similar in my Antarctic analysis tasks.

[2017-10-10 21:07] xylar commented on #22
Hopefully addressed by #260

[2017-10-10 21:07] #22 closed

[2017-10-10 21:08] xylar commented on #250
Addressed by #255

[2017-10-13 07:27] milenaveneziani commented on #232
Both @xylar and @vanroekel have checked the current OHC code and they think everything is correct, so this can be closed.

[2017-10-13 07:27] #232 closed

[2017-10-13 07:28] #250 closed

[2017-10-13 15:47] xylar commented on #254
I have run the MOC successfully with dask 0.15.4, so I will close this issue.

[2017-10-13 15:47] #254 closed

[2017-10-13 15:48] xylar commented on #245
This was addressed by #253

[2017-10-13 15:48] #245 closed

[2017-10-13 20:08] milenaveneziani commented on #229
Addressed by #261.

[2017-10-13 20:08] #229 closed

[2017-10-24 21:31] milenaveneziani opened #265 "MPAS remapping file no longer being used"
It looks like the remapping file is always being created, even though the variable points to a viable file that was created previously.

[2017-10-24 21:57] xylar commented on #265
Thanks for creating this.  I'll also note that I think the same would be true for the mapping files for observations.

[2017-11-07 20:09] vanroekel opened #268 "Application to high res data generates too many warnings"
Not sure if this is the right place for this issue as it is NCO related, but I have been trying to run MPAS-Analysis on the high res simulation being run on anvil and I get a ton of the same warning
[code]
I certainly see the value of this warning, but it would be nice if it didn't happen every single time (or have an option to supress completely) a NCO operation is performed.  It is impossible to

[2017-11-07 20:50] czender commented on #268
Yes, I can see how that would be nice. High-res MPAS is the only known application where users regularly encounter the CDF5 bug. I added those warnings in 4.6.9 to alert mainly other people to the bug (few except MPAS and netCDF developers are aware of it). The only way (sorry) to turn it off in 4.6.9 is to redirect stdout to /dev/null.
In 4.7.0, to be released real soon now, I modified the warnin

[2017-11-07 20:57] czender commented on #225
Just noticed this issue today. You might find the ncrcat --rec_apn [option](http://nco.sf.net/nco.html#rec_apn) applies here. It augments existing record-based timeseries rather than writing them from scratch, and thus has significantly less I/O overhead.

[2017-11-07 21:36] xylar commented on #225
Thanks, @czender.  Yep, that's what I'm using in the branch I've developed to address this issue.
https://github.com/xylar/MPAS-Analysis/blob/switch_to_ncrcat/mpas_analysis/shared/time_series/mpas_time_series_task.py#L267
The branch is just waiting for its turn to get merged...

[2017-11-07 21:46] xylar commented on #268
@vanroekel, I assume this must mean you're running MPAS-Analysis in serial mode (maxParallelTasks=1).  If you run in parallel mode, each task's output will be directed to a separate log file, which would hopefully make it easier to figure things out.  Even so, I think you're going to have to deal with the verbose output for the time being.  I'll defer to you on what you'd like to see in NCO 4.7.0,

[2017-11-07 22:18] xylar commented on #126
I think this issue will eventually fall off the radar when we stop dealing with multi-file xarray data sets.  If it comes up again we can re-open.

[2017-11-07 22:18] #126 closed

[2017-11-07 22:20] xylar commented on #186
This should happen as part of the switch to `ncrcat`.

[2017-11-07 22:20] vanroekel commented on #268
correct this was serial.  I can certainly flip to parallel.  If there are no objections from others, I would prefer to disable the warning for NCO 4.7.0.  If I recall correctly this error only applies to doing the high-res MOC post process, which we won't be doing now.

[2017-11-07 22:20] #195 closed

[2017-11-08 19:26] czender commented on #268
NCO 4.7.0 has been released. Once it is turned into a conda package and integrated into MPAS analysis the annoyingly verbose CDF5 warnings for the MOC files should disappear.

[2017-11-08 22:13] xylar commented on #268
Thanks, @czender.  I have just made a pull request to update the NCO recipe on conda-forge:
https://github.com/conda-forge/nco-feedstock/pull/47

Hopefully it will be merged in the next day or 2.  I'm not sure how soon I'll be able to update acme-unified but shouldn't be *too* long.

[2017-11-08 22:14] xylar commented on #265
Should be addressed by updating config files in #266.

[2017-11-17 18:43] xylar opened #269 "error in indexNino34 on LANL IC"
When I run on LANL IC the config file `configs/lanl/config.MatchBoth_orig`, I see an error in `indexNino34` as follows:
[code]
I ran in batch mode and with the `add_mpas_climatology_tasks` branch but I don't think either of those are relevant to the error.  Instead, I suspect the problem might be with a newer library version on LANL IC than on other machines.  I don't see any obvious cause for the

[2017-11-17 18:45] xylar commented on #269
@vanroekel, is this something you'd have time to look at at some point?  It's not a huge priority but whatever's causing this problem might creep into analysis on other machines down the road so it would be good to nip it in the bud.

[2017-11-17 20:37] xylar commented on #269
This error seems to result from time not getting parsed in the observational data set.  I'm trying to figure out why not and what we can do about it.

[2017-11-17 20:44] xylar commented on #269
Scratch that, that doesn't seem to be the problem after all...

[2017-11-17 20:50] xylar commented on #269
This appears to be related to this issue:
https://github.com/numpy/numpy/issues/5610

[2017-11-17 21:28] xylar commented on #269
So I think the issue is that numpy 1.13 treats datetime64 differently from previous versions.  I'm not entirely sure if the `isfinite` issue is a side effect of this or not.

I think the solution here is to convert from datetime64 to days since 0001-01-01 (same as what we do with MPAS output) and plot the x axis the same as for the MPAS data.  However, I'm having trouble converting from datetime64

[2017-11-17 21:32] pwolfram commented on #269
Hm, so maybe a work-around outside of numpy may make the most sense.  I'm guessing this is a few lines of code as opposed to a one-liner, e.g., a simple casting function that outputs `datetime64` and then casts it into `datetime.datetime`.  I'm happy to help here if needed.

[2017-11-17 22:17] xylar commented on #269
There's not a way to cast datetime64[ns] to datetime.datetime, since the latter doesn't have the temporal resolution.  The simplest fix in the end was to *not* parse the time when the observational data set is read in and convert to days since 0001-01-01 as we do for the model data.  This also lets us plot the x-axis the same way for obs and model data.

I'll submit a PR for this in just a minute.

[2017-11-17 22:27] pwolfram commented on #269
Thanks, sounds good @xylar.

[2017-11-17 22:28] pwolfram commented on #269
See #270

[2017-11-21 06:55] #265 closed

[2017-11-21 07:35] xylar commented on #225
Should be addressed by #271

[2017-11-21 10:35] xylar commented on #186
Should be addressed by #271

[2017-11-21 10:37] xylar commented on #217
We have moved to running all tasks on one node.  Until we decide to support both multiple nodes and multiple tasks per node, I think we can close this issue.

[2017-11-21 10:37] #217 closed

[2017-11-21 10:38] xylar commented on #269
Addressed by #270

[2017-11-21 10:38] #269 closed

[2017-11-21 10:39] xylar commented on #268
Addressed in latest NCO, which will be included in next e3sm-unified environment.

[2017-11-21 10:39] #268 closed

[2017-11-21 11:10] xylar commented on #256
I believe I was incorrect and the problem does not exist.  Here is an example of an ice-thickness comparison:
![image](https://user-images.githubusercontent.com/4179064/33069391-b42dcca8-ceb4-11e7-8bf0-532a5bad5672.png)
The bias plot does include regions that are zero (or close to it) on the left but non-zero in the middle.  The only regions being masked out are those that are presumably NaN on th

[2017-11-21 11:10] #256 closed

[2017-11-21 12:17] xylar opened #273 "sea-ice climatology-map tasks writing to the same remapped file"
There is a bug where tasks `climatologyMapSeaIceThickNH: remapMpasClimatology` and `climatologyMapSeaIceThickSH: remapMpasClimatology` are writing to the same file (and similarly for the `...Conc...` tasks.  This causes problems if either read or write operations from one task overlap with writing from the other.

The fix is either to have one remap task shared by both climatology map tasks or a u

[2017-11-21 19:43] xylar opened #275 "replace default Edison run"
It seem like the file for the "default" run we use for testing on Edison are disappearing, presumably as they get cleaned up to make room on scratch:
[code]
We should find a good beta2 run to use instead.  @milenaveneziani, do you know of one?

[2017-11-21 20:07] xylar commented on #275
Great, trying that one now.

[2017-11-21 21:22] xylar commented on #275
@milenaveneziani, this beta3 run has the MOC analysis member on, but we don't support that yet in MPAS-Analysis.  How would you like to handle this?  Should we ignore the online MOC for now and update to pay attention to the online MOC once we have the appropriate code?

[2017-11-21 21:31] milenaveneziani commented on #275
Were the 3d velocities needed to compute post-processed MOC saved?

Anyway, I think I should add the MOC online script sooner rather than later. I will talk with @vanroekel about it after the break (I will be off tomorrow).

[2017-11-21 21:40] xylar commented on #275
I have no idea but I'm trying it now.  We'll find out soon.

[2017-11-21 21:40] xylar commented on #275
Yep, my test finished successfully so the velocities must still be included in the monthly mean output.

[2017-11-22 07:05] milenaveneziani commented on #275
@xylar, I am looking at this beta2 run:
`/global/cscratch1/sd/golaz/ACME_simulations/20170915.beta2.A_WCYCL1850S.ne30_oECv3_ICG.edison`
and 153 years of mpaso files are still there, in the short-term archive.
Which beta2 run were you using for testing?

[2017-11-22 08:47] xylar commented on #275
Should be addressed by #276

[2017-11-22 08:47] #275 closed

[2017-11-22 11:50] xylar commented on #100
Should finally be getting addressed by #277

[2017-11-22 16:27] xylar commented on #273
addressed by #274

[2017-11-22 16:27] #273 closed

[2017-11-24 16:24] xylar opened #278 "Analysis task for SSH"
Our Quarter 1 metric for MPAS Ocean for FY 2018 is the sea-surface height.  This is an issue to remind us that this needs to be completed and reported on by Dec. 15th (exactly 3 weeks from today).

[2017-11-24 16:32] xylar commented on #278
@milenaveneziani, there is some SSH data already in the observations directory on NERSC (and presumably therefore on other machines):
[code]
Presumably the daily data is completely overkill but the annual climatology is both at lower resolution and has lost the seasonal cycle.  Do we want to create our own monthly climatologies (e.g. with ncclimo) using the dailyAVISO data?  Or do you feel one of

[2017-11-24 16:38] xylar commented on #278
Here are the details of the Maximenko dataset:
http://apdrc.soest.hawaii.edu/datadoc/mdot.php

[2017-11-24 16:51] xylar commented on #278
The AVISO website seems to have climatology data:
https://www.aviso.altimetry.fr/en/data/products/sea-surface-height-products/global/msla-mean-climatology.html

[2017-11-24 17:02] xylar commented on #278
I'm signing up for access so I can take a look at the mean climatology data to make sure it would, indeed, be useful to us.

[2017-11-24 17:04] xylar commented on #278
@mark-petersen, @vanroekel, @jonbob, we're supposed to "demonstrate mesoscale ocean simulation success by comparing sea-surface height variability in high-resolution E3SM-MPAS-Ocean to satellite-derived observations."  Which simulation would you recommend for this?  Presumably there are various options.

[2017-11-25 04:00] vanroekel commented on #278
@xylar I have started to work on this over the past few days and am close to getting plots of MPAS ssh variability.  I too signed up for AVISO access and just received it.  In the interim, I have been using a dataset from @maltrud.   In talking with Mat he does not think we need the seasonal cycle in the data as it is minimal.

 I'll work on the observational plot next and Mat has offered to plot

[2017-11-25 09:03] xylar commented on #278
@vanroekel, that all sounds good.  I could be mistaken but it also looked like there might be an SSH variability data set that @milenaveneziani created from the AVISO data.  She would know more about that than I.  Anyway, no harm in comparing with both observations and previous model output.

Good to know that the ANN data is likely sufficient.

On a practical note, I assume you're just adding a n

[2017-11-25 14:48] vanroekel commented on #278
@xylar I have been using high frequency output for the variability, but I will test monthly mean and see how close the results are to those using high frequency data.  At this stage of development I’m still actually only in a python notebook as I haven’t had time to think through how to implement this in mpas-analysis with the high frequency output.  If I use monthly mean I would certainly add to

[2017-11-26 17:26] xylar commented on #278
@vanroekel, I somehow missed until just now that we're supposed to be looking at SSH *variability* and not just SSH.  This is obviously an important distinction.  We should have a discussion sooner rather than later about what this means.  Just the standard deviation of the SSH?  Over what time scale?

[2017-11-26 18:18] vanroekel commented on #278
@xylar, yep, I have been working on the variability piece and am nearly done.  I have had a number of conversations with @maltrud about this.  In v0 he found that there isn’t significant sensitivity to the time scale chosen.   I also don’t think the offline calculation is that onerous.  What I’ve put together is certainly lighterweight than the MOC for example.  So I am not concerned about this ca

[2017-11-27 19:04] xylar commented on #278
@milenaveneziani, when you get a chance, could you explain the SSH observations that are already on NERSC?  Thanks!

[2017-11-27 20:05] xylar commented on #43
@milenaveneziani (cc @jhkennedy, @pwolfram), I just had a discussion with the workflow team.  `acme_diags` and `UV-CDAT` are rapidly adding python 3 support.  If I understood right, this was strongly pushed for in a recent ESG review.

Anyway, the e3sm-unified environment would be a lot simpler to maintain if we were to migrate everything to supporting both python 2 and 3, and to switch to python

[2017-11-28 16:40] jhkennedy commented on #43
@xylar I've started to go through my python 2+3 list and it looks like it's pretty straightforward to do.  I'm going to go-ahead and assign this to myself and finish it off. Since you've got CI support, I think it's rather straightforward to set it up to use [tox](https://tox.readthedocs.io/en/latest/) to test across versions.

[2017-11-28 16:55] milenaveneziani commented on #43
@xylar, @jhkennedy: thanks for letting me know about this.
I am not sure how much this will affect a-prime, but pinging @kevans32 and @salilmahajan here as FYI.

[2017-11-28 17:09] milenaveneziani commented on #278
@xylar, @vanroekel: sorry for the delay in responding to this.

I have processed the AVISO sea level anomaly from 1993 to 2015 myself. The most updated data is actually at OLCF:
`/lustre/atlas1/cli115/proj-shared/observations/SSH`
I have calculated the annual rms value from the daily values in `dailyMSLA_AVISO/`, by simply using something like `ncra -y rmssdn..` (after adding an unlimited time dim

[2017-11-29 16:20] xylar commented on #278
`SSHstd_AVISO_1993-2015.nc` has only a single yearly climatology, correct?  That's definitely fine for now but probably a similar approach could be used to create monthly climatologies from which we could create seasonal ones in MPAS-Analysis.  We might want to do some renaming of the variables and maybe consolidating them into a single file so we have both SSH and `rms(SSH)` in the same data set,

[2017-12-01 00:31] #43 closed

[2017-12-08 13:11] xylar opened #284 "HDF5 1.10.1 problem on Edison compute nodes"
I created python 2 and 3 environments for testing MPAS-Analysis on Edison that included the latest hdf5 (1.10.1).  Using these environments, I was able to run the analysis successfully on login nodes but got errors on the batch nodes related to hdf5:
[code]

I re-created my environments with hdf5=1.8.18 and the problem went away.  I just wanted to make a note of this issue, since it may affect our

[2017-12-08 17:24] milenaveneziani commented on #225
this can be closed, right?

[2017-12-08 17:25] milenaveneziani commented on #186
and this as well?

[2017-12-08 17:26] milenaveneziani commented on #119
we should decide what to do with this issue.

[2017-12-08 17:27] milenaveneziani commented on #100
Final clean up for this done in #277.

[2017-12-08 17:27] #100 closed

[2017-12-08 17:28] milenaveneziani commented on #35
Is this still relevant?

[2017-12-08 17:42] milenaveneziani commented on #133
@xylar: do you feel like this is not addressed by #282?

[2017-12-08 18:13] xylar commented on #133
Yes, indeed!  Addressed by #282.

[2017-12-08 18:13] #133 closed

[2017-12-08 18:13] #225 closed

[2017-12-08 18:13] #186 closed

[2017-12-08 19:10] xylar commented on #35
Yes, we should be updating the history attribute of files we write out to include things like which version of MPAS-Analysis was used to generate them and what command was run and such.  This is still missing.  It hasn't been high on my list, I have to admit, even though it's potentially not good that we're not doing it.

The same essentially applies to the HTML: It should include a comment somewh

[2017-12-08 19:19] xylar commented on #119
At this point, I don't think the analysis can be run usefully with less than 1 year of data.  Climatologies are not computed at all, for example.  I am inclined to close this with "won't fix" because we don't have a clean solution and it doesn't seem like a high priority.  Presumably @vanroekel's hack of linking to an output file until a restart file is available will do in a pinch.

[2017-12-08 19:19] #119 closed

[2017-12-08 19:22] milenaveneziani commented on #35
I agree this is not a priority, and it probably won't be for some time. Just wanted to make sure whether we were in a position of closing the issue.

[2017-12-08 19:45] milenaveneziani commented on #34
I think this is no longer relevant?

[2017-12-08 20:23] xylar opened #286 "OHC plot: plus can't be distinguished from thick line for long time series"
I ran the analysis on 100 years of data.  The OHC plot looks like this:
![ohcanomaly_global_b_low_res_ice_shelves_1696_jwolfe_layout_edison](https://user-images.githubusercontent.com/4179064/33783636-ddc0fd86-dc5d-11e7-8e40-5956bea19e16.png)
The trouble is that he plus signs all overlap to the point where they look like a line.  We should probably come up with a fix.

[2017-12-08 20:32] milenaveneziani commented on #286
argh.
might be because the symbols are too big?

[2017-12-08 20:36] milenaveneziani commented on #286
could you try changing the linewidth to something like 1.2 for the '+' case when you have a minute? (now it's set to 3).

[2017-12-08 22:22] xylar commented on #286
@milenaveneziani, I'm not sure making the pluses smaller is really a solution.  With a long enough time series, that will just look like a thinner line.  Also, I think line width doesn't do anything to the pluses because that's controlled by `markerSize` or something similar.  But I could be wrong.

[2017-12-08 22:33] xylar commented on #286
Leif's suggestion was to make the 4 depth categories different colors with the main run as solid and the reference run as dashed.  That would work with this plot but it would make the comparison with other figures difficult.  My suggestion would be to make the 3 sub-depths different shades of either red or gray, with the upper fraction somewhat lighter and the bottom fraction somewhat darker.  I w

[2017-12-08 22:34] pwolfram commented on #34
I think the capability could still be helpful and we really haven't added that functionality if I'm not mistaken, although I need to catch back up on the API so I could be wrong here.

[2017-12-08 22:49] xylar commented on #286
Hmm, my idea isn't too convincing...

![ohcanomaly_global_gmpas-qu240](https://user-images.githubusercontent.com/4179064/33788423-6de5e58e-dc72-11e7-906f-566cdfbf9f9c.png)

[2017-12-08 23:51] xylar commented on #286
Okay, I think I have a plausible fix:
![ohcanomaly_global_b_low_res_ice_shelves_1696_jwolfe_layout_edison](https://user-images.githubusercontent.com/4179064/33789730-1380c20e-dc7b-11e7-8a23-4eb1cfb19105.png)
I have not allowed there to be more than around 300 pluses.  If we want to change that to a smaller number, that's fine.

[2017-12-08 23:52] xylar commented on #286
@milenaveneziani, what do you think of this fix?

[2017-12-09 00:06] xylar commented on #34
We might want a pre-processing step via NCO for this (similar to how we extract time series).  It depends on what exactly you had in mind for this, @pwolfram.  What I understand it that you would define something like a region mask and then you would only get back those cell values that are in the region, not all cells.  This would be useful, for example for computing melt rates under ice shelves

[2017-12-09 02:20] milenaveneziani commented on #286
looks good!

[2017-12-10 11:38] xylar commented on #286
Addressed by #287

[2017-12-10 11:38] #286 closed

[2017-12-11 15:48] pwolfram commented on #34
Thanks @xylar, I recommend we just sit on this issue for now.  I don't think we need to do anything right now but in terms of efficiency (particularly saving to disk), this will be a useful capability in the long term (e.g., ice shelves applications).  It is fairly likely I will want / need something like this for LIGHT output and may need to add this in a general way to MPAS-Analysis.

[2017-12-27 21:38] xylar commented on #212
#292 is intended to address this issue.

[2018-01-06 19:37] xylar commented on #211
Addressed by #288

[2018-01-06 19:37] #211 closed

[2018-01-06 19:38] xylar commented on #192
Addressed by #288

[2018-01-09 20:39] #192 closed

[2018-01-09 20:41] xylar commented on #235
While I think this is a nice idea, I don't think it is likely to happen anytime soon so I'm going to close this issue.

[2018-01-09 20:41] #235 closed

[2018-01-14 15:42] xylar opened #299 "Creating v0.7 tag"
I'd like to make a checklist for creating the next release.  Please add/edit as needed

To do:

- [x]  Merge #297
- [x]  Merge #298
- [ ]  Update e3sm-unified to v1.1.2 on all E3SM (and ALCC, LANL, etc.) machines
  - [x] edison
  - [x] cori
  - [x] theta (ALCC: OceanClimate)
  - [x] theta (E3SM: ClimateEnergy_2 -- @xylar doesn't have an account yet)
  - [x] rhea (ALCC: cli127)
  - [x] rhea (E3SM:

[2018-01-14 15:45] xylar commented on #299
@milenaveneziani, are there other things we need to do before we can create the next version tag?  Are you good with these 4 merges being included?  I think the ability to support reference runs is a big improvement that deserves a release.

[2018-01-14 16:02] xylar commented on #278
@vanroekel, could you point me to the script you used to create the diagnostic for the Q1 metric?  (Sorry if you've already done so and I forgot.)  If you created and saved the variability from the AVISO observations, could you provide 1) the script you used to do that and possibly 2) the results themselves?

@vanroekel and/or @mark-petersen, can you point me to a run where the eddy stats are turn

[2018-01-16 18:40] milenaveneziani commented on #299
Thanks for making this list @xylar: it's basically what I have on my whiteboard :) The only other thing I wanted to add myself was the MOC online script, but I will only be able to *start* that before Ocean Sciences, not finish it. So, I'd say let us leave it out for now.

[2018-01-16 21:40] xylar commented on #299
No problem, I figured online MOC wasn't quite there.  Mark has been having to turn it off in our runs with ice-shelf cavities, which means that also needs investigation.  Let's plan for online MOC to be part of v 0.7.5 or v 0.8.

[2018-01-16 22:48] milenaveneziani commented on #299
I think we agreed to take mira off the list, right?
I suppose no news about the cli115 space at olcf?

[2018-01-17 04:12] xylar commented on #299
@milenaveneziani, true.  I got mixed messages.  Renata thought e3sm-unified needed to be there.  But it doesn't look like E3SM has any time there this year so I don't even know how I would request access...

What *is* needed is an install of e3sm-unified under the ClimateEnergy_2 project.

[2018-01-26 17:49] xylar commented on #299
We're all set.  I'm going to make the tag.

[2018-01-26 17:49] #299 closed

[2018-01-26 18:00] xylar opened #303 "Checklist for v0.8.0"
To do:

- [ ] Add support for online MOC

- [ ] Break MOC into separate tasks for climatology and time series

- [ ] Support comparison with ref in MOC time series

- [ ] Make line colors consistent for main, ref, v0 and obs in time series and MHT plots

- [ ] Task for MLD and KE comparison with SOSE

- [ ] ...

[2018-01-26 18:01] #212 closed

[2018-01-26 18:03] milenaveneziani commented on #303
@xylar: I meant to add the online MOC script, only that will probably be after OS.

[2018-01-26 18:28] vanroekel commented on #303
@xylar and @milenaveneziani I just posted a new version of my python notebook for the online MOC am analysis.  Not sure if it will help for this task, but it is in the MPAS-QuickViz repo if you'd like to take a look.

[2018-01-26 18:52] milenaveneziani commented on #303
Thanks @vanroekel: that will certainly help.

[2018-02-21 23:29] xylar opened #309 "Add support for a reference year for anomalies other than `simulationStartTime`"
For some runs, one does a spin-up and only thereafter does one want to compute anomalies, etc.  This can be hacked right now by modifying `simulationStartTime` in the first restart file, but it would be preferable to have a config option that, if present, overrides `simulationStartTime` with an alternative year.

This would be desirable for the v1 MPAS-O paper.

[2018-02-21 23:31] xylar opened #310 "MOC needs to add bolus velocity"
By default (and if the appropriate namelist flags are set), the MOC needs to add the bolus velocity to the Eulerian velocity.  This modification is needed for the E3SM v1 MPAS-O paper.

[2018-02-21 23:32] xylar commented on #310
We also need to resort to the offline MOC rather than not displaying the MOC at all, since we do not yet support the online MOC.  Otherwise, there is no way to plot the MOC for runs that include the online MOC.

[2018-02-22 04:37] milenaveneziani commented on #310
And we do have the bolus velocity in the default output, right?

[2018-02-22 04:42] xylar commented on #310
Yes, I believe so.  I'm going to try to put this together tonight.  I don't think it will be hard.

[2018-03-07 19:46] vanroekel opened #315 "ncremap does not work with depth slices"
When trying to remap depth slices in latlon.  The remapping with ncremap does not work.  I think this is because ncremap assumes the vertical dimension in MPAS is nVertLevels.  In the code the vertical dimension becomes depthSlice

[2018-03-07 21:09] xylar commented on #315
Working on this now.

[2018-03-07 22:27] vanroekel commented on #315
@xylar your fix worked great for me.

[2018-03-15 11:41] #315 closed

[2018-03-15 11:42] xylar commented on #310
Was addressed by #312

[2018-03-15 11:42] #310 closed

[2018-03-15 11:42] xylar commented on #309
Will be addressed by #317

[2018-03-19 15:01] xylar opened #318 "Encoding header got pushed below license header"
Some of our python files have headers specifying the encoding (when it's unicode instead of ascii).  These are needed when we have special characters like ñ or the degree sign.  When license headers were added, these erroneously were put *above* the encoding header, meaning the encoding now gets ignored.  Oops!

https://github.com/MPAS-Dev/MPAS-Analysis/blob/develop/mpas_analysis/ocean/streamfunct

[2018-03-19 15:03] xylar commented on #318
@kevans32, @jhkennedy, just letting you know about this issue since it affects code we took from you.  Presumably you'll run into the same issue down the road, so you'll probably want to pull over whatever fix I come up with.

[2018-03-19 16:03] jhkennedy commented on #318
@xylar thanks for the ping, this will be very helpful! LIVVkit hadn't previously used the encoding strings so it wasn't on my radar when I made those scripts. I've been putting them into LIVVkit, so I'll have to tackle this same issue soon.

[2018-03-23 10:22] xylar commented on #318
Should be addressed by #319

[2018-03-23 21:36] xylar opened #321 "Example E3SM runs on Edison no longer available"
None of the following runs are available on Edison at this point:
[code]
and we need to find new example runs to point to instead.

It might be worth verifying that examples on other machines are working and update them if not.  The example with ice-shelf cavities on Edison should probably be updated to point to something more recent as well.

[2018-03-23 21:55] xylar commented on #19
Addressed by #160

[2018-03-23 21:55] #19 closed

[2018-03-23 21:56] xylar commented on #159
Partially addressed in #160.  I'm going to close for now because we know we need a proper license and this is in progress.

[2018-03-23 21:56] #159 closed

[2018-03-23 21:59] #309 closed

[2018-03-27 13:49] vanroekel opened #322 "Unicode error"
Running the latest origin/develop on edison and anvil, I now get this error
[code]
These seem to be related to unicode characters in labels that are a part of python 3.  They appear to be imported from future in all the right places, but I still get this error.  The config file for this run is ```/global/homes/l/lvroekel/MPAS-Analysis/config.highRes```.  The steps I did to recreate this error are

[2018-03-27 13:53] xylar commented on #322
@vanroekel, I'm nearly certain this is the same issue as #318 and is addressed by #319, which I plan to merge in 10 minutes or so.

[2018-03-27 17:00] milenaveneziani commented on #322
yes, this looks like exactly the error I was getting.

[2018-03-29 14:52] vanroekel commented on #322
I have confirmed this is addressed by #319

[2018-03-29 14:52] #322 closed

[2018-03-29 14:53] vanroekel opened #323 "add capability for EKE and ssh variance analysis"
For high resolution simulations, plotting of eddy kinetic energy and ssh variance would be useful.  I have a jupyter notebook here https://github.com/MPAS-Dev/MPAS-QuickViz/blob/master/ocean/eke_sshVar/EKE_SSH_stddev.ipynb that could perhaps serve as a starting point.  This capability will require the eddyStats AM to be enabled.

[2018-03-30 01:07] xylar commented on #323
I think this would be really straightforward to add.  We could work off of your ARGO task and just change the output variable and the obs (if any), adding a check to make sure `eddyStats` is on.  I'm away until next Thursday but can put this on my list after that.  Let me know if you make progress on it in the meantime.

[2018-03-31 05:03] xylar opened #324 "Error in timeSeriesOHCAnomaly: plotDepthIntegratedTimeSeriesGlobal"
I'm seeing the following error on develop with both python2 and python3:
[code]
I'm seeing this after updating to the latest version of xarray, dask, etc.  (`conda update --all`), so that might explain why we haven't seen this before.  I'll look into it...

[2018-04-05 03:48] #318 closed

[2018-04-13 11:33] xylar commented on #230
#327 should be a big step to supporting a plot along the lines of this example.  One question is whether the contour plots like in the example figure are more useful than a series of panels like we are planning for other transect data.  Potentially this could be a flag in the config file.

[2018-04-13 20:51] pwolfram opened #328 "Automatically disable task data that causes a failure"
At present, the entire suite of plots is conditioned upon all of the climatologies finishing, which provides too greedy of a failure mode.  For example, if `dThreshMLD` is not selected in the output, e.g., if the MLD package is turned off, the entire analysis fails even analysis that should complete.

We should automatically disable tasks that require data not present in the output, e.g., capture

[2018-04-13 21:42] xylar commented on #328
I will think about how to do this but it's not as easy as you seem to imply. Each task requests the fields it needs during the setup_and_check phase, which is also the stage at which a task should fail if it is not "enabled" in some sense.  But the task that uses NCO to extract fields from timeSeriesStatsMonthly only happens in the run phase. This task also doesn't keep track of which tasks asked

[2018-04-13 21:50] pwolfram commented on #328
Thanks for the quick reply @xylar!  I think the issue here is that if something gets accidentally turned off, as happened here (and will happen when more folks use the code), then MPAS-Analysis fully chokes for a full component.  Maybe an easier way to prevent this from happening is to just check the namelist / streams files for certain key variables and then gracefully exit if they aren't found?

[2018-04-13 22:11] xylar commented on #328
Yes, this would be the more feasible approach. What capability was disabled in the particular case you used that MPAS-Analysis didn't catch? Presumably that is what this issue should focus on, since it is already our intent to do what you have suggested and no issue is needed for the general case...

[2018-04-13 22:12] xylar commented on #328
Sorry, MLD, as you clearly state above. So MLD task should include an additional check that is currently missing...

[2018-04-13 22:33] pwolfram commented on #328
I'm guessing other tasks may have similar issues too, but at least for this specific error, that would provide the fix.

[2018-04-13 22:38] pwolfram commented on #328
Ideally we should solve this in a general way if possible.

[2018-04-14 06:31] xylar commented on #328
I do not think there is a reasonable way to solve this generally. The purpose of the setup_and_check phase is for each task to be able to determine if everything is in place for it to run, so if tasks are not doing that correctly, that will need to be determined case by case.

[2018-04-18 14:49] xylar commented on #328
Addressed (in full) by #330.

[2018-04-18 14:49] #328 closed

[2018-04-19 15:49] xylar opened #338 "Hard code old SST data set in climatologyMapSST"
On this line, we hard code the name of an observational data set that seems no longer to be available:
https://github.com/MPAS-Dev/MPAS-Analysis/blob/develop/mpas_analysis/ocean/climatology_map_sst.py#L113

It might be better to move this to the config.default so it could be replaced with another name as the data set get updated, see available data at:
ftp://ftp.cgd.ucar.edu/archive/SSTICE/

[2018-04-24 20:37] xylar opened #339 "Process new Aquarius SSS data a monthly time series"
Apparently the file/data we use for SSS monthly time series is no longer available, (@xylar and @milenaveneziani cannot find it anywhere on the NASA ftp server). But @milenaveneziani  read a bit of the SSS data that is available now, and this seems to be interesting:
https://podaac.jpl.nasa.gov/dataset/AQUARIUS_L4_OISSS_IPRC_7DAY_V4?ids=ProcessingLevel&values=*4*&search=Aquarius
It's a blended pro

[2018-04-28 18:37] xylar commented on #233
Solution under review #342

[2018-05-01 11:43] xylar opened #344 "Consider gentle failure (e.g. just not plotting) when ref. data is not available"
When comparing 2 runs, the plotting fails if the requested data is not available in the reference run.  In some cases (e.g. those seasons were not analyzed or ice shelves are not present in the reference) it could make sense to just not plot the ref and the difference if not available but to go ahead with the main run.

[2018-05-01 12:41] xylar opened #345 "Allow comparison run from cached main and ref runs"
Allow a comparison (main vs. ref) analysis run to be made from cached main and ref analysis runs, not just cached ref runs.  This would allow:
* running the main analysis on a different machine from the one where the comparison is run (e.g. if it's more convenient to run the comparison on the machine housing the ref. run)
* save a lot of time on the comparison run if the main vs. obs run is desire

[2018-05-02 20:28] xylar commented on #321
Addressed by #343

[2018-05-02 20:28] #321 closed

[2018-05-03 07:58] xylar commented on #233
Addressed by #342

[2018-05-03 07:58] #233 closed

[2018-05-03 14:33] xylar opened #347 "Checklist for v1.0 release"
To do before the release:
- [x] add following data to public server/repo:
   - [x] observations that only need an acknowledgment: UCAR SST, ERSv4 SST we use for the Nino index, NASA SSS, Argo (both the Scripps and the Roemmich data sets), Trenberth data, AVISO SSH, SOSE, NASA SSMI (sea-ice concentration), NASA IceSat (sea-ice thickness), sea-ice area time series, PIOMAS sea-ice volume time series

[2018-05-03 14:35] xylar opened #348 "Add support for online MOC"
Add support for using the analysis member in MPAS-Ocean for computing the MOC so it doesn't have to be computed (very slowly) in MPAS-Analysis.

[2018-05-03 14:36] xylar commented on #348
@milenaveneziani, I'm happy to help but this is one where I think you should take the reins.

[2018-05-03 14:40] xylar opened #349 "Break MOC into separate tasks for climatology and time series"
There is very little advantage in having the MOC task compute and plot both a climatology and a time series.  Instead,  these seemingly separate tasks happen in serial in one task.  This task must wait until both ocean climatologies and time series have been extracted with NCO tools.  Typically, this means the much more time consuming process of computing the MOC time series waits unnecessarily fo

[2018-05-03 14:41] xylar opened #350 "Support comparison with ref in MOC time series"
The MOC time series is not compared against that of a reference run.  Both time series should be plotted.  This should probably wait for (or be combined with) #349 to avoid merge problems.

[2018-05-03 15:17] xylar opened #351 "Make line colors consistent for main, ref, v0 and obs in time series and MHT plots"
The color choices for the main, reference, v0 and observations on different line plots is not consistent:
main in black, ref in blue (v0 in red, not shown):
![image](https://user-images.githubusercontent.com/4179064/39585078-3821c9c8-4ef4-11e8-8f81-5461bf2e56be.png)

main in red, ref in black, obs in blue and green:
![image](https://user-images.githubusercontent.com/4179064/39961961-56123de6-5642-

[2018-05-03 15:19] xylar opened #352 "Task for comparing velocity components with SOSE"
Similar to T and S tasks and proposed MLD task but for velocity components.

[2018-05-03 15:19] xylar commented on #303
I made issues for each item on the check list above and am closing this issue, since not all of these items will be included in v 1.0.0.

[2018-05-03 15:20] #303 closed

[2018-05-03 15:47] milenaveneziani commented on #347
@xylar: thanks for making this list. I am removing the open bullet 'cause I'd be already thrilled if we could complete the first 3 tasks by the release of v1..

Here is an idea about the observations folder: considering that the amount of processed data we will be releasing *and* the amount of data that users would have to process on their own for v1 is not that large, could we have the observatio

[2018-05-03 15:54] milenaveneziani commented on #348
I know.. It's on my high-priority list, but a lot depends on a number of other things, high priority as well, which I need to get done by the end of the month.

[2018-05-03 17:58] xylar commented on #348
Sorry, I didn't mean to imply that you should get to it right away, just that it isn't something where I would assign it to myself.  I put "priority" on it to indicate that it's a higher priority than other issues.  No stress...

[2018-05-04 06:37] xylar commented on #347
@milenaveneziani, I'm not sure what you mean by "could we have the observations folder as part of the MPAS-Anlaysis structure for now".  If you mean, could we add the observations to the code repo, I think the answer is definitely no.  I think we are talking about many GB of data.  That's far too large to go directly in the MPAS-Analysis repo.  We generally hesitate to put files that are even a fe

[2018-05-04 17:52] milenaveneziani commented on #347
ok, forget what I said above.
I am going to use this issue to detail the tasks needed for the release.

[2018-05-05 14:01] xylar opened #357 "Add task for comparing with Schmidtko Obs"
![image](https://user-images.githubusercontent.com/4179064/39664049-81bd2df4-507d-11e8-8ddb-e79fb1ca3ed0.png)
These are data for bottom T and S together with their trends.

[2018-05-05 15:23] xylar opened #358 "Redundant observations on theta"
We have redundant copies of the observations on theta under OceanClimate and ClimateEnergy_2.  This is a pain to maintain so we might want to move all obs to ClimateEnergy_2 unless there are people without access to both.  We would need to update the example config file if we want to go this route.

https://github.com/MPAS-Dev/MPAS-Analysis/blob/develop/configs/theta/config.20171031.tenYearTest.GM

[2018-05-06 03:10] vanroekel commented on #358
@xylar what about moving obs to ```/projects/ccsm/acme``` it would be visible to ClimateEnergy_2 and OceanClimate

[2018-05-06 05:56] xylar opened #359 "MLD includes SSH under ice shelves"
We should subtract the initial SSH under ice shelves to compensate for this.  Otherwise the MLD under ice shelves is not meaningful.

[2018-05-08 04:42] milenaveneziani opened #360 "Current develop crashes on edison"
While running MPAS-Analysis on the DECK pi-control simulation on edison, I encountered this error message immediately:
[code]

I then backed up a few commits, until this one:
`ae41246 Merge pull request #346 from xylar/update_default_iceshelves`
and still got the message. The one that works is the v0.7.5 tag.

[2018-05-08 06:00] milenaveneziani commented on #347
@xylar: I have updated the to-do list above with more details about the observational data sets. I still left a couple of questions open, but mostly it should be OK. Let me know if you have comments or questions.

[2018-05-08 16:48] vanroekel opened #362 "mpas-o_in and mpas-seaice_in have changed names again"
I just tried to run the develop (with the stringIO fix) and found that E3SM master has another name change for the namelist files.  They are now mpaso_in and mpassi_in.

[2018-05-08 16:50] milenaveneziani commented on #362
That's true, that is what I used in a-prime just recently. mpassi_in and streams.seaice.

[2018-05-08 16:51] milenaveneziani commented on #362
I don't think the related PR was merged yet, right?

[2018-05-08 16:52] vanroekel commented on #362
the stringIO PR?  if so, that's true.

[2018-05-08 16:52] milenaveneziani commented on #362
No, I mean the E3SM PR with the name changed.

[2018-05-08 16:53] vanroekel commented on #362
Yes, that is merged.  The run I point to in #363 is using E3SM master a from May 3rd.

There is another PR that is coming that changes the output file names.  So we now have namelist file changes but all output is still mpascice.XXXX

[2018-05-08 16:54] milenaveneziani commented on #362
I am referring to this one: E3SM-Project/E3SM:#2308.

[2018-05-08 16:55] milenaveneziani commented on #362
the link didn't come up right, but that's the PR I meant.

[2018-05-08 16:56] milenaveneziani commented on #362
changing the filenames won't cause any problem. We only need to have the right namelists and streams.

[2018-05-08 16:56] vanroekel commented on #362
Yep, that is the one that changes output files.  This one, which is on master, changed the mpas-o_in and mpas-cice_in names
https://github.com/E3SM-Project/E3SM/pull/2229

[2018-05-08 18:48] xylar commented on #362
Addressed by #363

[2018-05-08 18:50] xylar commented on #360
Addressed by #361

[2018-05-08 18:50] #360 closed

[2018-05-08 18:51] xylar commented on #358
This is a good plan.  We'd need to coordinate with A-Prime since moving the observations would affect them.  But I think our team are likely the only ones running A-Prime on theta in any case.  Wasn't support just added in a recent PR?

[2018-05-08 18:58] milenaveneziani commented on #358
If all obs stay on ClimateEnergy_2 then a-prime is going to be fine.
And yes, I added theta support in the last big PR.

[2018-05-08 18:59] milenaveneziani commented on #358
oops, sorry, I didn't read all comments carefully enough.
OK, I will do a quick fix to a-prime once we move the data to the acme directoy.

[2018-05-09 20:48] milenaveneziani opened #364 "start and end of sea-ice area/volume time series are ignored if previoulsy run case exists"
Not sure how to summarize this in the title, but basically, I had run a case with start=1 and end=500, and then subsequently changed the end time to be something less than 500, but I still get plots that go from 1 to 500 years. This only occurs for the sea-ice area and volume time series. The ocean time series are adjusted with the new end time.

[2018-05-10 16:26] xylar commented on #364
That's an odd bug but probably an easy one to fix. I'll look into it.

[2018-05-10 19:09] #362 closed

[2018-05-10 19:40] xylar commented on #352
I'm going to close this because I think it's done and just waiting for support for the desired color map.

[2018-05-10 19:40] #352 closed

[2018-05-12 22:11] xylar commented on #364
Fixed in #365

[2018-05-12 22:11] #364 closed

[2018-05-14 09:02] xylar commented on #357
Design under review in #369

[2018-05-14 17:19] xylar opened #370 "Include README.md in the docs"
This should be updated.

[2018-05-14 21:59] milenaveneziani opened #371 "Include observations acknowledgement statement in web interface"
For example, we could have the statement in the figure captions, or maybe under the main titles for each diagnostics section.

[2018-05-14 22:02] milenaveneziani opened #372 "Update MHT plot including source of observations (Trenberth)"
At the moment, we only say `ECMWF` and `NCEP`. We should add a string that clarifies the obs provenance (Trenberth and Caron 2001, for example).

[2018-05-16 10:11] xylar commented on #370
addressed by #373

[2018-05-16 10:11] #370 closed

[2018-05-16 10:11] xylar commented on #357
Addressed by #369

[2018-05-16 10:11] #357 closed

[2018-05-16 12:36] xylar opened #377 "add a 'publicObs' tag to all analysis tasks with obs. in the public repo"
Make the default in config.defaut `generate = ['all_publicObs']`.
Create a config.example in configs that duplicates options for config.default that users would typically want to modify.

[2018-05-16 15:25] xylar commented on #351
Addressed by #378

[2018-05-16 15:25] #351 closed

[2018-05-16 15:26] xylar commented on #350
Addressed by #378

[2018-05-16 15:26] #350 closed

[2018-05-16 16:18] xylar commented on #358
Addressed by #376

[2018-05-16 16:18] #358 closed

[2018-05-16 18:03] xylar opened #380 "Progress bar for scripts that download large file"
This could probably be handled easily with the requests and progress2 packages:
http://docs.python-requests.org/en/latest/
https://github.com/WoLpH/python-progressbar
Currently, it's hard to know how long things will take.

[2018-05-16 19:01] xylar opened #381 "Plot observations in timeSeriesSST"
It seems odd to me that we don't plot the observed global mean SST from the same observations we use to compute the climatology map of SST.  This could be computed on the fly for a range of years that matches the simulation as long as we somehow supply a start year.

[2018-05-16 19:04] xylar opened #382 "Switch to or add B-SOSE data"
Matt Mazloff suggested we use B-SOSE instead of or in addition to SOSE.

[2018-05-16 19:15] xylar commented on #17
Part of this has been addressed by #375

I'm going to close this and add the unaddressed items as (lower priority) issues

[2018-05-16 19:15] #17 closed

[2018-05-16 19:18] xylar opened #383 "Check for incomplete, corrupted or changed observation files"
Put a checksum for each file on the observations public space so the download script can check for modified, missing or incomplete files and re-download them as needed.

[2018-05-16 19:20] xylar opened #384 "Only download observations as requested"
Consider downloading missing (or updated) observations as needed from the public repository.  This would probably work in conjunction with #383.

[2018-05-16 19:24] xylar opened #385 "Better code reuse in plotting functions"
There is a lot of redundant code in the plotting functions, as @gstreletz has also noted.  It would be useful to consolidate as much as possible into helper functions that are used by multiple types of plots.

[2018-05-16 21:00] xylar opened #386 "Error using download_analysis_data.py"
I saw the following error when I was downloading the obs. data:
[code]
The script never finished as a result of the error.  Seems like it got stuck somehow.

From searching on the web, it seems like `request` might be a better package than `urllib` for downloading files.  I will look into this.

[2018-05-16 21:30] milenaveneziani commented on #386
hmm, OK, let me know what you find.
Do you think it's a random error?

[2018-05-16 22:03] xylar commented on #386
Most likely a random error but it might still be best to move to something more robust if that's what `request` provides.

[2018-05-17 08:28] xylar opened #388 "Consistent color maps for temperature, salinity, potential density, sea-ice properties"
We use several color maps for temperature and salinity across different analysis plots.  These should be made consistent if possible.

Complaints have been made about `inferno` for sea-ice properties, so maybe an alternative is needed.

Update: I should also add that any other color maps (those we're using for mixed layer depth, velocity components, velocity magnitude, etc.) are up for discussion

[2018-05-17 08:35] xylar commented on #388
## Options for Temperature

- [ ] thermal
- [ ] RdYlBu_r
- [ ] RdBu_r
- [ ] ...

Examples of `thermal`:
![image](https://user-images.githubusercontent.com/4179064/40165950-9736efa0-59bd-11e8-992b-3bf8846a1afa.png)
![image](https://user-images.githubusercontent.com/4179064/40165958-9fea31e8-59bd-11e8-957b-0e6279283f62.png)
![image](https://user-images.githubusercontent.com/4179064/40165976-a9d97de4

[2018-05-17 08:39] xylar commented on #388
## Options for Salinity

- [ ] haline
- [ ] RdYlBu_r
- [ ] BuOr
- [ ] ...

Examples of `haline`:
![image](https://user-images.githubusercontent.com/4179064/40166216-4f6af3c8-59be-11e8-97f2-84e75e5aed2c.png)
![image](https://user-images.githubusercontent.com/4179064/40166232-5aa8b1a8-59be-11e8-81a3-03fd1c15007a.png)
http://portal.nersc.gov/project/m2833/mpas_analysis_output/sose_20180209.GMPAS-IAF.

[2018-05-17 08:46] xylar commented on #388
## Options for Potential Density

- [ ] `dense`
- [ ] `matter`
- [ ] `Spectral_r`
- [ ] ...

Examples of `dense`:
![image](https://user-images.githubusercontent.com/4179064/40166682-72b82390-59bf-11e8-86fc-ca28f4111b31.png)
![image](https://user-images.githubusercontent.com/4179064/40166691-7bce0be8-59bf-11e8-83be-de47a74f8cf2.png)

Examples of `matter`:
![image](https://user-images.githubusercont

[2018-05-17 08:51] xylar commented on #388
Options for Sea Ice Concentration and/or Thickness:

- [ ] inferno
- [ ] ice
- [ ] ...

Examples of `inferno`:
![image](https://user-images.githubusercontent.com/4179064/40166944-0d799f80-59c0-11e8-9a29-db50803258be.png)
![image](https://user-images.githubusercontent.com/4179064/40166960-17d94fc0-59c0-11e8-89ae-dfe52084610b.png)

Examples of `ice`:
![image](https://user-images.githubusercontent.co

[2018-05-17 08:56] xylar commented on #388
@milenaveneziani, @gstreletz @mark-petersen @akturner @darincomeau @pwolfram @vanroekel @matthewhoffman @stephenprice
We will be staring at these plots for *many* years to come so your input now would be much appreciated.  If you have more suggestions, please add them to the list above.  Please discuss your preference(s) below.

[2018-05-17 09:07] xylar commented on #388
My general thoughts are that it's best to avoid a dark-light-dark color map unless the middle value has some meaning (e.g. they make sense for biases or velocity components where zero has a clear meaning).  So it's probably best to avoid maps like `RdBu_r`, `RdYlBu_r`, `BuOr` and `Spectral_r` for all the fields listed here for this reason.

My preferences are:
Temperature: In general, I'm good wit

[2018-05-17 09:12] xylar opened #389 "Add longitude or latitude as top axis to transect plots"
We would show either lon. or lat., depending on which changes most from one end to the other.

[2018-05-17 09:13] xylar opened #390 "Add an inset panel with a map to transect plots"
The inset would show where the transect is located and would also indicate the start and end (e.g. with `A` and `A'`)

[2018-05-17 13:59] milenaveneziani commented on #388
Here are my thoughts:
1) I am conservative with the temperature colormap, I prefer `RdYlBu_r` for all plots. I love `thermal`, which is similar to `magma` I think, but I use it for MLD in my own scripts to process POP data and I really like it for that.
2) I really like `haline`.
3) I prefer `Spectral_r` for density, I don't mind the contrast in the middle, or `matter`. I am not a fan of `dense`:

[2018-05-17 14:09] xylar commented on #388
I guess this is partly a question of what the purpose of these plots is.  I tend to think of them as primarily for viewing on the web and only as a distant second for including in papers or other materials that will be printed out.  It would be easy enough have a `printerFriendly` option somewhere in the config file that defaults to `False` but which would make the background light if set to `True

[2018-05-17 15:37] stephenprice commented on #388
For temperature I like either RdYlBu_r or RdBu_r. I'm not a big fan of thermal.

For salinity, I think haline is ok, especially if we want something quite diff. than for temperature (e.g., so it is easy to differentiate relative to the temperature maps). BuOr is also ok ... but maybe not so easy to quickly differentiate from temperature if that is important.

I agree w/ Milena on both comments for

[2018-05-17 16:28] darincomeau commented on #388
@milenaveneziani I'm also not a fan of thermal for ice thickness :/ - I'd vote to keep 'ice' for that as well.

[2018-05-17 16:37] darincomeau commented on #388
@xylar what about colorbars for difference plots? I prefer cmocean's balance to RdBu, and for salinity, I think delta looks nice paired with haline. I can put up a couple sample plots.

For sea ice, I'll also suggest reversing the colorbar on difference plots, so that blue indicates more ice, red indicates less. It seems more intuitive to me, but others please feel free to disagree (@akturner ?).

[2018-05-17 17:50] vanroekel commented on #388
My votes would be

1) RdBu_r or RdYlBu_r, The others aren't distinct enough in color range to my eye.  I also think spectral_r could work here.
2) haline is my definite favorite here
3) spectral_r
4) ice

I would also rather not have dark backgrounds.

[2018-05-17 18:10] xylar commented on #383
A partial solution is included in #392, where observations are re-downloaded if the file size is different from what it expected.

[2018-05-17 18:10] xylar commented on #386
I believe this will be addressed by #392

[2018-05-17 18:11] xylar commented on #380
Should be addressed by #392

[2018-05-17 18:27] pwolfram commented on #388
@xylar, I vote for

1 (temperature). RdYlBu_r
2 (salinity). haline
3 (density). spectral_r
4 (ice). ice

I am opposed to dark backgrounds.  Should we discuss velocity and vorticity field colorbars too now?

[2018-05-17 18:54] xylar commented on #388
Okay, I'm seeing:

Temperaute: very few fans of `thermal` or `RdBu_r`, so I think those are out.  There seems to be roughly equal interest in `RdYlBu_r` and `Spectral_r` (with the complication that `Spectral_r` also seems to be preferred for density)

Salinity: A consensus on `haline`

Density: A strong preference for `Spectral_r` (note: `spectral_r` with lowercase `s` is a different color map, wh

[2018-05-17 18:56] xylar commented on #388
@darincomeau wrote:

I'm fine with switching to `balance`.  At a glance, it looks pretty similar to `RdBu` but maybe a bit darker at the extremes?  Anyone else want to weight in on the difference plots?

[2018-05-17 19:02] milenaveneziani commented on #388
`balance` looks good to me.

About this:

I totally agree that those plots are beautiful, but that's a different situation. I don't like to have dark backgrounds that are meaningless, i.e. just as a solid color background (for example, I even hate the black background terminal windows :).

[2018-05-17 19:36] xylar opened #393 "Should not generate or link to empty bibtex files"
For some observations, we don't have a bibtex entry (because we are not aware of an associated paper).  In these cases, we should not create an `obs.bib` and we should not link to this blank `obs.bib` in the documentation.

[2018-05-17 19:41] milenaveneziani commented on #377
Addressed by #379

[2018-05-17 19:41] #377 closed

[2018-05-17 19:43] gstreletz commented on #388
I think the current consensus looks good.  My only additional input is that I don't really like thermal, that some diverging colormap (such as balance and delta) should be used for differences, and that existing conventions should at least be considered (I had suggested considering the WOCE colormaps, but there doesn't seem to be much appetite for any of them).

Additionally, I will note that ther

[2018-05-17 20:04] pwolfram commented on #388
I agree with @gstreletz, bringing in CCS-7 (particularly Francesca Samsel) would be a great idea as we decide which colormaps become defaults.

[2018-05-17 22:04] milenaveneziani commented on #388
For vorticity, `curl` is fine, but `balance` is better to me. My brain doesn't even have to think twice: negative=blue, positive=red :)

[2018-05-17 23:26] #386 closed

[2018-05-17 23:26] #380 closed

[2018-05-17 23:31] xylar commented on #388
These changes are being made in #394.
Here's a link to an example analysis with the new, consistent color maps:
http://portal.nersc.gov/project/m2833/xylar/new_color_maps/20180209.GMPAS-IAF.T62_oEC60to30v3wLI.cori-knl.afterSalinityFix/

[2018-05-17 23:38] milenaveneziani commented on #372
Addressed by #395.

[2018-05-17 23:38] #372 closed

[2018-05-18 15:08] xylar opened #396 "Move config options from oceanObservations and seaObservations to respective tasks"
There are a lot of config options that shouldn't be in the general ocean and sea ice observations sections:
[code]
The options above are specific to one analysis task and should be moved to the section of that task.

[2018-05-19 10:11] #388 closed

[2018-05-19 10:42] xylar opened #399 "Replace "temperature" with "potential temperature" in many tasks"
Many tasks refer to "temperature" but actually use potential temperature.  This should be made clearer.  Tags and figure captions should be updated at the very least.

[2018-05-19 14:22] xylar opened #400 "Other El Niño regions besides 3.4"
Although we allow a user to select `nino3` and `nino4` in addition to the default `nino3.4`, all output (including figure titles) assume that 3.4 was selected regardless of the user's actual choice.

It should be easy to fix this by having a dictionary with these 3 region names as keys and the full name of each region as a value.

[2018-05-19 14:35] xylar commented on #400
A note to myself:  While cleaning up indexNino3.4, might as well fix this:
[code]
Should have an `elif dataSorce == 'ERS SSTv4':` and a final `else:` with some kind of error message.  Otherwise, a typo in `HadIsst` would unexpectedly produce `ERS SSTv4` output.

[2018-05-22 07:51] xylar opened #401 "Try using new CFTimeIndex in xarray"
xarray now supports years outside the years 1678 to 2262 that were its previous lower and upper bounds:

http://xarray.pydata.org/en/stable/time-series.html#non-standard-calendars-and-dates-outside-the-timestamp-valid-range

Apparently, this works via calls like:
[code]

[2018-05-22 07:51] xylar commented on #401
@pwolfram, have you used this feature yet?

[2018-05-22 07:56] xylar commented on #401
Also supports our no-leap-year calendar!

[2018-05-22 13:21] xylar opened #402 "Add config file to output website"
This is important for provenance and could be convenient for showing people what config options were used in a run.

[2018-05-22 20:32] xylar opened #403 "Should we add a hovmoller plot of the AMOC at 26.5?"
...or do we just want  a line plot so it's easier to compare with obs?

[2018-05-23 19:29] xylar opened #406 "Document when a purge is needed"
An issue has come up at least twice where analysis behaved unexpectedly when a user didn't purge the output.  We need to carefully document that one should typically use the --purge option unless there is a good reason *not* to, and not the other way around.

[2018-05-23 20:06] xylar commented on #230
@gstreletz, I believe this is essentially one of the items on your work plan, correct?  Not necessarily the drake passage but a plot of the type above.

[2018-05-23 20:07] xylar commented on #385
@gstreletz, I'm taking you off of this for now to indicate that it's not a high priority for your time.  You can always re-assign yourself if and when you get to this.

[2018-05-23 20:19] gstreletz commented on #230
@xylar, yes, that is correct.  I plan to add support for plotting comparison plots of this type.  Initially it will be for the WOCE and SOCE temperature and salinity data, as for #327, but it shouldn't be difficult to then adapt that for use with other data.

[2018-05-23 20:32] xylar opened #407 "HDF5 'Resource temporarily unavailable' error"
I am seeing the following error.  I believe this might be what @darincomeau saw yesterday (can you confirm?):

[code]

This seems to occur when I run 2 instances of `run_mpas_analysis` on the same machine and they're doing `ESMF_RegridWeightGen` operations at the same time.  Something about how HDF5 locks files and how this is handled in `ESMF_RegridWeightGen`.

A (suboptimal) solution may be to n

[2018-05-23 20:59] darincomeau commented on #406
@xylar I have a funny story about this. When I was first running MPAS-Analysis on my run on Theta a couple months ago, I ended up setting the output directory to be the directory above the run directory, thinking it would be nice for bld, run, analysis to all sit next to each other. I then ran with --purge, wiping out the bld and run directories of the simulation. Of course in retrospect this was

[2018-05-23 21:03] darincomeau commented on #407
@xylar yes, this is what I saw yesterday. I'm almost certain I was only running one instance of `run_mpas_analysis` on a particular machine, but did see it on both Theta and Edison. Rerunning with the `--purge` flag, this didn't appear again.

[2018-05-23 21:31] xylar commented on #407
I actually think the --purge might be unrelated (unless it killed a job that was still running by deleting the folder it was running on, for example).   Or at least it's not a sure fix.   I encountered this issue while running with --purge but while running an (unrelated) job at the same time.

Anyway, `ESMF_RegridWeightGen` has been odd and frustrating from the start but I don't have an alternati

[2018-05-23 21:35] xylar commented on #406
Hmm, yes, I worry slightly that someone accidentally puts `/` as their output directory and then runs with `--purge`.

In the case you listed above, I think you would have been okay if you had put it inside an analysis directory within your run directory as you suggested.  Then, it would just delete the analysis directory. But I'm guessing you didn't have that extra subdirectory, which is where th

[2018-05-24 00:58] darincomeau commented on #406
No worries - I immediately realized by mistake. I now use it more freely (but there's still a nervous voice in my head).
Could --purge be made to just purge files known to MPAS-Analysis, like rm -rf clim html logs timeseries, etc.? Just a thought.

[2018-05-24 07:51] xylar commented on #406
Yeah, good idea.  I just implemented this suggestion and will include it in an upcoming clean-up PR.

[2018-05-24 15:56] darincomeau opened #409 "Colorbar in Global OHC Anomaly difference plots not centered at 0."
@xylar I noticed in the Global OHC Anomaly set of plots that the difference colorbar has a level at 0, resulting in spurious coloring.

[2018-05-24 19:11] xylar commented on #409
Good timing.  I can add this to #408.

[2018-05-24 19:14] xylar commented on #409
Here is an example of the problem:
![image](https://user-images.githubusercontent.com/4179064/40506571-802cc944-5f97-11e8-9ce9-95e86abb5627.png)

[2018-05-27 20:29] xylar commented on #409
Fixed in #408

[2018-05-27 20:29] #409 closed

[2018-05-27 20:29] xylar commented on #399
Fixed in #408

[2018-05-27 20:29] #399 closed

[2018-05-27 20:30] xylar commented on #406
Documented in #408

[2018-05-27 20:30] #406 closed

[2018-05-27 20:30] xylar commented on #400
Fixed in #408

[2018-05-27 20:30] #400 closed

[2018-05-27 20:30] xylar commented on #396
Cleaned up in #408

[2018-05-27 20:30] #396 closed

[2018-05-27 20:31] xylar commented on #393
Fixed in #408

[2018-05-27 20:31] #393 closed

[2018-05-28 05:56] xylar commented on #347
Okay, I don't plan on making any new pull requests until the v1.0 release.  I will make a draft message for the release below.

[2018-05-30 11:33] xylar opened #413 "Consider replacing remapping with ESMPy"
It looks like ESMF's python environment might support everything we need to create mapping files and do remapping from within python without `ESMF_RegridWeightGen` and presumably supporting all grids and meshes we might like, unlike `ncremap`.

http://www.earthsystemmodeling.org/esmf_releases/last_built/esmpy_doc/html/examples.html#read-and-write-a-weight-file

[2018-05-30 11:34] xylar commented on #407
Hopefully addressing #413 would also fix this issue.

[2018-05-30 17:19] milenaveneziani commented on #413
I asked Alice Barthel (@alicebarthel) about this because I knew she has been using ESMpy recently, without being completely satisfied. Here is her response:
[code]

To reply to this: so, are you saying that we would still need `ESM_RegridWeightGen` because ESMpy relies on it?

[2018-05-30 17:42] xylar commented on #413
It could, indeed, be that ESMPy uses `ESM_RegridWeightGen` under the hood.  It seems like it still might be worth trying out since I've been having such a hard time getting `ESM_RegridWeightGen` to work with parallel processes (and now with the latest NetCDF, too).  But maybe the same problems would emerge, just obscured by one more level of interface.

I don't think the rewrite would be very hard

[2018-05-30 17:43] xylar commented on #413
@alicebarthel, if you have anymore advice here, I'd be keen to hear it.

[2018-06-04 22:07] alicebarthel commented on #413
I reckon the rewrite would be straightforward, unless you use options ESMPy() is not ready for. My comment was more about whether you'd gain something from the rewrite.
I haven't used it for parallel processes, so can't speak to that.

I do know that Ben Koziol has been working on spatial decomposition to minimize memory load for large grids. Might be of interest.
http://ocgis.readthedocs.io/en/la

[2018-06-05 11:36] xylar commented on #413
Thanks, @alicebarthel.  I also had a conversation with @jhkennedy and he says that ESMPy is just using ESMF command-line tools under the hood, which means that it obviously won't make the issues I've been having with trying to run `ESMF_RegridWeightGen` several times in parallel any better.

I'm a little skittish about adopting any tools that are works in progress but I'll definitely take a look a

[2018-06-06 14:25] xylar opened #418 "Gap above provenance not present for some browsers"
@milenaveneziani is seeing in Firefox:

![image](https://user-images.githubusercontent.com/4179064/41044213-05c9198c-69a6-11e8-9b40-cfb366cd6c3e.png)

The expected look should be like (from @xylar on Chrome):

![image](https://user-images.githubusercontent.com/4179064/41044234-141098e4-69a6-11e8-97a9-e8285f99b481.png)

[2018-06-06 15:56] milenaveneziani commented on #348
Addressed by #415.

[2018-06-06 15:56] #348 closed

[2018-06-06 16:01] milenaveneziani opened #420 "Separation of eddy-bolus velocity MOC from mean"
This is two issues in one:
1) once the MOC online accounts for the bolus velocity contribution when GM is on, we should remove the temporary config option `usePreprocessingScript`;
2) we should visualize both the mean and eddy-induced MOC streamfunction.

[2018-06-07 12:30] xylar commented on #418
Fixed in #419

[2018-06-07 12:30] #418 closed

[2018-06-07 12:34] xylar opened #421 "Add landIce or iceSheet component"
We need to add support for MALI analysis tasks.

Assumptions are currently made that are incompatible with adding a new component:
- a single MPAS mesh name is assumed for all components
- MPAS meshes are assumed to be the Voronoi grid, not the Delaunay triangulation (likely needed for MALI)
- MALI time averages are not yet supported in calls to ncclimo
- ...

[2018-06-07 12:36] xylar commented on #421
This issue should be addressed so that @jhkennedy, @stephenprice, @matthewhoffman and/or @tongzhangice can start to add analysis tasks.

[2018-06-09 11:23] xylar opened #422 "Consider switching to new xarray interp() methods"
See http://xarray.pydata.org/en/stable/interpolation.html

This would apply to vertical interpolation of transects, for which I created my own 1D interpolation.

[2018-06-11 14:13] pwolfram commented on #422
It may be worth taking a close look at https://github.com/pydata/xarray/issues/2079 before making a decision.  I'm not sure this tool is general enough to be considered completely robust yet for our uses.  In particular, you can't dump to netcdf with the present implementation and chunking appears to have potential pitfalls.

[2018-06-11 15:04] xylar commented on #422
Thanks for the information, @pwolfram.  I'm not sure the chunking would be a problem for us but not being able to output NetCDF is a show-stopper so we'll have to see if that is addressed going forward.

[2018-06-26 18:45] bradyrx opened #424 "Use of "refField*" for both observations and reference runs is confusing"
In analysis subtasks (and subsequently plotting subtasks), it is confusing that the variable `refFieldName` and `refTitleLabel` is used for both reference runs and observations. It would seem that it should only be applied to the former, given `refConfig` is used for configuration options for a reference run.

[2018-06-26 18:55] xylar commented on #424
@bradyrx, thanks for posting this.  I need to think of what a better name would be for the "other" plot besides the "main" model result and the difference.  @milenaveneziani, any thoughts?

[2018-06-26 19:29] milenaveneziani commented on #424
I can't think of a better general name either. How about we change the name of `refConfig`, something like `refRunConfig` vs `mainRunConfig`?

[2018-06-26 19:47] bradyrx opened #425 "Monthly climatology comparisons do not work"
Currently, MPAS-Analysis cannot take monthly arguments into `seasons` in a config file. This results in the `ncclimo` command passing the month (e.g. 'Jan') into the `--seasons` flag, which it of course does not recognize as a season.

`ncclimo` should instead be computing climatologies for all months and then just skipping the seasonal climatology computation. (@xylar)

[2018-06-26 20:02] milenaveneziani commented on #425
Hi @bradyrx. This is because mpas-analysis is based on monthly data already, i.e. it assumes that it is reading in already computed monthly averages.

[2018-06-26 20:43] xylar commented on #425
@milenaveneziani, but one should be able to specify `['Jan', 'Jul']` as seasons a it should work.  So I asked @bradyrx to submit this issue.

[2018-06-26 22:31] xylar opened #426 "Conflicting color map info defaults to indexed"
It would be reasonable for a user to want to specify a continuous color map in cases where we specify a discrete color map (with `contourf`) in `config.default`.  For example, `config.default` might have:
[code]
but the user might actually want:
[code]
Currently, the options from `config.default` will actually take priority over those from the custom config file because the code checks for the dis

[2018-06-28 22:39] xylar opened #429 "Polar plots have gap at antemeridian"
Polar plots of sea-ice and iceberg data have a wedge between -179.75 and 179.75.  This could be fixed by adding one more column to the data set so the start and finish are the same.

![image](https://user-images.githubusercontent.com/4179064/42064036-d086361c-7af1-11e8-80ed-c48d4314739c.png)

[2018-06-29 00:36] milenaveneziani commented on #429
There is a way to add a cycle to the lon variable, before plotting with basemap:
[code]
I have used this before and it worked for me.

[2018-06-29 01:29] xylar commented on #429
Thank you both. I’ve implemented this and will submit a PR tomorrow.

[2018-06-29 17:15] xylar commented on #429
Fixed by #430

[2018-06-29 17:15] #429 closed

[2018-06-29 17:16] xylar commented on #425
Fixed by #427

[2018-06-29 17:16] #425 closed

[2018-07-11 00:00] xylar commented on #347
Done!

[2018-07-11 00:00] #347 closed

[2018-07-12 21:11] xylar opened #436 "Fix authors in docs"
Veniziani --> Veneziani

[2018-07-12 23:59] shoyer commented on #422
Just to clarify, the merged xarray implementation was written independently of pydata/xarray#2079. It should not effect serialization to netCDF.

[2018-07-18 17:34] xylar commented on #389
Addressed by #437.  Thanks, @gstreletz

[2018-07-18 17:34] #389 closed

[2018-07-18 23:32] gstreletz opened #438 "interpolation occasionally inserts duplicate values"
When interpolating transect data, the interpolator occasionally inserts duplicate values in the results array.  Duplicate values are at points from the original dataset, but do *not* occur at all such points.

To reproduce this problem, run MPAS-Analysis for GeoJSON transects using the two transect files attached, with horizontalResolution = 5, and with upperXAxes=strictlyMonotonic (in order to fo

[2018-07-19 18:06] xylar commented on #438
Thanks @gstreletz.  I can reproduce the bug and am working on it.

[2018-07-19 18:33] sterlingbaldwin commented on #407
I just ran into this problem on acme1. It was the only job running at the time, the mpas-analysis job spawned from aprime. Below is the complete log output:

[code]

[2018-07-19 18:44] xylar commented on #407
Thanks for letting us know about this problem, @sterlingbaldwin.  It's a really frustrating issue.  I haven't been able to reproduce it reliably enough to try to debug it.  But it clearly has something to do with the more restrictive file locking introduced in HDF5 1.10.x.  If this happens persistently on acme1, that would actually be helpful in figuring out the issue.  What I would need is a simp

[2018-07-19 18:52] sterlingbaldwin commented on #407
This is the first time ive run the newest version of aprime, Im running again now and will let you know if this comes up again.

[2018-07-19 18:54] milenaveneziani commented on #407
So, this is more related to the version of HDF5 in e3sm-unified, right?

[2018-07-19 18:55] pwolfram opened #440 "Task fails silently if dependent task previously failed"
Task with failed dependency should report an error that it will not be run due to dependent task failure.

[2018-07-19 19:59] pwolfram commented on #407
@sbrus89, is this the error you saw this morning?

[2018-07-19 20:22] sbrus89 commented on #407
Yes. I got a very similar error on edison. The partial screen output is below:

`sbrus@nid02679:~/project/DECK_Analysis/DECKv1b_H1/1885-1934> ./analysis.sub
cmdModule.c(579):ERROR:50: Cannot open file '/usr/syscom/nsg/modulefiles/nsg/1.2.0' for 'reading'
Currently Loaded Modulefiles:
  1) e3sm-unified/1.2.0
/global/project/projectdirs/acme/software/anaconda_envs/edison/base/envs/e3sm_unified_1.2.0

[2018-07-19 20:49] vanroekel opened #441 "Error in OHC maps for non year 1 start times"
When running the latest analysis on the historical transient, I see the following error for the OHCAnomaly maps
[code]
It is not respecting the value of anomalyRefYear I set.  This appears to be a simple typo in the task.  I will make a PR in a minute

[2018-07-19 20:50] xylar commented on #407
Yes, I think the only change in A-Prime that likely relates is that it now references e3sm-unified 1.2.0, which uses a later version of HDF5.

[2018-07-19 20:52] xylar commented on #407
@sbrus89, is this an error you get repeatedly (i.e. is it easily reproducible) or only sporadically?

[2018-07-19 20:57] xylar commented on #407
@sbrus89, I typically run with an output directory on `$SCRATCH` or `$CSCRATCH` on Edison or Cori.  Could you try that and see if you get the same thing?  Typically, the analysis isn't something we would want to keep or store in `/global/project/projectdirs/acme/`.  I also think the project space may be a different type of file system that has more trouble with HDF5 locks than the scratch spaces.

[2018-07-19 21:12] sbrus89 commented on #407
@xylar , The errors have been easily reproducible for me.

Thanks for letting me know about the project space. When I run on scratch1 with parallelTaskCount = 1 things seem to work. However, I still get those same errors on scratch1 with parallelTaskCount = 12 (both with ncclimoParallelMode = serial and ncclimoParallelMode = bck).

[2018-07-19 21:31] xylar commented on #441
Addressed bu #442

[2018-07-19 21:35] xylar commented on #407
@sbrus89, are your running on a Cori/Edison compute node? Or on a login node?

[2018-07-19 21:38] #441 closed

[2018-07-19 21:42] xylar commented on #438
Addressed by #439

[2018-07-19 21:49] sbrus89 commented on #407
@xylar, compute node.

[2018-07-19 21:49] xylar commented on #440
@pwolfram, there's a bit of code that *should* be printing a warning when a "prerequisite" task fails during setup:
https://github.com/MPAS-Dev/MPAS-Analysis/blob/develop/run_mpas_analysis#L253

I could use some help figuring out why it's not getting triggered in your particular case.  Could you post your config file here and let me know what machine it's for?  That'd help me debug.

[2018-07-19 22:06] xylar commented on #440
@pwolfram, I think I've got a run to try out (@bradyrx's config file in the #329)

[2018-07-19 22:12] #284 closed

[2018-07-19 22:16] xylar commented on #407
@sbrus89 and @sterlingbaldwin, one thing to try would be:
[code]
You'd either set this in your local environment right before calling `./run_mpas_analysis` manually or you'd add it to the job script you run.

If this works, we'll probably need to add this to the example config files here in MPAS-Analysis and also to the bash scripts in A-Prime.

[2018-07-19 22:22] xylar commented on #440
@pwolfram, I ran with that setup and I see an error:
[code]
Note the mention of `climatologySkillScoreBGC`, as expected.

So I'm not able to reproduce this problem.

[2018-07-20 00:45] sterlingbaldwin commented on #407
After performing three runs one-at-a-time two completed successfully, one had this error again.

[2018-07-20 17:19] sterlingbaldwin commented on #407
Im re-running my jobs from yesterday with the HDF5_USE_FILE_LOCKING=FALSE flag, so far everything seems to be working.

[2018-07-20 17:45] xylar commented on #407
I really hope that works because I don't have many more tricks up my sleeve.  @sbrus89, any luck?  @sterlingbaldwin, please do keep me posted.  If that fix works consistently, we'll need to make some updates as I said above.  @milenaveneziani, just a heads up that I may need to add this flag to the A-Prime batch scripts.

[2018-07-20 18:30] xylar commented on #407
I'm not sure about that but I think the environment gets passed to `run_mpas_analysis`.  @milenaveneziani, do you know one way or the other?  It's almost certainly the case that the environment gets passed from there to the subprocess calls (e.g. `ESMF_regridWeightGen`, `ncclimo` and `ncremap`), as that's the default behavior in the various python subprocess calls.

That was definitely @milenavene

[2018-07-20 18:34] xylar commented on #440
@pwolfram, we figured out that the issue is not that the task is failing silently but rather that you were disabling a task but then it was getting re-enabled because it is a prerequisite of another task.  The solution will be a refactoring of the BGC tasks in the near future.  I think we can close this issue.

[2018-07-20 18:34] #440 closed

[2018-07-20 19:40] pwolfram commented on #440
Agreed, thanks for the help @xylar!

[2018-07-20 21:55] milenaveneziani commented on #407
hmm, we are talking about an environmental variable, right? We have many in a-prime, so I don't see why `HDF5_USE_FILE_LOCKING` would be special in that sense..

thanks, we appreciate you noticing the little improvements.

So, did we do any testing of this (flag) in mpas-analysis outside the a-prime framework?

[2018-07-20 22:10] xylar commented on #407
We convert many environment variables into config file options and write them out but I'm not sure we have any other cases where we set environment variables that we expect MPAS-Analysis to use (indirectly by passing them on to NCO).  But I believe we have tested some environment variables related to NCO in the past (like the one that tells NCO not to look in Charlie Zender's home directory) and t

[2018-07-20 22:12] milenaveneziani commented on #407
yes, the NCO variable is the only one we use in mpas-analysis, and defining it in run_aprime works.

[2018-07-20 22:23] xylar commented on #407
Hopefully the issues seen on Edison will be addressed by #443.  The same does not seem to be true for the issues on ACME1.  I will investigate further as soon as I'm able.

[2018-07-20 22:35] xylar commented on #407
@milenaveneziani, I completely agree that we should put it in A-Prime.  Even if it doesn't help on acme1, it will be necessary for batch jobs on NERSC machines.  I assume the only reason we didn't see that already was that we tested on the login nodes?

[2018-07-20 22:37] milenaveneziani commented on #407
yes, that is possible. I tested on the compute nodes on anvil, titan and cooley, but not on NERSC machines.

[2018-07-20 22:39] milenaveneziani commented on #407
we also set `LD_LIBRARY_PATH` that is needed by mpas-analysis (and e3sm-unified in general) on anvil. That works as well in a-prime.

[2018-07-20 22:42] xylar commented on #407
I believe we *unset* `LD_LIBRARY_PATH` on anvil because it interferes with e3sm-unified.  I don't think that relates to MPAS-Analysis directly.  But the NCO flag you mentioned (`export NCO_PATH_OVERRIDE=No`) certainly does.

[2018-07-20 22:44] milenaveneziani commented on #407
yes, sorry, `unset` is what I meant.

[2018-07-20 22:53] milenaveneziani commented on #407
I now have an a-prime branch with similar changes made in mpas-analysis (flag and modules). Do you want to make a v1.1 now, or do you prefer to include a few more PRs (transect bug fix and the other two)?

[2018-07-20 22:57] xylar commented on #407
I don't think anything changed since v1.0 in MPAS-Analysis so far relates to anything that will be standard output in A-Prime.  The example job scripts and config files aren't used.  I don't think you're plotting transects by default, right?  So I would leave MPAS-Analysis the same as it currently is in A-Prime and just add the flag to the batch scripts or the main `run_aprime.bash` script, whiche

[2018-07-20 23:00] milenaveneziani commented on #407
yes, you are right, I didn't think it through before asking my question :)

[2018-07-22 16:51] czender commented on #407
@xylar and @sterlingbaldwin these are the first reports of file locking issues I have received. One non-ideal fallback may be to call ncclimo in serial mode (ncclimo -p serial) instead of using the background parallelism default. Not a long term solution because serial mode slows things down, and perhaps you already tried that, just making sure you remember that option exists. The problem does see

[2018-07-22 21:03] xylar commented on #407
Yes, that does seem to be the case.

[2018-07-24 17:29] #438 closed

[2018-07-24 19:21] xylar commented on #436
Fixed in #320

[2018-07-24 19:21] #436 closed

[2018-07-25 23:27] xylar opened #445 "Analysis task for plotting regional means and std. deviations of climatologies vs. depth"
Requires not only climatologies of variables but also variable**2 (to get the standard deviation) if not already in monthly stats.  This likely requires:
* extracting a time series of the 3D variable(s)
* compute the square of the 3D variables
* computing the regional mean of the variables and their squares as functions of time and depth
* computing climatologies of the means and squares
* computi

[2018-08-01 00:57] gstreletz commented on #230
PR #450 (Transect contour plots) partially addresses this issue, providing the contour comparison plot type shown above.  To add Drake Passage PD plotting using the code from this PR, all that is needed is to create a GeoJSON file for the Drake Passage transect.

[2018-08-01 21:40] kevinrosa opened #451 "Analysis task for line plot of zonal means"
This is a reminder about adding the ability to plot zonal means of fields such as SST, EKE, etc.

If the field has already been remapped by MPAS-Analysis, this task is trivial:

[code]
![eke_zonal_mean](https://user-images.githubusercontent.com/13137098/43550427-c464b178-95a0-11e8-8cf2-ce4d589903b4.png)

[2018-08-02 18:10] xylar commented on #230
My thoughts on creating a Drake Passage task are:
* Make downloading the Drake Passage (and probably other ocean geojson files from `geometric_features`) part of the script for downloading observations
* Reorganize `config.default` and the example config files to just specify the `diagnostics` directory and not all of the unnecessary subdirectories and files (to better reflect the more rigid struc

[2018-08-02 19:38] xylar opened #452 "change `run_mpas_analysis` to `mpas_analysis` entry point"
According to @jhkennedy, this is likely a necessary step before we can move over to conda-forge.  It also allows our script to have the same name as the package, which would be nice.

Here's some info on entry points:
https://amir.rachum.com/blog/2017/07/28/python-entry-points/

[2018-08-07 15:09] pwolfram commented on #445
@xylar, thanks for summarizing.  This looks good to me as a first start.  The one thing that is a little vague is computation of mean / std dev over seasons, e.g., JFM.  I think we want the capability to do the reductions with this level of specificity.  I've updated the description above accordingly. Thanks!

[2018-08-07 16:49] xylar commented on #445
As I asked in email, do we need the std. deviation just in time or also in space (i.e. over the regional area)?

[2018-08-07 17:04] pwolfram commented on #445
We definitely need the std. dev. in regional space.  I was thinking of it, as well as the mean, as a reduction operator over (regional space, time) that preserves depth-variability, e.g., we could make the depth coordinate parallel.

[2018-08-07 17:17] xylar commented on #445
Okay, thanks.  That definitely wasn't clear to me from the start.

Mathematically, that's a nice feature.  Algorithmicly, I don't think we gain anything by doing depth slices in parallel.

[2018-08-14 16:13] xylar opened #455 "setuptools should be a dependency of mpas_analysis"
Because we use `pkg_resources`, which is part of `setuptools`, we should be including `setuptools` as a dependency.  Obviously, one or more of our dependencies already includes `setuptools` but it would be better to be explicit.

[2018-09-19 22:13] xylar opened #457 "Possible bug in lat/lon grid descriptor"
This bug means global grids are treated as regional and can produce seams at the -180/180 longitude interface (and perhaps at poles).

![image](https://user-images.githubusercontent.com/4179064/45784647-dbcc7e00-bc69-11e8-85bf-03507a5cd0f8.png)

The solution is likely to be checking the extent of the *corners* of cells on the lat/lon grid, not the centers.

[2018-10-18 16:35] xylar opened #458 "pyproj missing from conda dependencies"
we appear to be missing pyproj as a dependency in our conda recipe.  It must be getting included via some other package but that's not ideal.

Would be worth checking for any other missing dependencies.

[2018-10-19 04:13] vanroekel opened #459 "mpas-analysis does not support cdf-5 format files with e3sm-unified 1.2.2 and 1.2.3"
I tried running mpas-analysis (up to date version of develop) on the high res output on NERSC and get a log file full of errors like
[code]

If I return to e3sm-unified 1.2.0 the analysis runs okay.  I assume this is related either xarray, nco, or netcdf4 versioning and how it interacts with cdf5 files.

The config file is at ```/global/homes/l/lvroekel/MPAS-Analysis/config.highRes```

[2018-10-19 04:59] vanroekel commented on #459
UPDATE: this problem also occurs on ALCF (theta).

[2018-10-19 13:50] xylar commented on #459
@vanroekel, thanks for pointing out this issue.  I can't read `/global/homes/l/lvroekel/MPAS-Analysis/config.highRes`.  The error is a starting point butt I'm looking into it further to see *why* cdf5 isn't supported and what we can do about it.  It would be helpful to know what the python NetCDF4 library *thinks* the format is.  (Which should have been in the error message, in my view, but that's

[2018-10-19 14:31] vanroekel commented on #459
Sorry about that, try again now.

[2018-10-19 14:43] xylar commented on #459
Yep, got it.  And I'm able to reproduce the problem.

[2018-10-20 12:57] xylar commented on #459
Should be addressed by https://github.com/conda-forge/netcdf4-feedstock/pull/68 but I'll need to make sure e3sm-unified pulls in this version of `netCDF4` once it's uploaded to the conda-forge channel.  There may be conflicts with other packages that prevent this new build from being selected.

[2018-10-22 21:59] xylar commented on #459
@vanroekel, I have just (seconds ago) created a new e3sm-unified 1.2.3 environment on edison.  Could you activate it by sourcing the following?
[code]
Could you see if the CDF-5 issue is fixed?  Fingers firmly crossed.

[2018-10-22 22:00] xylar commented on #459
If the issue is fixed on Edison, I'll install the same version on all the other machines tomorrow and update the instructions for loading e3sm-unified.

[2018-10-23 03:09] vanroekel commented on #459
@xylar could you change permissions on the script to source?

[2018-10-23 06:50] xylar commented on #459
Sorry about that.  Permissions should now be fixed.

[2018-10-23 07:20] xylar commented on #459
I do think it's going to work, but would like you to try the analysis to be sure.  It at least recognizes CDF-5 support:
[code]

[2018-10-23 13:29] vanroekel commented on #459
Yep, it works!  Thanks for the fix @xylar

[2018-10-23 13:33] #459 closed

[2018-10-30 21:24] xylar opened #460 "no way to turn off contours on transect plots"
Previously, contours were off by default and they would only be displayed if they were set via a config option.  Now, there is no way to "unset" the config option in config.default to turn off contours.

[2018-10-31 16:52] xylar opened #461 "Update SOSE transect longitudes, depths and colormap ranges"
Transects every 30 degrees longitude aren't very useful -- longitudes should be chosen carefully for specific shelves.

Depths should go from -10 to -1500 (or similar) rather than 0 to -4000

Temperature and salinity ranges should be the same as for the other SOSE plots.

[2018-11-02 19:07] xylar opened #463 "Issue with float rounding in time keeping"
Some unit tests are failing because of rounding issues:
[code]

[2018-11-02 19:11] xylar opened #464 "Using several depricated functions"
`xarray.ufuncs()`
`assertEqual`
...

[code]

[2018-11-05 16:35] xylar opened #468 "Markdown files can't be built in Read The Docs"
Currently, Read The Docs is not building successfully:
https://readthedocs.org/projects/mpas-analysis/builds/8055263/

I am not able to reproduce the errors on my laptop (though I tried to reproduce the environment used to build the documentation in various ways).

It seems that RTD is suddenly not able to follow import in `__init__.py` files, which may or may not be related to the failure.

[2018-11-05 18:42] xylar opened #470 "ClimatologyMapBGC missing from documentation"
An RST file is needed.

[2018-11-05 18:43] #464 closed

[2018-11-05 18:45] xylar commented on #463
Addressed by #465

[2018-11-05 18:45] #463 closed

[2018-11-05 20:09] #455 closed

[2018-11-05 20:09] #458 closed

[2018-11-05 20:09] #460 closed

[2018-11-05 20:09] #461 closed

[2018-11-05 20:10] xylar commented on #452
This is also causing issues with the latest Read The Docs, so it would be good for documentation purposes to switch to an entry point.

[2018-11-05 20:16] jhkennedy commented on #452
@xylar If you don't mind me taking until early next week to get to it, you can assign this to me.

[2018-11-05 20:21] xylar commented on #452
@jhkennedy, It's marked as low priority, so if you want to take this on, that would be great!

[2018-11-06 01:58] xylar commented on #468
This appears to be related to:
https://github.com/sphinx-doc/sphinx/issues/5519

A temporary fix might be to turn off PDF generation.

[2018-11-06 02:20] xylar commented on #468
Update: Turning off PDF generation didn't help.

[2018-11-06 02:58] #470 closed

[2018-11-06 03:39] xylar commented on #468
It seems like we will not be able to build successfully until there is a new release of sphinx.

[2018-11-06 18:22] #468 closed

[2018-11-06 19:45] xylar commented on #407
I believe this problem has been addressed, either via upgrading of HDF5 libraries on systems or by setting `export HDF5_USE_FILE_LOCKING=FALSE`.  Please re-open if not.

[2018-11-06 19:45] #407 closed

[2018-11-07 13:56] xylar commented on #359
@vanroekel will modify the MLD analysis member in MPAS-Ocean to subtract `landIcePressure` from the total pressure.

[2018-11-07 20:19] xylar opened #476 "Incompatibilities with basemap and matplotlib versions"
In my testing today, I found that MPAS-Analysis is not compatible with:
* basemap 1.2.0 because `addcyclic` is broken (see https://github.com/matplotlib/basemap/pull/441)
* matplotlib 3.0.1 because of issues with `ax._hold` (see https://github.com/matplotlib/basemap/issues/435)
* matplotlib 3.0.0 because of issue with tight layout (see https://github.com/matplotlib/basemap/issues/426)

for now, ba

[2018-11-08 01:21] #457 closed

[2018-11-09 02:18] #426 closed

[2018-11-10 20:59] xylar opened #481 "Version 1.1"
Checklist for the release:

- [x] Entry point - #477
- [x] Python 3.7 - #479
- [x] Remove depricated functions - #480
- [x] Updates to timeSeriesAntarcticMelt and generating masks #482, #483
- [x] Fix artifacts in BGC obs plots #486
- [x] Enhance "error bars" for observations in Antarctic melt time series plots #489
- [x] Double check the docs, including authors list, add image for BGC run #485
-

[2018-11-10 21:00] xylar commented on #481
@milenaveneziani, please add anything you would like to the check list.  I think we're due (maybe overdue) for another release.

[2018-11-11 19:14] xylar commented on #34
I looked into salem and its Region Of Interest capabilities require a regular grid (because shapes are rasterized to get a mask) so not appropriate for selecting MPAS regions unless we wanted to first transform data to a regular grid.

I'm looking into efficient ways to create region masks in python for MPAS meshes.

[2018-11-12 03:37] xylar opened #484 "Fix periodic plot artifacts in BGC obs"
![image](https://user-images.githubusercontent.com/4179064/48325136-68a01200-e5f1-11e8-9625-ebdb1064caad.png)

Presumably the bug is because certain grids need to have a periodic copy of the last cell added on.

[2018-11-12 05:41] xylar commented on #484
For comparison, the fix in #486:

![image](https://user-images.githubusercontent.com/4179064/48328804-f9331e00-e602-11e8-9566-5d005ba21911.png)

[2018-11-14 22:18] xylar opened #488 "Improve visibility of observation error bars in time series plots"
@stephenprice always has to add a box around the observations to make them more visible in talks.  We should just make this happen in the original python plots.

[2018-11-15 20:44] #452 closed

[2018-11-16 05:39] #484 closed

[2018-11-16 07:41] xylar commented on #481
Thanks for adding to the checklist!

[2018-11-16 19:52] xylar commented on #359
Should be addressed by https://github.com/MPAS-Dev/MPAS-Model/pull/109

[2018-11-19 03:42] xylar commented on #481
@milenaveneziani, I think everything is ready for the 1.1 release except:
* merging #487 if we want to include it
* updating `diagnostics` on all of the supported machines (including LANL IC)

I think you should be the one to update the supported machines because permissions are set up for you to update at the moment, and you have a good sense of how that should be done.

What do you think, should

[2018-11-19 06:44] milenaveneziani commented on #481
@xylar, I would include #487 in version 1.1. I'd like to get testing and checking of the `diagnostics` folder done before the Thanksgiving break, which means before Wed for me.

[2018-11-19 15:10] #488 closed

[2018-11-19 15:12] xylar opened #490 "Switch from basemap to cartopy"
It has been announced that `basemap` is being phased out in favor of `cartopy` and that we should move to `cartopy` as soon as possible:

https://matplotlib.org/basemap/users/intro.html#cartopy-new-management-and-eol-announcement

- [x] fix tight layout https://github.com/SciTools/cartopy/issues/1207, https://github.com/SciTools/cartopy/pull/1213
- [x] add lat/lon labels on stereographic plots htt

[2018-11-19 17:15] milenaveneziani commented on #490
oh really?? why..
didn't we have some problems with cartopy?

[2018-11-19 17:42] xylar commented on #490
There's a lot of discussion, e.g.:
https://github.com/matplotlib/basemap/issues/267#issuecomment-225179958

At some level, I guess the basemap developers decided that the API (the way you interface with basemap when you're writing code) is not as good as cartopy.  So they aren't going to continue development of new features and are phasing out support.  I don't really think we have a choice about

[2018-11-19 20:42] xylar commented on #323
The EKE part of this issue was addressed by #447

The SSH variance is redundant with #278

[2018-11-19 20:44] xylar commented on #278
Answering my own question based on @vanroekel's comment in #323:
There's a jupyter notebook here: https://github.com/MPAS-Dev/MPAS-QuickViz/blob/master/ocean/eke_sshVar/EKE_SSH_stddev.ipynb

Note: eddyStats AM needs to be enabled.

[2018-11-19 20:44] #323 closed

[2018-11-19 20:49] xylar commented on #230
I don't think we need a new geojson file after all.  We have the WOCE transect for the Drake Passage already.  All that we would need to do is compute potential density from the T and S from WOCE and compare that against the model (optionally as contour plots as above).

[2018-11-20 01:39] #349 closed

[2018-11-20 01:47] xylar commented on #481
Okay, I'll merge #485 as soon as we're confident there aren't any remaining bits of clean-up.

@milenaveneziani, could you let me know when you're sure `diagnostics` is up-to-date on all supported machines?

[2018-11-20 04:48] milenaveneziani commented on #390
@xylar, @gstreletz: wasn't this done?

[2018-11-20 14:52] xylar commented on #481
Okay, are we ready to create the v1.1 tag and build the v1.1 package?!

[2018-11-20 16:31] milenaveneziani commented on #481
yep, I think so.

[2018-11-20 17:15] milenaveneziani commented on #481
@xylar: one last question: is this part about Installation in the documentation up to date:
https://mpas-analysis.readthedocs.io/en/master/quick_start.html#installation

[2018-11-20 17:50] xylar commented on #481
That part will update when we create v1.1.  It is updated here:
https://mpas-analysis.readthedocs.io/en/latest/quick_start.html

I will need to create the package and upload it to the e3sm channel, which I will do right after creating v1.1.

Let me know if you see any issues.

[2018-11-21 01:35] gstreletz commented on #390
Yeah, this has been mostly ready to go for quite some time, except for some minor issues with plot spacing, title/label overlaps that I wanted to get cleaned up before requesting the merge.  I will get this done and issue to PR by sometime next week.  Sorry for the delay.

[2018-11-21 02:48] #481 closed

[2018-11-21 21:03] xylar commented on #424
@milenaveneziani, I have a branch where I changed "ref" to "control" in cases where "ref" refers to either observations or a reference run.  I could do the opposite, that is, change "ref" to "control" when referring to a control run, but leave "ref" in cases where we're talking about either observations or a control run.  Which would you find more intuitive?

[2018-11-21 23:31] milenaveneziani commented on #424
So, mainRun=control, refConfig=either refRun or observations. But this is pretty much as it is now, right? To me, this isn't confusing..

[2018-11-22 00:07] xylar commented on #424
No, the way we do plotting, the reference run would be the control run.  That's because of how we do the bias or difference plot.  If you want to look at the anomaly based on some change you've made, that's the modified run minus the control run.  So the "reference" run is the control run.

I think this had @darincomeau confused for awhile, too.  So maybe if I change "reference" run to control run

[2018-11-26 23:00] #345 closed

[2018-11-26 23:56] #424 closed

[2018-11-29 20:53] xylar opened #499 "Add date to observation files"
This is needed for version control.

[2018-12-02 06:52] xylar commented on #359
No code changes are needed here to address this issue and MPAS-Dev/MPAS-Model#109 has been merged so I'm going to close this.

[2018-12-02 06:52] #359 closed

[2018-12-02 07:37] xylar commented on #499
@milenaveneziani, I'd like to discuss this with you after AGU.

[2018-12-05 19:01] pwolfram commented on #401
@xylar, I have not tried this issue.  This was one of the issues limiting our full adoption of xarray and it looks like it is now rectified.

[2018-12-06 00:00] sterlingbaldwin opened #503 "Permission denied error while computing ocean climos"
I got the following error log while running MPAS-Analysis on a single year of output. Also attached is the run config. I was running v1.1 from the e3sm conda channel.
[code]

mpas.cfg:
[code]

[2018-12-06 00:01] sterlingbaldwin commented on #503
Update: I wiped everything and tried again. This time I got way more errors. Then I wiped eerything and tried again, and got NO errors at all. I suspect this to be a non-deterministic HDF5 issue.

[2018-12-06 00:14] xylar commented on #503
I agree that this is likely an HDF5 issue and not (directly) and MPAS-Analysis issue.  Maybe try:
[code]
See #407 for discussion that *might* be related.

[2018-12-06 17:06] sterlingbaldwin commented on #503
Ah, I remembered there was a flag but couldnt find it, thanks. I'll give it another try.

[2018-12-17 16:20] xylar commented on #503
@sterlingbaldwin, has this issue recurred since using the export command above?  If not, can we close?

[2018-12-17 16:20] xylar commented on #499
@milenaveneziani, please let me know if you have time to discuss this before I leave on Wednesday.

[2018-12-17 21:05] sterlingbaldwin commented on #503
Ive been doing other stuff, so dont have any more recent findings to report. I'll setup a couple test runs to go today and let you know how it goes. If this isnt affecting anyone else, it might be a machine specific issue.

[2018-12-17 21:22] xylar commented on #503
No one else has reported this specific issue and it does seem suspiciously like a machine-specific problem.  But I'm happy to keep the issue open until you have a chance to test further.  I mainly wanted to make sure it hadn't been definitively resolved by the HDF5 flag.

[2018-12-19 23:18] xylar opened #504 "Better handling of failures during setup_and_check"
Many users have found the robust output when a task fails during `setup_and_check` to be disconcerting.  We should make this a "verbose" option and default to a must less verbose mode where tasks that failed during check (typically because the necessary data was not available in the simulation) would be listed so the user can investigate further if they are concerned.

[2019-01-07 23:01] milenaveneziani opened #505 "Error on last commit (remove autoclose)"
I just ran MPAS-Analysis using the latest develop and latest e3sm-unified (e3sm_unified_1.2.4_py2.7_nox) on edison, and I get the following error:
[code]

I went back to the previous commit (#5c25dfd) and didn't have this problem.

[2019-01-08 10:01] xylar commented on #505
@milenaveneziani, sorry about this.  I'm going to test my fix (#506) on cori right now.

[2019-01-10 07:03] #505 closed

[2019-01-10 07:20] xylar opened #507 "Consider adding Stickler CI to automatically enforce and fix PEP8"
I have used [Stickler CI](https://stickler-ci.com/docs) on 2 of my personal projects (see below) and have found it to be an effective way to automatically enforce PEP8.  It will add comments for PEP8 issues it can't fix on its own and will add a commit to your PR when it's created or after any commits you push to an existing PR with PEP8 fixes that it can take care of automatically.

@milenavenezi

[2019-01-10 14:05] pwolfram commented on #507
@xylar, it sounds like a good idea.  Can you point us to two examples of this behavior (commenting non-auto fixable issue, autofix issue) so we can see how it works?  I found https://github.com/xylar/ismip6-ocean-forcing/commit/d8beef3960973f404f8418cfe1339806412bf61e for instance but it may be best for you to pick these to show us.

I really like the idea.  As long as it doesn't change the meanin

[2019-01-10 14:54] xylar commented on #507
Here is a PR with examples of both commented corrections and autofix commits:
https://github.com/xylar/ismip6-ocean-forcing/pull/19

In my experience, it never breaks the code.

[2019-01-10 15:08] pwolfram commented on #507
I'm trying to see what potential downsides are but to be fair am having trouble seeing any.  This just seems like a win-win approach to ensuring we have good coding standards without a ton of peoples' time and effort.  This being said, I can imagine some folks might not like having their code automatically updated (e.g., they would need to fetch) so there may be some adjustment / education require

[2019-01-10 15:44] xylar commented on #507
Yes, exactly.  And that "reviewer" will also push an extra commit to your branch (if necessary) to fix whatever of your mistakes it can.  You'll only get comments on the PR if it can't figure out how to fix it on its own (which seems to happen most often for lines that are too long).

[2019-01-10 15:45] milenaveneziani commented on #507
OK, sounds good.

[2019-01-10 16:03] #507 closed

[2019-01-10 16:29] xylar opened #509 "Consider dropping Python 2.7 support at some point"
xarray will be dropping python 2.7 support in future releases.  We may want to consider moving that direction, too.  It would reduce the complexity of the code a bit and would make robust testing a bit easier, too.

[2019-01-10 18:31] pwolfram commented on #507
There may also be a way to disable the automated Sticker CI checking via a tag in the commit message.  I took a quick look but couldn't find an option to disable it for a single commit, e.g., for debugging purposes.

[2019-01-10 23:00] xylar commented on #509
It's a long-term goal because we first need to get everything under e3sm-unified moved over to python 3.  I think processflow and A-Prime are the main sticking points right now.  Maybe time to ping them again...

[2019-01-16 10:34] #503 closed

[2019-01-16 10:42] xylar commented on #476
Addressed by #477

[2019-01-16 10:42] #476 closed

[2019-01-16 17:05] #413 closed

[2019-01-16 17:06] xylar opened #513 "Add support for Tempest remapping"
This should be possible once @jhkennedy has added a conda package for tempest to the e3sm channel.

[2019-01-16 17:08] xylar commented on #390
@gstreletz, any update on this one?  Could you maybe get your branch to a point where you can hand it off to me to finish the PR?

[2019-01-16 17:53] xylar opened #514 "Support different levels of logging"
Suggestion from @jhkennedy: In the future, consider creating a console (specific) logger whose log level is controlled by a CLI argument.That way changes to your CLI output in the future are easier to manage (well, supposedly -- I'm working that way in LIVVkit, but don't have a long history with it yet).

[2019-01-17 15:34] jhkennedy commented on #513
A `tempest-remap` conda package will be available in the e3sm channel via E3SM-Project/e3sm-unified#35

[2019-01-29 18:15] #499 closed

[2019-01-29 20:47] #230 closed

[2019-02-02 13:40] xylar opened #517 "Removing Stickler CI, trying PEP8 speaks"
I am having trouble with Stickler CI and can't find any help to fix the issue.

Stickler CI says
[code]

Most repos I looked at use [PEP8 Speaks](https://pep8speaks.com/) instead.  It doesn't add commits to a PR but it can add a new PR to fix PEP8 issues if requested.  One can also use:
[code]
to automatically fix a lot of issues and then commit them.

[2019-02-13 20:29] #445 closed

[2019-02-14 01:28] #517 closed

[2019-02-14 01:29] xylar commented on #517
I switched to pep8speaks

[2019-02-16 19:41] xylar opened #520 "support projection grids with ncremap"
The next version of NCO should support projection grids like ours, allowing us to use ncremap to perform regridding to Antarctic meshes as well as global lat/lon.

[2019-02-16 23:35] xylar opened #524 "Ncremap for depth-interpolated variables"
Even after #521, ncremap is not working for 3D MPAS data that has been interpolated to a new depth coordinate or transects (perhaps for the same reason).  This merits further investigation and then perhaps some further generalization of ncremap.

[2019-02-17 21:43] chengdang opened #525 "analysis task climatologyMapSSH_remapObservations failed during run"
Hi:

I'm trying to run MPAS-analysis on NERSC edison, while it is terminated due to an error in task climatologyMapSSH.

Here is the terminal output for mpas_analysis:
[code]

Here is climatologyMapSSH_remapObservations.log:
[code]

Any suggestions on how to solve this? Thank you!

[2019-02-17 21:48] xylar commented on #525
@chengdang, could you also post the contents of your config file here?  I'd like to try to reproduce your MPAS-Analysis run.  I've never seen this error before.

[2019-02-17 21:49] xylar commented on #525
Could you also post the results of:
[code]
That might tell me whether there's an issue with a package version.

[2019-02-17 21:54] xylar commented on #525
Thanks for posting this, by the way.  I'm trying to build a new conda environment on my laptop right now to see if it might be an xarray issue or something like that.

[2019-02-17 21:58] chengdang commented on #525
Sure! Here is the config file. Please let me know if you would also like access to the data.

[code]

[2019-02-17 21:59] chengdang commented on #525
conda list

[code]

[2019-02-17 22:00] xylar commented on #525
For now, just so you can make progress, I would add `'no_ssh'` to the generate option in your config file.  I'll look into it in the meantime and ask you for permission to try your run if I can't reproduce the error on my own data.

[2019-02-17 22:01] xylar commented on #525
Yep, with the latest libraries, I get the same exact error on my laptop so that'll make it easier to fix.  Thank again for reporting this.

[2019-02-17 22:05] chengdang commented on #525
Thank you for looking into this.

[2019-02-18 00:33] #525 closed

[2019-02-21 05:01] #520 closed

[2019-02-21 18:39] xylar opened #528 "Things to add following the example of E3SM-Diags"
To add:
- [ ] save command line
- [ ] add max/mean/min, corr and rmse
- [ ] include code to reproduce each plot
- [ ] example full output in the docs
- [ ] allow user to download the NetCDF data from the webpage

[2019-02-25 21:09] milenaveneziani opened #537 "Add flexibility to choose min,max distance when displaying WOCE transects"
It would be helpful for the user to be able to choose a min and max horizontal distance when displaying WOCE transects (we have this capability already for SOSE transects, where, for example, we can choose a min_lat, max_lat in meridional transects).

For example, assuming a WOCE transect starts near the Antarctic shelf, and that we want to focus on the Antarctic Slope Current region only, one wou

[2019-02-25 21:21] milenaveneziani commented on #537
Here is an example of WOCE transect we have now:
![image](https://user-images.githubusercontent.com/8237579/53369285-1ff23780-3908-11e9-972b-be029631a297.png)

And how it could look like in order to focus more on the shelf (from Thomson et al. 2018):
<img width="343" alt="screen shot 2019-02-25 at 2 19 14 pm" src="https://user-images.githubusercontent.com/8237579/53369410-634ca600-3908-11e9-84e7-2

[2019-02-27 18:29] jonbob opened #540 "Possible issue with MOC"
I got the following output from a recent run of mpas-analysis on anvil:
![moctimeseries_20190124 gmpas-iaf base rrs30to10v3 anvil](https://user-images.githubusercontent.com/13684848/53513469-8602ca00-3a82-11e9-80f9-6fb3b8dc5cd2.png)
No other output showed a discontinuity at year 23, which makes me think it could be a problem with the MOC calculation. The output from the analysis can be seen at [20

[2019-02-27 18:40] xylar commented on #540
@milenaveneziani and @mark-petersen, you have more familiarity with this calculation than I do.  Any idea how this could happen?  Are you able to work with @jonbob to dig into it?  It would be important to know if this is indicative of a problem with the high-res simulation, a data output glitch, or an issue with the MOC analysis calculation.

[2019-02-28 14:34] #537 closed

[2019-02-28 18:58] milenaveneziani commented on #540
I ran the analysis just today on the HR run, and haven't had this problem. Seems like the whole thing got shifted upward for year 23 in this case..
@jonbob: I suppose you are using the online MOC for this plot?

[2019-02-28 19:06] jonbob commented on #540
@milenaveneziani - did you run the analysis on this HR case? Or a different one? I'm not sure what you mean by online MOC -- the output came from MPAS-Analysis

[2019-02-28 19:12] milenaveneziani commented on #540
no, the 18to6.
I checked the run/ directory for this run, and it seems that the online MOC analysis member is turned off for this run, so the MOC is being calculated offline. Could you please point me to the output directory of the analysis (where all the plots/climo data/etc are)?

[2019-02-28 19:23] jonbob commented on #540
on anvil at
```/lcrc/group/acme/jwolfe/case_output/20190124.GMPAS-IAF.base.RRS30to10v3.anvil```

[2019-02-28 20:15] milenaveneziani commented on #540
Jon is restarting the analysis after a purge. Hopefully that is all that is needed for this.

[2019-03-01 00:27] xylar opened #543 "Add the badges from conda-forge"
Current build status
====================

All platforms:
[![noarch](https://img.shields.io/circleci/project/github/conda-forge/mpas-analysis-feedstock/master.svg?label=noarch)](https://circleci.com/gh/conda-forge/mpas-analysis-feedstock)

Current release info
====================

| Name | Downloads | Version | Platforms |
| --- | --- | --- | --- |
| [![Conda Recipe](https://img.shields.io/badge/

[2019-03-01 01:12] chengdang opened #544 "ERROR in task mpasTimeSeriesOcean"
Hi:

I'm trying to run MPAS analysis on edison using MPAS-analysis codebase from git develop branch, and I got the following error:

[code]

mpasTimeSeriesOcean.log:
[code]

Here is the config file m2o.SNICAR_AD_land_seaice.piControl.ne30_oEC.edison:

[code]

May I have some suggestions on how to solve this? Thanks a lot.

[2019-03-01 02:04] xylar commented on #544
@chengdang, thank you for reporting this issue.  I think I can help.

I think what you pointed out is an odd case that might technically be considered a bug but probably not one I'm going to take the time to fix.

I can tell from the log file that you rant the analysis once and then killed it part way through.  I do that a lot of the time, too, but it's not a safe thing to do unless you `--purge`

[2019-03-01 07:11] xylar opened #545 "Various issues are showing up with analysis of 1 year of simulation data"
There is an issue with `timeSeriesMOC` reading from and writing to the same file.

Various tasks (`indexNino34` and `timeSeries*Anomaly`) that do a running mean fail during the run phase whereas they should fail during setup_and_check()

[2019-03-01 07:11] chengdang commented on #544
@xylar Thank you! I know it must be something I missed since I was able to run the simulation. Everything is okay now. I'll close the issue. Thanks again.

[2019-03-01 07:14] #544 closed

[2019-03-01 20:52] milenaveneziani opened #546 "Degree bounds not being adjusted in WOCE transects"
I just realized that the degree bounds that we print on the top axis of the transects, are not being adjusted when a subset of the transect is plotted (WOCE transects; see #539).
See this for example:
![image](https://user-images.githubusercontent.com/8237579/53664340-7bcd0100-3c25-11e9-8470-5b3182786191.png)

[2019-03-01 23:48] xylar commented on #546
Oops, I meant to check that. Should be an easy fix.

[2019-03-04 18:36] xylar commented on #545
The issues with one-year analysis runs affect climatologies as well.  These issues were first seen on `cooley` but also can be reproduced on my laptop:

<details>
 <summary>mpasClimatologyOcean.log</summary> <p>

[code]
</p>
</details>

[2019-03-05 21:42] xylar commented on #540
@milenaveneziani and @jonbob, did rerunning the analysis after a purge make any difference?  If not, I think @milenaveneziani should try running the same analysis with your config file (just `streamfunctionMOC`) and see if she can track down the source of the problem.

[2019-03-05 22:17] milenaveneziani commented on #540
@xylar: @jonbob reran the whole thing after a purge and no, there was no difference in the MOC result. The problem emerges because of 3 weird (order 100Sv) MOC values during year 23: the ones for months Jun-Jul-Aug. Since we plot the 1-year running averages, those 3 values affect the whole time series for that year. I am thinking there is something weird with the timeseriesStats data, although we

[2019-03-06 05:02] #546 closed

[2019-03-06 15:23] #543 closed

[2019-03-06 15:23] #545 closed

[2019-03-11 04:06] xylar opened #556 "Break regional profiles into smaller subtasks"
Regional profiles are slow at high res and one task computing 12 months x 3 fields worth of data seems to be poorly load balanced for climatologies without many years in them.  It might be worth having a task per month and/or field.

[2019-03-11 23:31] czender commented on #524
When you have a chance please shoot me an example of what is not working so I can investigate

[2019-03-12 02:44] xylar commented on #524
@czender, I really appreciate you asking about this.  Following the warning messages I'm getting from `ncremap`, I'm taking its advice and transposing my data to `nCells` is the lat dimension and then transposing back.  That seems to be working.  If all goes well, I'll add a pull request to address this tonight.

[2019-03-12 03:05] xylar commented on #524
@czender, you're off the hook.  The transpose did the trick and is in #557.

[2019-03-12 03:24] czender commented on #524
Maybe not. The forward transpose is a step that ncremap -P mpas always does for MPAS data. There was never a reason to do the reverse transpose until now. ncremap could have a reverse transpose option if desired...

[2019-03-12 04:00] xylar commented on #524
@czender, perhaps there was a misunderstanding.  I do the transpose in MPAS-Analysis before calling `ncremap` and then do the transpose back in MPAS-Analysis once `ncremap` has finished.  So the transpose isn't done by `ncremap`.

[2019-03-12 04:47] czender commented on #524
I am offering to create an option that takes ...nCells,nVertLevels... data, transposes it, regrids it, and transposes it back to ...nCells,nVertLevels... order. Right now -P mpas does the first transpose not the second. And plain ncremap does neither transpose. So if it would be useful/faster, ncremap -P mpas2, e.g., could do both transposes.

[2019-03-12 04:54] xylar commented on #524
Ah, I see.  Thanks, but I think the solution in #557 is a lot simpler for both of us for now.  If there's ever interest in remapping fields of this type outside of MPAS-Analysis, that might definitely be worth considering.  But I need to do several other operations like renaming dimensions and adding new coordinates after these remaps, so I might as well transpose and transpose back as well.

[2019-03-12 05:06] czender commented on #524
Sounds good.

[2019-03-19 21:06] matthewhoffman opened #558 "Add image size to html formatting to eliminate changing format while loading"
On slower connections, the html formatting keeps changing as the page loads and images are loaded.  If the html formatting had the image sizes included, the layout would stop bouncing around while the page loads.

[2019-03-20 16:49] xylar opened #559 "add support for different thread numbers in ncclimo"
...once next nco is released.

[2019-03-20 16:49] xylar commented on #559
NCO should support 1, 2, 3, 4, 6 or 12 threads.

[2019-03-21 05:25] xylar opened #561 "Look into task parallelism with parsl"
https://parsl.readthedocs.io/en/latest/

[2019-03-21 05:26] xylar opened #562 "Consider updating command-line interface with click"
https://click.palletsprojects.com/en/7.x/

[2019-03-21 15:28] matthewhoffman opened #565 "git hash in html output"
Is it possible to include the git hash of the version of MPAS-Analysis that was run in the html output?

[2019-03-22 16:27] xylar commented on #565
Yes, we could do that.  Would you want to have just the version number of the package stored in cases where you're not running out of a git repo?

[2019-04-01 03:57] xylar opened #567 "Anvil/Blues is getting upgraded to slurm and LMod (yay!)"
This means that the example config files need to be updated.

[2019-04-01 03:59] xylar commented on #567
http://www.lcrc.anl.gov/blues-upgrade-to-centos-7/

[2019-04-16 12:30] xylar opened #568 "main vs. control run glitches when only a subset of analysis was run"
MPAS-Analysis attempts to create symlinks to directories that don't exist if not all analysis was run:
[code]

[2019-04-18 14:50] xylar opened #570 "Update travis"
Our travis config is a little outdated and could do with following this example:
https://github.com/NOAA-ORR-ERD/gridded/blob/master/.travis.yml

[2019-04-18 15:42] #565 closed

[2019-04-18 15:48] #558 closed

[2019-04-21 19:43] #524 closed

[2019-04-22 15:44] matthewhoffman opened #571 "new analysis: regional OHC time series"
An idea for new analysis item: regional OHC time series.  Inspired by
Timmermann, R., & Hellmer, H. H. (2013). Southern Ocean warming and increased ice shelf basal melting in the twenty-first and twenty-second centuries based on coupled ice-ocean finite-element modelling. Ocean Dynamics, 63(9-10), 1011-1026.  https://link.springer.com/content/pdf/10.1007%2Fs10236-013-0642-0.pdf

expected to influe

[2019-04-23 18:36] xylar commented on #571
I've had this on my to-do list for almost 2 years now, but keep having to put it off.  Good to have an issue for it.

[2019-04-23 18:41] xylar commented on #571
Here's the figure for reference:
![image](https://user-images.githubusercontent.com/4179064/56607086-fd2e8780-6607-11e9-9b12-7a022471ec32.png)
There's an equivalent for salinity that we should also do.

They call it OHC in the paper but it's really mean temperature (which is presumably more useful for comparison, since volumes would inevitably differ between models).

[2019-04-23 18:44] milenaveneziani commented on #571
This goes along with doing T,S trends with depth, regionally. Again, we have had it on our plate for a while, but of course having to write a paper is a good incentive for new analysis :)

[2019-04-23 19:55] xylar commented on #571
Yes, all that this really should require is defining GeoJson shapes for the different regions (the hard part is separating the part on and off the continental shelf) and then running my tool to make region masks for the grids we want to support.  From there, it's essentially the same code as the melt-rate time series.

[2019-04-23 19:55] xylar commented on #571
I'd estimate that this is about 1 days' work.

[2019-04-23 20:48] milenaveneziani commented on #571
And we already have the ocean basin regions. We just need to define the SO subregions, which was another thing on my to-do list..

[2019-04-24 07:16] xylar opened #572 "Add MPAS dual mesh grid descriptor"
This is needed to handle remapping of MPAS-Seaice velocities, which are at vertices rather than cell centers.

The capability to create mapping files from MPAS dual meshes to other grids is also needed for CMIP6 output from E3SM (see https://github.com/E3SM-Project/e3sm_to_cmip), so the ability to write out a SCRIP file for an MPAS dual mesh would be useful for that project.

With this capability,

[2019-04-24 16:02] xylar commented on #572
I worked on this quite a bit today but realized that this is not well defined for vertices with only 1 or 2 neighboring cells.  The shapes of the dual cells become sums of 1 or 2 kites, and in the case of 2 kites isn't a convex polygon anymore.  All in all, it seems like this is just too much work and a better approach is likely to be averaging to cell centers and then remapping to the new mesh, d

[2019-04-24 16:02] #572 closed

[2019-04-24 19:58] matthewhoffman commented on #571
@xylar and @milenaveneziani , thanks for your discussion on this.  After digging into some new analysis for the Cryosphere runs, maybe it is a better use of time to postpone these ideas until our understanding of the critical things to look at are a little more mature.  I don't want to make more work for people until we know that those sorts of analyses are going to be useful.

[2019-04-24 20:04] milenaveneziani commented on #571
I am sure we'll need this for our papers though, if not right now, by the summer for sure.

[2019-04-24 20:29] xylar commented on #571
I agree, it should be a priority.  The tricky bit is splitting the polygons for the regions at the shelf break.  Here's a code snippet that extracts an isobath.  We could use something like this to get the 1500m isobath from Bedmap2 and use that shape to split the polygons.

https://github.com/kthyng/arpae/blob/master/plots.py#L68-L76

[2019-04-25 20:10] xylar opened #573 "Add plots for min/max MLD"
Following https://github.com/MPAS-Dev/MPAS-Model/pull/209, min and max values over a month will be available in some MPAS-Ocean runs.  This is likely to be particularly useful for MLD.

Some analysis should be added to take advantage of this.

[2019-04-25 20:13] xylar commented on #573
@vanroekel, what do you foresee as being useful plots?  Should one compute the max/min over the full climatology interval and plot that?  Or a climatology of the monthly max/min? Or something else?  How were you planning to use these (outside of MPAS-Analysis)?

[2019-04-25 20:29] vanroekel commented on #573
I think most useful would be climatologies (seasonal is likely fine) of dThreshMLD, tThreshMLD, and boundaryLayerDepth.  I would suggest a straight climatology of the max/min is the most useful diagnostic.  I think other variables would be a more specialized use case.  @milenaveneziani  and @maltrud what do you think?

[2019-04-25 20:39] milenaveneziani commented on #573
Agree with @vanroekel: climatologies of max/min mixed and boundary layer depths would be great for general MPAS-Analysis.

[2019-04-25 20:51] xylar commented on #573
Sounds good.  Definitely easier than anything fancier.

Right now, we're only doing plots of climatologies of `timeMonthly_avg_dThreshMLD`.  Do we want to add corresponding plots of mean `tThreshMLD` and `boundaryLayerDepth` as well?  Also, how do we want to group them? min/mean/max closest together for a given field and season, right?  Then, the next season?  And separate galleries for dThreshMLD

[2019-04-25 20:59] milenaveneziani commented on #573
I'll leave that up to @vanroekel.

The mean plots we compare with obs, so perhaps we want to keep those separate. I would do min/max (lower/upper plots) for different season, for `dThreshMLD` (or each variable).

[2019-05-06 05:57] #573 closed

[2019-05-14 18:00] #571 closed

[2019-05-14 18:12] #540 closed

[2019-05-14 19:40] xylar opened #576 "Remove edison directory, update location of most recent cori example"
The `configs/edison` directory should go now that Edison has been retired.

@darincomeau updated the location of files for an important example run on Cori:
[code]
This needs to be updated accordingly in the example config file.

[2019-05-16 12:21] xylar opened #577 "Out of memory/out of threads with new ocean regions analysis"
It seems that dask is spawning one thread per core in each task that uses dask.  This is likely a problem for several tasks but `timeSeriesOceanRegions` is where I noticed it in my testing.  the tasks for computing individual years should indicate that they have several subprocesses and they should probably limit the number of dask threads they use.

[2019-05-16 20:16] #577 closed

[2019-05-20 12:38] #576 closed

[2019-05-20 13:02] #568 closed

[2019-05-21 13:49] xylar opened #586 "transects on the native MPAS grid"
I am frustrated with the interpolation in our transects, which I feel obscures both the complexity and the coarseness of the native grid and also gives a false sense of resolution.

I would at least like to support the option of transects on the native grid, meaning quadrilaterals that have corners at layer interfaces and edges, and a constant value corresponding to the field within the given cell

[2019-05-21 16:30] milenaveneziani commented on #35
We are doing this now. Should we content ourselves with this and close the issue?

[2019-05-21 16:30] milenaveneziani commented on #34
@xylar: is this still relevant?

[2019-05-21 16:43] xylar commented on #34
No I don't think so.  I don't think this is the right tool for us.

[2019-05-21 16:43] #34 closed

[2019-05-21 16:45] xylar commented on #35
I think so.  For now, the NetCDF is not considered the primary output and the HTML has a decent amount of provenance.

[2019-05-21 16:45] #35 closed

[2019-05-21 16:51] milenaveneziani commented on #586
Well, we could do model-only transects on the native grid, and still interpolate when we do a direct comparison with obs. Really it's just the bias plot that would have to go, we could even consider plotting the WOCE transect on its own z,x data alongside the model transect.

[2019-05-22 12:04] #390 closed

[2019-05-28 20:46] bradyrx opened #596 "Allow expanded Antarctic stereo width for SOSE comparison"
There is a config option for the stereo width for Antarctic projections (`comparisonAntarcticStereoWidth = 6000.`). Changing this has no effect on the SOSE observational comparison, since the SOSE output is fixed at 6000km:

https://github.com/MPAS-Dev/MPAS-Analysis/blob/375e780f37927dee241821f7d9a24b07544ab723/mpas_analysis/ocean/climatology_map_sose.py#L199-L202

My understanding is that the SOS

[2019-05-28 21:05] xylar commented on #596
@bradyrx, I understand the frustration.  I don't have a good solution for this.

It is too time consuming to remap these observations per MPAS-Analysis run.  Remapping was performed to the default Antarctic grid using `config.default`:
https://github.com/MPAS-Dev/MPAS-Analysis/blob/develop/preprocess_observations/preprocess_SOSE_data.py#L520
which is used to create a remapper to the 6000x6000 Anta

[2019-05-28 21:07] xylar commented on #596
@bradyrx, you could run the https://github.com/MPAS-Dev/MPAS-Analysis/blob/develop/preprocess_observations/preprocess_SOSE_data.py script yourself and just modify it here:
https://github.com/MPAS-Dev/MPAS-Analysis/blob/develop/preprocess_observations/preprocess_SOSE_data.py#L538
to set the size of the grid you want.

You'd then need to modify the SOSE task to (optionally) use that new resolution.

[2019-05-29 08:37] xylar commented on #596
One more follow-up.  I can add a set of SOSE data to the repo with a domain of 10000x10000 that wouldn't get downloaded with the download_analysis_data script but which could be downloaded manually.

I can then change the SOSE climatology maps to optionally take a domain size for the SOSE data.  I think that would take care of this for both our need and yours @bradyrx.  I won't get to this until S

[2019-05-29 15:29] bradyrx commented on #596
Thanks for all the comments @xylar. I see the problem here, especially with processing time. Let me know which of the last two options makes more sense. I think the latter is most straightforward on my end and gives the option to future users to have 10,000km radius (which covers much of the Southern Ocean).

No rush on this -- take your time. I appreciate the help.

[2019-06-04 07:22] chandra04 commented on #407
i was wrting a netcdf4 file with python. I had same issue while doing **ncdump filename**, inbetween to verify wether I am wrong or wright.
Suddenly I realised that I hace forgotten the closing the file, once i put the file closing option, all error gone.

[2019-06-05 18:12] xylar opened #598 "Copy diagnostics and add example config/job script for CompyMcNodeFace"
E3SM-Unified has been installed there.

To do:
- [x] copy public obs, mapping files and region masks
- [x] copy private obs, etc.
- [x] find an appropriate E3SM run on compy
- [x] add an example config file for the run
- [x] add and example job script

[2019-06-11 08:31] xylar opened #599 "Inset does not reflect shorter WOCE transect"
When a user selects only a part of a WOCE transect, the inset still shows the full length:
![image](https://user-images.githubusercontent.com/4179064/59256316-fef1f000-8c33-11e9-8e31-5e19cfddbcc2.png)
![image](https://user-images.githubusercontent.com/4179064/59256324-02857700-8c34-11e9-9dfc-6753984353a9.png)

[2019-06-11 17:44] xylar commented on #599
Another WOCE-related request:

@milenaveneziani writes:
I think it would be nice to go down to the WOCE transects section, here:
[code]
and add a comment that says where these transects are in words like we used to have (A21=Drake Passage; A23=South Atlantic; A12=Prime Meridian), to help the user adding WOCE transects to their customized config file.

[2019-06-16 06:58] #599 closed

[2019-06-20 15:46] xylar opened #601 "copy input config file"
Currently, we write out the full config file (the input config file combined with the default config file) but this is often too much info to sort through.  It would be better to include a copy of the input config file in for provenance and debugging as well (and also link to this on the web page).

[2019-06-20 16:02] xylar opened #602 "add an "antarctic" tag for analysis focused on Antarctica"
This will make it easier to disable Antarctic analysis for runs focused elsewhere.

[2019-06-20 16:16] xylar opened #603 "consider rounding grid resolutions to avoid issues with 0.1x0.1 degree grid names"
Mapping files are coming out with names like:
[code]

[2019-06-20 16:31] xylar opened #604 "allow users to provide more than one diagnostics directory"
This would allow storing custom mapping files and region files (e.g. for unsupported meshes or comparison resolutions).

[2019-06-20 19:03] xylar commented on #602
@kevinrosa, this is based on your recent run.

[2019-06-20 19:03] xylar commented on #603
@kevinrosa, again, this is based on your recent run.

[2019-06-20 19:05] xylar commented on #604
@kevinrosa, this, too, is based on your recent run.  It could be that you could just copy your mapping files into the diagnostics directory.   But it might be even better if you had one of your own to put "custom" files into.

[2019-07-09 20:45] xylar commented on #598
Add config file for run at /compyfs/vanr302/e3sm_scratch/GM600_20190624_GMtest_constant_intel.compy/run

[2019-07-11 07:26] #596 closed

[2019-07-11 23:42] chengdang opened #607 "Analysis on historical data raise errors"
Hi. I'm hoping to apply MPAS-analysis to a pair of historical simulations from the year 1985 to 2014 on cori-knl, and got the following errors from doing model vs observation comparison:

Any suggestions on how to fix these? or, how should I skip the last three comparisons so mpas-analysis can still generate HTML files? Thank you.

[2019-07-12 02:45] stephenprice commented on #607
Cheng - someone else likely has a better answer regarding how to fix the errors (so you actually get the time series outputs). But if you are trying to get around those errors for the short term you can remove the time series plots and generate the rest of the analysis by looking for the line in the .config file like:

generate = ['all', 'no_eke', 'no_BGC', 'no_icebergs']

... and adding in:

'no

[2019-07-12 08:41] xylar commented on #607
@chengdang, could you point me to your config file and your analysis output?  From the error messages, it looks like you're using a reference year of 1850, which is not part of the simulation output you're trying to analyze.  The reference year should be set to the first year of output you have.  That would explain the errors in the time-series anomalies but not in remapping the SSH observations.

[2019-07-12 08:44] xylar commented on #607
Here's specifically what I'm referring to with the reference year:
[code]
where I'm guessing you have set this to 1850, but that data from 1850 is not available in your simulation output.

[2019-07-12 09:03] xylar commented on #607
The first error was reported already here (by you, thanks!):
https://github.com/MPAS-Dev/MPAS-Analysis/issues/525
and fixed here:
https://github.com/MPAS-Dev/MPAS-Analysis/pull/526

So if you use MPAS-Analysis 1.2.1 or later, that one should go away.  One option is to clone the latest `develop` version version from GitHub.  Another is to wait for me to update `e3sm-unified` to v1.2.6, which will i

[2019-07-12 15:13] chengdang commented on #607
Thank you, Steve@stephenprice and Xylar @xylar.
Somehow I forgot the first error report. I'm running it again using 1.2.1, and all errors are gone.

But the config file I use only define the start_year and the end_year of time series comparison, it does not define anomalyRefYear. Is the following config correct?

[2019-07-12 16:19] xylar commented on #607
@chengdang, If you don't explicitly define the simulation start time in the config file, it it taken from the variable `simulationStartTime` in the first restart file that `MPAS-Analysis` can find in your simulation directory.  If you do an ncdump -v simulationStartTime on the earliest restart file, I bet you will find that variable is saying the simulation started in 1850.  This is probably becau

[2019-07-14 17:29] #603 closed

[2019-07-14 19:55] #604 closed

[2019-07-14 21:13] xylar commented on #607
@chengdang, please close this issue of the above suggestion addresses your issue.  If not, let me know and we can investigate further.

[2019-07-15 05:57] chengdang commented on #607
@xylar  Thank you! I am able to run the time series analysis with your suggestions. I'll close this issue.

[2019-07-15 05:57] #607 closed

[2019-07-15 06:11] #602 closed

[2019-07-15 07:25] #601 closed

[2019-07-18 12:40] xylar opened #616 "T/S diagram for ocean regions"
Comparison of TS diagram for each region (e.g. Antarctic Regions) with MEOP, EN4, WOA13 and others, similar to Fig. 3 Hyein's draft paper.

[2019-07-22 09:34] xylar commented on #598
@vanroekel, do you have a config file for this run?
https://portal.nersc.gov/project/acme/lvroekel/20190711.testLuke.A_WCYCL1850S.ne30_oECv3.compy_yr_30_40/

Also, is that a run you would likely keep around on compy so it could be used for testing analysis?  Or is it a one-off that you'll archive and delete soon?

[2019-07-22 16:52] vanroekel commented on #598
@xylar that run should exist for awhile.  I don't imagine it being deleted soon.  I've just made a PR based on it.

[2019-07-22 18:57] #598 closed

[2019-07-30 19:12] vanroekel opened #619 "Failure in ocean regions create mask"
I'm trying to run mpas-analysis on the new CONUS b-case run.  Most everything works, but in the oceanRegions analysis, I see the following error.
[code]
My config file is here
[code]
This is with the latest e3sm-unified.

[2019-08-02 16:09] xylar commented on #619
@vanroekel, first, I will build all the CONUS masks and put them in the diagnostics directories on all supported machines as soon as I can.  I'll also look into this error as soon as I'm able.  This may not happen until late next week, I'm afraid.

[2019-08-14 20:24] xylar commented on #619
@vanroekel, I'm finally getting to this.  I'm able to reproduce the problem and I'm looking into a solution.

[2019-08-26 21:30] xylar opened #621 "Remapping of EKE obs failing on compy"
The task `climatologyMapEKE_remapObservations` is failing with:
[code]
There may be some sort of a bug in the mapping file or in `ncreamp`, and this deserves further investigation.

[2019-08-29 16:34] #619 closed

[2019-09-02 16:11] #616 closed

[2019-09-19 21:17] xylar opened #628 "Update usage of xarray"
The usage of `open_dataset` has changed and we are getting warnings like:
[code]

[2019-09-19 21:19] xylar commented on #628
The usage of multidimensional indexing needs to be updated in `climatologyMapSeaIce*` tasks:
[code]

[2019-10-02 12:30] #509 closed

[2019-10-02 12:37] #628 closed

[2019-10-08 17:47] xylar opened #634 "WOA18 seems to have the same data for all seasons"
These 3 images should have different obs but have seemingly the same:
[ANN](https://portal.nersc.gov/project/m2833/mpas_analysis_output/woa18_TS/20190405.GMPAS-DIB-IAF-ISMF.T62_oRRS30to10v3wLI.theta/yrs11-20/ocean/temperatureWOA18_antarctic_20190405.GMPAS-DIB-IAF-ISMF.T62_oRRS30to10v3wLI.theta_depth_top_ANN_years0011-0020.png)
[JFM](https://portal.nersc.gov/project/m2833/mpas_analysis_output/woa18

[2019-10-08 17:48] xylar commented on #634
@milenaveneziani, could you look into this if you get a chance?  I'll try as well when I get time.  Something isn't working quite as expected, I think.

[2019-10-08 18:03] milenaveneziani commented on #634
I see the problem now. Wow: great job spotting this!
I will look into it.

[2019-10-08 20:51] milenaveneziani commented on #634
@xylar: I believe all seasons are using the annual climatology file. Not sure why that is the case though.

I wish I knew how to point to specific files in here, but basically, in `mpas_analysis/shared/climatology/remap_observed_climatology_subtask.py`, line 147:
[code]
the `obsFileName` points either to `clim/obs/t_anWOA18_0.25x0.25degree.nc` or to `clim/obs/s_anWOA18_0.25x0.25degree.nc` as it *s

[2019-10-08 21:00] milenaveneziani commented on #634
One more thing: when I print `obsFileName` right after this:
[code]
in `mpas_analysis/ocean/climatology_map_woa.py`, I get the right filename according to the season, i.e. I get the `woa18_decav_04_TS_ann_20190829.nc` file when season=ANN and the `woa18_decav_04_TS_mon_20190829.nc` file when season is different from ANN.

so clearly something goes wrong when `RemapWoaClimatology` is invoked.

[2019-10-09 06:20] xylar commented on #634
@milenaveneziani, I will look into this right now but I think what's going on is that both the monthly and the annual climatologies get written to the same files:
[code]
Which one "survives" and which gets lost is a question of the order in which the tasks run, and indeed we would expect crashes sometimes when they run simultaneously, so that's a problem!

If I'm right about that, the fix would si

[2019-10-09 06:23] milenaveneziani commented on #634
yes, that is exactly what I think it is happening. I can see they are the annual climatology file, not he 12-monthly file, which is why I think what we see in the plots is always the annual climo.
I tried to find where exactly these files are written to `clim/obs`, but wasn't able to.